
<div [style.z-index]="ZIndex" style="position: absolute; top: 0px; left: 0px; background: none;  width: 100%; height: 100%">
  <div  class="keeperdivclass" [style.background]="Displayservice.ShowOpacity(Displayservice.Dialognamen.ProjektSendeEmail) ? 'rgba(0, 0, 0, 0.5)' : 'none'" (click)="ContentClicked($event)">
    <div class="contentdivclass"
         [style.width.px]="Dialogbreite" [style.top.px]="PositionY" [style.bottom.px]="PositionY" (click)="ContentClicked($event)">
      <ion-header>
        <page-header>
          <table class="paddingsmalltable">
            <tr>
              <td style="width: 4px"></td>
              <td><ion-icon [name]="Iconname" color="weiss"></ion-icon></td>
              <td [style.color]="'white'">{{Titel}}</td>
            </tr>
          </table>

        </page-header>
      </ion-header>

      <ion-content>

        <div class="innerkeeperclass">
          <ion-grid *ngIf="DataReady()">
            <ion-row>
              <ion-col size="6">
                <ion-text color="baeblau"><b>Empfänger</b></ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-text color="baeblau"><b>Kopienempfänger</b></ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <div style="border: 1px solid black; width: 100%; padding: 2px; height: 100%">

                  <table class="paddingsmalltable">
                    <tr style="font-weight: bold; font-size: 90%;">
                      <td>Name</td>
                      <td>Firma</td>
                      <td>Email</td>
                    </tr>

                    <ng-container [ngSwitch]="Pool.Emailcontent">
                      <ng-container *ngSwitchCase="Pool.Emailcontentvarinaten.LOPListe">
                        <tr *ngFor="let Empfaenger of DBLOPListe.CurrentLOPListe.Empfaengerliste" style="font-size: 90%;">
                          <td>{{Empfaenger.Name}}</td>
                          <td>{{Empfaenger.Firma}}</td>
                          <td>{{Empfaenger.Email}}</td>
                        </tr>
                      </ng-container>
                      <ng-container *ngSwitchCase="Pool.Emailcontentvarinaten.Protokoll">
                        <tr *ngFor="let Empfaenger of DBProtokolle.CurrentProtokoll.Empfaengerliste" style="font-size: 90%;">
                          <td>{{Empfaenger.Name}}</td>
                          <td>{{Empfaenger.Firma}}</td>
                          <td>{{Empfaenger.Email}}</td>
                        </tr>
                      </ng-container>
                      <ng-container *ngSwitchCase="Pool.Emailcontentvarinaten.Bautagebuch">
                        <tr *ngFor="let Empfaenger of DBTagebuch.CurrentTagebuch.Empfaengerliste" style="font-size: 90%;">
                          <td>{{Empfaenger.Name}}</td>
                          <td>{{Empfaenger.Firma}}</td>
                          <td>{{Empfaenger.Email}}</td>
                        </tr>
                      </ng-container>
                      <ng-container *ngSwitchCase="Pool.Emailcontentvarinaten.Simontabelle">
                        <tr *ngFor="let Empfaenger of DBSimontabelle.CurrentRechnung.Empfaengerliste" style="font-size: 90%;">
                          <td>{{Empfaenger.Name}}</td>
                          <td>{{Empfaenger.Firma}}</td>
                          <td>{{Empfaenger.Email}}</td>
                        </tr>
                      </ng-container>
                    </ng-container>

                  </table>

                </div>
              </ion-col>
              <ion-col size="6">
                <div style="border: 1px solid black; width: 100%; padding: 2px; height: 100%">

                  <table class="paddingsmalltable">
                    <tr style="font-weight: bold; font-size: 90%;">
                      <td>Name</td>
                      <td>Firma</td>
                      <td>Email</td>
                    </tr>
                    <ng-container [ngSwitch]="Pool.Emailcontent">
                      <ng-container *ngSwitchCase="Pool.Emailcontentvarinaten.LOPListe">
                        <tr *ngFor="let CcEmpfaenger of DBLOPListe.CurrentLOPListe.CcEmpfaengerliste" style="font-size: 90%;">
                          <td>{{CcEmpfaenger.Name}}</td>
                          <td>{{CcEmpfaenger.Firma}}</td>
                          <td>{{CcEmpfaenger.Email}}</td>
                        </tr>
                      </ng-container>
                      <ng-container *ngSwitchCase="Pool.Emailcontentvarinaten.Protokoll">
                        <tr *ngFor="let CcEmpfaenger of DBProtokolle.CurrentProtokoll.CcEmpfaengerliste" style="font-size: 90%;">
                          <td>{{CcEmpfaenger.Name}}</td>
                          <td>{{CcEmpfaenger.Firma}}</td>
                          <td>{{CcEmpfaenger.Email}}</td>
                        </tr>
                      </ng-container>
                      <ng-container *ngSwitchCase="Pool.Emailcontentvarinaten.Bautagebuch">
                        <tr *ngFor="let CcEmpfaenger of DBTagebuch.CurrentTagebuch.CcEmpfaengerliste" style="font-size: 90%;">
                          <td>{{CcEmpfaenger.Name}}</td>
                          <td>{{CcEmpfaenger.Firma}}</td>
                          <td>{{CcEmpfaenger.Email}}</td>
                        </tr>
                      </ng-container>
                    </ng-container>

                  </table>

                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="3">
                <ion-text color="baeblau"><b>Betreff</b></ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col><input-clone [Required]="true" [MaxLength]="100" [Titel]="'Betreff'" [Titelcolor]="'white'" [Value]="GetBetreff()" (TextChanged)="TextChanged($event)"></input-clone></ion-col>
            </ion-row>

            <ion-row *ngIf="Pool.Emailcontent === Pool.Emailcontentvarinaten.NONE">
              <ion-col size="6">
                <button-value-date [Datum]="GetTermindatum()"
                                   [Buttontext]="'Termin'" [ElementID]="'termin-datum'" (TimeChanged)="TeermindatumChanged($event)"></button-value-date>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="3">
                <ion-text color="baeblau"><b>Nachricht</b></ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col><ion-textarea rows="10" style="border: 1px solid #444444" [value]="GetNachricht()" (ionChange)="NachrichtTextChanged($event)"></ion-textarea></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="3">
                <table>
                  <tr>
                    <td>
                      <ion-text color="baeblau"><b>Signatur</b></ion-text>
                    </td>
                    <td style="width: 5px"></td>
                    <td>
                      <ion-icon (click)="ShowSignatur = !ShowSignatur" [color]="Basics.Ionicfarben.BurnicklBraun" [name]="ShowSignatur ? 'chevron-up-circle' : 'chevron-down-circle'" style="font-size: 28px"></ion-icon>
                    </td>
                  </tr>
                </table>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="ShowSignatur === true">
              <ion-col>
                <div style="border: 1px solid black; padding: 4px;" [innerHTML]="Pool.GetFilledSignatur(Pool.Mitarbeiterdaten, true) | safe: 'html'"></div>
              </ion-col>
            </ion-row>
            <ng-container *ngIf="SendAttachment">
              <ion-row>
                <ion-col size="3">
                  <ion-text color="burnicklgruen"><b>{{Dateityp}}</b></ion-text>
                </ion-col>
              </ion-row>
              <ion-row class="ion-align-items-center">
                <ion-col size="6">
                  <input-clone Titel="Dateiname"  Titelcolor="weiss"
                               [Value]="GetFilename()"
                               [Textcolor]="FilenameIsValid ? Basics.Ionicfarben.Schwarz : Basics.Ionicfarben.Rot"
                               (TextChanged)="FilenameChanged($event)">
                  </input-clone>
                </ion-col>
                <ion-col size="6">
                  <ng-container *ngIf="!SendInProgress">
                    <span *ngIf="FileExists === true  && FilenameIsValid === true"  style="color: darkorange; font-weight: bold">{{Dateityp}} existiert bereits. Datei wird überschrieben.</span>
                    <span *ngIf="FileExists === false && FilenameIsValid === true" style="color: green; font-weight: bold">{{Dateityp}} wird neu erstellt.</span>
                    <span *ngIf="FilenameIsValid === false" style="color: red; font-weight: bold">Dateiname ist fehlerhaft.</span>
                  </ng-container>
                </ion-col>
              </ion-row>
            </ng-container>
            <ng-container *ngIf="SendInProgress || FileError || SendError">
              <ion-row>
                <ion-col>
                  <div class="progressdiv">
                    <table class="paddingtable">
                      <tr>
                        <td colspan="2"><ion-text color="burnicklgruen"><b>{{Dateityp}} wird gesendet...</b></ion-text></td>
                      </tr>
                      <tr *ngIf="SendAttachment === true">
                        <td>
                          <ion-icon *ngIf="FileError === false" name="checkmark-circle" [color]="SaveFileFinished ? Basics.Ionicfarben.Gruen : Basics.Ionicfarben.Grau"></ion-icon>
                          <ion-icon *ngIf="FileError === true"  name="close"            [color]="Basics.Ionicfarben.Rot"></ion-icon>
                        </td>
                        <td>{{Dateityp}} im Projekt ablegen</td>
                      </tr>
                      <tr>
                        <td>
                          <ion-icon *ngIf="SendError === false" name="checkmark-circle" [color]="SendMailFinished ? Basics.Ionicfarben.Gruen : Basics.Ionicfarben.Grau"></ion-icon>
                          <ion-icon *ngIf="SendError === true"  name="close"            [color]="Basics.Ionicfarben.Rot"></ion-icon>
                        </td>
                        <td>{{Dateityp}} versenden</td>
                      </tr>
                      <tr *ngIf="SaveFileFinished && SendMailFinished">
                        <td colspan="2"><ion-text color="burnicklgruen"><b>Fertig</b></ion-text></td>
                      </tr>
                    </table>
                  </div>
                </ion-col>
              </ion-row>
            </ng-container>
          </ion-grid>

        </div>

        <abstand-element-fixed></abstand-element-fixed>

      </ion-content>

      <ion-footer>
        <page-footer>
          <table class="paddingsmalltable" width="100%">
            <tr>
              <td>
                <div *ngIf="!SendInProgress" class="rootbuttonclass" (click)="CancelButtonClicked()">
                  <ion-icon style="font-size: 28px" color="weiss" name="close-outline"></ion-icon>
                </div>
              <td style="width: 100%"></td>
              <td>

                <div *ngIf="!SendInProgress && FileError === false && SendError === false" class="rootbuttonclass" (click)="ContentIsValid === true ? OkButtonClicked() : null">
                  <table>
                    <tr>
                      <td [style.color]="ContentIsValid === true ? 'white' : '#444444'" style=" white-space: nowrap;">Email senden</td>
                      <td>
                        <ion-icon style="font-size: 24px" [color]="ContentIsValid === true ? 'weiss' : 'grau'" name="send-outline"></ion-icon>
                      </td>
                    </tr>
                  </table>
                </div>

              </td>
            </tr>
          </table>
        </page-footer>
      </ion-footer>

    </div>
  </div>
</div>



