<ion-header>
  <page-header>

    <table style="width: 100%;">
      <tr>
        <td style="width: 50%">
          <table>
            <tr>
              <td style="width: 10px"></td>
              <td>
                <div class="menubuttonclass" [style.cursor]="BackMouseOver ? 'pointer': 'default'"
                     (mouseenter)="BackMouseOver = true"
                     (mouseleave)="BackMouseOver = false"
                     (click)="BackButtonClicked()">
                  <table class="paddingsmalltable">
                    <tr>
                      <td>
                        <ion-icon name="caret-back-circle-outline"
                                  [color]="BackMouseOver ? Basics.Ionicfarben.BAEBlau : Basics.Ionicfarben.Weiss">
                        </ion-icon>
                      </td>
                      <td [style.color]="BackMouseOver ? '#c7d304' : 'white'">Zurück</td>
                    </tr>
                  </table>
                </div>
              </td>
              <td style="width: 10px"></td>
              <td align="center" class="trennertdclass"><div class="trennerdivclass"></div></td>
              <td style="width: 10px"></td>
              <td style="font-size: 140%; color: white">{{GraphService.CurrentPDFDownload !== null ? GraphService.CurrentPDFDownload.name : ''}}</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

  </page-header>
</ion-header>
<ion-content>


  <pdf-viewer *ngIf="GraphService.CurrentPDFDownload !== null" [src]="GraphService.CurrentPDFDownload.url"
              [render-text]="true"
              [original-size]="false"
              style="width: 100%; height: 100%"
  ></pdf-viewer>


</ion-content>
<ion-footer>
  <page-footer #PageFooter>

  </page-footer>
</ion-footer>
