<ion-header class="ion-no-border">
  <page-header #PageHeader>
    <page-header-menu (UrlaubMitarbeiterClicked)="MitarbeiterWechselnClicked()" (UrlaubMitarbeiterMeClicked)="MitarbeiterMeWechselnClickedHandler()"></page-header-menu>
  </page-header>
</ion-header>
<ion-content>

  <div class="contentkeeperdivclass" *ngIf="Pool.Mitarbeiterdaten !== null">



    <div class="contentdivclass">

      <table style="width: 100%">
        <tr>
          <td style="height: 20px;"></td>
        </tr>
        <tr>
          <td align="center">

            <table class="paddingsmalltable">
              <tr>
                <td>
                  <div  (click)="MonatBackButtonClicked()"  class="monatedivclass">
                    <ion-icon name="caret-back-outline" style="font-size: 20px"></ion-icon>
                  </div>
                </td>
                <td *ngFor="let Monat of DB.Monateliste; let Monatindex = index">
                  <div [style.color]="GetMonatButtonColor(Monatindex)" (click)="MonatButtonClicked(Monatindex)"  class="monatedivclass">{{Monat}}</div>
                </td>
                <td>
                  <div  (click)="MonatForwardButtonClicked()"  class="monatedivclass">
                    <ion-icon name="caret-forward-outline" style="font-size: 20px"></ion-icon>
                  </div>
                </td>
              </tr>
            </table>

          </td>
        </tr>
        <tr>
          <td align="center" valign="top">

            <table class="paddingtable">
              <tr>

                <td style="width: 500px" valign="top">
                  <urlaubsplanung-kalender
                    [Jahr]="DB.Jahr"
                    [Monatindex]="DB.FirstMonatIndex"
                    [AddUrlaubRunning]="AddUrlaubRunning"
                    [AddHomeofficerunning]="AddHomeofficeRunning"
                    [AddHalberUrlaubstagRunning]="AddHalberUrlaubstagRunning"
                    (ExternUrlaubstagClickedEvent)="ExternUrlaubstagClickedEventHandler($event)"
                    (AddUrlaubFinishedEvent)="AddUrlaubFinishedHandler()"
                    (AddHomeofficeFinishedEvent)="AddHomeofficeFinishedHandler()"
                    (FeiertagCrossedEvent)="FeiertagCrossedEventHandler($event)"
                    (FerientagCrossedEvent)="FerientagCrossedEventHandler($event)">
                  </urlaubsplanung-kalender>
                </td>

                <td style="width: 500px" valign="top">
                  <urlaubsplanung-kalender
                    [Jahr]="DB.Jahr"
                    [ShowYear]="true"
                    [Monatindex]="DB.CurrentMonatindex"
                    [AddUrlaubRunning]="AddUrlaubRunning"
                    [AddHomeofficerunning]="AddHomeofficeRunning"
                    [AddHalberUrlaubstagRunning]="AddHalberUrlaubstagRunning"
                    (ExternUrlaubstagClickedEvent)="ExternUrlaubstagClickedEventHandler($event)"
                    (AddUrlaubFinishedEvent)="AddUrlaubFinishedHandler()"
                    (AddHomeofficeFinishedEvent)="AddHomeofficeFinishedHandler()"
                    (FeiertagCrossedEvent)="FeiertagCrossedEventHandler($event)"
                    (FerientagCrossedEvent)="FerientagCrossedEventHandler($event)">
                  </urlaubsplanung-kalender>
                </td>

                <td style="width: 500px" valign="top">
                  <urlaubsplanung-kalender
                    [Jahr]="DB.Jahr"
                    [Monatindex]="DB.LastMonatIndex"
                    [AddUrlaubRunning]="AddUrlaubRunning"
                    [AddHomeofficerunning]="AddHomeofficeRunning"
                    [AddHalberUrlaubstagRunning]="AddHalberUrlaubstagRunning"
                    (ExternUrlaubstagClickedEvent)="ExternUrlaubstagClickedEventHandler($event)"
                    (AddUrlaubFinishedEvent)="AddUrlaubFinishedHandler()"
                    (AddHomeofficeFinishedEvent)="AddHomeofficeFinishedHandler()"
                    (FeiertagCrossedEvent)="FeiertagCrossedEventHandler($event)"
                    (FerientagCrossedEvent)="FerientagCrossedEventHandler($event)">
                  </urlaubsplanung-kalender>
                </td>

              </tr>
            </table>

          </td>

        </tr>
        <tr *ngIf="DB.CurrentUrlaub !== null">
          <td valign="top">

            <table style="width: 100%">
              <tr>
                <td valign="top" align="center" style="width: 50%; padding: 4px;">

                  <table>
                    <tr *ngIf="AddUrlaubRunning === false && AddHalberUrlaubstagRunning === false && AddHomeofficeRunning === false">
                      <td align="center">
                        <table class="paddingsmalltable">
                          <tr>
                            <td align="center">
                              <ion-button [disabled]="DB.CountResturlaub() <= 0" size="small" (click)="AddUrlaub()">Urlaubszeitspanne eintragen</ion-button>
                            </td>
                            <td align="center">
                              <ion-button [disabled]="DB.CountResturlaub() <= 0" size="small" (click)="AddHalbenUrlaubstag()">Halben Urlaubstag eintragen</ion-button>
                            </td>

                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr *ngIf="AddHalberUrlaubstagRunning === true">
                      <td align="center">
                        <table class="paddingsmalltable">
                          <tr>
                            <td>
                              <div class="datumdivclass">
                                Bitte Datum für den halben Urlaubstag auswählen
                              </div>
                            </td>
                            <td>
                              <div class="datumcanceldivclass" (click)="CancelDatumClicked()">
                                <ion-icon name="close-outline" style="font-size: 36px" color="weiss"></ion-icon>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr *ngIf="AddUrlaubRunning === true">
                      <td align="center">
                        <table class="paddingsmalltable">
                          <tr>
                            <td>
                              <!--Startdatum</td><td> -->
                              <div class="datumdivclass">
                                {{this.DB.CurrentUrlaubzeitspanne !== null && DB.CurrentUrlaubzeitspanne.Startstempel !== null ? this.DB.CurrentUrlaubzeitspanne.Startstring : 'Bitte Startdatum im Kalender oben anklicken'}}
                              </div>
                            </td>
                            <ng-container *ngIf="this.DB.CurrentUrlaubzeitspanne !== null && DB.CurrentUrlaubzeitspanne.Startstempel !== null">
                              <td style="width: 100px; text-align: center;">bis zum</td>
                              <td>
                                <div class="datumdivclass">
                                  {{this.DB.CurrentUrlaubzeitspanne !== null && DB.CurrentUrlaubzeitspanne.Endestempel !== null ? this.DB.CurrentUrlaubzeitspanne.Endestempel : 'Bitte Endedatum im Kalender oben anklicken'}}
                                </div>
                              </td>
                            </ng-container>

                            <td>
                              <div class="datumcanceldivclass" (click)="CancelDatumClicked()">
                                <ion-icon name="close-outline" style="font-size: 36px" color="weiss"></ion-icon>
                              </div>
                            </td>
                          </tr>
                          <tr>
                          </tr>
                        </table>

                      </td>
                    </tr>
                    <tr *ngIf="AddHomeofficeRunning === false && AddUrlaubRunning === false && DB.CurrentUrlaub.Urlaubzeitspannen.length === 0">
                      <td align="center">

                        <table style="width: 520px;" class="docinnertable">
                          <tr>
                            <td style="text-align: center">Momentan ist noch kein Urlaub eingetragen. Du hast {{DB.CountResturlaub()}} Urlaubstage.</td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                    <tr  *ngIf="AddUrlaubRunning === false && AddHomeofficeRunning === false && DB.CurrentUrlaub.Urlaubzeitspannen.length > 0">
                      <td align="center">

                        <table class="docinnertablesmall">
                          <tr>
                            <td style="font-weight: bold;">Von</td>
                            <td style="font-weight: bold;">Bis</td>
                            <td style="font-weight: bold; text-align: center">Tage</td>
                            <td style="font-weight: bold; text-align: center;">BU</td>
                            <td style="font-weight: bold; width: 200px;">Stellvertretung</td>
                            <td style="font-weight: bold;">Status</td>
                            <td style="font-weight: bold;" colspan="3">Statusmeldung</td>
                            <!--
                            <td style="width: 30px"></td>
                            <td style="width: 30px"></td>
                            -->
                          </tr>
                          <ng-container *ngIf="DB.CurrentUrlaub.Urlaubzeitspannen.length > 0">
                            <tr *ngFor="let Zeitspanne of DB.CurrentUrlaub.Urlaubzeitspannen">
                              <td>{{GetDatum(Zeitspanne.Startstempel)}}</td>
                              <td>{{GetDatum(Zeitspanne.Endestempel)}}</td>
                              <td style="text-align: center">{{Zeitspanne.Tageanzahl}}</td>
                              <td>
                                <checkbox-clon *ngIf="Zeitspanne.Status === DB.Urlaubstatusvarianten.Geplant" [Checked]="Zeitspanne.Betriebsurlaub" (CheckChanged)="BetriebsurlaubCheckedChanged($event, Zeitspanne)"></checkbox-clon>
                                <div *ngIf="Zeitspanne.Betriebsurlaub === true && Zeitspanne.Status === DB.Urlaubstatusvarianten.Vertreterfreigabe" style="width: 20px; height: 20px; background: #307ac1; border-radius: 100%"></div>
                              </td>
                              <td>
                                <ng-container *ngIf="(Zeitspanne.Status === DB.Urlaubstatusvarianten.Geplant || DB.CheckVertretungIsAbgelehnt(Zeitspanne) === true)
                                && Zeitspanne.Betriebsurlaub === false">
                                  <div (click)="StellvertreterFestlegenClicked(Zeitspanne)" class="festlegenbuttondiv" style="font-size: 12px; font-weight: bold;">
                                    <span *ngIf="Zeitspanne.UrlaubsvertreterIDListe.length === 0">
                                      FESTLEGEN
                                    </span>
                                    <table *ngIf="Zeitspanne.UrlaubsvertreterIDListe.length !== 0" class="nobordersmalltable">
                                      <tr *ngFor="let MitarbeiterID of Zeitspanne.UrlaubsvertreterIDListe">
                                        <td>{{GetStellvertretername(MitarbeiterID)}}</td>
                                      </tr>
                                    </table>
                                  </div>
                                  <!--
                                  <ion-button  size="small" color="grau" (click)="StellvertreterFestlegenClicked(Zeitspanne)">Festlegen</ion-button>
                                  -->
                                </ng-container>
                                <ng-container  *ngIf="Zeitspanne.Status !== DB.Urlaubstatusvarianten.Geplant && DB.CheckVertretungIsAbgelehnt(Zeitspanne) === false">

                                  <table *ngIf="Zeitspanne.UrlaubsvertreterIDListe.length !== 0" class="nobordersmalltable">
                                    <tr *ngFor="let MitarbeiterID of Zeitspanne.UrlaubsvertreterIDListe">
                                      <td>{{GetStellvertretername(MitarbeiterID)}}</td>
                                    </tr>
                                  </table>

                                </ng-container>
                              </td>
                              <td align="center">
                                <div (click)="StatusClickedHandler(Zeitspanne)" class="legendenewdivclass"
                                     [style.cursor]="(Pool.Mitarbeiterdaten.Planeradministrator === true || Pool.Mitarbeiterdaten.Urlaubsfreigaben === true) ? 'pointer' : 'default'"
                                     [style.background]="DB.GetUrlaubStatuscolor(Zeitspanne)">
                                  <!--
                                  <div class="legendeinnerdivclass" [style.background]="DB.GetUrlaubStatuscolor(Zeitspanne)"></div>
                                  <div class="legendeinnerdivclass" [style.background]="DB.GetUrlaubStatuscolorSplit(Zeitspanne, true)"></div>
                                  -->
                                </div>
                              </td>
                              <td style="min-width: 450px;" [innerHTML]="GetPlanungmeldung(Zeitspanne)"></td>
                              <td>
                                <ion-button size="small" color="grau" (click)="UrlaubSuchen(Zeitspanne)"><ion-icon name="search" slot="icon-only" style="font-size: 16px"></ion-icon></ion-button>
                              </td>
                              <td><ion-button size="small" color="rot" (click)="UrlaubLoeschen(Zeitspanne)" [disabled]="CheckUrlaubLoschenEnabled(Zeitspanne) === false"><ion-icon name="trash" slot="icon-only" style="font-size: 16px"></ion-icon></ion-button></td>
                            </tr>
                          </ng-container>
                          <ng-container *ngIf="DB.CurrentUrlaub.Urlaubzeitspannen.length === 0">
                            <tr>
                              <td colspan="8"></td>
                            </tr>
                          </ng-container>
                          <tr>
                            <td colspan="2" style="text-align: right; font-weight: bold">Resturlaub</td>
                            <td style="text-align: center">{{DB.CountResturlaub()}}</td>
                            <td colspan="6"></td>
                          </tr>
                          <tr>
                            <td align="center" colspan="9">
                              <table style="width: 100%" class="nobordertable">
                                <tr>
                                  <td style="width: 33%; font-size: 80%">BU = Betriebsurlaub</td>
                                  <td style="width: 33%" align="center">
                                    <ion-button [disabled]="CheckUrlaubUpdatesAvailable() === false"  size="small" (click)="DB.UpdateVertreteranfragen()">Aktualisierung senden</ion-button>
                                  </td>
                                  <td style="width: 33%"></td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>

                      </td>
                    </tr>

                  </table>




                </td>
                <td valign="top" align="center" style="width: 50%; padding: 4px;">

                  <table>
                    <tr *ngIf="AddUrlaubRunning === false && AddHomeofficeRunning === false">
                      <td align="center">

                        <table class="paddingsmalltable">
                          <tr>
                            <td align="center">
                              <ion-button [disabled]="DB.CountHomeoffice() <= 0" size="small" (click)="AddHomeofficeStart()">Homeoffice eintragen</ion-button>
                            </td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                    <tr *ngIf="AddHomeofficeRunning === true">
                      <td>

                        <table class="paddingsmalltable">
                          <tr>
                            <td>
                              <div class="datumdivclass">
                                <ng-container *ngIf="DB.CurrentHomeofficecounter === 0">
                                  Bitte Tage einzeln klicken um Homeoffice einzutragen.
                                </ng-container>
                                <ng-container *ngIf="DB.CurrentHomeofficecounter !== 0">
                                  {{DB.CurrentHomeofficecounter}} Homeoffice {{DB.CurrentHomeofficecounter === 1 ? 'Tag' : 'Tage'}}
                                </ng-container>
                              </div>
                            </td>
                            <td align="center">
                              <div class="datumokdivclass" (click)="SaveHomeofficeEventHandler()">
                                <table>
                                  <tr>
                                    <td style="color: white; font-size: 120%"><b>Fertig</b></td>
                                    <td><ion-icon name="checkmark-outline" style="font-size: 36px" color="weiss"></ion-icon></td>
                                  </tr>
                                </table>

                              </div>
                            </td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                    <tr *ngIf="AddHomeofficeRunning === false && AddUrlaubRunning === false && DB.CurrentUrlaub.Homeofficezeitspannen.length === 0">
                      <td align="center">

                        <table style="width: 520px;" class="docinnertable">
                          <tr>
                            <td style="text-align: center">Momentan ist noch kein Homeoffice eingetragen. Du hast {{DB.CountHomeoffice()}} Homeofficetage.</td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                    <tr  *ngIf="AddUrlaubRunning === false && AddHomeofficeRunning === false && DB.CurrentUrlaub.Homeofficezeitspannen.length > 0">
                      <td align="center">

                        <table class="docinnertable">
                          <tr>
                            <td style="font-weight: bold; text-align: left; width: 660px;">Tage</td>
                            <td style="font-weight: bold; text-align: center;">Status</td>
                            <td style="font-weight: bold; text-align: center; width: 50px;"></td>
                          </tr>
                          <ng-container *ngIf="DB.CountHomeGenehmigt() > 0">
                          <tr>
                            <td>
                              <table class="nobordertable" style="width: 100%;">
                                <ng-container *ngFor="let Zeitspannemonatsliste of DB.GetHomeofficezeitspannenByStataus(DB.Homeofficestatusvarianten.Genehmigt); let Monatindex = index">
                                  <ng-container *ngIf="Zeitspannemonatsliste.length > 0">
                                    <tr>
                                      <td style="width: 70px; font-weight: bold;" valign="top">
                                        <div class="monatlableclass">
                                          {{DB.Monateliste[Monatindex]}}
                                        </div>
                                      </td>
                                      <td style="width: auto">
                                        <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; min-height: 30px;">
                                          <div *ngFor="let Zeitspanne of Zeitspannemonatsliste; let Zeitspanneindex = index" style="width: 114px;">
                                            <table class="nobordertable">
                                              <tr>
                                                <td>{{Zeitspanne.Startstring}}</td>
                                                <td *ngIf="Pool.Mitarbeiterdaten.Homeofficefreigaben === true"><checkbox-clon [Checked]="Zeitspanne.Checked" (CheckChanged)="ZeitspanneCheckChanged($event, Zeitspanne)"></checkbox-clon></td>
                                                <td *ngIf="Zeitspanneindex < Zeitspannemonatsliste.length - 1">|</td>
                                              </tr>
                                            </table>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>

                                  </ng-container>
                                </ng-container>
                              </table>

                            </td>
                            <td align="center">
                              <div class="legendedivclass" [style.background]="DB.GetHomeofficeStatuscolor(DB.Homeofficestatusvarianten.Genehmigt)">HO</div>
                            </td>
                            <td>
                              <ion-button *ngIf="Pool.Mitarbeiterdaten.Homeofficefreigaben === true" size="small" color="rot" (click)="DB.HomeofficeLoeschen(DB.Homeofficestatusvarianten.Genehmigt)" [disabled]="CheckHomeofficeLoschenEnabled(DB.Homeofficestatusvarianten.Genehmigt) === false"><ion-icon name="trash" slot="icon-only" style="font-size: 16px"></ion-icon></ion-button>
                            </td>
                          </tr>
                          </ng-container>
                          <ng-container *ngIf="DB.CountHomeAbgelehnt() > 0">
                          <tr>
                            <td>
                              <table class="nobordertable" style="width: 100%;">
                                <ng-container *ngFor="let Zeitspannemonatsliste of DB.GetHomeofficezeitspannenByStataus(DB.Homeofficestatusvarianten.Abgelehnt); let Monatindex = index">
                                  <ng-container *ngIf="Zeitspannemonatsliste.length > 0">
                                    <tr>
                                      <td style="width: 70px; font-weight: bold;" valign="top">
                                        <div class="monatlableclass">
                                          {{DB.Monateliste[Monatindex]}}
                                        </div>
                                      </td>
                                      <td style="width: auto">
                                        <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; min-height: 30px;">
                                          <div *ngFor="let Zeitspanne of Zeitspannemonatsliste; let Zeitspanneindex = index" style="width: 114px;">
                                            <table class="nobordertable">
                                              <tr>
                                                <td>{{Zeitspanne.Startstring}}</td>
                                                <td><checkbox-clon [Checked]="Zeitspanne.Checked" (CheckChanged)="ZeitspanneCheckChanged($event, Zeitspanne)"></checkbox-clon></td>
                                                <td *ngIf="Zeitspanneindex < Zeitspannemonatsliste.length - 1">|</td>
                                              </tr>
                                            </table>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>

                                  </ng-container>
                                </ng-container>
                              </table>
                            </td>
                            <td align="center">
                              <div class="legendedivclass" [style.background]="DB.GetHomeofficeStatuscolor(DB.Homeofficestatusvarianten.Abgelehnt)">HO</div>
                            </td>
                            <td>
                              <ion-button size="small" color="rot" (click)="DB.HomeofficeLoeschen(DB.Homeofficestatusvarianten.Abgelehnt)"  [disabled]="CheckHomeofficeLoschenEnabled(DB.Homeofficestatusvarianten.Abgelehnt) === false"><ion-icon name="trash" slot="icon-only" style="font-size: 16px"></ion-icon></ion-button>
                            </td>
                          </tr>
                          </ng-container>
                          <ng-container *ngIf="DB.CountHomeFreigbeanfragen() > 0">
                            <tr>
                              <td>

                                <table class="nobordertable" style="width: 100%;">
                                  <ng-container *ngFor="let Zeitspannemonatsliste of DB.GetHomeofficezeitspannenByStataus(DB.Homeofficestatusvarianten.Freigabeanfrage); let Monatindex = index">
                                      <ng-container *ngIf="Zeitspannemonatsliste.length > 0">
                                        <tr>
                                          <td style="width: 70px; font-weight: bold;" valign="top">
                                            <div class="monatlableclass">
                                              {{DB.Monateliste[Monatindex]}}
                                            </div>
                                          </td>
                                          <td style="width: auto">
                                            <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; min-height: 30px;">
                                              <div *ngFor="let Zeitspanne of Zeitspannemonatsliste; let Zeitspanneindex = index" style="width: 114px;">
                                                <table class="nobordertable">
                                                  <tr>
                                                    <td>{{Zeitspanne.Startstring}}</td>
                                                    <td *ngIf="Pool.Mitarbeiterdaten.Homeofficefreigaben === true"><checkbox-clon [Checked]="Zeitspanne.Checked" (CheckChanged)="ZeitspanneCheckChanged($event, Zeitspanne)"></checkbox-clon></td>
                                                    <td *ngIf="Zeitspanneindex < Zeitspannemonatsliste.length - 1">|</td>
                                                  </tr>
                                                </table>
                                              </div>
                                            </div>
                                          </td>
                                        </tr>

                                      </ng-container>
                                    </ng-container>
                                  </table>

                              </td>
                              <td align="center">
                                <div class="legendedivclass" [style.background]="DB.GetHomeofficeStatuscolor(DB.Homeofficestatusvarianten.Freigabeanfrage)">HO</div>
                              </td>
                              <td><ion-button *ngIf="Pool.Mitarbeiterdaten.Homeofficefreigaben === true" size="small" color="rot" (click)="DB.HomeofficeLoeschen(DB.Homeofficestatusvarianten.Freigabeanfrage)" [disabled]="CheckHomeofficeLoschenEnabled(DB.Homeofficestatusvarianten.Freigabeanfrage) === false"><ion-icon name="trash" slot="icon-only" style="font-size: 16px"></ion-icon></ion-button></td>
                            </tr>
                          </ng-container>
                          <ng-container *ngIf="DB.CountHomeGeplant() > 0">
                            <tr>
                              <td>
                                <table class="nobordertable" style="width: 100%;">
                                  <ng-container *ngFor="let Zeitspannemonatsliste of DB.GetHomeofficezeitspannenByStataus(DB.Homeofficestatusvarianten.Geplant); let Monatindex = index">
                                    <ng-container *ngIf="Zeitspannemonatsliste.length > 0">
                                      <tr>
                                        <td style="width: 70px; font-weight: bold;" valign="top">
                                          <div class="monatlableclass">
                                            {{DB.Monateliste[Monatindex]}}
                                          </div>
                                        </td>
                                        <td style="width: auto">
                                          <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; min-height: 30px;">
                                            <div *ngFor="let Zeitspanne of Zeitspannemonatsliste; let Zeitspanneindex = index" style="width: 114px;">
                                              <table class="nobordertable">
                                                <tr>
                                                  <td>{{Zeitspanne.Startstring}}</td>
                                                  <td><checkbox-clon [Checked]="Zeitspanne.Checked" (CheckChanged)="ZeitspanneCheckChanged($event, Zeitspanne)"></checkbox-clon></td>
                                                  <td *ngIf="Zeitspanneindex < Zeitspannemonatsliste.length - 1">|</td>
                                                </tr>
                                              </table>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>

                                    </ng-container>
                                  </ng-container>
                                </table>

                              </td>
                              <td align="center">
                                <div class="legendedivclass" [style.background]="DB.GetHomeofficeStatuscolor(DB.Homeofficestatusvarianten.Geplant)">HO</div>
                              </td>
                              <td>
                                <ion-button size="small" color="rot" (click)="DB.HomeofficeLoeschen(DB.Homeofficestatusvarianten.Geplant)" [disabled]="CheckHomeofficeLoschenEnabled(DB.Homeofficestatusvarianten.Geplant) === false"><ion-icon name="trash" slot="icon-only" style="font-size: 16px"></ion-icon></ion-button>
                              </td>
                            </tr>
                          </ng-container>

                          <!--
                          <tr>
                            <td colspan="3" style="text-align: left;">
                              <span style="font-weight: bold;">Resthomeoffice</span> {{DB.CountHomeoffice()}} Tage</td>
                          </tr>
                          -->
                          <tr>
                            <td align="center" colspan="8">
                              <ion-button [disabled]="CheckHomeofficeUpdatesAvailable() === false"  size="small" (click)="DB.UpdateHomeofficefreigabeanfragen()">Aktualisierung senden</ion-button>
                            </td>
                          </tr>


                        </table>

                      </td>
                    </tr>
                  </table>

                </td>
              </tr>
            </table>


          </td>
        </tr>

      </table>

    </div>

    <div class="legendekeeperdivclass" [style.height.px]="Legendehoehe" [style.width.px]="Legendebreite" [style.right.px]="LegendeVisible ? 0 : -(Legendebreite - 14)">

      <table>
        <tr>
          <td>
            <div (click)="LegendeVisible = !LegendeVisible" class="legendebuttonclass" [style.height.px]="Legendehoehe">
              <ion-icon color="weiss" [name]="LegendeVisible ? 'caret-forward-outline' : 'caret-back-outline'"></ion-icon>
            </div>
          </td>
          <td valign="top">

            <table *ngIf="Pool.Mitarbeitersettings !== null" class="paddingtable">
              <ng-container *ngIf="DB.Laendercode === 'DE'">
                <tr>
                  <td><checkbox-clon [Checked]="DB.ShowFeiertage_DE" (CheckChanged)="AnsichtFeiertageCheckChanged($event, 'DE')"></checkbox-clon></td><td>
                  <div class="legendedivclass" [style.background]="DB.Urlaubsfaben.Feiertage_DE">
                    <ion-icon name="flag-outline" color="weiss" style="font-size: 18px"></ion-icon>
                  </div>
                </td><td>Feiertage Deutschland</td>
                </tr>
                <tr>
                  <td><checkbox-clon [Checked]="DB.ShowFerientage_DE" (CheckChanged)="AnsichtFerientageCheckChanged($event, 'DE')"></checkbox-clon></td><td>
                  <div class="legendedivclass" [style.background]="DB.Urlaubsfaben.Ferien_DE">
                    <ion-icon name="school-outline" color="weiss" style="font-size: 18px"></ion-icon>
                  </div>
                </td><td>Schulferien Deutschland</td>
                </tr>
              </ng-container>
              <ng-container>
                <tr>
                  <td><checkbox-clon [Checked]="DB.ShowFeiertage_BG" (CheckChanged)="AnsichtFeiertageCheckChanged($event,  'BG')"></checkbox-clon></td><td>
                  <div class="legendedivclass" [style.background]="DB.Urlaubsfaben.Feiertage_BG">
                    <ion-icon name="flag-outline" color="gelb" style="font-size: 18px"></ion-icon>
                  </div>
                </td><td>Feiertage Bulgarien</td>
                </tr>
                <tr>
                  <td><checkbox-clon [Checked]="DB.ShowFerientage_BG" (CheckChanged)="AnsichtFerientageCheckChanged($event, 'BG')"></checkbox-clon></td><td>
                  <div class="legendedivclass" [style.background]="DB.Urlaubsfaben.Ferien_BG">
                    <ion-icon name="school-outline" color="gelb" style="font-size: 18px"></ion-icon>
                  </div>
                </td><td>Schulferien Bulgarien</td>
                </tr>
              </ng-container>
              <tr>
                <td>
                </td><td><div class="legendedivclass" [style.background]="DB.Urlaubsfaben.Geplant"></div></td><td>geplanter Urlaub</td>
              </tr>
              <tr>
                <td>
                </td><td><div class="legendedivclass" [style.background]="DB.Urlaubsfaben.Vertreteranfrage"></div></td><td>Vertretung angefragt</td>
              </tr>
              <tr>
                <td>
                </td><td><div class="legendedivclass" [style.background]="DB.Urlaubsfaben.Vertreterfreigabe"></div></td><td>Genehmigungsanfrage Urlaub</td>
              </tr>
              <tr>
                <td>
                </td><td><div class="legendedivclass" [style.background]="DB.Urlaubsfaben.Vertreterablehnung"></div></td><td>Vertretung wurde abgelehnt</td>
              </tr>
              <tr>
                <td>
                </td><td><div class="legendedivclass" [style.background]="DB.Urlaubsfaben.Genehmigt"></div></td><td>Genehmigter Urlaub</td>
              </tr>
              <tr>
                <td>
                </td>
                <td><div class="legendedivclass" [style.background]="DB.Urlaubsfaben.Abgelehnt"></div></td><td>Abgelehnter Urlaub</td>
              </tr>
              <tr>
                <td>
                </td><td><div class="legendedivclass" [style.background]="DB.Homeofficefarben.Geplant">HO</div></td><td>geplantes Homeoffice</td>
              </tr>
              <tr>
              <tr>
                <td>
                </td><td><div class="legendedivclass" [style.background]="DB.Homeofficefarben.Freigabeanfrage">HO</div></td><td>Homeoffice angefragt</td>
              </tr>
              <tr>
                <td>
                </td><td><div class="legendedivclass" [style.background]="DB.Homeofficefarben.Genehmigt">HO</div></td><td>Homeoffice genehmigt</td>
              </tr>
              <tr>
                <td>
                </td>
                <td><div class="legendedivclass" [style.background]="DB.Homeofficefarben.Abgelehnt">HO</div></td><td>Homeoffice abgelehnt</td>
              </tr>


              <tr *ngFor="let Urlaub of DB.UrlaublisteExtern; let i = index">
                <td>
                  <checkbox-clon [Checked]="DB.CheckDisplayExternenUrlaub(Urlaub.MitarbeiterIDExtern)" (CheckChanged)="DisplayExternCheckChanged($event, Urlaub, i)" [Enabled]="Urlaub.Urlaubzeitspannen.length > 0"></checkbox-clon>
                </td>
                <td><div class="legendeexterndivclass">{{Urlaub.NameKuerzel}}</div></td><td>{{Urlaub.NameExtern}} {{Urlaub.Text}}</td>
              </tr>
              <tr>
                <td colspan="3" style="height: 20px"></td>
              </tr>
              <tr>
                <td><checkbox-clon [Checked]="Pool.Mitarbeitersettings.ShowHomeoffice" (CheckChanged)="ShowHomeofficeChanged($event)"></checkbox-clon></td>
                <td colspan="2">Homeoffice Einträge anzeigen</td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

    </div>

  </div>



</ion-content>
<ion-footer>
  <page-footer #PageFooter>
    <table style="width: 100%;" *ngIf="Pool.Appeinstellungen !== null">
      <tr>
        <td align="left" style="width: 50%">
          <table class="paddingtable">
            <tr>
              <td *ngIf="Flagsource !== ''"><img [src]="Flagsource"></td>
              <td *ngIf="Message    !== ''" style="height: 40px; font-size: 110%; font-weight: bold; color: white; text-align: left">{{Message}}</td>
            </tr>
          </table>
        </td>
        <td style="width: 50%">
          <div *ngIf="Pool.Appeinstellungen.DebugNoExternalEmail" style="padding: 6px; text-align: center; border-radius: 4px; background: red; color: white; font-weight: bold; width: 400px;">Keine externen Email senden</div>
        </td>
      </tr>
    </table>
  </page-footer>
</ion-footer>


<auswahl-dialog *ngIf="ShowAuswahl" [Auswahlliste]="Auswahlliste" [Auswahlindex]="Auswahlindex" [ZIndex]="5000"
                [Dialogbreite]="400"  [PositionY]="100"
                [Titel]="Auswahltitel" [Iconname]="''"
                (OkClickedEvent)="AuswahlOkButtonClicked($event)"
                (CancelClickedEvent)="ShowAuswahl = false">
</auswahl-dialog>

<fi-mitarbeiter-auswahl *ngIf="ShowMitarbeiterauswahl"
                        [Titel]="MitarbeiterauswahlTitel"
                        [Dialogbreite]="600" [ZIndex]="4000"
                        [Multiselect]="MitarbeiterMultiselect"
                        [OnlyProjektmitarbeiter]="false"
                        Iconname="people-outline"
                        [AuswahlIDliste]="AuswahlIDliste"
                        (CancelClickedEvent)="ShowMitarbeiterauswahl = false"
                        (OkClickedEvent)="MitarbeiterauswahlOkButtonClicked($event)"
                        (StandortfilterClickedEvent)="MitarebiterStandortfilterClickedHandler()"></fi-mitarbeiter-auswahl>

