<ion-header class="ion-no-border">
  <page-header #PageHeader>
    <page-header-menu (UrlaubMitarbeiterClicked)="MitarbeiterWechselnClicked()"></page-header-menu>
  </page-header>
</ion-header>
<ion-content>

  <div class="contentdivclass">

    <table style="width: 100%">
      <tr>
        <td style="height: 20px;"></td>
      </tr>
      <tr>
        <td align="center">

          <table class="paddingsmalltable">
            <tr>
              <td>
                <div [style.color]="Ansichtvariante === Ansichtenvarinaten.Gesamtjahr ? 'orange' : 'black'" (click)="JahrButtonClicked()"  class="monatedivclass">Gesamtjahr {{DB.Jahr}}</div>
              </td>
              <td>
                <div [style.color]="Ansichtvariante === Ansichtenvarinaten.HalbjahrEins ? 'orange' : 'black'" (click)="HalbjahrEinsButtonClicked()"  class="monatedivclass">1. Halbjahr {{DB.Jahr}}</div>
              </td>
              <td>
                <div [style.color]="Ansichtvariante === Ansichtenvarinaten.HalbjahrZwei ? 'orange' : 'black'" (click)="HalbjahrZweiButtonClicked()"  class="monatedivclass">2. Halbjahr {{DB.Jahr}}</div>
              </td>
            </tr>
          </table>

        </td>
      </tr>
    </table>

    <ng-container *ngIf="Ansichtvariante === Ansichtenvarinaten.Gesamtjahr">

      <table style="width: 100%" class="paddingsmalltable">
        <tr *ngFor="let Zeile of Monateliste_Gesamtjahr; let zeileindex = index">
          <td style="width: 20px"></td>
          <td style="width: 16%; height: inherit" valign="top" *ngFor="let Monat of Zeile; let spalteindex = index">

            <urlaubsplanung-kalender
              [Jahr]="DB.Jahr"
              [Monatindex]="6 * zeileindex + spalteindex"
              (FeiertagCrossedEvent)="FeiertagCrossedEventHandler($event)" (FerientagCrossedEvent)="FerientagCrossedEventHandler($event)">
            </urlaubsplanung-kalender>

          </td>
          <td style="width: 20px"></td>
        </tr>
      </table>

    </ng-container>

    <ng-container *ngIf="Ansichtvariante === Ansichtenvarinaten.HalbjahrEins">

      <table style="width: 100%" class="paddingsmalltable">
        <tr>
          <td style="width: 20px"></td>
          <td style="width: 16%; height: inherit" valign="top" *ngFor="let Monat of Monateliste_HalbjahrEins; let monatindex = index">

            <urlaubsplanung-kalender
              [Jahr]="DB.Jahr"
              [Monatindex]="monatindex"
              (FeiertagCrossedEvent)="FeiertagCrossedEventHandler($event)" (FerientagCrossedEvent)="FerientagCrossedEventHandler($event)">
            </urlaubsplanung-kalender>

          </td>
          <td style="width: 20px"></td>
        </tr>
      </table>

    </ng-container>

    <ng-container *ngIf="Ansichtvariante === Ansichtenvarinaten.HalbjahrZwei">

      <table style="width: 100%" class="paddingsmalltable">
        <tr>
          <td style="width: 20px"></td>
          <td style="width: 16%; height: inherit" valign="top" *ngFor="let Monat of Monateliste_HalbjahrZwei; let monatindex = index">

            <urlaubsplanung-kalender
              [Jahr]="DB.Jahr"
              [Monatindex]="monatindex + 6"
              (FeiertagCrossedEvent)="FeiertagCrossedEventHandler($event)" (FerientagCrossedEvent)="FerientagCrossedEventHandler($event)">
            </urlaubsplanung-kalender>

          </td>
          <td style="width: 20px"></td>
        </tr>
      </table>

    </ng-container>


    <div class="legendekeeperdivclass" [style.height.px]="Legendehoehe" [style.width.px]="Legendebreite" [style.right.px]="LegendeVisible ? 0 : -(Legendebreite - 14)">

      <table>
        <tr>
          <td>
            <div (click)="LegendeVisible = !LegendeVisible" class="legendebuttonclass" [style.height.px]="Legendehoehe">
              <ion-icon color="weiss" [name]="LegendeVisible ? 'caret-forward-outline' : 'caret-back-outline'"></ion-icon>
            </div>
          </td>
          <td valign="top">

            <table *ngIf="Pool.Mitarbeitersettings !== null" class="paddingtable">
              <ng-container *ngIf="DB.Laendercode === 'DE'">
                <tr>
                  <td><checkbox-clon [Checked]="DB.ShowFeiertage_DE" (CheckChanged)="AnsichtFeiertageCheckChanged($event, 'DE')"></checkbox-clon></td><td>
                  <div class="legendedivclass" [style.background]="DB.Urlaubsfaben.Feiertage_DE">
                    <ion-icon name="flag-outline" color="weiss" style="font-size: 18px"></ion-icon>
                  </div>
                </td><td>Feiertage Deutschland</td>
                </tr>
                <tr>
                  <td><checkbox-clon [Checked]="DB.ShowFerientage_DE" (CheckChanged)="AnsichtFerientageCheckChanged($event, 'DE')"></checkbox-clon></td><td>
                  <div class="legendedivclass" [style.background]="DB.Urlaubsfaben.Ferien_DE">
                    <ion-icon name="school-outline" color="weiss" style="font-size: 18px"></ion-icon>
                  </div>
                </td><td>Schulferien Deutschland</td>
                </tr>
              </ng-container>
              <ng-container>
                <tr>
                  <td><checkbox-clon [Checked]="DB.ShowFeiertage_BG" (CheckChanged)="AnsichtFeiertageCheckChanged($event,  'BG')"></checkbox-clon></td><td>
                  <div class="legendedivclass" [style.background]="DB.Urlaubsfaben.Feiertage_BG">
                    <ion-icon name="flag-outline" color="gelb" style="font-size: 18px"></ion-icon>
                  </div>
                </td><td>Feiertage Bulgarien</td>
                </tr>
                <tr>
                  <td><checkbox-clon [Checked]="DB.ShowFerientage_BG" (CheckChanged)="AnsichtFerientageCheckChanged($event, 'BG')"></checkbox-clon></td><td>
                  <div class="legendedivclass" [style.background]="DB.Urlaubsfaben.Ferien_BG">
                    <ion-icon name="school-outline" color="gelb" style="font-size: 18px"></ion-icon>
                  </div>
                </td><td>Schulferien Bulgarien</td>
                </tr>
              </ng-container>
              <tr>
                <td>
                </td><td><div class="legendedivclass" [style.background]="DB.Urlaubsfaben.Geplant"></div></td><td>geplanter Urlaub</td>
              </tr>
              <tr>
                <td>
                </td><td><div class="legendedivclass" [style.background]="DB.Urlaubsfaben.Vertreteranfrage"></div></td><td>Vertretung angefragt</td>
              </tr>
              <tr>
                <td>
                </td><td><div class="legendedivclass" [style.background]="DB.Urlaubsfaben.Vertreterfreigabe"></div></td><td>Urlaub mit Vertreterfreigabe</td>
              </tr>
              <tr>
                <td>
                </td><td><div class="legendedivclass" [style.background]="DB.Urlaubsfaben.Vertreterablehnung"></div></td><td>Vertretung wurde abgelehnt</td>
              </tr>
              <tr>
                <td>
                </td><td><div class="legendedivclass" [style.background]="DB.Urlaubsfaben.Genehmigt"></div></td><td>Genehmigter Urlaub</td>
              </tr>
              <tr>
                <td>
                </td>
                <td><div class="legendedivclass" [style.background]="DB.Urlaubsfaben.Abgelehnt"></div></td><td>Abgelehnter Urlaub</td>
              </tr>
              <tr *ngFor="let Urlaub of DB.UrlaublisteExtern; let i = index">
                <td>
                  <checkbox-clon [Checked]="DB.CheckDisplayExternenUrlaub(Urlaub.MitarbeiterIDExtern)" (CheckChanged)="DisplayExternCheckChanged($event, Urlaub, i)" [Enabled]="Urlaub.Zeitspannen.length > 0"></checkbox-clon>
                </td>
                <td><div class="legendeexterndivclass">{{Urlaub.NameKuerzel}}</div></td><td>{{Urlaub.NameExtern}} {{Urlaub.Text}}</td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

    </div>
  </div>

</ion-content>
<ion-footer>
  <page-footer #PageFooter>
    <table style="width: 100%;">
      <tr>
        <td align="left">
          <table class="paddingtable">
            <tr>
              <td *ngIf="Flagsource !== ''"><img [src]="Flagsource"></td>
              <td *ngIf="Message    !== ''" style="height: 40px; font-size: 110%; font-weight: bold; color: white; text-align: left">{{Message}}</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </page-footer>
</ion-footer>


<auswahl-dialog *ngIf="ShowAuswahl" [Auswahlliste]="Auswahlliste" [Auswahlindex]="Auswahlindex" [ZIndex]="5000"
                [Dialogbreite]="400"  [PositionY]="100"
                [Titel]="Auswahltitel" [Iconname]="''"
                (OkClickedEvent)="AuswahlOkButtonClicked($event)"
                (CancelClickedEvent)="ShowAuswahl = false">
</auswahl-dialog>

<fi-mitarbeiter-auswahl *ngIf="ShowMitarbeiterauswahl"
                        [Titel]="MitarbeiterauswahlTitel"
                        [Dialogbreite]="600" [ZIndex]="4000"
                        [Multiselect]="false"
                        [OnlyProjektmitarbeiter]="false"
                        Iconname="people-outline"
                        [AuswahlIDliste]="AuswahlIDliste"
                        (CancelClickedEvent)="ShowMitarbeiterauswahl = false"
                        (OkClickedEvent)="MitarbeiterauswahlOkButtonClicked($event)"
                        (StandortfilterClickedEvent)="MitarebiterStandortfilterClickedHandler()"></fi-mitarbeiter-auswahl>



