
<div [style.z-index]="ZIndex" style="position: absolute; top: 0px; left: 0px; background: none; width: 100%; height: 100%">
  <div  class="keeperdivclass" [style.background]="Displayservice.ShowOpacity(Displayservice.Dialognamen.Beteiligteneditor) ? 'rgba(0, 0, 0, 0.5)' : 'none'" (click)="ContentClicked($event)">
    <div class="contentdivclass"
         [style.width.px]="Dialogbreite"
         [style.height.px]="Dialoghoehe" [style.top.px]="PositionY" (click)="ContentClicked($event)">
      <ion-header>
        <page-header>
          <table class="paddingsmalltable">
            <tr>
              <td><ion-icon [name]="Iconname" color="burnicklgruen"></ion-icon></td>
              <td [style.color]="'white'">{{Titel}}</td>
            </tr>
          </table>
        </page-header>
      </ion-header>

      <ion-content>

        <div class="contentinnerclass">

          <ion-grid *ngIf="DBBeteiligte.CurrentBeteiligte">
            <ion-row>
              <ion-col size="6">
                <input-clone [MinHeight]="46" [Value]="DBProjekt.CurrentProjekt.Projektname" Titel="Projekt" [DisabledColor]="'#444444'" [Enabled]="false"></input-clone>
              </ion-col>
              <ion-col size="6">

              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <input-clone [DisabledColor]="'#444444'"
                             [Value]="DBBeteiligte.GetBeteiligtenFachbereichname(DBBeteiligte.CurrentBeteiligte.Beteiligtentyp)" Titel="Bereich"
                             [Enabled]="false"
                             [Clickable]="true" (click)="FachbereichClickedEvent.emit()"></input-clone>
              </ion-col>
              <ion-col  size="6" *ngIf="DBBeteiligte.CurrentBeteiligte.Beteiligtentyp === Const.Beteiligtentypen.Ausfuehrungsfirma.Typnummer">
                <input-clone [DisabledColor]="'#444444'"
                             [Value]="DBBeteiligte.GetBeteiligtenFachfirmaname(DBBeteiligte.CurrentBeteiligte.Fachfirmentyp)" Titel="Gewerk"
                             [Enabled]="false"
                             [Clickable]="true" (click)="FachfirmaClickedEvent.emit()"></input-clone>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text color="primary"><b>EIntragtyp</b></ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-radio-group [value]="DBBeteiligte.CurrentBeteiligte.Beteiligteneintragtyp" (ionChange)="BeteiligtetypChanged($event)">
                  <table class="paddingtable">
                    <tr>
                      <td><ion-radio [value]="Const.Beteiligteneintragtypen.Person" mode="md"></ion-radio></td>
                      <td>Person</td>
                      <td style="width: 20px"></td>
                      <td><ion-radio [value]="Const.Beteiligteneintragtypen.Firma" mode="md"></ion-radio></td>
                      <td>Firma / Projektmail</td>
                    </tr>
                  </table>
                </ion-radio-group>
              </ion-col>
            </ion-row>
            <ng-container *ngIf="DBBeteiligte.CurrentBeteiligte.Beteiligteneintragtyp === this.Const.Beteiligteneintragtypen.Person">
              <ion-row>
                <ion-col>
                  <ion-text color="primary"><b>Anrede</b></ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <ion-radio-group [value]="DBBeteiligte.CurrentBeteiligte.Anrede" (ionChange)="GeschlechtChanged($event)">
                    <table class="paddingtable">
                      <tr>
                        <td><ion-radio [value]="Const.Anredevariante.Frau" mode="md"></ion-radio></td>
                        <td>Frau</td>
                        <td style="width: 20px"></td>
                        <td><ion-radio [value]="Const.Anredevariante.Herr" mode="md"></ion-radio></td>
                        <td>Herr</td>
                        <td style="width: 20px"></td>
                        <td><ion-radio [value]="Const.Anredevariante.Unbekannt" mode="md"></ion-radio></td>
                        <td>Unbekannt</td>
                      </tr>
                    </table>
                  </ion-radio-group>
                </ion-col>
              </ion-row>

            </ng-container>

            <ion-row>
              <ion-col>
                <ion-text color="primary"><b>{{DBBeteiligte.CurrentBeteiligte.Beteiligteneintragtyp === Const.Beteiligteneintragtypen.Person ? 'Person' : 'Firma'}}</b></ion-text>
              </ion-col>
            </ion-row>
            <ion-row [hidden]="DBBeteiligte.CurrentBeteiligte.Beteiligteneintragtyp === Const.Beteiligteneintragtypen.Firma">
              <ion-col [size]="Tools.GetButtonvalueSize()">
                <input-clone [(Value)]="DBBeteiligte.CurrentBeteiligte.Vorname" Titel="Vorname" (TextChanged)="TextChanged($event)"></input-clone>
              </ion-col>
              <ion-col [size]="Tools.GetButtonvalueSize()">
                <input-clone [Required]="true" [MaxLength]="100" [(Value)]="DBBeteiligte.CurrentBeteiligte.Name" Titel="Name" (TextChanged)="TextChanged($event)"></input-clone>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col [size]="Tools.GetButtonvalueSize()">
                <input-clone [Required]="true" [MaxLength]="100" [(Value)]="DBBeteiligte.CurrentBeteiligte.Firma" [Titel]="'Firma'" (TextChanged)="TextChanged($event)"></input-clone>
              </ion-col>
            </ion-row>
            <ion-row [hidden]="DBBeteiligte.CurrentBeteiligte.Beteiligteneintragtyp === Const.Beteiligteneintragtypen.Person">
              <ion-col [size]="Tools.GetButtonvalueSize()">
                <input-clone  [(Value)]="DBBeteiligte.CurrentBeteiligte.Kuerzel" Titel="Kürzel" (TextChanged)="TextChanged($event)"></input-clone>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-text color="primary"><b>Kontakt</b></ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col [size]="Tools.GetButtonvalueSize()">
                <input-clone  [(Value)]="DBBeteiligte.CurrentBeteiligte.Telefon" Titel="Telefon" (TextChanged)="TextChanged($event)"></input-clone>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col [size]="Tools.GetButtonvalueSize()">

                xxxx
                <input-clone [Inputtype]="'email'" [MaxLength]="255" [(Value)]="DBBeteiligte.CurrentBeteiligte.Email" Titel="Email" (TextChanged)="TextChanged($event)"></input-clone>
              </ion-col>
            </ion-row>


            <ion-row>
              <ion-col>
                <ion-text color="primary"><b>Anschrift</b></ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col [size]="Tools.GetButtonvalueSize()">
                <input-clone [(Value)]="DBBeteiligte.CurrentBeteiligte.Strasse" Titel="Strasse" (TextChanged)="TextChanged($event)"></input-clone>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col [size]="Tools.GetButtonvalueSize()">
                <input-clone [(Value)]="DBBeteiligte.CurrentBeteiligte.PLZ"  Titel="PLZ" (TextChanged)="TextChanged($event)"></input-clone>
              </ion-col>
              <ion-col [size]="Tools.GetButtonvalueSize()">
                <input-clone [(Value)]="DBBeteiligte.CurrentBeteiligte.Ort"  Titel="Ort" (TextChanged)="TextChanged($event)"></input-clone>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="DBBeteiligte.CurrentBeteiligte.BeteiligtenID !== null">
              <ion-col>
                <table>
                  <tr>
                    <td><checkbox-clon [Checked]="CanDelete" (CheckChanged)="CanDeleteCheckedChanged($event)"></checkbox-clon></td>
                    <td style="width: 6px"></td>
                    <td>
                      <ion-button size="small" color="rot" [disabled]="!CanDelete" (click)="DeleteButtonClicked()">
                        <ion-icon name="trash-outline" style="font-size: 20px"></ion-icon>
                        <ion-text>Eintrag löschen</ion-text>
                      </ion-button>
                    </td>
                  </tr>
                </table>
              </ion-col>
            </ion-row>

          </ion-grid>
        </div>

      </ion-content>

      <ion-footer>
        <page-footer>

          <table class="paddingsmalltable" width="100%">
            <tr>
              <td>
                <div class="rootbuttonclass" (click)="CancelButtonClicked()">
                  <ion-icon style="font-size: 28px" color="burnicklgruen" name="close-outline"></ion-icon>
                </div>
              <td style="width: 100%"></td>
              <td>

                <div class="rootbuttonclass" (click)="Valid === true ? OkButtonClicked() : null">
                  <ion-icon style="font-size: 28px" [color]="Valid === true ? 'burnicklgruen' : 'burnicklbraun'" name="checkmark-outline"></ion-icon>
                </div>
              </td>
            </tr>
          </table>

        </page-footer>
      </ion-footer>

    </div>
  </div>
</div>
