<ion-header class="ion-no-border">
  <page-header #PageHeader>
    <page-header-menu [SendFestlegungenEnabled]="DB.Displayliste.length > 0"
                      (ShowProjektfilesEvent)="ShowProjektfilesHandler()"
                      (LeistungsphaseFilterClicked)="LeistungsphaseClickedHandler('Filter')"
                      (ShowOpenFestlegungOnlyEvent)="ShowOpenFestlegungOnlyHandler($event)"
                      (SendFestlegungenClicked)="SendFestlegungenClickedHandler()"
                      (ExpandFestlegungeEvent)="ExpandFestlegungeEventHandler($event)"
                      (ShowProjektauswahlEvent)="ShowProjektauswahlEventHandler()">
                      <!--
                      (SucheChanged)="SucheChangedHandler($event)"
                      -->
      <table>
        <tr>
          <td style="width: 280%">
            <ion-searchbar (ionInput)="SucheChangedHandler($event)" placeholder="Suche"></ion-searchbar>
          </td>
        </tr>
      </table>
    </page-header-menu>
  </page-header>
</ion-header>
<ion-content>

  <ng-container *ngIf="DBProjekte.CurrentProjekt !== null && Eintraegeanzahl  > 0">

    <div style="width: 100%; padding-left: 8px; padding-right: 8px">

      <table  class="nobordertable">
        <tr>
          <td>
            <div class="projecticonclass" [style.background]="DBProjekte.GetProjektfarbeByProjekt(DBProjekte.CurrentProjekt)"></div>
          </td>
          <td>
            <ion-text color="baeblau" style="font-size: 120%"><b>{{DBProjekte.CurrentProjekt.Projektname}}</b></ion-text>
          </td>
        </tr>
      </table>

      <table  width="100%">
        <tr>
          <td class="tableborderone" style="width: 40px; height: 32px;"><b>KG</b></td>
          <td class="tableborderone" style="width: 40px;"><b>Nr.</b></td>
          <td class="tableborderone" style="width: 80px; text-align: center"><b>Datum</b></td>
          <td class="tableborderone" style="width: auto"><b>Beschreibung</b></td>
          <td class="tableborderone" style="width: 80px; text-align: center"><b>LV</b></td>
          <td class="tableborderone" style="width: 80px; text-align: center"><b>Planung</b></td>
          <td class="tableborderone" style="width: 80px; text-align: center"><b>Phase</b></td>
          <td class="tableborderone" style="width: 80px; text-align: center"><b>Ursprung</b></td>
        </tr>
        <ng-container *ngFor="let Kategorie of Pool.Festlegungskategorienliste[DBProjekte.CurrentProjekt.Projektkey]; let Kategorieindex = index; let o = odd">
          <tr *ngIf="Kategorie.DisplayKostengruppe">
            <td class="tableborderleft">
              <div [style.background]="Kategorie.Kostengruppecolor"  class="festlegunglisteheader">
                <table class="paddingtable">
                  <tr>
                    <td><ion-icon (click)="ExpandFestlegungskategorie($event, Kategorie)" [name]="Kategorie.Expanded ? 'remove-circle-outline' : 'add-circle-outline'"></ion-icon></td>
                    <td [style.font-size.px]="Pool.Mitarbeitersettings.Textsize">{{Kategorie.Kostengruppennummer}}</td>
                  </tr>
                </table>

              </div>
            </td>
            <td class="tableborderright" colspan="7" [style.background]="Kategorie.Kostengruppecolor" style="color: white;">

              <div class="festlegunglisteheader" [style.font-size.px]="Pool.Mitarbeitersettings.Textsize">
                {{KostenService.GetKostengruppennameByFestlegungskategorie(Kategorie)}}
              </div>
            </td>
          </tr>

          <tr *ngIf="Kategorie.Expanded">
            <td></td>
            <td class="tableborderfull" colspan="7" [style.background]="'silver'">
              <div class="festlegunglistesubheader" [style.font-size.px]="Pool.Mitarbeitersettings.Textsize" (click)="FestlegungskategorieClicked(Kategorie)">
                {{Kategorie.Beschreibung}}
              </div>
            </td>
          </tr>
          <ng-container *ngIf="Kategorie.Expanded">
            <ng-container  *ngFor="let Punkt of DB.Displayliste[Kategorieindex];  let Punktindex = index">
              <tr>
                <td></td>
                <td class="tableborderfull" [style.font-size.px]="Pool.Mitarbeitersettings.Textsize">{{(Punktindex + 1).toString()}}</td>
                <td class="tableborderfull" style="text-align: center" [style.font-size.px]="Pool.Mitarbeitersettings.Textsize">{{Punkt.Startzeitstring}}</td>
                <td class="tableborderfull">
                  <div class="festlegungdivclass" (click)="FestlegungClicked(Punkt)">
                    <table class="nobordertable">
                      <tr>
                        <td *ngIf="Punkt.OpenFestlegung">
                          <div style="width: 10px; height: 10px; background: red; border-radius: 50%"></div>
                        </td>
                        <td *ngIf="!Punkt.Filtered" [innerHTML]="Punkt.Aufgabe | safe: 'html'" [style.font-size.px]="Pool.Mitarbeitersettings.Textsize"></td>
                        <td *ngIf="Punkt.Filtered" [innerHTML]="GetFilteredText(Punkt) | safe: 'html'" [style.font-size.px]="Pool.Mitarbeitersettings.Textsize"></td>
                      </tr>
                    </table>
                  </div>

                  <table>
                    <tr *ngFor="let Anmerkung of Punkt.Anmerkungenliste">
                      <td style="width: 60px; color: orange; padding-left: 4px;" [style.font-size.px]="Pool.Mitarbeitersettings.Textsize">
                        {{GetAnmerkungDatum(Anmerkung)}}
                      </td>
                      <td style="width: 40px; color: orange" *ngIf="DBMitarbeiter.GetMitarbeiterByEmail(Anmerkung.Verfasser.Email)" [style.font-size.px]="Pool.Mitarbeitersettings.Textsize">
                        {{DBMitarbeiter.GetMitarbeiterByEmail(Anmerkung.Verfasser.Email).Name}}:
                      </td>
                      <td [style.font-size.px]="Pool.Mitarbeitersettings.Textsize">
                        {{Anmerkung.Anmerkung}}
                      </td>
                    </tr>
                  </table>

                </td>
                <td class="tableborderfull" align="center">
                  <checkbox-clon *ngIf="Punkt.LV_relevant === true" [Checked]="Punkt.LV_Eintrag" (CheckChanged)="LVEintragCheckChanged($event, Punkt)"></checkbox-clon>
                </td>
                <td class="tableborderfull" align="center">
                  <checkbox-clon *ngIf="Punkt.Planung_relevant === true" [Checked]="Punkt.Planung_Eintrag" (CheckChanged)="PlanungEintragCheckChanged($event, Punkt)"></checkbox-clon>
                </td>
                <td class="tableborderfull" style="text-align: center;" [style.font-size.px]="Pool.Mitarbeitersettings.Textsize">{{Punkt.Leistungsphase}}</td>
                <td class="tableborderfull" align="center">
                  <ion-button *ngIf="Punkt.ProtokollID !== null" size="small" [color]="Basics.Ionicfarben.BurnicklBraun" (click)="ProtokollButtonClicked(Punkt)">P</ion-button>
                </td>
              </tr>
            </ng-container>
            <tr>
              <td></td>
              <td class="tableborderfull" colspan="7">
                <ion-button size="small" color="burnicklbraun" (click)="AddFestlegungClicked(Kategorie)">
                  <ion-icon name="add-circle-outline" color="weiss"  slot="icon-only"></ion-icon>
                </ion-button>
              </td>
            </tr>

          </ng-container>
        </ng-container>

        <ng-container *ngIf="NoKostengruppePunkteliste.length > 0">
          <tr>
            <td class="tableborderleft">
              <div [style.background]="'orange'"  class="festlegunglisteheader">
                <table class="paddingtable">
                  <tr>
                    <td><ion-icon (click)="NoKostengruppePunktelisteExpand = !NoKostengruppePunktelisteExpand" [name]="NoKostengruppePunktelisteExpand ? 'remove-circle-outline' : 'add-circle-outline'"></ion-icon></td>
                    <td>XXX</td>
                  </tr>
                </table>

              </div>
            </td>
            <!--
            [style.background]="Kategorie.Kostengruppecolor
            -->
            <td class="tableborderright" colspan="7" style="color: white;">
              <div class="festlegunglisteheader" [style.background]="'orange'">
                Festlegungen ohne Kostengruppenzuordnung
              </div>
            </td>
          </tr>
          <ng-container *ngIf="NoKostengruppePunktelisteExpand">
            <ng-container  *ngFor="let Punkt of NoKostengruppePunkteliste;  let Punktindex = index">
              <tr>
                <td></td>
                <td class="tableborderfull">{{(Punktindex + 1).toString()}}</td>
                <td class="tableborderfull" style="text-align: center">{{Punkt.Startzeitstring}}</td>
                <td class="tableborderfull">
                  <div class="festlegungdivclass" (click)="FestlegungClicked(Punkt)">
                    <table class="nobordertable">
                      <tr>
                        <td *ngIf="Punkt.OpenFestlegung">
                          <div style="width: 10px; height: 10px; background: red; border-radius: 50%"></div>
                        </td>
                        <td *ngIf="!Punkt.Filtered" [innerHTML]="Punkt.Aufgabe | safe: 'html'" [style.font-size.px]="Pool.Mitarbeitersettings.Textsize"></td>
                        <td *ngIf="Punkt.Filtered" [innerHTML]="GetFilteredText(Punkt) | safe: 'html'" [style.font-size.px]="Pool.Mitarbeitersettings.Textsize"></td>
                      </tr>
                    </table>
                  </div>

                  <table>
                    <tr *ngFor="let Anmerkung of Punkt.Anmerkungenliste">
                      <td style="width: 60px; color: orange; padding-left: 4px;"[style.font-size.px]="Pool.Mitarbeitersettings.Textsize">
                        {{GetAnmerkungDatum(Anmerkung)}}
                      </td>
                      <td style="width: 40px; color: orange" *ngIf="DBMitarbeiter.GetMitarbeiterByEmail(Anmerkung.Verfasser.Email)" [style.font-size.px]="Pool.Mitarbeitersettings.Textsize">
                        {{DBMitarbeiter.GetMitarbeiterByEmail(Anmerkung.Verfasser.Email).Name}}:
                      </td>
                      <td [style.font-size.px]="Pool.Mitarbeitersettings.Textsize">
                        {{Anmerkung.Anmerkung}}
                      </td>
                    </tr>
                  </table>

                </td>
                <td class="tableborderfull" align="center">
                  <checkbox-clon *ngIf="Punkt.LV_relevant === true" [Checked]="Punkt.LV_Eintrag" (CheckChanged)="LVEintragCheckChanged($event, Punkt)"></checkbox-clon>
                </td>
                <td class="tableborderfull" align="center">
                  <checkbox-clon *ngIf="Punkt.Planung_relevant === true" [Checked]="Punkt.Planung_Eintrag" (CheckChanged)="PlanungEintragCheckChanged($event, Punkt)"></checkbox-clon>
                </td>
                <td class="tableborderfull" style="text-align: center;" [style.font-size.px]="Pool.Mitarbeitersettings.Textsize">{{Punkt.Leistungsphase}}</td>
                <td class="tableborderfull" align="center">
                  <ion-button *ngIf="Punkt.ProtokollID !== null" size="small" [color]="Basics.Ionicfarben.BurnicklBraun" (click)="ProtokollButtonClicked(Punkt)">P</ion-button>
                </td>
              </tr>
            </ng-container>

          </ng-container>
        </ng-container>
      </table>

    </div>

  </ng-container>


  <table *ngIf="Eintraegeanzahl === 0" width="100%">
    <tr>
      <td>
        <div class="keineintragclass">
          <table  class="docinnertable" width="100%">
            <tr>
              <td style="text-align: center; height: 100px">
                keine Festlegungen für <b>{{DBProjekte.CurrentProjekt !== null ? DBProjekte.CurrentProjekt.Projektname : 'unbekannt'}}</b> vorhanden
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>

</ion-content>
<ion-footer>
  <page-footer #PageFooter>

    <div class="rootbuttonclass" (click)="NeueFetslegungskategorieButtonClicked()">
      <table border="0">
        <tr>
          <td style="width: 130px">
            <ion-text color="weiss">Neue Kostengruppe</ion-text>
          </td>
          <td>
            <ion-icon style="font-size: 28px" color="weiss" name="add-circle-outline"></ion-icon>
          </td>
        </tr>
      </table>
    </div>

  </page-footer>
</ion-footer>


<pj-projektpunkt-editor *ngIf="ShowProjektpunktEditor && DBProjektpunkte.CurrentProjektpunkt !== null"
                        [Dialogbreite]="Dialogbreite"
                        [Dialoghoehe]="Dialoghoehe"
                        [PositionY]="DialogPosY"
                        [ShowLVandPlanung]="true"
                        [ZIndex]="3000" [Titel]="DBProjektpunkte.CurrentProjektpunkt._id !== null ? 'Festlegung bearbeiten' : 'Neue Festlegung'" Iconname="book-outline"
                        (FachbereichClicked)="FachbereichClickedHandler()"
                        (KostengruppeClicked)="KostengruppeClickedHandler('Editor')"
                        (GebaeudeteilClicked)="GebaeudeteilClickedHandler()"
                        (LeistungsphaseClickedEvent)="LeistungsphaseClickedHandler('Editor')"
                        (CancelClickedEvent)="ShowProjektpunktEditor = false"
                        (OkClickedEvent)="ShowProjektpunktEditor = false"></pj-projektpunkt-editor>


<auswahl-dialog *ngIf="ShowAuswahl" [Auswahlliste]="Auswahlliste" [Auswahlindex]="Auswahlindex" [ZIndex]="5000"
                [Dialogbreite]="Auswahlbreite" [PositionY]="100"
                [Titel]="Auswahltitel" [Iconname]="GetDialogTitelicon()"
                (OkClickedEvent)="AuswahlOkButtonClicked($event)"
                (CancelClickedEvent)="ShowAuswahl = false">
</auswahl-dialog>

<pj-projekte-schnellauswahl *ngIf="ShowProjektschnellauswahl"
                            [ZIndex]="5000"
                            [Dialogbreite]="800"
                            [Dialoghoehe]="Auswahlhoehe"
                            [Titel]="'Projekt wechsel'" [Iconname]="'star-outline'"
                            (ProjektClickedEvent)="ProjektSchnellauswahlProjektClickedEventHandler($event)"
                            (CancelClickedEvent)="ShowProjektschnellauswahl = false"
                            (OkClickedEvent)="ShowProjektschnellauswahl = false">
</pj-projekte-schnellauswahl>

<pj-gebaeude-raumauswahl *ngIf="ShowRaumauswahl" [Titel]="'Gebäudeteil auswählen'" [Dialogbreite]="StrukturDialogbreite" [Dialoghoehe]="StrukturDialoghoehe"
                         [PositionY]="DialogPosY" [ZIndex]="4000"
                         (CancelClickedEvent)="ShowRaumauswahl = false"
                         (OkClickedEvent)="ShowRaumauswahl = false">
</pj-gebaeude-raumauswahl>

<pj-kostengruppen-festlegungskategorie-auswahl *ngIf="ShowKostengruppenauswahlFestlegungskategorie" [Titel]="Kostengruppeauswahltitel"
                          [Dialogbreite]="KostenDialogbreite" [Dialoghoehe]="KostenDialoghoehe" [PositionY]="DialogPosY"
                          (OkClickedEvent)="ShowKostengruppenauswahlFestlegungskategorie = false"
                          (CancelClickedEvent)="ShowKostengruppenauswahlFestlegungskategorie = false"></pj-kostengruppen-festlegungskategorie-auswahl>

<pj-protokoll-editor *ngIf="ShowProtokollEditor"  [Dialogbreite]="Dialogbreite" [Dialoghoehe]="Dialoghoehe" [PositionY]="DialogPosY"
                     [Titel]="'Protokoll bearbeiten'" Iconname="book-outline"
                     [ZIndex]="2000"
                     (OkClickedEvent)="ShowProtokollEditor = false"
                     (CancelClickedEvent)="ShowProtokollEditor = false"
                     (TeamteilnehmerClicked)="TeamteilnehmerClickedHandler()"
                     (ProtokollpunktClicked)="ProtokollpunktClickedHandler($event)"
                     (AddProtokollpunktClicked)="AddProtokollpunktClickedHandler()">
</pj-protokoll-editor>

<pj-email-send *ngIf="ShowEmailSenden"
               [Titel]="'Festlegungen senden'"
               [Dialogbreite]="EmailDialogbreite"
               [PositionY]="DialogPosY"
               [ZIndex]="1000"
               Iconname="mail-outline"
               (EmpfaengerInternClicked)="EmpfaengerInternClickedHandler()"
               (CcEmpfaengerInternClicked)="CcEmpfaengerBurnicklClickedHandler()"
               (EmpfaengerExternClicked)="EmpfaengerExternClickedHandler()"
               (CcEmpfaengerExternClicked)="CcEmpfaengerExternClickedHandler()"
               (CancelClickedEvent)="ShowEmailSenden = false"
               (OkClickedEvent)="EmailSendenOkButtonClicked($event)"></pj-email-send>

<pj-festlegungskategorie-editor *ngIf="ShowFestlegungskategorieEditor" [ZIndex]="1000"
  (KostengruppeClicked)="KostengruppeClickedHandler('Festlegungskategorie')"
  (CancelClickedEvent)="ShowFestlegungskategorieEditor = false"
  (OkClickedEvent)="ShowFestlegungskategorieEditor = false">
</pj-festlegungskategorie-editor>

