.festlegunglisteheader {

  width: 100%;
  height: 32px;
  display: flex;
  justify-content: flex-start; // horizontal
  align-items: center; // vertikal
  color: white;
  font-weight: bold;
  padding: 4px;
}

.festlegunglistesubheader {

  width: 100%;
  height: 32px;
  display: flex;
  justify-content: flex-start; // horizontal
  align-items: center; // vertikal
  color: white;
  font-weight: bold;
  padding: 4px;
  cursor: pointer;
}

.tableborderone {

  border: 1px solid black;
  padding: 4px;
}

.tableborderleft {

  border-left:   1px solid black;
  border-bottom: 1px solid black;
  border-top:    1px solid black;
}

.tableborderright {

  border-right:   1px solid black;
  border-bottom: 1px solid black;
  border-top:    1px solid black;
}

.tableborderfull {

  border: 1px solid black;
  padding: 4px;
}

.festlegungdivclass {

  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: flex-start; // horizontal
  align-items: center; // vertikal
  border-radius: 3px;
  color: black;
}
.keineintragclass {

  width: 100%;
  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
  font-weight: bold;
  font-size: 120%;
  padding-left: 8px; padding-right: 8px;
}

.projecticonclass {

  height: 34px;
  width: 34px;
  border-radius: 4px;
  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
}

.festlegungdivclass:hover {

  text-decoration: underline;
  background: silver;
}
