
<div [style.z-index]="ZIndex" style="position: absolute; top: 0px; left: 0px; background: none;  width: 100%; height: 100%">
  <div  class="keeperdivclass" [style.background]="Displayservice.ShowOpacity(Displayservice.Dialognamen.Beteiligteauswahl) ? 'rgba(0, 0, 0, 0.5)' : 'none'" (click)="ContentClicked($event)">
    <div class="contentdivclass"
         [style.width.px]="Dialogbreite"
         [style.height.px]="Dialoghoehe" [style.top.px]="PositionY" (click)="ContentClicked($event)">
      <ion-header>
        <page-header>
          <table class="paddingsmalltable">
            <tr>
              <td style="width: 4px"></td>
              <td><ion-icon [name]="Iconname" color="burnicklgruen"></ion-icon></td>
              <td [style.color]="'white'">{{Titel}}</td>
            </tr>
          </table>

        </page-header>
      </ion-header>

      <ion-content>

        <div class="innerkeeperclass">
          <div class="innerkeeperlisteclass">

            <ion-list *ngIf="Beteiligteliste && Anzeigeliste.length > 0">
              <ion-item class="ion-text-wrap" class="ion-no-padding" *ngFor="let Beteiligte of Anzeigeliste, let i = index" (click)="BeteiligteButtonClicked(Beteiligte)">
                <ion-grid class="maingridclass">
                  <ion-row  *ngIf="Beteiligtebuchstabenliste[i] !== ''">
                    <ion-col size="12">
                      <ion-text color="orange"><b>{{Beteiligtebuchstabenliste[i]}}</b></ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="12">
                      <div class="kontaktclass">
                        <table class="paddingsmalltable" width="100%">
                          <tr>
                            <td>
                              <table cellspacing="0" cellpadding="0">
                                <tr>
                                  <td><checkbox-clon [Index]="i" (CheckChanged)="CheckedChanged($event)" [Checked]="Beteiligte.Selected"></checkbox-clon></td>
                                  <td *ngIf="Beteiligte.Beteiligteneintragtyp === Const.Beteiligteneintragtypen.Person">
                                    {{Beteiligte.Name}} {{Beteiligte.Vorname}} <span *ngIf="Beteiligte.Kuerzel !== ''">/ {{Beteiligte.Kuerzel}}</span>
                                    <br>
                                  </td>
                                  <td *ngIf="Beteiligte.Beteiligteneintragtyp === Const.Beteiligteneintragtypen.Firma">
                                    {{Beteiligte.Firma}}
                                  </td>
                                </tr>
                                <tr>
                                  <td colspan="10">
                                    <table class="infotable" style="white-space:nowrap;">
                                      <tr>
                                        <td *ngIf="Beteiligte.Beteiligteneintragtyp === Const.Beteiligteneintragtypen.Person && Beteiligte.Firma !== ''">
                                          {{Beteiligte.Firma}}
                                        </td>
                                        <ng-container *ngIf="Beteiligte.Beteiligtentyp !== 0">
                                          <td *ngIf="Beteiligte.Beteiligteneintragtyp === Const.Beteiligteneintragtypen.Person" style="padding: 4px"><div class="bullclass"></div></td>
                                          <td>{{DB.GetBeteiligtenFachbereichname(Beteiligte.Beteiligtentyp)}}</td>
                                        </ng-container>
                                        <ng-container *ngIf="Beteiligte.Email !== ''">
                                          <td *ngIf="Beteiligte.Beteiligtentyp !== 0" style="padding: 4px"><div class="bullclass"></div></td>
                                          <td>{{Beteiligte.Email}}</td>
                                        </ng-container>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-list>

            <div *ngIf="Beteiligteliste && Anzeigeliste.length === 0" class="emptymessageclass">
              keine Einträge vorhanden
            </div>

          </div>
          <div class="innerkeeperalphabetclass">
            <alphabet-relative #SmallAlphabet (AlphabetClicked)="AlphabetClicked($event)"
                      [Buchstabenliste]="Beteiligtealphabet"
                      [Breite]="Alphapetbreite"
                      [Auswahl]="Beteiligtealphabetauswahl"></alphabet-relative>
          </div>
        </div>

      </ion-content>

      <ion-footer>
        <page-footer>
          <table class="paddingsmalltable" width="100%">
            <tr>
              <td>
                <div class="rootbuttonclass" (click)="CancelButtonClicked()">
                  <ion-icon style="font-size: 28px" color="burnicklgruen" name="close-outline"></ion-icon>
                </div>
              <td style="width: 100%"></td>
              <td>

                <div class="rootbuttonclass" (click)="OkButtonClicked()">
                  <ion-icon style="font-size: 28px" color="burnicklgruen" name="checkmark-outline"></ion-icon>
                </div>
              </td>
            </tr>
          </table>
        </page-footer>
      </ion-footer>

    </div>
  </div>
</div>



