.keeperclass {

  background: #307ac1;
  color: white;
  width: 100%;
  min-height: 40px;
  height: 100%;
  display: flex;
  align-items: center; // vertikal
  justify-content: flex-end; // horizontal
}

