
<div [style.z-index]="ZIndex" style="position: absolute; top: 0px; left: 0px; background: none; width: 100%; height: 100%">

  <div  class="keeperdivclass" [style.background]="Displayservice.ShowOpacity(Displayservice.Dialognamen.Kostengruppenauswahl) ? 'rgba(0, 0, 0, 0.5)' : 'none'" (click)="ContentClicked($event)">
    <div class="contentdivclass"
         [style.width.px]="Dialogbreite"
         [style.height.px]="Dialoghoehe" [style.top.px]="PositionY" (click)="ContentClicked($event)">
      <ion-header>
        <page-header>
          <table class="paddingsmalltable">
            <tr>
              <td style="width: 4px"></td>
              <td><ion-icon [name]="Iconname" color="weiss"></ion-icon></td>
              <td [style.color]="'white'">{{Titel}}</td>
            </tr>
          </table>
        </page-header>
      </ion-header>

      <ion-content>

        <div class="contentinnerclass">

          <table *ngIf="DB.CurrentProjektpunkt !== null || DBFestlegungskategorie.CurrentFestlegungskategorie !== null" class="paddingtable">
            <tr>
              <td style="width: 33%"><ion-text color="burnicklgruen"><b>1. Ebene</b></ion-text></td>
              <td style="width: 33%"><ion-text *ngIf="DB.CurrentProjektpunkt.Oberkostengruppe  !== null" color="burnicklgruen"><b>2. Ebene</b></ion-text></td>
              <td style="width: 33%"><ion-text *ngIf="DB.CurrentProjektpunkt.Hauptkostengruppe !== null" color="burnicklgruen"><b>3. Ebene</b></ion-text></td>
            </tr>
            <tr>
              <td valign="top">

                <ion-radio-group [value]="DB.CurrentProjektpunkt.Oberkostengruppe" (ionChange)="OberkostengruppeChanged($event)">

                  <table class="paddingtable">
                    <tr>
                      <td><ion-radio [value]="null" mode="md"></ion-radio></td>
                      <td colspan="2"><b>keine Festlegung</b></td>
                    </tr>
                    <tr *ngFor="let Obergruppe of this.Oberkostengruppenliste">
                      <td valign="top"><ion-radio [value]="Obergruppe.Kostengruppennummer" mode="md"></ion-radio></td>
                      <td valign="top"><b>{{Obergruppe.Kostengruppennummer}}</b></td>
                      <td valign="top">{{Obergruppe.Bezeichnung}}</td>
                    </tr>
                  </table>

                </ion-radio-group>

              </td>
              <td valign="top">

                <ion-radio-group *ngIf="DB.CurrentProjektpunkt.Oberkostengruppe !== null"
                                 [value]="DB.CurrentProjektpunkt.Hauptkostengruppe"
                                 (ionChange)="HauptkostengruppeChanged($event)">
                  <table  class="paddingtable">
                    <tr>
                      <td><ion-radio [value]="null" mode="md"></ion-radio></td>
                      <td colspan="2"><b>keine Festlegung</b></td>
                    </tr>
                    <tr *ngFor="let Obergruppe of this.Hauptkostengruppenliste">
                      <td valign="top"><ion-radio [value]="Obergruppe.Kostengruppennummer" mode="md"></ion-radio></td>
                      <td valign="top"><b>{{Obergruppe.Kostengruppennummer}}</b></td>
                      <td valign="top">{{Obergruppe.Bezeichnung}}</td>
                    </tr>
                  </table>

                </ion-radio-group>

              </td>
              <td valign="top">
                <ion-radio-group *ngIf="DB.CurrentProjektpunkt.Hauptkostengruppe !== null"
                                 [value]="DB.CurrentProjektpunkt.Unterkostengruppe"
                                 (ionChange)="UnterkostengruppeChanged($event)">
                  <table  class="paddingtable">
                    <tr>
                      <td><ion-radio [value]="null" mode="md"></ion-radio></td>
                      <td colspan="2"><b>keine Festlegung</b></td>
                    </tr>
                    <tr *ngFor="let Obergruppe of this.Unterkostengruppenliste">
                      <td valign="top"><ion-radio [value]="Obergruppe.Kostengruppennummer" mode="md"></ion-radio></td>
                      <td valign="top"><b>{{Obergruppe.Kostengruppennummer}}</b></td>
                      <td valign="top">{{Obergruppe.Bezeichnung}}</td>
                    </tr>
                  </table>

                </ion-radio-group>

              </td>
            </tr>
          </table>

        </div>

      </ion-content>

      <ion-footer>
        <page-footer>

          <table class="paddingsmalltable" width="100%">
            <tr>
              <td>
                <div class="rootbuttonclass" (click)="CancelClickedEvent.emit()">
                  <ion-icon style="font-size: 28px" color="weiss" name="close-outline"></ion-icon>
                </div>
              <td style="width: 100%"></td>
              <td>

                <div class="rootbuttonclass" (click)="OkClickedEvent.emit()">
                  <ion-icon style="font-size: 28px" [color]="'weiss'" name="save-outline"></ion-icon>
                </div>
              </td>
            </tr>
          </table>
        </page-footer>
      </ion-footer>

    </div>
  </div>
</div>






