.userimagesmall {

  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: 4px;
  border-radius: 50%;
  object-fit: cover;
}

.adresskeeperdiv {

  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100% !important;
  background: white;
}

.emailbuttondiv {

  background: #354547;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
  height: 32px;
  padding: 4px;
  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
  margin: 2px;

}

.rootbuttonclass {

  cursor: pointer;
  min-width: 32px;
  min-height: 32px;
  display: flex;
  justify-content: flex-end; // horizontal
  align-items: center; // vertikal
}

.trennerdivclass {

  width: 1px;
  min-height: 30px;
  height: 100%;
  background: silver;
}

.keeperclass {

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.leftdivclass {

  height: 100%;
  border-right: 2px solid #444444;
  display: flex;
  flex-direction: column;
}

.rightdivclass {

  width: 100px;
  height: auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.titledivclass {

  color: black;
  width: 100%;
  height: 200px;
  padding: 4px;
  overflow: auto;
}

.currentcircleclass {

  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #c7d304;
}

.arrowclass {

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
}

.contentdivclass {

  width: 100%;
  border-top: 2px solid #354547;
  padding: 4px;
  overflow: auto;
}

.leftpostfaecherclass {

  width: 100%;
  color: white;
  overflow: auto;
  background: #307ac1;
  border-right: 2px solid black;
}

.postfachbuttonclass {

  writing-mode: vertical-rl;
  padding: 10px;
  cursor: pointer;
}

.leftemaillisteclass {

  width: 100%;
  position: absolute;
  top: 0px;
  overflow: auto;
  border-right: 2px solid black;
}

ion-item {
  --inner-padding-bottom: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-top: 0;
}

.buttonclass {

  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
  width: 140px;
  min-height: 34px;
  height: 100%;
  padding: 2px;
  border: 1px solid white;
  border-radius: 6px;
  cursor: pointer;
}
