.legendedivclass {

  font-weight: bold;
  color: white;
  width: 30px;
  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
  border: 1px solid #444444;
  height: 20px;
}

