.legendedivclass {

  font-weight: bold;
  color: white;
  width: 30px;
  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
  border: 1px solid #444444;
  height: 20px;
  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal

}

.legenderounddivclass {

  font-weight: bold;
  color: white;
  width: 10px;
  border: 1px solid #444444;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.monatedivclass {

  height: 30px;
  width: 100px;
  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid #444444;
  cursor: pointer;
  color: black;
  background: white;
}

.monatedivclass:hover {

  color: white;
  background: #307ac1;
}

