
<ion-header class="ion-no-border">
  <page-header #PageHeader>
    <page-header-menu [ShowSuchleiste]="true" [ShowStandorttitle]="true" (SucheChanged)="SucheChangedHandler($event)"></page-header-menu>
  </page-header>
</ion-header>
<ion-content>
  <ion-list *ngIf="Standorteliste && Standorteliste.length > 0">
    <ion-item class="ion-text-wrap" class="ion-no-padding" *ngFor="let Standort of Standorteliste, let i = index" (click)="StandortButtonClicked(Standort)">
      <ion-grid class="maingridclass">
        <ion-row  *ngIf="Standortebuchstabenliste[i] !== ''">
          <ion-col size="12">
            <ion-text color="orange"><b>{{Standortebuchstabenliste[i]}}</b></ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <table style="width: 100%;">
              <tr>
                <td style="width: 60%;" valign="top">
                  <div class="kontaktclass">
                    <table class="paddingsmalltable" width="100%">
                      <tr>
                        <td>
                          <table cellspacing="0" cellpadding="0">
                            <tr *ngIf="!Standort.Filtered">
                              <td>
                                {{Standort.Ort}}
                              </td>
                            </tr>
                            <tr *ngIf="Standort.Filtered">
                              <td>
                                <span>{{Standort.Text_A}}</span><span style="color: green">{{Standort.Text_B}}</span><span>{{Standort.Text_C}}</span>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table class="infotable" style="white-space:nowrap;">
                            <tr>
                              <td class="ergonametextclass">Kürzel:</td><td>{{Standort.Kuerzel}}</td><td style="width: 20px"></td>
                              <td class="ergonametextclass">Email:</td><td>{{Standort.Email}}</td><td style="width: 20px"></td>
                            </tr>
                          </table>
                      </tr>
                    </table>
                  </div>
                </td>
                <td style="width: auto">

                  <table width="400px">
                    <tr>
                      <td style="width: 30%" valign="top">
                        <table  class="paddingsmalltable">
                          <tr>
                            <td><ion-icon name="sunny" color="orange" style="font-size: 20px"></ion-icon></td><td style="font-size: 90%;font-weight: bold;">Urlaubsfreigaben</td>
                          </tr>
                          <ng-container *ngFor="let Mitarbeiter of DBMitarbeiter.GetUrlausbsfreigeberliste(Standort._id)">
                            <tr *ngIf="CheckMitarbeiterIsStandortUrlaubsfreigabe(Mitarbeiter._id, Standort)">
                              <td></td>
                              <td style="font-size: 80%; color: #444444;">{{Mitarbeiter.Vorname}} {{Mitarbeiter.Name}}</td>
                            </tr>
                          </ng-container>
                        </table>
                      </td>
                      <td style="width: 30%" valign="top">
                        <table  class="paddingsmalltable">
                          <tr>
                            <td><ion-icon name="home" color="blau" style="font-size: 20px"></ion-icon></td><td style="font-size: 90%;font-weight: bold;">Homeofficefreigaben</td>
                          </tr>
                          <ng-container *ngFor="let Mitarbeiter of DBMitarbeiter.GetHomeofficefreigeberliste(Standort._id)">
                            <tr *ngIf="CheckMitarbeiterIsStandortHomeofficefreigabe(Mitarbeiter._id, Standort)">
                              <td></td>
                              <td style="font-size: 80%; color: #444444;">{{Mitarbeiter.Vorname}} {{Mitarbeiter.Name}}</td>
                            </tr>
                          </ng-container>
                        </table>
                      </td>
                      <td style="width:10%"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <table *ngIf="Standorteliste.length === 0" class="paddingtable" width="100%">
    <tr>
      <td style="height: 80px; text-align: center; vertical-align: center">
        kein Standorte vorhanden
      </td>
    </tr>
  </table>
</ion-content>
<ion-footer>
  <page-footer #PageFooter>

    <div class="rootbuttonclass" (click)="AddStandorteButtonClicked()">
      <ion-icon style="font-size: 28px" color="weiss" name="add-circle-outline"></ion-icon>
    </div>

  </page-footer>
</ion-footer>

<fi-standort-editor *ngIf="ShowEditor" [Dialogbreite]="600" [Dialoghoehe]="800" [PositionY]="100" [Titel]="GetDialogTitel()" Iconname="location-outline"
                    (CancelClickedEvent)="ShowEditor = false"
                    (OkClickedEvent)="ShowEditor = false" (DeleteClickedEvent)="ShowEditor = false"
                    (LandClickedEvent)="LandClickedEventHandler()"
                    (BundeslandClickedEvent)="BundeslandClickedEventHandler()"
                    (KonfessionClickedEvent)="KonfessionClickedEventHandler()"></fi-standort-editor>

<auswahl-dialog *ngIf="ShowAuswahl" [Auswahlliste]="Auswahlliste" [Auswahlindex]="Auswahlindex" [ZIndex]="5000"
                [Dialogbreite]="400"  [PositionY]="100"
                [Titel]="Auswahltitel" [Iconname]="''"
                (OkClickedEvent)="AuswahlOkButtonClicked($event)"
                (CancelClickedEvent)="ShowAuswahl = false">
</auswahl-dialog>

<alphabet #Alphabet (AlphabetClicked)="AlphabetClicked($event)"
          [PageHeader]="PageHeader"
          [PageFooter]="PageFooter"
          [Buchstabenliste]="Standortealphabet"
          [Breite]="Alphapetbreite"
          [Auswahl]="Standortealphabetauswahl"></alphabet>


