<div [style.width.px]="Browserbreite" [style.height.px]="Browserhoehe" class="filebrowserdiv">

  <div class="headerdiv" [style.height.px]="Headerhoehe">
    <table class="paddingtable" style="font-size: 120%">
      <tr>
        <td>
          <div (click)="RootFolderClicked()" class="folderdiv">
            Projekte
          </div>
        </td>
        <ng-container *ngFor="let Directory of GraphService.TeamsSubdirectorylist; let i = index">
          <td style="font-weight: bold;">&rang;</td>
          <td>
            <div (click)="SubFolderBackClicked(i, Directory)" class="folderdiv">
              {{Directory.name}}
            </div>
          </td>
        </ng-container>
        <ng-container *ngIf="ShowSelect === true && this.SelectedDirectory !== null">
          <td style="font-weight: bold;">&rang;</td>
          <td>
            <div class="folderdiv">
              {{SelectedDirectory.name}}
            </div>
          </td>
        </ng-container>
      </tr>
    </table>
  </div>
  <div class="contentdiv" [style.top.px]="Headerhoehe" [style.height.px]="Contenthoehe">
    <ion-radio-group [value]="SelectedDirectoryID" (ionChange)="FileSelectedChanged($event)">

        <table class="paddingtable" style="font-size: 100%">
          <tr *ngFor="let File of GraphService.TeamsCurrentfilelist">
            <td *ngIf="ShowSelect">
              <ion-radio [value]="File.id"></ion-radio>
            </td>
            <ng-container *ngIf="File.isfolder === true">
              <td><ion-icon (click)="FolderClicked(File)" color="grau" name="folder" style="cursor: pointer"></ion-icon></td>
              <td><a (click)="FolderClicked(File)">{{File.name}}</a></td>
            </ng-container>
            <ng-container *ngIf="File.isfolder === false">
              <td>
                <ion-icon (click)="FileClicked($event, File)" [style.cursor]="CheckFile(File) === true ? 'pointer' : 'default'" color="teal" name="document"></ion-icon>
              </td>
              <td style="color: #444444;" (click)="FileClicked($event, File)">
                <div (click)="FileClicked($event,File)" [style.cursor]="CheckFile(File) === true ? 'pointer' : 'default'">
                  {{File.name}}
                </div>
              </td>
            </ng-container>

          </tr>
        </table>

    </ion-radio-group>
  </div>
</div>
