<ion-header class="ion-no-border">
  <page-header #PageHeader>
    <page-header-menu [ShowSuchleiste]="false"></page-header-menu>
  </page-header>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <table class="paddingtable">
          <tr>
            <td>
              <checkbox-clon [Checked]="Basics.ShowHomeScreenInfos" (CheckChanged)="ChangeShowHomeScreenInfos($event)"></checkbox-clon>
            </td>
            <td>
              Zeige Homescreen Zusatzinformationen
            </td>
          </tr>
        </table>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <table class="paddingtable">
          <tr>
            <td>
              <checkbox-clon [Checked]="Basics.DebugNoExternalEmail" (CheckChanged)="DebugNoExternalEmailChanged($event)"></checkbox-clon>
            </td>
            <td>
              Keine Emails nach außen senden -> nur an p.hornburger&#64;gmail.com
            </td>
          </tr>
        </table>
      </ion-col>
    </ion-row>
    <!--
    <ion-row>
      <ion-col>
        <ion-button (click)="ClearAccessToken()">Security Token löschen</ion-button>
      </ion-col>
    </ion-row>
    -->
    <ion-row>
      <ion-col>
        <table>
          <tr>
            <td>
              <ion-button (click)="TestButtonChlicked()">Test</ion-button>
            </td>
            <td>
              <ion-button (click)="ClearMessagesButtonCLcicked()">Clear Messages</ion-button>
            </td>
          </tr>
        </table>
      </ion-col>
    </ion-row>
    <!--
    <ion-row>
      <ion-col>
        <b>Access Token:</b>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        {{AuthService.ActiveUsername}}<br><br>
        {{AuthService.AccessToken}}
      </ion-col>
    </ion-row>
    -->
    <!--
    <ion-row>
      <ion-col>
        <table class="docinnertable">
          <tr>
            <td><b>CurrentProjekt</b></td>
            <td><b>CurrentProjektpunkt</b></td>
          </tr>
          <tr>
            <td>
              {{DBProjekte.CurrentProjekt !== null ? DBProjekte.CurrentProjekt.Projektname : 'null'}}
            </td>
            <td>
              {{DBProjektpunkte.CurrentProjektpunkt !== null ? DBProjektpunkte.CurrentProjektpunkt.Aufgabe : 'null'}}
            </td>
          </tr>

        </table>
      </ion-col>
    </ion-row>
    -->
  </ion-grid>

  <table class="docinnertable">
    <tr>
      <td style="font-weight: bold">Skpript</td>
      <td style="font-weight: bold">Message</td>
      <td style="font-weight: bold">Funktion</td>
    </tr>
    <tr *ngFor="let Eintrag of Debug.Debugmessageliste">
      <td>{{Eintrag.Message}}</td>
      <td [style.color]="Eintrag.Color">{{Eintrag.Message}}</td>
      <td>{{Eintrag.Function}}</td>
    </tr>
  </table>

  <br><br>

  <!--

  <table *ngIf="DBProjekte.CurrentProjekt !== null && Pool.DeletedProjektpunkteliste[DBProjekte.CurrentProjekt.Projektkey] && Pool.DeletedProjektpunkteliste[DBProjekte.CurrentProjekt.Projektkey].length > 0" class="docinnertable">
    <tr>
      <td style="font-weight: bold">Aufgabe</td>
      <td style="font-weight: bold">Datum</td>
    </tr>
    <tr *ngFor="let Projektpunkt of Pool.DeletedProjektpunkteliste[DBProjekte.CurrentProjekt.Projektkey]">
      <td>{{Projektpunkt.Aufgabe}}</td>
      <td>{{Projektpunkt.Startzeitstring}}</td>
    </tr>
    <tr>
      <td colspan="2">{{Pool.DeletedProjektpunkteliste[DBProjekte.CurrentProjekt.Projektkey].length}} Projektpunkte</td>
    </tr>
    <tr>
      <td colspan="2"><ion-button (click)="ProjektpunkteLoeschenClicked()" color="rot" size="small">Einträge endgültig löschen</ion-button></td>
    </tr>
  </table>
  -->

  <!--
  <table *ngIf="DBProjekte.CurrentProjekt !== null && Pool.DeletedProjektpunkteliste[DBProjekte.CurrentProjekt.Projektkey] && Pool.DeletedProjektpunkteliste[DBProjekte.CurrentProjekt.Projektkey].length === 0" class="docinnertable">
    <tr>
      <td style="font-weight: bold; color: orange;">Keine gelöschten Projektpunte für {{DBProjekte.CurrentProjekt.Projektname}} vorhanden.</td>
    </tr>
  </table>
  -->

  <abstand-element-fixed></abstand-element-fixed>

</ion-content>
<ion-footer>
  <page-footer #PageFooter>

  </page-footer>
</ion-footer>
