
<div [style.z-index]="ZIndex" style="position: absolute; top: 0px; left: 0px; background: none; width: 100%; height: 100%">

  <div  class="keeperdivclass" [style.background]="Displayservice.ShowOpacity(Displayservice.Dialognamen.LOPListeEintragEditor) ? 'rgba(0, 0, 0, 0.5)' : 'none'" (click)="ContentClicked($event)">
    <div class="contentdivclass"
         [style.width.px]="Dialogbreite"
         [style.bottom.px]="PositionY" [style.top.px]="PositionY" (click)="ContentClicked($event)">
      <ion-header>
        <page-header>
          <div class="headerkeeperdiv">
            <div class="headerleftdiv">
              <table class="paddingsmalltable">
                <tr>
                  <td style="width: 4px"></td>
                  <td><ion-icon [name]="Iconname" color="weiss"></ion-icon></td>
                  <td [style.color]="'white'">{{Titel}}</td>
                </tr>
              </table>
            </div>
            <div class="headerrightdiv">
              <table class="paddingsmalltable">
                <tr>
                  <td style="text-align: right; color: white">{{DBProjekt.CurrentProjekt !== null ? DBProjekt.CurrentProjekt.Projektname : 'Projekt unbekannt' }}</td>
                </tr>
                <tr>
                  <td style="text-align: right; color: white">
                    {{DBLOPListe.GetLOPListeByID(DB.CurrentProjektpunkt.LOPListeID) !== null ? DBLOPListe.GetLOPListeByID(DB.CurrentProjektpunkt.LOPListeID).Titel : '' }}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </page-header>
      </ion-header>

      <ion-content>

        <div class="contentinnerclass">

          <ion-grid  *ngIf="DB.CurrentProjektpunkt !== null" class="maingridclass">
            <ion-row>
              <ion-col size="6">

                <table style="width: 100%">
                  <tr>
                    <td style="width: 50%">
                      <ion-grid>
                        <ion-row *ngIf="DB.CurrentProjektpunkt.LOPListeID !== null">
                            <ion-col size="6">
                              <input-clone [MinHeight]="44" Titel="Eintragnummer" [Enabled]="false" [(Value)]="DB.CurrentProjektpunkt.Nummer"></input-clone>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="6">
                            <button-value (ButtonClicked)="VerfasserButtonClicked.emit()" [Wert_A]="DB.CurrentProjektpunkt.Verfasser.Vorname + ' ' + DB.CurrentProjektpunkt.Verfasser.Name" [Buttontext]="'Verfasser'">
                            </button-value>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="6">
                            <button-value (ButtonClicked)="TerminButtonClicked.emit()" [Wert_A]="GetTerminWert()" [Buttontext]="DB.CurrentProjektpunkt.EndeKalenderwoche === null ? 'Termin' : 'Kalenderwoche'">
                            </button-value>
                          </ion-col>
                        </ion-row>
                        <ion-row *ngIf="DB.CurrentProjektpunkt.Status === Const.Projektpunktstatustypen.Geschlossen.Name">
                          <ion-col size="6">
                            <button-value-date [Buttontext]="'Abschlusstermin'"
                                               [ElementID]="'terminbis'"
                                               [Datum]="GetGeschlossenDatum()"
                                               [Enabled]="true"
                                               (TimeChanged)="TerminGeschlossenChanged($event)">
                            </button-value-date>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="6" *ngIf="Pool.Mitarbeiterdaten !== null">
                            <button-value [Buttontext]="'Fachbereich'" [Wert_A]="Pool.Fachbereich.GetFachbereichbyKey(DB.CurrentProjektpunkt.Fachbereich).Bezeichnung" (ButtonClicked)="FachbereichClicked.emit()"></button-value>
                          </ion-col>
                        </ion-row>
                      </ion-grid>

                    </td>
                    <td style="width: 50%" valign="bottom">

                      <ion-grid>
                        <ion-row>
                          <ion-col size="6">
                            <button-value  *ngIf="DB.CurrentProjektpunkt.Status !== Const.Projektpunktstatustypen.Protokollpunkt.Name" [Buttontext]="'Priorität'"
                                          [Wert_A]="DB.GetProjektpunktPrioritaetByName(DB.CurrentProjektpunkt.Prioritaet).Displayname" [Buttoncolor]="Basics.Farben.Burnicklbraun"
                                          [Buttonvaluecolor]="DB.GetPrioritaetcolor(DB.CurrentProjektpunkt)" (ButtonClicked)="PrioritaetClicked.emit()">
                            </button-value>
                          </ion-col>
                        </ion-row>
                        <ion-row>

                          <ion-col size="6">
                            <button-value [Buttontext]="'Status'"
                                          [Wert_A]="DB.GetProjektpunktstusByName(DB.CurrentProjektpunkt.Status).Displayname" [Buttoncolor]="Basics.Farben.Burnicklbraun"
                                          [Buttonvaluecolor]="DB.GetLOPStatuscolor(DB.CurrentProjektpunkt)" [Enabled]="StatusbuttonEnabled" (ButtonClicked)="StatusClicked.emit()">
                            </button-value>
                          </ion-col>
                        </ion-row>

                      </ion-grid>

                    </td>
                  </tr>
                </table>

              </ion-col>
            </ion-row>

            <ion-row *ngIf="DB.CurrentProjektpunkt.Status !== Const.Projektpunktstatustypen.Protokollpunkt.Name">
              <ion-col size="6">
                <button-value [Buttontext]="'Gebäudeteil'"
                              [Wert_A]="DBGebaeude.GetGebaeudeteilname(DBProjekt.CurrentProjekt, DB.CurrentProjektpunkt)" (ButtonClicked)="GebaeudeteilClicked.emit()"></button-value>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="3">

                <table class="paddingsmalltable">
                  <tr>
                    <td colspan="2">
                      <ion-text color="baeblau"><b>Zuständige Firma</b></ion-text>
                    </td>
                  </tr>
                  <tr *ngFor="let Firma of DBProjekt.CurrentProjekt.Firmenliste">
                    <td>
                      <checkbox-clon [Checked]="FirmaIsChecked(Firma.FirmenID)" (CheckChanged)="FirmaCheckChanged($event, Firma.FirmenID)"></checkbox-clon>
                    </td>
                    <td>
                      {{Firma.Firma}}
                    </td>
                  </tr>
                </table>

                <!--

                <input-clone [MinHeight]="44" [Lines]="GetLinienanzahl()"
                             [Clickable]="true" [Enabled]="false" Titel="Zuständig Extern" [Value]="GetZustaendigExternListe()" (click)="ZustaendigExternClicked.emit()"></input-clone>
                             -->
              </ion-col>

              <ion-col size="3">
                <table class="paddingsmalltable">
                  <tr>
                    <td colspan="2">
                      <ion-text color="baeblau"><b>Zuständig bei BAE</b></ion-text>
                    </td>
                  </tr>
                  <tr *ngFor="let MitarbeiterID of DBProjekt.CurrentProjekt.MitarbeiterIDListe">
                    <td>
                      <checkbox-clon [Checked]="MitarbeiterIsChecked(MitarbeiterID)" (CheckChanged)="MitarbeiterCheckChanged($event, MitarbeiterID)"></checkbox-clon>
                    </td>
                    <td>
                      {{GetMitarbeiterName(MitarbeiterID)}}
                    </td>
                  </tr>
                </table>
                <!--
                <input-clone [MinHeight]="44" [Lines]="GetLinienanzahl()"
                             [Clickable]="true" [Enabled]="false" Titel="Zuständig Intern" [Value]="GetZustaendigInternListe()"
                             (click)="ZustaendigInternClicked.emit()"></input-clone>
                             -->
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text color="baeblau"><b>Thematik</b></ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col [size]="3">
                <input-clone Titel="Thematik" [MinLength]="3" [MaxLength]="250" [(Value)]="DB.CurrentProjektpunkt.Thematik" (TextChanged)="TextChangedHandler()"></input-clone>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text color="baeblau"><b>Beschreibung</b></ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">

                  <ion-textarea [value]="DB.CurrentProjektpunkt.Aufgabe" auto-grow style="border: 1px solid #444444; min-height: 140px" (ionInput)="AufgabeTextChangedHandler($event)"></ion-textarea>

              </ion-col>
            </ion-row>

          </ion-grid>

          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-text color="baeblau"><b>{{DB.CurrentProjektpunkt.Anmerkungenliste.length > 1 ? 'Anmerkungen' : 'Anmerkung'}}</b></ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>

                <table class="paddingsmalltable" width="100%">
                  <tr *ngFor="let Eintrag of DB.CurrentProjektpunkt.Anmerkungenliste; let i = index">
                    <td style="width: 120px">
                      <button-value-date-small
                        [Buttontext]="GetAnmerkungdatum(Eintrag.Zeitstempel, i)" [Datum]="GetAnmerkungDatum(Eintrag)" [ElementID]="'anmerkungdatum_' + i.toString()" (TimeChanged)="AnmerkungTimeChanged($event, i)">
                      </button-value-date-small>
                    </td>
                    <td style="width: 200px;">
                      <ion-button expand="full" size="small" color="burnicklbraun" (click)="AnerkungVerfassernClicked.emit(Eintrag)">{{GetAnmerkungVerfasser(Eintrag, i)}}</ion-button>
                    </td>
                    <td style="width: auto">
                      <ion-textarea  [autoGrow]="true" style="border: 1px solid black; border-radius: 4px; margin: 0px" (ionChange)="AnmerkungTextChangedHandler($event, i)" [value]="Eintrag.Anmerkung"></ion-textarea>
                    </td>
                    <td style="width: 50px"><ion-button (click)="DeleteAnmerkungClicked(i)" color="rot" size="small"><ion-icon name="trash"></ion-icon></ion-button></td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <ion-button size="small" color="burnicklgruen" (click)="AddAnmerkungClicked()">
                        <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
                      </ion-button>
                    </td>
                  </tr>

                </table>


              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text color="baeblau"><b>{{DB.CurrentProjektpunkt.Bilderliste.length > 1 ? 'Bilder' : 'Bild'}}</b></ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>



                <table>
                  <tr *ngFor="let Zeilenliste of Thumbnailliste; let Zeilenindex = index">
                    <ng-container *ngFor="let Thumb of Zeilenliste; let Thumbnailindex = index">
                      <td style="cursor: pointer;">
                        <ng-container *ngIf="Thumb !== null">


                          <table *ngIf="Thumb.weburl !== null">
                            <tr>
                              <td style="padding: 2px">
                                <img *ngIf="Thumb !== null" [src]="Thumb.largeurl" [style.width.px]="Thumbbreite"/>
                              </td>
                            </tr>
                            <tr>
                              <td style="font-size: 90%">{{Thumb.filename}}</td>
                            </tr>
                          </table>

                          <table *ngIf="Thumb.weburl === null">
                            <tr>
                              <td style="padding: 2px">
                                <div style="border: 1px solid gray; font-size: 80%; min-height: 120px;" [style.width.px]="Thumbbreite">
                                  <table width="100%">
                                    <tr>
                                      <td style="text-align: center">
                                        Bild nicht<br>gefunden
                                      </td>
                                    </tr>
                                    <tr>
                                      <td align="center">
                                        <ion-icon (click)="DeleteThumbnailClicked($event, Thumb, Zeilenindex, Thumbnailindex)" name="trash" color="rot" slot="icon-only"></ion-icon>
                                      </td>
                                    </tr>
                                  </table>
                                </div>
                              </td>
                            </tr>
                          </table>

                        </ng-container>

                      </td>
                    </ng-container>
                  </tr>
                  <tr>
                    <td colspan="30">
                      <ion-button size="small" color="burnicklgruen" (click)="AddBildEvent.emit()">
                        <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
                      </ion-button>
                    </td>
                  </tr>
                </table>


              </ion-col>
            </ion-row>

            <ion-row *ngIf="DB.CurrentProjektpunkt._id !== null">
              <ion-col>

                <table>
                  <tr>
                    <td><checkbox-clon [Checked]="DeleteEnabled" (CheckChanged)="CanDeleteCheckedChanged($event)"></checkbox-clon></td>
                    <td style="width: 6px"></td>
                    <td>
                      <ion-button size="small" color="rot" [disabled]="!DeleteEnabled" (click)="DeleteButtonClicked()">
                        <ion-icon name="trash-outline" style="font-size: 20px"></ion-icon>
                        <ion-text>Eintrag löschen</ion-text>
                      </ion-button>
                    </td>
                  </tr>
                </table>

              </ion-col>
            </ion-row>

          </ion-grid>

        </div>


      </ion-content>

      <ion-footer>
        <page-footer>
          <table class="paddingsmalltable" width="100%">
            <tr>
              <td>
                <div class="rootbuttonclass" (click)="CancelButtonClicked()">
                  <ion-icon style="font-size: 28px" color="weiss" name="close-outline"></ion-icon>
                </div>
              <td style="width: 100%"></td>
              <td>

                <div class="rootbuttonclass" (click)="Valid === true ? OkButtonClicked() : null">
                  <ion-icon style="font-size: 28px" [color]="Valid === true ? 'weiss' : 'grau'" name="save-outline"></ion-icon>
                </div>
              </td>
            </tr>
          </table>
        </page-footer>
      </ion-footer>

    </div>
  </div>
</div>






