.projecticonclass {

  height: 34px;
  width: 34px;
  border-radius: 4px;
  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
}

.keeperdiv {

  width:      100%;
  height:     100%;
  // background: red;
  display: flex;
  flex-direction: column;
}

.rootbuttonclass {

  cursor: pointer;
  min-width: 32px;
  min-height: 32px;
  display: flex;
  justify-content: flex-end; // horizontal
  align-items: center; // vertikal
}

.listeheaderdiv {

  width: 100%;
  height: 116px;
  background: white;
  z-index: 10;
}

.listediv {

  width: 100%;
  height: 100%;
  // background: green;
  overflow: auto;
  z-index: 1;
}

.meilensteinclass {

  border-radius: 50%;
  border: 1px solid black;
  width: 22px;
  height: 22px;
}


.aufgabeclass {

  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  min-width: 300px;
}

.aufgabeclass:hover {

  color: #0A63C9;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.aufgabeunusedclass {

  color: red;
  font-weight: bold;
  text-decoration: line-through;
  cursor: pointer;
}

.progresskeeperclass {

  width: 120px;
  height: 24px;
  position: relative;
  border: 1px solid gray;
  border-radius: 4px;
  background: gray;
}
.progressinnerclass {

  z-index: 1;
  position: absolute;
  border-radius: 4px;
  background: green;
  top: 1px;
  bottom: 1px;
  left: 1px;
  width: 90px;
  font-size: 90%;
}

.progressinnertextclass {

  z-index: 2;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 0px;
  width: 120px;
  height: 24px;
  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
}


.notopbordercellclass {

  border-top-style: hidden !important;
}

.hoverdivclass {
  background: white;
  width:      100%;
  height:     100%;
  color:      black;
  padding:    2px;
  display:    flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
}

.hoverdivclass:hover {
  background: #7b6a58;
  color:      white;
  cursor:     pointer;
  padding:    2px;
  width:      100%;
  height:     100%;
}

.projektbuttoniconclass {

  height: 90px;
  width: 100px;
  z-index: 100;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

}.projektbuttoniconerrorclass {

   height: 90px;
   width: 100px;
  z-index: 200;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}


.trennerdiv {

  width: 100px;
  height: 10px;
  border-radius: 4px;
  margin: 6px;
}

.trennerdivclass {

  width: 1px;
  min-height: 30px;
  height: 100%;
  background: silver;
}

.buttonclass {

  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
  border: 2px solid gray;
  border-radius: 10px;
  width: 160px;
  height: 140px;
  cursor: pointer;
  background: white;
}

.changelogdiv {

  border: 2px solid gray;
  border-radius: 10px;
  width: 360px;
  height: 300px;
  position: absolute;
  padding: 8px;
  left: 20px;
  bottom: 20px;
  background: white;
  z-index: 1000;
  overflow: auto;
}

.outputdiv {

  border: 2px solid gray;
  border-radius: 10px;
  width: 500px;
  height: 600px;
  position: absolute;
  position: absolute;
  padding: 8px;
  left: 20px;
  top: 560px;
  background: white;
  z-index: 1000;
  overflow: auto;
}

.userimagesmall {

  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: 4px;
  border-radius: 50%;
  object-fit: cover;
}

.userimage {

  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.userkuerzelsmall {

  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 4px;
  border-radius: 50%;
  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
  color: white;
  font-weight: bold;
}

.buttonbigclass {

  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
  border: 2px solid gray;
  border-radius: 10px;
  width: 220px;
  height: 220px;
  cursor: pointer;
  background: white;
}

.favlistedivclass {

  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
  border: 2px solid gray;
  border-radius: 10px;
  width: 400px;
  cursor: pointer;
  background: white;
  overflow: auto;
}

.menubuttonclass {

  display: flex;
  justify-content: flex-start; // horizontal
  align-items: center; // vertikal
  width: 100%;
  min-height: 50px;
  padding: 2px;
}

