<ion-header>
  <page-header #PageHeader>
    <page-header-menu
      (PlanungsmatrixLeistungsphaseClicked)="PlanungsmatrixLeistungsphaseHandler()"
      (ShowProjektfilesEvent)="ShowProjektfilesHandler()"
      (ShowProjektauswahlEvent)="ShowProjektauswahlEventHandler($event)">
    </page-header-menu>
  </page-header>
</ion-header>
<ion-content>

  <div class="keeperdiv" *ngIf="DBProjekte.CurrentProjekt !== null">
    <div class="listeheaderdiv">

      <table class="nobordertable">
        <tr>
          <td>
            <div class="projecticonclass" [style.background]="DBProjekte.GetProjektfarbeByProjekt(DBProjekte.CurrentProjekt)"></div>
          </td>
          <td>
            <ion-text color="baeblau" style="font-size: 120%"><b>{{DBProjekte.CurrentProjekt.Projektname}} {{GetLeistungsphasenTitel()}}</b></ion-text>
          </td>
        </tr>
      </table>

      <table style="width: 100%" class="paddingtable">
        <tr>
          <td align="center">

            <table class="docinnertable">
              <tr style="height: 60px">
                <td [style.width.px]="Zahlenzellebreite"><b>Nr.</b></td>
                <td [style.width.px]="Bezeichnungbreite"><b>Bezeichnung</b></td>
                <ng-container  *ngFor="let Kostengruppe of DB.Kostengruppenliste">
                  <td *ngIf="Kostengruppe.Display === true" [style.width.px]="Spaltenbreite" align="center">
                    <b>
                      {{Kostengruppe.Bezeichnung}}
                    </b>
                    <br>
                    KG {{Kostengruppe.Kostengruppennummer}}
                  </td>
                </ng-container>
              </tr>
            </table>
          </td>
        </tr>
      </table>

    </div>
    <div class="listediv">

      <table style="width: 100%" class="paddingtable">
        <tr>
          <td align="center">

            <table class="docinnertable">

              <!-- Aufgabenbereiche -->

              <ng-container *ngFor="let Bereich of Aufgabenbereicheliste">
                <tr *ngIf="Bereich.Leistungsphasen.indexOf(Leistungsphase) !== -1">
                  <td [style.width.px]="Zahlenzellebreite">{{Bereich.Nummer[Leistungsphase - 1]}}</td>
                  <td [style.width.px]="Bezeichnungbreite">{{Bereich.Bezeichnung}}<br>{{Bereich.Information[Leistungsphase - 1]}}</td>
                  <ng-container [ngSwitch]="Bereich.id">

                    <ng-container *ngSwitchCase="'ziel'">
                      <ng-container  *ngFor="let Kostengruppe of DB.Kostengruppenliste">
                        <td *ngIf="Kostengruppe.Display === true" align="center" [style.width.px]="Spaltenbreite">
                          <ng-container *ngIf="DBProjekte.CurrentProjekt.DisplayBeschreibungen === true">
                            {{DB.Zielvorgabentextliste[Leistungsphase][Kostengruppe.Kostengruppennummer]}}
                          </ng-container>
                        </td>
                      </ng-container>
                    </ng-container>

                    <ng-container *ngSwitchCase="'berech'">
                      <ng-container  *ngFor="let Kostengruppe of DB.Kostengruppenliste">
                        <td *ngIf="Kostengruppe.Display === true" align="center">
                          <ng-container *ngIf="DBProjekte.CurrentProjekt.DisplayBeschreibungen === true">
                            {{DB.Berechnungentextliste[Leistungsphase][Kostengruppe.Kostengruppennummer]}}
                          </ng-container>
                        </td>
                      </ng-container>
                    </ng-container>

                    <ng-container *ngSwitchCase="'bemess'">
                      <ng-container  *ngFor="let Kostengruppe of DB.Kostengruppenliste">
                        <td *ngIf="Kostengruppe.Display === true" align="center">
                          <span *ngIf="DBProjekte.CurrentProjekt.DisplayBeschreibungen === true"
                            [innerHTML]="DB.Bemessungentextliste[Leistungsphase][Kostengruppe.Kostengruppennummer]">
                          </span>
                        </td>
                      </ng-container>
                    </ng-container>

                    <ng-container *ngSwitchCase="'schema'">
                      <ng-container  *ngFor="let Kostengruppe of DB.Kostengruppenliste">
                        <td *ngIf="Kostengruppe.Display === true" align="center">
                          <ng-container *ngIf="DBProjekte.CurrentProjekt.DisplayBeschreibungen === true">
                            {{DB.Schematatextliste[Leistungsphase][Kostengruppe.Kostengruppennummer]}}
                          </ng-container>
                        </td>
                      </ng-container>
                    </ng-container>

                    <ng-container *ngSwitchCase="'plaene'">
                      <ng-container  *ngFor="let Kostengruppe of DB.Kostengruppenliste">
                        <td *ngIf="Kostengruppe.Display === true" align="center">
                          <ng-container *ngIf="DBProjekte.CurrentProjekt.DisplayBeschreibungen === true">
                            {{DB.Plaenetextliste[Leistungsphase][Kostengruppe.Kostengruppennummer]}}
                          </ng-container>
                        </td>
                      </ng-container>
                    </ng-container>

                    <ng-container *ngSwitchCase="'koord'">
                      <ng-container  *ngFor="let Kostengruppe of DB.Kostengruppenliste">
                        <td *ngIf="Kostengruppe.Display === true" align="center">
                          <ng-container *ngIf="DBProjekte.CurrentProjekt.DisplayBeschreibungen === true">
                            {{DB.Koordinationtextliste[Leistungsphase][Kostengruppe.Kostengruppennummer]}}
                          </ng-container>
                        </td>
                      </ng-container>
                    </ng-container>

                    <ng-container *ngSwitchCase="'bauangaben'">
                      <ng-container  *ngFor="let Kostengruppe of DB.Kostengruppenliste">
                        <td *ngIf="Kostengruppe.Display === true" align="center">
                          <ng-container *ngIf="DBProjekte.CurrentProjekt.DisplayBeschreibungen === true">
                            {{DB.Bauangabentextliste[Leistungsphase][Kostengruppe.Kostengruppennummer]}}
                          </ng-container>
                        </td>
                      </ng-container>
                    </ng-container>

                    <ng-container *ngSwitchCase="'erbe'">
                      <ng-container  *ngFor="let Kostengruppe of DB.Kostengruppenliste">
                        <td *ngIf="Kostengruppe.Display === true" align="center">
                          <ng-container *ngIf="DBProjekte.CurrentProjekt.DisplayBeschreibungen === true">
                            {{DB.Erlaeuterungtextliste[Leistungsphase][Kostengruppe.Kostengruppennummer]}}
                          </ng-container>
                        </td>
                      </ng-container>
                    </ng-container>

                    <ng-container *ngSwitchCase="'kosten'">
                      <ng-container  *ngFor="let Kostengruppe of DB.Kostengruppenliste">
                        <td *ngIf="Kostengruppe.Display === true" align="center">
                          <ng-container *ngIf="DBProjekte.CurrentProjekt.DisplayBeschreibungen === true">
                            {{DB.Kostentextliste[Leistungsphase][Kostengruppe.Kostengruppennummer]}}
                          </ng-container>
                        </td>
                      </ng-container>
                    </ng-container>

                  </ng-container>
                </tr>

                <!-- Aufgabenteilbereiche -->

                <ng-container *ngFor="let Teilaufgabe of Bereich.Teilaufgabenbereiche[Leistungsphase]">

                  <tr>
                    <td class="notopbordercellclass"></td>
                    <td class="notopbordercellclass" valign="top" *ngIf="Teilaufgabe[0].Bezeichnung" [innerHTML]="Teilaufgabe[0].Bezeichnung"></td>
                    <ng-container  *ngFor="let Kostengruppe of DB.Kostengruppenliste">
                      <td class="notopbordercellclass" *ngIf="Kostengruppe.Display === true" valign="top">
                        <table class="nobordertable" style="width: 100%">
                          <tr *ngIf="DBProjekte.CurrentProjekt.DisplayBeschreibungen">
                            <td>
                              <div (click)="TeilaufgabeClicked(Teilaufgabe[Kostengruppe.Kostengruppennummer], Kostengruppe.Kostengruppennummer, Leistungsphase)"
                                   *ngIf="Teilaufgabe[Kostengruppe.Kostengruppennummer].id !== Const.NONE"
                                   [innerHTML]="Teilaufgabe[Kostengruppe.Kostengruppennummer].Beschreibung" class="hoverdivclass">
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <table>
                                <ng-container *ngFor="let Punkt of Displayliste[Bereich.id][Kostengruppe.Kostengruppennummer][Teilaufgabe[Kostengruppe.Kostengruppennummer].id]">
                                  <tr *ngIf="CheckPrintPunkt(Punkt)">
                                    <td><checkbox-clon (CheckChanged)="TeilaufgabenpunktCheckedChanged($event, Punkt)" [Checked]="Punkt.Status === Const.Projektpunktstatustypen.Geschlossen.Name"></checkbox-clon></td>
                                    <td *ngIf="Punkt.Matrixanwendung" class="aufgabeclass"
                                        [style.color]="Punkt.Status === Const.Projektpunktstatustypen.Geschlossen.Name ? 'green' : '#0A63C9'" (click)="EintragClicked(Punkt)">
                                      {{Punkt.Aufgabe}}
                                    </td>
                                    <td *ngIf="!Punkt.Matrixanwendung && DBProjekte.CurrentProjekt.DisplayUngenutzte" class="aufgabeunusedclass" (click)="EintragClicked(Punkt)">
                                      {{Punkt.Aufgabe}}
                                    </td>
                                    <td>
                                      <div *ngIf="Punkt.Fortschritt > 0" class="progresskeeperclass">
                                        <div class="progressinnerclass" [style.width.px]="Punkt.Fortschritt * 1.2"></div>
                                        <div class="progressinnertextclass">{{Punkt.Fortschritt}}%</div>
                                      </div>
                                    </td>

                                  </tr>
                                </ng-container>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </ng-container>
                  </tr>

                </ng-container>
              </ng-container>

            </table>
          </td>
        </tr>
      </table>

      <abstand-element-fixed></abstand-element-fixed>


    </div>
  </div>



</ion-content>
<ion-footer>
<page-footer #PageFooter>
  <table class="paddingsmalltable" width="100%" *ngIf="DBProjekte.CurrentProjekt !== null && DBProjekte.CurrentProjekt.Projektkey === 'Musterprojekt' && Matrixpunkteanzahl > 0">
    <tr>
      <td align="right">

        <div class="rootbuttonclass" (click)="CopyPlanungsmatrixClicked()">
          <table border="0">
            <tr>
              <td style="width: 160px">
                <ion-text color="weiss">Planungsmatrix kopieren</ion-text>
              </td>
              <td>
                <ion-icon style="font-size: 28px" color="weiss" name="copy"></ion-icon>
              </td>
            </tr>
          </table>
        </div>

      </td>
    </tr>
  </table>

</page-footer>
</ion-footer>

<auswahl-dialog *ngIf="ShowAuswahl" [Auswahlliste]="Auswahlliste" [Auswahlindex]="Auswahlindex"
                [Dialogbreite]="200" [Dialoghoehe]="200" [PositionY]="200"
                [Titel]="Auswahltitel" [Iconname]="''"
                (OkClickedEvent)="AuswahlOkButtonClicked($event)"
                (CancelClickedEvent)="ShowAuswahl = false"></auswahl-dialog>

<pj-planungsmatrixeintrag-editor *ngIf="ShowEditor"
                                 [Iconname]="'create'"
                                 [Dialogbreite]="600"
                                 [Dialoghoehe]="400"
                                 [PositionY]="100" (FortschrittClickedEvent)="FortschrittClickedEventHandler()"
                                 [Titel]="GetEditortitel()" (CancelClickedEvent)="ShowEditor = false" (OkClickedEvent)="ShowEditor = false">
</pj-planungsmatrixeintrag-editor>


<pj-projekte-schnellauswahl *ngIf="ShowProjektschnellauswahl"
                            [ZIndex]="5000"
                            [Dialogbreite]="800"
                            [Titel]="'Projektauswahl'" [Iconname]="'star-outline'"
                            (ProjektClickedEvent)="ProjektSchnellauswahlProjektClickedEventHandler($event)"
                            (CancelClickedEvent)="ShowProjektschnellauswahl = false"
                            (OkClickedEvent)="ShowProjektschnellauswahl = false">
</pj-projekte-schnellauswahl>

