#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.tagebuchdivclass:hover {

  background: silver;
}

.maildivclass {

  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.tagebuchdivclass {

  // padding: 4px;
  background: white;
  border-radius: 3px;
  width: 100%;
  min-height: 36px;
  height: 100%;
  display: flex;
  justify-content: flex-start; // horizontal
  align-items: center; // vertikal
  cursor: pointer;
  padding: 4px;
  // border-radius: 3px;
}

.projecticonclass {

  height: 34px;
  width: 34px;
  border-radius: 4px;
  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.keineintragclass {

  width: 100%;
  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
  font-weight: bold;
  font-size: 120%;
  padding-left: 8px; padding-right: 8px;
}
