
  <div *ngIf="Pool.Mitarbeitersettings !== null" class="frameclass">


    <table class="paddingsmalltable" width="100%">
      <tr>
        <td colspan="8" style="font-size: 120%; font-weight: bold; color: black; text-align: center;">
          {{GetMonatname()}}
        </td>
      </tr>
      <tr>
        <td style="width: 12%"><div class="tagrahmenclass"><div class="taginfodivclass">KW</div></div></td>
        <td style="width: 12%"><div class="tagrahmenclass"><div class="taginfodivclass">Mo</div></div></td>
        <td style="width: 12%"><div class="tagrahmenclass"><div class="taginfodivclass">Di</div></div></td>
        <td style="width: 12%"><div class="tagrahmenclass"><div class="taginfodivclass">Mi</div></div></td>
        <td style="width: 12%"><div class="tagrahmenclass"><div class="taginfodivclass">Do</div></div></td>
        <td style="width: 12%"><div class="tagrahmenclass"><div class="taginfodivclass">Fr</div></div></td>
        <td style="width: 12%"><div class="tagrahmenclass"><div class="taginfodivclass">Sa</div></div></td>
        <td style="width: 12%"><div class="tagrahmenclass"><div class="taginfodivclass">So</div></div></td>
      </tr>
      <tr *ngFor="let Tageliste of Kalendertageliste; let Wocheindex = index">
        <td valign="top">
          <div class="tagrahmenclass">
            <div class="kwinfodivclass">{{Tageliste[Wocheindex].Kalenderwoche}}</div>
            <div *ngIf="DB.ShowFerientage_DE" class="taginfospacedivclass"></div>
            <div *ngIf="DB.ShowFerientage_BG" class="taginfospacedivclass"></div>
            <div *ngIf="DB.ShowFeiertage_DE"  class="taginfospacedivclass"></div>
            <div *ngIf="DB.ShowFeiertage_BG"  class="taginfospacedivclass"></div>

            <ng-container *ngFor="let item of [].constructor(GetMaxExternUrlaubseintraege(Tageliste[Wocheindex].Kalenderwoche)); let i = index">
              <div class="taginfospacedivclass"></div>
            </ng-container>

          </div>
        </td>
        <td *ngFor="let Tag of Tageliste; let Tagindex = index" [style.color]="Tag.Hauptmonat === true ? 'black' : 'darkgray'" align="center" valign="top">
          <ng-container *ngIf="Tagindex >= 5">
            <div class="tagrahmenclass">
              <div class="wochenendedivclass">{{Tag.Tagnummer}}</div>
              <div  *ngIf="DB.ShowFerientage_DE" class="wochenendespacedivclass"></div>
              <div  *ngIf="DB.ShowFerientage_BG" class="wochenendespacedivclass"></div>
              <div  *ngIf="DB.ShowFeiertage_DE"  class="wochenendespacedivclass"></div>
              <div  *ngIf="DB.ShowFeiertage_BG"  class="wochenendespacedivclass"></div>

              <ng-container *ngFor="let item of [].constructor(GetMaxExternUrlaubseintraege(Tageliste[Wocheindex].Kalenderwoche)); let i = index">
                <div class="wochenendespacedivclass"></div>
              </ng-container>

            </div>
          </ng-container>
          <ng-container *ngIf="Tagindex < 5">
            <ng-container *ngIf="Tag.Hauptmonat === true && Pool.Mitarbeitersettings !== null">
              <div
                (click)="TagClicked($event, Tag, Wocheindex, Tagindex)" class="tagrahmenclass">
                <div class="tagdivclass"
                     [style.background]="GetTagBackground(Tag)"
                     [style.color]="Pool.Mitarbeitersettings.UrlaubShowMeinenUrlaub ? Tag.Color : 'black' || Pool.Mitarbeitersettings.ShowHomeoffice ? Tag.Color : 'black'">
                  <table>
                    <tr>
                      <td style="text-align: center">{{Tag.Tagnummer}}</td>
                    </tr>
                    <tr *ngIf="Tag.IsHalberUrlaubstag">
                      <td style="text-align: center">H</td>
                    </tr>
                    <tr *ngIf="Tag.IsHomeoffice && Pool.Mitarbeitersettings.ShowHomeoffice">
                      <td style="text-align: center">HO</td>
                    </tr>
                  </table>
                </div>

                <div *ngIf="DB.ShowFerientage_DE"
                     (mouseenter)="FerientagMouseOverEvent(Tag, 'DE')"
                     (mouseleave)="FerientagCrossedEvent.emit({Name: '', Laendercode: ''})"
                     class="feriendivclass" [style.background]="Tag.IsFerientag_DE ? DB.Ferienfarbe_DE : Tag.Background">
                  <ion-icon *ngIf="Tag.IsFerientag_DE" name="school-outline" color="weiss" style="font-size: 18px"></ion-icon>
                </div>
                <div *ngIf="DB.ShowFerientage_BG"
                     (mouseenter)="FerientagMouseOverEvent(Tag, 'BG')"
                     (mouseleave)="FerientagCrossedEvent.emit({Name: '', Laendercode: ''})"
                     class="feriendivclass" [style.background]="Tag.IsFerientag_BG ? DB.Ferienfarbe_BG : Tag.Background">
                  <ion-icon *ngIf="Tag.IsFerientag_BG" name="school-outline" color="gelb" style="font-size: 18px"></ion-icon>
                </div>
                <div *ngIf="DB.ShowFeiertage_DE"
                     (mouseenter)="FeietragMouseOverEvent(Tag, 'DE')"
                     (mouseleave)="FeiertagCrossedEvent.emit({Name: '', Laendercode: ''})"
                     class="feiertagdivclass" [style.background]="Tag.IsFeiertag_DE ? DB.Feiertagefarbe_DE : Tag.Background">
                  <ion-icon *ngIf="Tag.IsFeiertag_DE" name="flag-outline" color="weiss" style="font-size: 18px"></ion-icon>
                </div>
                <div *ngIf="DB.ShowFeiertage_BG"
                     (mouseenter)="FeietragMouseOverEvent(Tag, 'BG')"
                     (mouseleave)="FeiertagCrossedEvent.emit({Name: '', Laendercode: ''})"
                     class="feiertagdivclass" [style.background]="Tag.IsFeiertag_BG ? DB.Feiertagefarbe_BG : Tag.Background">
                  <ion-icon *ngIf="Tag.IsFeiertag_BG" name="flag-outline" color="gelb" style="font-size: 18px"></ion-icon>
                </div>

                <ng-container *ngFor="let ExternKalender of KalendertageExternliste;">

                  <ng-container *ngIf="!lodash.isUndefined(ExternKalender[Wocheindex]) && !lodash.isUndefined(ExternKalender[Wocheindex][Tagindex])">

                    <div *ngIf="ExternKalender[Wocheindex][Tagindex].IsUrlaub" class="tagexterndivclass"
                         [style.background]="ExternKalender[Wocheindex][Tagindex].Background"
                         (click)="ExternUrlaubstagClicked($event, ExternKalender[Wocheindex][Tagindex].MitarbeiterID)">
                      {{ExternKalender[Wocheindex][Tagindex].Kuerzel}}
                    </div>

                    <div *ngIf="ExternKalender[Wocheindex][Tagindex].IsHomeoffice && Pool.Mitarbeitersettings.ShowHomeoffice" class="tagexterndivclass"
                         [style.background]="ExternKalender[Wocheindex][Tagindex].Background">
                      {{ExternKalender[Wocheindex][Tagindex].Kuerzel}} | HO
                    </div>

                  </ng-container>


                </ng-container>

              </div>
            </ng-container>
            <ng-container *ngIf="Tag.Hauptmonat === false">
              {{Tag.Tagnummer}}
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </table>
  </div>















