<ion-header class="ion-no-border">
  <page-header #PageHeader>
    <page-header-menu
      [Filterorigin]="Auswahlservice.Auswahloriginvarianten.Aufgabenliste_Zeitfilter"
      (ShowProjektauswahlEvent)="ShowProjektauswahlEventHandler()"
      (ShowProjektfilesEvent)="ShowProjektfilesHandler()">
    </page-header-menu>
  </page-header>
</ion-header>
<ion-content>

  <div *ngIf="DBProjekte.CurrentProjekt !== null" style="padding: 4px; width: 100%">

    <ion-radio-group [value]="DB.CurrentLeistungsphase" (ionChange)="ListeLeistungsphaseChangedHandler($event)">

      <table *ngIf="DB.Leistungsphasenliste.length > 0" class="docinnertable" width="100%">
        <tr>
          <td style="width: 50px; height: 32px;"><b>LPH</b></td>
          <td style="width: 350px;"><b>Anlagengruppe</b></td>
          <!--
          <td style="width: 160px;"><b>Anrechenbare Kosten</b></td>
          -->
          <td style="width: 240px;"><b>Basishonorar</b></td>
          <td style="width: 200px;"><b>Umbauzuschlag</b></td>
          <td style="width: 500px;"><b>Besondere Leistung</b></td>
          <td style="width: 240px;"><b>Grundhonorar</b></td>
          <td style="width: 200px;"><b>Nebenkosten</b></td>
          <td style="width: 240px;"><b>Gesamthonorar</b></td>
          <td style="width: auto"></td>

        </tr>
        <ng-container *ngFor="let Leistungsphase of DB.Leistungsphasenliste; let phasenindex = index">
          <tr>
            <td colspan="9" style="padding: 0px; !important;">
              <div class="leistungsphaseheader" (click)="ListeLeistungsphaseClickedHandler(Leistungsphase)">
                <table  class="nobordertable">
                  <tr>
                    <td><ion-radio [value]="Leistungsphase" [color]="'weiss'" style="--color: white;"></ion-radio></td>
                    <td>{{Leistungsphase}}</td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>

        <ng-container *ngIf="DB.DisplayLeistungsphaseliste[phasenindex] === true">

          <tr>
            <td colspan="9">
              <ion-text color="baeblau" style="font-size: 120%"><b>Honorarübersicht</b></ion-text>
            </td>
          </tr>
          <ng-container *ngFor="let Tabelle of DB.CurrentSimontabellenliste[Leistungsphase]; let i = index">
            <tr>
              <td></td>
              <td>
                <div (click)="SimontabelleClicked($event, Tabelle)" class="simontabelleeintragdiv">
                  {{Tabelle.Anlagengruppe}}. {{DB.GetAnlagengruppeByNummer(Tabelle.Anlagengruppe).Name}}
                </div>
              </td>
              <td style="text-align: right">

                <table class="nobordersmalltable" style="width: 100%">
                  <tr>
                    <td style="text-align: right; width: 50%">
                      {{Tools.FormatCurrency(Tabelle.Nettobasishonorar)}}
                    </td>
                    <td style="text-align: right; color: green; width: 50%">
                      {{Tools.FormatCurrency(DB.AddMehrwertsteuer(Tabelle.Nettobasishonorar))}}
                    </td>
                  </tr>
                </table>


              </td>
              <td>

                <table class="nobordersmalltable" style="width: 100%">
                  <tr>
                    <td style="text-align: right; width: 50%">
                      {{Tools.FormatCurrency(Tabelle.Nettoumbauzuschlag)}}
                    </td>
                    <td style="text-align: right; color: green; width: 50%">
                      {{Tools.FormatCurrency(DB.AddMehrwertsteuer(Tabelle.Nettoumbauzuschlag))}}
                    </td>
                  </tr>
                </table>

              </td>

              <td style="text-align: center">
                <div (click)="SimontabelleClicked($event, Tabelle)" class="simontabelleeintragdiv">

                  <table class="nobordersmalltable" style="width: 100%">
                    <tr *ngFor="let Leistung of Tabelle.Besondereleistungenliste">
                      <td style="width: auto; text-align: left">
                        {{Leistung.Titel}}
                      </td>
                      <td style="text-align:right; width: 120px;">
                        {{Tools.FormatCurrency(Leistung.Honorar)}}
                      </td>
                      <td style="text-align:right; width: 120px; color: green;">
                        {{Tools.FormatCurrency(DB.AddMehrwertsteuer(Leistung.Honorar))}}
                      </td>
                    </tr>
                  </table>

                </div>

              </td>
              <td>

                <table class="nobordersmalltable" style="width: 100%">
                  <tr>
                    <td style="width: auto; text-align: left"></td>
                    <td style="text-align:right; width: 120px;">
                      {{Tools.FormatCurrency(CalculateGesamthonorar(Tabelle))}}
                    </td>
                    <td style="text-align:right; width: 120px; color: green;">
                      {{Tools.FormatCurrency(CalculateGesamthonorar(Tabelle) * (1 + DB.Steuersatz / 100))}}
                    </td>
                  </tr>
                </table>

              </td>
              <td>

                <table class="nobordersmalltable" style="width: 100%">
                  <tr>
                    <td style="width: auto; text-align: left"></td>
                    <td style="text-align:right; width: 120px;">
                      {{Tools.FormatCurrency(Tabelle.Nettonebenkosten)}}
                    </td>
                    <td style="text-align:right; width: 120px; color: green;">
                      {{Tools.FormatCurrency(DB.AddMehrwertsteuer(Tabelle.Nettonebenkosten))}}
                    </td>
                  </tr>
                </table>


              </td>
              <td>

                <table class="nobordersmalltable" style="width: 100%">
                  <tr>
                    <td style="width: auto; text-align: left"></td>
                    <td style="text-align:right; width: 120px;">
                      {{Tools.FormatCurrency(Tabelle.Nettogesamthonorar)}}
                    </td>
                    <td style="text-align:right; width: 120px; color: green;">
                      {{Tools.FormatCurrency(DB.AddMehrwertsteuer(Tabelle.Nettogesamthonorar))}}
                    </td>
                  </tr>
                </table>


              </td>
              <td style="width: auto;"></td>
            </tr>
            <!--
            <tr>
              <td colspan="100">
                Leistungsphasenanzahl: {{DB.Leistungsphasenanzahlliste[Leistungsphase]}}<br>
                Leistungsphase: {{Leistungsphase}}
                Zeiger i: {{i}}
              </td>
            </tr>
            -->

            <!--
            [phasenindex]
            --->

            <ng-container *ngIf="DB.Summenliste[Leistungsphase] && Tabelle.Leistungsphase === Leistungsphase && DB.Leistungsphasenanzahlliste[Leistungsphase] === (i + 1)">
              <tr style="background: #D7DBDD">
                <td style="text-align: left; font-weight: bold;" colspan="2">
                  Summen
                </td>
                <td style="text-align: right">

                  <table class="nobordersmalltable" style="width: 100%">
                    <tr>
                      <td style="text-align: right; width: 50%">
                        {{Tools.FormatCurrency(DB.Summenliste[Leistungsphase].Nettobasishonorar)}}
                      </td>
                      <td style="text-align: right; color: green; width: 50%">
                        {{Tools.FormatCurrency(DB.AddMehrwertsteuer(DB.Summenliste[Leistungsphase].Nettobasishonorar))}}
                      </td>
                    </tr>
                  </table>


                </td>
                <td style="text-align: right">

                  <table class="nobordersmalltable" style="width: 100%">
                    <tr>
                      <td style="text-align: right; width: 50%">
                        {{Tools.FormatCurrency(DB.Summenliste[Leistungsphase].Nettoumbauzuschlag)}}
                      </td>
                      <td style="text-align: right; color: green; width: 50%">
                        {{Tools.FormatCurrency(DB.AddMehrwertsteuer(DB.Summenliste[Leistungsphase].Nettoumbauzuschlag))}}
                      </td>
                    </tr>
                  </table>


                </td>
                <td style="text-align: center">
                  <!--
                  <div (click)="SimontabelleClicked($event, Tabelle)" class="simontabelleeintragdiv">
                  -->

                    <table class="nobordersmalltable" style="width: 100%">
                      <tr>
                        <td style="width: auto; text-align: left"></td>
                        <td style="text-align:right; width: 120px;">
                          {{Tools.FormatCurrency(DB.Summenliste[Leistungsphase].Nettoleistungssumme)}}
                        </td>
                        <td style="text-align:right; width: 120px; color: green;">
                          {{Tools.FormatCurrency(DB.AddMehrwertsteuer(DB.Summenliste[Leistungsphase].Nettoleistungssumme))}}
                        </td>
                      </tr>
                    </table>

                </td>
                <td>

                  <table class="nobordersmalltable" style="width: 100%">
                    <tr>
                      <td style="width: auto; text-align: left"></td>
                      <td style="text-align:right; width: 120px;">
                        {{Tools.FormatCurrency(DB.Summenliste[Leistungsphase].Nettogrundhonorar)}}
                      </td>
                      <td style="text-align:right; width: 120px; color: green;">
                        {{Tools.FormatCurrency(DB.AddMehrwertsteuer(DB.Summenliste[Leistungsphase].Nettogrundhonorar))}}
                      </td>
                    </tr>
                  </table>

                </td>
                <td>

                  <table class="nobordersmalltable" style="width: 100%">
                    <tr>
                      <td style="width: auto; text-align: left"></td>
                      <td style="text-align:right; width: 120px;">
                        {{Tools.FormatCurrency(DB.Summenliste[Leistungsphase].Nettonebenkosten)}}
                      </td>
                      <td style="text-align:right; width: 120px; color: green;">
                        {{Tools.FormatCurrency(DB.AddMehrwertsteuer(DB.Summenliste[Leistungsphase].Nettonebenkosten))}}
                      </td>
                    </tr>
                  </table>

                </td>
                <td>

                  <table class="nobordersmalltable" style="width: 100%">
                    <tr>
                      <td style="width: auto; text-align: left"></td>
                      <td style="text-align:right; width: 120px;">
                        {{Tools.FormatCurrency(DB.Summenliste[Leistungsphase].Nettogesamthonorar)}}
                      </td>
                      <td style="text-align:right; width: 120px; color: green;">
                        {{Tools.FormatCurrency(DB.Summenliste[Leistungsphase].Bruttogesamthonorar)}}
                      </td>
                    </tr>
                  </table>

                </td>

                <td style="width: auto;"></td>
              </tr>

            </ng-container>
          </ng-container>


          <ng-container *ngFor="let Tabelle of DB.CurrentSimontabellenliste[Leistungsphase]; let i = index">

            <ng-container *ngIf="i === 0">
              <tr>
                <td colspan="9">
                  <ion-text color="baeblau" style="font-size: 120%"><b>Abrechnung</b></ion-text>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <b>Honorar</b>
                </td>
                <td colspan="7" style="padding: 0px !important;">

                  <table class="nobordertable">
                    <tr>
                      <td *ngFor="let Rechnung of Tabelle.Rechnungen" style="width: 248px; border-right: 1px solid black">

                        <table class="nobordersmalltable" width="100%">
                          <tr>
                            <td>
                              <b>{{Rechnung.Nummer}}. AZ</b><br>
                              <span style="font-size: 80%">{{GetRechnungsdatum(Rechnung.Zeitstempel)}}</span>
                            </td>
                            <td align="center">
                              <div class="maildivclass" (click)="SendMailButtonClicked($event, Tabelle, Rechnung)">
                                <ion-icon  name="mail" [color]="Rechnung.GesendetZeitstempel !== null ? 'gruen' : 'rot'"></ion-icon>
                              </div>
                            </td>

                            <ng-container *ngIf="Rechnung.GesendetZeitstempel !== null">
                              <td style="width: 10px"></td>
                              <td style="font-size: 80%; text-align: right">{{Rechnung.GesendetZeitstring}}</td>
                              <td>
                                <div (click)="ShowPdfButtonClicked($event, Tabelle, Rechnung)" class="maildivclass">
                                  <ion-icon  name="document" [color]="Basics.Ionicfarben.BAEBlau"></ion-icon>
                                </div>
                              </td>
                              <td>
                                <div (click)="DownloadPdfButtonClicked($event, Tabelle, Rechnung)" class="maildivclass">
                                  <ion-icon  name="download-outline" [color]="Basics.Ionicfarben.Orange"></ion-icon>
                                </div>
                              </td>
                            </ng-container>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </ng-container>
              <tr>
                <td>

                </td>
                <td>
                  <div (click)="SimontabelleClicked($event, Tabelle)" class="simontabelleeintragdiv">
                    {{Tabelle.Anlagengruppe}}. {{DB.GetAnlagengruppeByNummer(Tabelle.Anlagengruppe).Name}}
                  </div>
                </td>
                <td colspan="7" style="padding: 0px !important;">
                  <table class="nobordertable">
                    <tr>
                      <td *ngFor="let Rechnung of Tabelle.Rechnungen;" style="width: 248px; border-right: 1px solid black">

                        <table class="nobordersmalltable" style="width: 100%">
                          <tr>
                            <td style="width: auto; text-align: left"></td>
                            <td style="text-align:right; width: 120px;">
                              {{Tools.FormatCurrency(DB.CalculateRechnungssumme(Rechnung, Tabelle).Nettogrundhonorar)}}
                            </td>
                            <td style="text-align:right; width: 120px; color: green;">
                              {{Tools.FormatCurrency(DB.AddMehrwertsteuer(DB.CalculateRechnungssumme(Rechnung, Tabelle).Nettogrundhonorar))}}
                            </td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            <!--
            <tr>
              <td colspan="1000">
                CurrentSimontabellenliste Länge:  {{DB.CurrentSimontabellenliste[Leistungsphase].length}}<br>
                Zeiger i: {{i}}

              </td>
            </tr>
            -->
              <tr *ngIf="i === DB.CurrentSimontabellenliste[Leistungsphase].length - 1"  style="background: #D7DBDD">
                <td colspan="2"><b>Honorarsumme</b></td>
                <td colspan="7" style="padding: 0px !important;">
                  <table class="nobordertable">
                    <tr>
                      <td *ngFor="let Rechnung of Tabelle.Rechnungen; let Rechnungsindex = index" style="width: 248px; border-right: 1px solid black">

                        <table class="nobordersmalltable" style="width: 100%">
                          <tr>
                            <td style="width: auto; text-align: left"></td>
                            <td style="text-align:right; width: 120px;">
                              {{Tools.FormatMoney(DB.CalculateSammelrechung(Rechnungsindex).Nettogrundhonorar)}} €
                            </td>
                            <td style="text-align:right; width: 120px; color: green;">
                              {{Tools.FormatMoney(DB.AddMehrwertsteuer(DB.CalculateSammelrechung(Rechnungsindex).Nettogrundhonorar))}} €
                            </td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

          </ng-container>



          <ng-container *ngFor="let Tabelle of DB.CurrentSimontabellenliste[Leistungsphase]; let i = index">

              <tr *ngIf="i === 0">
                <td colspan="2">
                  <b>Nebenkosten</b>
                </td>
                <td colspan="7" style="padding: 0px !important;">
                  <table class="nobordertable">
                    <tr>
                      <td colspan="100"></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>

                </td>
                <td>
                  <div (click)="SimontabelleClicked($event, Tabelle)" class="simontabelleeintragdiv">
                    {{Tabelle.Anlagengruppe}}. {{DB.GetAnlagengruppeByNummer(Tabelle.Anlagengruppe).Name}}
                  </div>
                </td>
                <td colspan="7" style="padding: 0px !important;">
                  <table class="nobordertable">
                    <tr>
                      <td *ngFor="let Rechnung of Tabelle.Rechnungen;" style="width: 248px; border-right: 1px solid black">

                        <table class="nobordersmalltable" style="width: 100%">
                          <tr>
                            <td style="width: auto; text-align: left"></td>
                            <td style="text-align:right; width: 120px;">
                              {{Tools.FormatCurrency(DB.CalculateRechnungssumme(Rechnung, Tabelle).Nettonebenkosten)}}
                            </td>
                            <td style="text-align:right; width: 120px; color: green;">
                              {{Tools.FormatCurrency(DB.AddMehrwertsteuer(DB.CalculateRechnungssumme(Rechnung, Tabelle).Nettonebenkosten))}}
                            </td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

            <ng-container *ngIf="i === DB.CurrentSimontabellenliste[Leistungsphase].length - 1">

              <tr style="background: #D7DBDD">
                <td colspan="2"><b>Nebenkostensumme</b></td>
                <td colspan="7" style="padding: 0px !important;">
                  <table class="nobordertable">
                    <tr>
                      <td *ngFor="let Rechnung of Tabelle.Rechnungen; let Rechnungsindex = index" style="width: 248px; border-right: 1px solid black">

                        <table class="nobordersmalltable" style="width: 100%">
                          <tr>
                            <td style="width: auto; text-align: left"></td>
                            <td style="text-align:right; width: 120px;">
                              {{Tools.FormatMoney(DB.CalculateSammelrechung(Rechnungsindex).Nettonebenkosten)}} €
                            </td>
                            <td style="text-align:right; width: 120px; color: green;">
                              {{Tools.FormatMoney(DB.AddMehrwertsteuer(DB.CalculateSammelrechung(Rechnungsindex).Nettonebenkosten))}} €
                            </td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr style="background: #5F8CA7; color: white;">
                <td colspan="2"><b>Zwischensumme</b></td>
                <td colspan="7" style="padding: 0px !important;">
                  <table class="nobordertable">
                    <tr>
                      <td *ngFor="let Rechnung of Tabelle.Rechnungen; let Rechnungsindex = index" style="width: 248px; border-right: 1px solid black">

                        <table class="nobordersmalltable" style="width: 100%">
                          <tr>
                            <td style="width: auto; text-align: left"></td>
                            <td style="text-align:right; width: 120px;">
                              {{Tools.FormatMoney(DB.CalculateSammelrechung(Rechnungsindex).Nettogesamthonorar)}} €
                            </td>
                            <td style="text-align:right; width: 120px; color: black;">

                            </td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr style="background: #5F8CA7; color: white;">
                <td colspan="2"><b>MwSt. {{DB.Steuersatz}} %</b></td>
                <td colspan="7" style="padding: 0px !important;">
                  <table class="nobordertable">
                    <tr>
                      <td *ngFor="let Rechnung of Tabelle.Rechnungen; let Rechnungsindex = index" style="width: 248px; border-right: 1px solid black">

                        <table class="nobordersmalltable" style="width: 100%">
                          <tr>
                            <td style="width: auto; text-align: left"></td>
                            <td style="text-align:right; width: 120px;">
                              +
                            </td>
                            <td style="text-align:right; width: 120px; color: black;">
                              {{Tools.FormatMoney(DB.CalculateSammelrechung(Rechnungsindex).Mehrwertsteuer)}} €
                            </td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr style="background: #5F8CA7; color: white;">
                <td colspan="2"><b>Bruttohonorar</b></td>
                <td colspan="7" style="padding: 0px !important;">
                  <table class="nobordertable">
                    <tr>
                      <td *ngFor="let Rechnung of Tabelle.Rechnungen; let Rechnungsindex = index" style="width: 248px; border-right: 1px solid black">

                        <table class="nobordersmalltable" style="width: 100%">
                          <tr>
                            <td style="width: auto; text-align: left"></td>
                            <td style="text-align:right; width: 120px;">
                              =
                            </td>
                            <td style="text-align:right; width: 120px; color: black;">
                              {{Tools.FormatMoney(DB.AddMehrwertsteuer(DB.CalculateSammelrechung(Rechnungsindex).Nettogrundhonorar))}} €
                            </td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr style="background: #5F8CA7; color: white;">
                <td colspan="2"><b>Sicherheitseinbehalt {{Tabelle.Sicherheitseinbehalt}} %</b></td>
                <td colspan="7" style="padding: 0px !important;">
                  <table class="nobordertable">
                    <tr>
                      <td *ngFor="let Rechnung of Tabelle.Rechnungen; let Rechnungsindex = index" style="width: 248px; border-right: 1px solid black">

                        <table class="nobordersmalltable" style="width: 100%">
                          <tr>
                            <td style="width: auto; text-align: left"></td>
                            <td style="text-align:right; width: 120px;">
                              -
                            </td>
                            <td style="text-align:right; width: 120px; color: black;">
                              {{Tools.FormatMoney(DB.CalculateSammelrechung(Rechnungsindex).Sicherheitseinbehalt)}} €
                            </td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr style="background: #5F8CA7; color: white;">
                <td colspan="2"><b>Rechnungsbetrag</b></td>
                <td colspan="7" style="padding: 0px !important;">
                  <table class="nobordertable">
                    <tr>
                      <td *ngFor="let Rechnung of Tabelle.Rechnungen; let Rechnungsindex = index" style="width: 248px; border-right: 1px solid black">

                        <table class="nobordersmalltable" style="width: 100%">
                          <tr>
                            <td style="width: auto; text-align: left"></td>
                            <td style="text-align:right; width: 120px;">
                              =
                            </td>
                            <td style="text-align:right; width: 120px; color: black;">
                              {{Tools.FormatMoney(DB.CalculateSammelrechung(Rechnungsindex).Bruttogesamthonorar)}} €
                            </td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

            </ng-container>
          </ng-container>
        </ng-container>
        </ng-container>
      </table>

    </ion-radio-group>




    <table *ngIf="DB.Leistungsphasenliste.length === 0" style="width: 100%">
      <tr>
        <td style="text-align: center; height: 80px">Für dieses Projekt sind keine Simon Tabellen hinterlegt.</td>
      </tr>
    </table>
  </div>


</ion-content>
<ion-footer>
  <page-footer #PageFooter>

    <div class="rootbuttonclass" (click)="AddSimontabelleButtonClicked()">
      <ion-icon style="font-size: 28px" color="weiss" name="add-circle-outline"></ion-icon>
    </div>

  </page-footer>
</ion-footer>

<pj-simontabelle-editor *ngIf="ShowEditor === true"
                        [ZIndex]="3000"
                        [PositionY]="0"
                        [Dialogbreite]="1800"
                        (CancelClickedEvent)="ShowEditor = false" (OkClickedEvent)="ShowEditor = false"
                        (AnlagengruppeClickedEvent)="AnlagengruppeClickedEventHandler()"
                        (AddLeistungClickedEvent)="AddLeistungClickedEventHandler()"
                        (DeleteTabelleClickedEvent)="DeleteTabelleClickedEventHandler()"
                        (EditLeistungClickedEvent)="EditLeistungClickedEventHandler($event)"
                        (MitarbeiterClickedEvent)="EditorMitarbeiterClickedEventHandler()"
                        (EditDatumClickedEvent)="EditDatumClickedEventHandler()"
                        (LeistungsphaseClickedEvent)="EditorLeistungsphaseClickedEventHandler()">

</pj-simontabelle-editor>

<pj-simontabelle-leistungeneditor *ngIf="ShowLeistungeditor === true"
  [ZIndex]="4000"
  [PositionY]="100"
  [Dialogbreite]="400"
  (DeleteClickedEvent)="DeleteLeistungClickedHandler()"
  (CancelClickedEvent)="ShowLeistungeditor = false"
  (OkClickedEvent)="ShowLeistungeditor = false">
</pj-simontabelle-leistungeneditor>

<pj-projekte-schnellauswahl *ngIf="ShowProjektschnellauswahl"
                            [ZIndex]="5000"
                            [Dialogbreite]="800"
                            [Dialoghoehe]="Auswahlhoehe"
                            [Titel]="'Projekt wechsel'" [Iconname]="'star-outline'"
                            (ProjektClickedEvent)="ProjektSchnellauswahlProjektClickedEventHandler($event)"
                            (CancelClickedEvent)="ShowProjektschnellauswahl = false"
                            (OkClickedEvent)="ShowProjektschnellauswahl = false">
</pj-projekte-schnellauswahl>

<fi-mitarbeiter-auswahl *ngIf="ShowMitarbeiterauswahl"
                        [Titel]="'Rechnungsempfänger festlegen'"
                        [Dialogbreite]="600" [ZIndex]="4000"
                        [Multiselect]="true"
                        [OnlyProjektmitarbeiter]="false"
                        Iconname="people-outline"
                        [AuswahlIDliste]="AuswahlIDliste"
                        (CancelClickedEvent)="ShowMitarbeiterauswahl = false"
                        (OkClickedEvent)="MitarbeiterauswahlOkButtonClicked($event)"
                        (StandortfilterClickedEvent)="MitarebiterStandortfilterClickedHandler()"></fi-mitarbeiter-auswahl>

<pj-email-send *ngIf="ShowEmailSenden"
               [Titel]="'LOP Liste senden'"
               [Dialogbreite]="EmailDialogbreite"
               [PositionY]="DialogPosY"
               [ZIndex]="1000"
               Iconname="mail-outline"
               (CancelClickedEvent)="ShowEmailSenden = false"
               (OkClickedEvent)="EmailSendenOkButtonClicked($event)"></pj-email-send>
               <!--
               (EmpfaengerInternClicked)="EmpfaengerInternClickedHandler()"
               (CcEmpfaengerInternClicked)="CcEmpfaengerInternClickedHandler()"
               (EmpfaengerExternClicked)="EmpfaengerExternClickedHandler()"
               (CcEmpfaengerExternClicked)="CcEmpfaengerExternClickedHandler()"
               -->

<pj-rechnung-editor *ngIf="ShowRechnungeditor" [Dialogbreite]="380"
                             [Dialoghoehe]="520"
                             [PositionY]="DialogPosY + 200"
                             [ZIndex]="5000"
                             [Iconname]="'calendar-outline'"
                             [Titel]="'Rechnungsdatum festlegen'"
                             (OkClickedEvent)="ShowRechnungeditor = false"
                             (CancelClickedEvent)="ShowRechnungeditor = false">
</pj-rechnung-editor>

<auswahl-dialog *ngIf="ShowAuswahl" [Auswahlliste]="Auswahlliste" [Auswahlindex]="Auswahlindex" [ZIndex]="5000"
                [Dialogbreite]="400"  [PositionY]="100"
                [Titel]="Auswahltitel" [Iconname]="''"
                (OkClickedEvent)="AuswahlOkButtonClicked($event)"
                (CancelClickedEvent)="ShowAuswahl = false">
</auswahl-dialog>






