
.keeperdivclass {

  position: relative;
  width:  100%;
  height: 100%;
}

.maildivclass {

  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.leistungsphaseheader {

  width: 100%;
  height: 32px;
  display: flex;
  justify-content: flex-start; // horizontal
  align-items: center; // vertikal
  color: white;
  font-weight: bold;
  padding: 4px;
  background: #307ac1;
  cursor: pointer;
}

.simontabelleeintragdiv {

  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start; // horizontal
  align-items: center; // vertikal

  cursor: pointer;
}

.simontabelleeintragdiv:hover {

  text-decoration: underline;
  background: silver;
}

.tableborderone {

  border: 1px solid black;
  padding: 4px;
  height: 40px;
}

.contentdivclass {

  position: absolute;
  width:  100%;
  top:    40px;
  left:  340px;
  overflow: auto;
}

.savecircleclass {

  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid white;
}

.kapiteldivclass {

  position:  absolute;
  left:       0px;
  background: #307ac1;
  width:      340px;
  height:     100%;
  overflow:   auto;
  display:    flex;
  flex-direction: column;
}

.kapitelabschnittdivclass {

  position:  absolute;
  left:       340px;
  background: #307ac1;
  width:      100%;
  height:     40px;
  overflow:   auto;
  display:    flex;
  justify-content: flex-start; // horizontal
  align-items: center; // vertikal
  flex-direction: row;
}

.kapitelbuttondiv {

  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start; // horizontal
  align-items: center;         // vertikal
  padding: 10px;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.abschnittbuttondiv {

  width: auto;
  height: 100%;
  display: flex;
  justify-content: center; // horizontal
  align-items: center;         // vertikal
  padding: 10px;
  min-width: 140px;
  border-left: 1px solid white;
  cursor: pointer;
}
