
<div [style.z-index]="ZIndex" style="position: absolute; top: 0px; left: 0px; background: none; width: 100%; height: 100%">
  <div  class="keeperdivclass" [style.background]="Displayservice.ShowOpacity(Displayservice.Dialognamen.Projekteditor) ? 'rgba(0, 0, 0, 0.5)' : 'none'" (click)="ContentClicked($event)">
    <div class="contentdivclass"
         [style.width.px]="Dialogbreite"
         [style.height.px]="Dialoghoehe" [style.top.px]="PositionY" (click)="ContentClicked($event)">
      <ion-header>
        <page-header-center>
          <table class="paddingsmalltable">
            <tr>
              <td style="width: 4px"></td>
              <td><ion-icon [name]="Iconname" color="weiss"></ion-icon></td>
              <td [style.color]="'white'">{{Titel}}</td>
              <td align="center" class="trennertdclass"><div class="trennerdivclass"></div></td>
              <td>
                <div class="menubuttonclass" (click)="AllgemeinMenuButtonClicked()">
                  <table class="paddingsmalltable">
                    <tr>
                      <td><ion-icon name="reader-outline" [color]="Bereich === Bereiche.Allgemein ? 'schwarz' : 'weiss'"></ion-icon></td>
                      <td [style.color]="Bereich === Bereiche.Allgemein ? '#000000' : 'white'">Allgemein</td>
                    </tr>
                  </table>
                </div>
              </td>
              <td style="width: 20px"></td>
              <td>
                <div class="menubuttonclass" (click)="BeteiligteMenuButtonClicked()">
                  <table class="paddingsmalltable">
                    <tr>
                      <td><ion-icon name="people-outline" [color]="Bereich === Bereiche.Beteiligte ? 'schwarz' : 'weiss'"></ion-icon></td>
                      <td [style.color]="Bereich === Bereiche.Beteiligte ? '#000000' : 'white'">Projektbeteiligte</td>
                      <td [style.color]="Bereich === Bereiche.Beteiligte ? '#000000' : 'white'">[{{DB.CurrentProjekt.Beteiligtenliste.length}}</td>
                      <td [style.color]="Bereich === Bereiche.Beteiligte ? '#000000' : 'white'">/</td>
                      <td [style.color]="Bereich === Bereiche.Beteiligte ? '#000000' : 'white'">{{DB.CurrentProjekt.MitarbeiterIDListe.length}}]</td>
                    </tr>
                  </table>
                </div>
              </td>
              <td style="width: 20px"></td>
              <td>
                <div class="menubuttonclass" (click)="StrukturMenuButtonClicked()">
                  <table class="paddingsmalltable">
                    <tr>
                      <td><ion-icon name="home-outline" [color]="Bereich === Bereiche.Gebaeudestruktur ? 'schwarz' : 'weiss'"></ion-icon></td>
                      <td [style.color]="Bereich === Bereiche.Gebaeudestruktur ? '#000000' : 'white'">Gebäudestruktur</td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </table>
        </page-header-center>
      </ion-header>

      <ion-content>

        <div class="contentinnerclass">

          <ng-container [ngSwitch]="Bereich">

            <ng-container *ngSwitchCase="Bereiche.Allgemein">

              <div *ngIf="OtherUserinfo !== null" class="otheruserinfodivclass">
                <table style="width: 100%">
                  <tr>
                    <td>
                      <table class="paddingtable">
                        <tr>
                          <td colspan="2">
                            <ion-text color="burnicklgruen"><b>Mitgliedinformationen</b></ion-text>
                          </td>
                        </tr>
                        <tr>
                          <td>Name</td><td>{{OtherUserinfo.displayName}}</td>
                        </tr>
                        <tr>
                          <td>Standort</td><td>{{OtherUserinfo.officeLocation}}</td>
                        </tr>
                        <tr>
                          <td>Position</td><td>{{OtherUserinfo.jobTitle}}</td>
                        </tr>
                        <tr>
                          <td>Email</td><td>{{OtherUserinfo.mail}}</td>
                        </tr>
                        <tr>
                          <td>Telefon</td><td>{{OtherUserinfo.businessPhones[0]}}</td>
                        </tr>
                        <tr>
                          <td>Mobil</td><td>{{OtherUserinfo.mobilePhone}}</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td style="background: #354547" colspan="2">
                      <table class="paddingsmalltable" width="100%">
                        <tr>
                          <td>
                            <div style="cursor: pointer" (click)="CloseOtherUserinfo()">
                              <ion-icon style="font-size: 28px" color="burnicklgruen" name="close-outline"></ion-icon>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
              <table>
                  <tr>
                    <td valign="top">
                      <div class="contentleftinnerclass">
                        <ion-grid *ngIf="DB.CurrentProjekt">
                          <ion-row>
                            <ion-col>
                              <ion-text color="burnicklgruen"><b>Projekt</b></ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col [size]="Tools.GetButtonvalueSize()">
                              <input-clone (TextChanged)="TextChanged($event)" [Required]="true" [MaxLength]="100" Titel="Projektname" [(Value)]="DB.CurrentProjekt.Projektname"></input-clone>
                            </ion-col>
                            <ion-col [size]="Tools.GetButtonvalueSize()">
                              <input-clone (TextChanged)="TextChanged($event)" [Required]="true" [MaxLength]="20" Titel="Projektnummer" [(Value)]="DB.CurrentProjekt.Projektnummer"></input-clone>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col [size]="12">
                              <input-clone  [Enabled]="false" [Required]="true" Titel="Projektkey" [Value]="DB.CurrentProjekt.Projektkey"></input-clone>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col [size]="Tools.GetButtonvalueSize()">
                              <input-clone (TextChanged)="TextChanged($event)"  [Required]="true" [MinLength]="3" [MaxLength]="20" Titel="Projektkurzname" [(Value)]="DB.CurrentProjekt.Projektkurzname"></input-clone>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col [size]="Tools.GetButtonvalueSize()">
                              <button-value [Buttontext]="'Leistungsphase'"
                                            [Wert_A]="DB.CurrentProjekt.Leistungsphase !== Const.NONE ? DB.CurrentProjekt.Leistungsphase : 'unbekannt'"
                                            (ButtonClicked)="LeistungsphaseClickedEvent.emit()"></button-value>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col [size]="Tools.GetButtonvalueSize()">
                              <input-clone [Value]="DB.CurrentProjekt.Zeitpunkt" [Enabled]="false" Titel="Startdatum" [DisabledColor]="'black'" [Clickable]="true"></input-clone>
                            </ion-col>
                            <ion-col [size]="Tools.GetButtonvalueSize()">
                              <input-clone (click)="StandortClicked()" [Value]="DBStandort.GetStandort(DB.CurrentProjekt.StandortID)" [Enabled]="false" Titel="Standort" [DisabledColor]="'black'" [Clickable]="true"></input-clone>
                            </ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col>
                              <ion-text color="burnicklgruen"><b>Projektanschrift</b></ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col [size]="Tools.GetButtonvalueSize()">
                              <input-clone (TextChanged)="TextChanged($event)"Titel="Strasse" [(Value)]="DB.CurrentProjekt.Strasse"></input-clone>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col [size]="Tools.GetButtonvalueSize()">
                              <input-clone (TextChanged)="TextChanged($event)"Titel="PLZ"  [(Value)]="DB.CurrentProjekt.PLZ"></input-clone>
                            </ion-col>
                            <ion-col [size]="Tools.GetButtonvalueSize()">
                              <input-clone (TextChanged)="TextChanged($event)"Titel="Ort"  [(Value)]="DB.CurrentProjekt.Ort"></input-clone>
                            </ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col [size]="Tools.GetButtonvalueSize()">
                              <ion-text color="burnicklgruen"><b>Projektleitung</b></ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col [size]="Tools.GetButtonvalueSize()">
                              <input-clone (click)="ProjektleiterClicked()"
                                           [Value]="DBMitarbeiter.GetMitarbeitername(DB.CurrentProjekt.ProjektleiterID)"
                                           [Enabled]="false" Titel="Projektleiter" [DisabledColor]="'black'" [Clickable]="true"></input-clone>
                            </ion-col>
                            <ion-col [size]="Tools.GetButtonvalueSize()">
                              <input-clone (click)="StellvertreterClicked()"
                                           [Value]="DBMitarbeiter.GetMitarbeitername(DB.CurrentProjekt.StellvertreterID)"
                                           [Enabled]="false" Titel="Stellvertreter" [DisabledColor]="'black'" [Clickable]="true"></input-clone>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col [size]="Tools.GetButtonvalueSize()">
                              <ion-text color="burnicklgruen"><b>Projektstatus</b></ion-text>
                            </ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col [size]="Tools.GetButtonvalueSize()">
                              <input-clone (click)="StatusClicked()"
                                           [Value]="DB.CurrentProjekt.Status"
                                           [Enabled]="false" Titel="Status"
                                           [DisabledColor]="DB.GetProjektstatuscolor(DB.CurrentProjekt.Status)"
                                           [Clickable]="true"></input-clone>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col>
                              <div style="height: 40px"></div>
                            </ion-col>
                          </ion-row>

                          <!--

                          <ion-row>
                            <ion-col>
                              <table>
                                <tr>
                                  <td>
                                    <ion-text color="burnicklgruen"><b>Teams</b></ion-text>
                                  </td>
                                  <td style="width: 10px"></td>
                                    <img src="assets/svgs/teamsicon.svg" style="width: 40px">
                                  <td>
                                  </td>
                                </tr>
                              </table>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col [size]="12">
                              <input-clone [Value]="DB.CurrentProjekt.TeamsName"
                                           [Enabled]="false" Titel="Name"></input-clone>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col [size]="12">
                              <input-clone [Value]="DB.CurrentProjekt.TeamsDescription"
                                           [Enabled]="false" Titel="Beschreibung"></input-clone>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col [size]="12">
                              <input-clone [Value]="DB.CurrentProjekt.TeamsID"
                                           [Enabled]="false" Titel="Teams ID"></input-clone>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col [size]="12">
                              <table style="width: 100%">
                                <tr>
                                  <td style="width: auto">
                                    <input-clone [Value]="Protokollfolder"
                                                 [Enabled]="false" Titel="Speicherort Protokolle" [DisabledColor]="DB.CurrentProjekt.ProtokolleFolderID !== Const.NONE ? '#354547' : 'orange'">
                                    </input-clone>
                                  </td>
                                  <td style="width: 4px"></td>
                                  <td style="width: 46px">
                                    <ion-button (click)="SelectProtokollfolderClicked()" size="small" color="burnicklbraun">
                                      <ion-icon name="folder"></ion-icon>
                                    </ion-button>
                                  </td>
                                </tr>
                              </table>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col [size]="12">
                              <table style="width: 100%">
                                <tr>
                                  <td style="width: auto">
                                    <input-clone [Value]="Bautagebuchfolder"
                                                 [Enabled]="false" Titel="Speicherort Bautagebücher" [DisabledColor]="DB.CurrentProjekt.BautagebuchFolderID !== Const.NONE ? '#354547' : 'orange'">
                                    </input-clone>
                                  </td>
                                  <td style="width: 4px"></td>
                                  <td style="width: 46px">
                                    <ion-button (click)="SelectBautagebuchfolderClicked()" size="small" color="burnicklbraun">
                                      <ion-icon name="folder"></ion-icon>
                                    </ion-button>
                                  </td>
                                </tr>
                              </table>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col [size]="12">
                              <table style="width: 100%">
                                <tr>
                                  <td style="width: auto">
                                    <input-clone [Value]="BaustelleLOPListefolder"
                                                 [Enabled]="false" Titel="Speicherort LOP-Liste Baustelle" [DisabledColor]="DB.CurrentProjekt.BaustellenLOPFolderID !== Const.NONE ? '#354547' : 'orange'">
                                    </input-clone>
                                  </td>
                                  <td style="width: 4px"></td>
                                  <td style="width: 46px">
                                    <ion-button (click)="SelectBaustelleLOPListefolderClicked()" size="small" color="burnicklbraun">
                                      <ion-icon name="folder"></ion-icon>
                                    </ion-button>
                                  </td>
                                </tr>
                              </table>
                            </ion-col>
                          </ion-row>

                          -->

                          <ion-row>
                            <ion-col [size]="12">
                              <table  class="paddingtable">
                                <tr>
                                  <td><checkbox-clon [Checked]="DB.CurrentProjekt.ProjektIsReal" (CheckChanged)="ProjektIsRealCheckChanged($event)"></checkbox-clon></td><td>Reales Projekt</td>
                                </tr>
                              </table>
                            </ion-col>
                          </ion-row>

                          <ion-row *ngIf="DB.CurrentProjekt._id !== null">
                            <ion-col>
                              <table>
                                <tr>
                                  <td><checkbox-clon [Checked]="DeleteEnabled" (CheckChanged)="LoeschenCheckboxChanged($event)"></checkbox-clon></td>
                                  <td style="width: 6px"></td>
                                  <td>
                                    <ion-button size="small" color="rot" [disabled]="!DeleteEnabled" (click)="LoeschenButtonClicked()">
                                      <ion-icon name="trash-outline" style="font-size: 20px"></ion-icon>
                                      <ion-text>Eintrag löschen</ion-text>
                                    </ion-button>
                                  </td>
                                </tr>
                              </table>
                            </ion-col>
                          </ion-row>

                        </ion-grid>

                      </div>

                    </td>

                    <!--
                    <td valign="top">
                      <ion-grid *ngIf="DB.CurrentProjekt">
                        <ion-row>
                          <ion-col>
                            <ion-text color="burnicklgruen"><b>Mitglieder</b></ion-text>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col>
                            <div style="background: none; width: 300px; height: 800px; overflow: auto">
                              <table class="paddingtable">
                                <tr *ngFor="let Mitglied of Mitgliederliste" style="height: 58px">
                                  <td>
                                    <a (click)="MitgliedClicked(Mitglied)">{{Mitglied.displayName}}</a>
                                  </td>
                                  <td>
                                    <img *ngIf="Mitglied.UserImageSRC !== null" [src]="Mitglied.UserImageSRC" class="userimagesmall"/>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </td>
                    -->
                    <td valign="top">
                      <ion-radio-group [value]="DB.CurrentProjekt.OutlookkategorieID" (ionChange)="ProjektfarbeChangedHandler($event)">
                        <ion-grid *ngIf="DB.CurrentProjekt">
                          <ion-row>
                            <ion-col>
                              <ion-text color="burnicklgruen"><b>Projektfarbe</b></ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col>
                              <table class="paddingtable">
                                <tr *ngFor="let Kategorie of Pool.Outlookkatekorien">
                                  <td>
                                    <ion-radio [value]="Kategorie.id"></ion-radio>
                                  </td>
                                  <td>
                                    <div style="width: 40px; height: 40px; border-radius: 4px;" [style.background]="GetOutlookkategorienColor(Kategorie)"></div>
                                  </td>
                                  <td>{{Kategorie.displayName}}</td>

                                </tr>
                              </table>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-radio-group>
                    </td>
                  </tr>
                </table>

            </ng-container>

            <div *ngSwitchCase="Bereiche.Beteiligte" class="contentrightinnerclass">
            <!-- Projektbeteiligtenliste -->
                <table  *ngIf="DB.CurrentProjekt" style="width: 100%">
                  <tr>
                    <td style="height: 42px; font-size: 120%; font-weight: bold"><b>Projektbeteiligte</b></td>
                    <td rowspan="4">
                      <div style="padding-right: 8px; padding-left: 8px;">
                        <div [style.height.px]="Listentrennerhoehe" style=" width: 3px; background: #2190df;"></div>
                      </div>
                    </td>
                    <td style="height: 42px; font-size: 120%;"><b>Mitarbeiter</b></td>
                  </tr>
                  <tr>
                    <td colspan="3"><div style="height: 3px; width: 100%; background: #2190df"></div></td>
                  </tr>
                  <tr>
                    <td style="width: 50%" valign="top">
                      <ion-list class="ion-no-padding">
                        <ion-item class="ion-text-wrap" class="ion-no-padding" *ngFor="let Beteiligt of Beteiligtenliste, let i = index" (click)="BeteiligteButtonClicked(Beteiligt)">
                          <table class="paddingsmalltable" width="100%">
                            <tr>
                              <td>
                                <table>
                                  <tr>
                                    <td style="padding-top: 3px;font-size: 90%">
                                      <ng-container *ngIf="Beteiligt.Beteiligteneintragtyp === Const.Beteiligteneintragtypen.Person">
                                        {{DBBeteiligte.GetBeteiligtenvorname(Beteiligt)}} {{Beteiligt.Name}}
                                      </ng-container>
                                      <ng-container *ngIf="Beteiligt.Beteiligteneintragtyp === Const.Beteiligteneintragtypen.Firma">
                                        {{Beteiligt.Firma}}
                                      </ng-container>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td style="height: 3px"></td>
                            </tr>
                            <tr>
                              <td>
                                <table class="infotable" style="white-space:nowrap;">
                                  <tr>
                                    <td *ngIf="Beteiligt.Beteiligteneintragtyp === Const.Beteiligteneintragtypen.Person && Beteiligt.Firma !== ''">
                                      {{Beteiligt.Firma}}
                                    </td>
                                    <ng-container *ngIf="Beteiligt.Beteiligtentyp !== 0">
                                      <td *ngIf="Beteiligt.Beteiligteneintragtyp === Const.Beteiligteneintragtypen.Person" style="padding: 4px"><div class="bullclass"></div></td>
                                      <td>{{DBBeteiligte.GetBeteiligtenFachbereichname(Beteiligt.Beteiligtentyp)}}</td>
                                    </ng-container>
                                    <ng-container *ngIf="Beteiligt.Email !== ''">
                                      <td *ngIf="Beteiligt.Beteiligtentyp !== 0" style="padding: 4px"><div class="bullclass"></div></td>
                                      <td>{{Beteiligt.Email}}</td>
                                    </ng-container>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td style="height: 4px"></td>
                            </tr>
                          </table>
                        </ion-item>

                      </ion-list>

                      <table *ngIf="Beteiligtenliste.length === 0" class="paddingtable" width="100%">
                        <tr>
                          <td style="height: 60px; text-align: center; vertical-align: center">
                            keine Einträge vorhanden
                          </td>
                        </tr>
                      </table>

                    </td>
                    <!--
                    <td style="width: 3px; background: red;"></td>
                    -->
                    <td style="width: 50%" valign="top">

                      <ion-list class="ion-no-padding">
                        <ion-item class="ion-text-wrap" class="ion-no-padding" *ngFor="let Mitarbeiter of Mitarbeiterliste, let i = index" (click)="MitarbeiterButtonClcicked(Mitarbeiter)">
                          <table class="paddingsmalltable" width="100%">
                            <tr>
                              <td>
                                <table>
                                  <tr>
                                    <td style="padding-top: 3px; font-size: 90%">{{Mitarbeiter.Name}} {{Mitarbeiter.Vorname}}</td>
                                    <td>/</td>
                                    <td style="font-size: 90%; color: gray;">{{DBStandort.GetStandort(Mitarbeiter.StandortID)}}</td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td style="height: 3px"></td>
                            </tr>
                            <tr>
                              <td>
                                <table class="infotable" style="white-space:nowrap;">
                                  <tr>
                                      <td>{{Mitarbeiter.Email}}</td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td style="height: 4px"></td>
                            </tr>
                          </table>
                        </ion-item>

                      </ion-list>

                      <table *ngIf="Mitarbeiterliste.length === 0" class="paddingtable" width="100%">
                        <tr>
                          <td style="height: 60px; text-align: center; vertical-align: center">
                            keine Einträge vorhanden
                          </td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                  <tr style="height: 40px">
                    <td>

                      <table class="paddingtable">
                        <tr>
                          <td>
                            <div class="importoutlookbutton" (click)="AddBeteiligteButtonClicked()">
                              <table class="paddingtable">
                                <tr>
                                  <td><ion-icon name="add-circle-outline" color="weiss"></ion-icon></td>
                                  <td style="color: white; font-size: 100%">NEUER EINTRAG</td>
                                </tr>
                              </table>
                            </div>
                          </td>
                          <td style="width: 4px"></td>
                          <td>
                            <div class="importoutlookbutton" (click)="ImportOutlookKontakteEvent.emit()">
                              <table class="paddingtable">
                                <tr>
                                  <td><img src="assets/svgs/outlookicon.svg" style="width: 60px"></td>
                                  <td style="color: white; font-size: 100%">OUTLOOK KONTAKTE IMPORTIEREN</td>
                                </tr>
                              </table>
                            </div>
                          </td>
                        </tr>
                      </table>

                    </td>
                    <!--
                    <td></td>
                    -->
                    <td>

                      <table class="paddingtable">
                        <tr>
                          <td>
                            <div class="importoutlookbutton" (click)="EditMitarbeiterEvent.emit()">
                              <table class="paddingtable">
                                <tr>
                                  <td><ion-icon name="book" color="weiss"></ion-icon></td>
                                  <td style="color: white; font-size: 100%">Mitarbeiterauswahl</td>
                                </tr>
                              </table>
                            </div>
                          </td>
                        </tr>

                      </table>

                    </td>
                  </tr>
                </table>

          </div>

            <ng-container *ngSwitchCase="Bereiche.Gebaeudestruktur">
              <div *ngIf="DB.CurrentProjekt !== null" class="strukturkeeperdiv">

                <div class="strukturbauteildiv">
                  <div class="strukturbauteilupperdiv">
                    <ion-text color="burnicklgruen"><b>Bauteile</b></ion-text>
                  </div>
                  <div class="strukturbauteilmiddlediv">
                    <ng-container *ngIf="DB.CurrentProjekt.Bauteilliste.length > 0">
                      <ion-radio-group [value]="DBGebaeude.CurrentBauteilindex" (ionChange)="BauteilIndexChanged($event)">
                        <table class="paddingtable">
                          <tr *ngFor="let Bauteil of DB.CurrentProjekt.Bauteilliste; let Bauteilindex = index">
                            <td style="width: 26px" align="center">
                              <ion-radio [value]="Bauteilindex" mode="md"></ion-radio>
                            </td>
                            <td style="width: auto">
                              <div class="bauteildivclass" (click)="EditBauteilClickedEvent.emit(Bauteil)">
                                <table style="width: 100%">
                                  <tr>
                                    <td><ion-text>{{Bauteil.Bauteilname}}</ion-text></td><td style="text-align: right">{{Bauteil.Geschossliste.length}}</td>
                                  </tr>
                                </table>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </ion-radio-group>
                      <abstand-element-fixed></abstand-element-fixed>
                    </ng-container>
                  </div>
                  <div class="strukturbauteillowerdiv">
                    <ion-button color="burnicklgruen" size="small" (click)="AddBauteilClickedEvent.emit()">
                      <ion-icon color="burnicklbraun" name="add-circle-outline"></ion-icon>
                    </ion-button>
                  </div>
                </div>
                <div  *ngIf="DB.CurrentProjekt.Bauteilliste.length > 0 && DBGebaeude.CurrentBauteilindex !== null" class="strukturgeschossldiv">
                  <div class="strukturgeschossupperdiv">
                    <ion-text color="burnicklgruen"><b>Geschosse</b></ion-text>
                  </div>
                  <div class="strukturgeschossmiddlediv">
                    <ng-container *ngIf="DB.CurrentProjekt.Bauteilliste[DBGebaeude.CurrentBauteilindex].Geschossliste.length > 0">
                      <ion-radio-group [value]="DBGebaeude.CurrentGeschossindex" (ionChange)="GeschossIndexChanged($event)">
                        <table class="paddingtable">
                          <tr *ngFor="let Geschoss of DB.CurrentProjekt.Bauteilliste[DBGebaeude.CurrentBauteilindex].Geschossliste; let Geschossindex = index">
                            <td style="width: 30px" align="center">
                              <ion-radio [value]="Geschossindex" mode="md"></ion-radio>
                            </td>
                            <td>
                              <div class="bauteildivsmallclass">
                                <ion-text><b>{{Geschoss.Kurzbezeichnung !== '' ? Geschoss.Kurzbezeichnung : '---'}}</b></ion-text>
                              </div>
                            </td>
                            <td style="width: auto">
                              <div class="bauteilmediumdivclass" (click)="EditGeschossClickedEvent.emit(Geschoss)">
                                <table style="width: 100%">
                                  <tr>
                                    <td><ion-text>{{Geschoss.Geschossname}}</ion-text></td>
                                  </tr>
                                </table>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </ion-radio-group>
                      <abstand-element-fixed></abstand-element-fixed>
                    </ng-container>
                    <table *ngIf="DB.CurrentProjekt.Bauteilliste[DBGebaeude.CurrentBauteilindex].Geschossliste.length === 0" class="paddingtable">
                      <tr>
                        <td>Keine Geschosse eingetragen</td>
                      </tr>
                    </table>
                  </div>
                  <div class="strukturgeschosslowerdiv">
                    <ion-button color="burnicklgruen" size="small" (click)="AddGeschossClickedEvent.emit()">
                      <ion-icon color="burnicklbraun" name="add-circle-outline"></ion-icon>
                    </ion-button>
                  </div>
                </div>
                <div *ngIf="DBGebaeude.CurrentGeschoss !== null" class="strukturraeumediv">
                  <div class="strukturraumupperdiv">
                    <ion-text color="burnicklgruen"><b>Räume</b></ion-text>
                  </div>
                  <div class="strukturraummiddlediv">
                    <ng-container *ngIf="DBGebaeude.CheckGeschossHasRaumliste() === true">
                          <table class="paddingtable">
                            <tr *ngFor="let Raum of DB.CurrentProjekt.Bauteilliste[DBGebaeude.CurrentBauteilindex].Geschossliste[DBGebaeude.CurrentGeschossindex].Raumliste; let Raumindex = index">

                              <td>
                                <div class="bauteildivsmallclass">
                                  <ion-text><b>{{Raum.Raumnummer !== '' ? Raum.Raumnummer : '---'}}</b></ion-text>
                                </div>
                              </td>
                              <td style="width: auto">
                                <div class="bauteilmediumdivclass"  (click)="EditRaumClickedEvent.emit(Raum)">
                                  <ion-text>{{Raum.Raumname}}</ion-text>
                                </div>
                              </td>

                              <ng-container *ngIf="ShowRaumVerschieber === true">
                                <td>
                                  <ion-icon [style.cursor]="Raumindex > 0 ? 'pointer' : 'default'" style="cursor: pointer" name="chevron-up-circle"
                                            [color]="Raumindex > 0 ? 'gruen' : '#444444'"
                                            (click)="RaumUpButtonClicked(Raumindex)" style="font-size: 24px"></ion-icon>
                                </td>
                                <td>
                                  <ion-icon [style.cursor]="Raumindex < DB.CurrentProjekt.Bauteilliste[DBGebaeude.CurrentBauteilindex].Geschossliste[DBGebaeude.CurrentGeschossindex].Raumliste.length - 1 ? 'pointer' : 'default'" style="cursor: pointer" name="chevron-down-circle"
                                            [color]="Raumindex < DB.CurrentProjekt.Bauteilliste[DBGebaeude.CurrentBauteilindex].Geschossliste[DBGebaeude.CurrentGeschossindex].Raumliste.length - 1 ? 'gruen' : '#444444'"
                                            (click)="RaumDownButtonClicked(Raumindex)" style="font-size: 24px"></ion-icon>
                                </td>
                              </ng-container>


                            </tr>
                            <tr>
                              <td colspan="10">
                                <table  *ngIf="DB.CurrentProjekt.Bauteilliste[DBGebaeude.CurrentBauteilindex].Geschossliste[DBGebaeude.CurrentGeschossindex].Raumliste.length > 1" class="paddingtable" style="float: left">
                                  <tr>
                                    <td><checkbox-clon [Checked]="ShowRaumVerschieber" (CheckChanged)="RaumVerschiebenCheckChanged()"></checkbox-clon></td>
                                    <td>Räume verschieben</td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td style="height: 100px" colspan="10"></td>
                            </tr>
                          </table>
                      <br>


                    </ng-container>


                    <table *ngIf="DBGebaeude.CheckGeschossHasRaumliste() === false" class="paddingtable">
                      <tr>
                        <td>Keine Räume eingetragen</td>
                      </tr>
                    </table>


                  </div>
                  <div class="strukturraumlowerdiv">
                    <ion-button color="burnicklgruen" size="small" (click)="AddRaumClickedEvent.emit()">
                      <ion-icon color="burnicklbraun" name="add-circle-outline"></ion-icon>
                    </ion-button>
                  </div>

                </div>

              </div>

            </ng-container>



          </ng-container>

        </div>

      </ion-content>
      <ion-footer>
        <page-footer>

          <table class="paddingsmalltable" width="100%">
            <tr>
              <td>
                <div class="rootbuttonclass" (click)="CancelButtonClicked()">
                  <ion-icon style="font-size: 28px" color="weiss" name="close-outline"></ion-icon>
                </div>
              <td style="width: 100%">

              <!--
              <table>
                <tr>
                  <td>
                    CurrentBauteilindex:<br>
                    {{DBGebaeude.CurrentBauteilindex}}
                  </td>
                  <td>
                    CurrentGeschossindex:<br>
                    {{DBGebaeude.CurrentGeschossindex}}
                  </td>
                  <td>
                    CurrentRaumindex:<br>
                    {{DBGebaeude.CurrentRaumindex}}
                  </td>
                </tr>
              </table>

              -->


            </td>
              <td>

              <td>
                <div class="rootbuttonclass" (click)="Valid === true ? OkButtonClicked() : null">
                  <ion-icon style="font-size: 28px" [color]="Valid === true ? 'weiss' : 'grau'" name="save-outline"></ion-icon>
                </div>
              </td>
            </tr>
          </table>

        </page-footer>
      </ion-footer>
    </div>
  </div>
</div>





