<ion-header>
  <page-header #PageHeader>

    <table style="width: 100%;">
      <tr>
        <td style="width: 10px"></td>
        <td>
          <div class="menubuttonclass">
            <table class="paddingsmalltable">
              <tr>
                <td>

                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>

  </page-header>
</ion-header>
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div style="height: 100px"></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <table style="width: 100%;">
          <tr>
            <td align="center">
              <ion-icon name="airplane-outline" [color]="Basics.Ionicfarben.BurnicklGrau" style="font-size: 220px"></ion-icon>
            </td>
          </tr>
          <tr>
            <td style="text-align: center;">
              <ion-text [color]="Basics.Ionicfarben.BurnicklBraun" style="font-size: 40px">BIB Cockpit</ion-text>
            </td>
          </tr>
          <tr>
            <td style="text-align: center; font-size: 90%; color: gray">
              Version: {{Basics.AppVersionName}} / {{Basics.AppVersionDatum}}
            </td>
          </tr>
          <tr>
            <td style="text-align: center; vertical-align: center; height: 100px">
              <ion-button [color]="Basics.Ionicfarben.BurnicklGruen" (click)="AuthService.Login()">Login</ion-button>
            </td>
          </tr>
        </table>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--
  <ion-grid>
    <ion-row>
      <ion-col sizeXs="12" sizeSm="12" offsetMd="1" sizeMd="10" offsetLg="2" sizeLg="8" offsetXl="3" sizeXl="6">

        <form *ngIf="LoginForm" [formGroup]="LoginForm" autocomplete="off">

          <div class="doctablecontainer">
            <div class="bluedoctableheader">
              <table  cellpadding="0" cellspacing="0">
                <tr>
                  <td><b>Benutzerdaten</b></td>
                </tr>
              </table>
            </div>
            <div class="doctablecontent">
              <table class="paddingtable" width="100%">
                <tr>
                  <td>
                    <ion-input [style.border]="LoginForm.controls['Email'].valid ? OkBorder : RequiredBorder"  formControlName="Email" placeholder="Email"></ion-input>
                  </td>
                </tr>
                <tr>
                  <td>
                    <ion-input type="text" [style.border]="LoginForm.controls['Password'].valid ? OkBorder : RequiredBorder" formControlName="Password" placeholder="Passwort">
                    </ion-input>
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <abstand-element [Hoehe]="3"></abstand-element>

          <div class="doctablecontainer">
            <div class="bluedoctableheader">
              <table  cellpadding="0" cellspacing="0">
                <tr>
                  <td><b>Weitere Optionen</b></td>
                </tr>
              </table>
            </div>
            <div class="doctablecontent">
              <table class="paddingtable" width="100%">
                <tr>
                  <td height="20"></td><td></td>
                </tr>
                <tr>
                  <td>Ich besitze Zugangsdaten und habe mein Passwort vergessen.</td><td><ion-button color="blau" expand="block" (click)="PasswortVergessenButtonClicked()">Passwort vergessen</ion-button></td>
                </tr>
                <tr>
                  <td>Ich habe noch kein Benutzerkonto für diese Application.</td><td><ion-button color="blau" expand="block" (click)="NeuButtonClicked()">Neue Registrierung</ion-button></td>
                </tr>
              </table>
            </div>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  -->
  <abstand-element-fixed></abstand-element-fixed>

</ion-content>
<ion-footer>
  <page-footer #PageFooter>

  </page-footer>
</ion-footer>
