<ion-header class="ion-no-border">
  <page-header #PageHeader>
    <page-header-menu></page-header-menu>
  </page-header>
</ion-header>
<ion-content>

  <table class="paddingtable">
    <tr>
      <td>Mainmenu Bereich:  </td><td>{{Menuservice.MainMenuebereich}}</td>
    </tr>
    <tr>
      <td>Firmamenu Bereich:</td><td>{{Menuservice.FirmaMenuebereich}}</td>
    </tr>
    <tr>
      <td>Projektmenu Bereich:</td><td>{{Menuservice.ProjekteMenuebereich}}</td>
    </tr>
  </table>

</ion-content>
<ion-footer>
  <page-footer #PageFooter>

  </page-footer>
</ion-footer>
