
.keeperdivclass {

  padding: 2px;
  position: relative;
  width: 24px;
  height: 24px;
  border: 2px solid gray;
  border-radius: 4px;
  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
}



