
<div [style.z-index]="ZIndex" style="position: absolute; top: 0px; left: 0px; background: none; width: 100%; height: 100%">
  <div  class="keeperdivclass" [style.background]="Displayservice.ShowOpacity(Displayservice.Dialognamen.Protokolleditor) ? 'rgba(0, 0, 0, 0.5)' : 'none'" (click)="ContentClicked($event)">
    <div class="contentdivclass"
         [style.width.px]="Dialogbreite"
         [style.top.px]="PositionY" [style.bottom.px]="PositionY" (click)="ContentClicked($event)">
      <ion-header>
        <page-header>
          <table class="paddingsmalltable">
            <tr>
              <td style="width: 4px"></td>
              <td><ion-icon [name]="Iconname" color="weiss"></ion-icon></td>
              <td [style.color]="'white'">{{Titel}}</td>
              <td align="center" class="trennertdclass"><div class="trennerdivclass"></div></td>
              <td>
                <div class="menubuttonclass" (click)="AllgemeinMenuButtonClicked()">
                  <table class="paddingsmalltable">
                    <tr>
                      <td><ion-icon name="reader-outline" [color]="Bereich === Bereiche.Allgemein ? 'schwarz' : 'weiss'"></ion-icon></td>
                      <td [style.color]="Bereich === Bereiche.Allgemein ? 'black' : 'white'">Allgemein</td>
                    </tr>
                  </table>
                </div>
              </td>
              <td style="width: 20px"></td>
              <td>
                <div class="menubuttonclass" (click)="Valid === true ? ThemenlisteMenuButtonClicked() : null">
                  <table class="paddingsmalltable">
                    <tr>
                      <td><ion-icon name="list-outline" [color]="GetThemenlisteIconcolor()"></ion-icon></td>
                      <td [style.color]="GetThemenlisteTextcolor()">Themenliste</td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </table>
        </page-header>
      </ion-header>

      <ion-content>

        <div class="contentinnerclass">

          <ng-container [ngSwitch]="Bereich">

            <ng-container *ngSwitchCase="Bereiche.Allgemein">

              <table style="width: 100%">
                <tr>
                  <td>
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <ion-text color="baeblau"><b>Allgemein</b></ion-text>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </td>
                  <td>
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <ion-text color="baeblau"><b>Teilnehmer</b></ion-text>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" valign="top">
                      <ion-grid>
                        <ion-row>
                          <ion-col [size]="12">
                            <input-clone [(Value)]="DB.CurrentProtokoll.Titel" [Titel]="'Titel'" [Required]="true" [MaxLength]="150" (TextChanged)="TextChangedHandler()"></input-clone>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col [size]="12">
                            <input-clone [(Value)]="DB.CurrentProtokoll.Protokollnummer" [Titel]="'Protokollnummer'" [Required]="true" [MaxLength]="150"  (TextChanged)="TextChangedHandler()"></input-clone>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col [size]="12">
                            <input-clone [(Value)]="DB.CurrentProtokoll.Besprechungsort" [Titel]="'Besprechungsort'" [Required]="true" [MaxLength]="20" (TextChanged)="TextChangedHandler()"></input-clone>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col [size]="12">
                            <span *ngIf="DB.CurrentProtokoll.Protokollnummer === ''" style="font-size: 90%; color: gray;">Letzte Protokollnummer {{DB.GetLetzteProtokollnummer()}}</span>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col [size]="12">
                            <button-value-date [Datum]="GetDatum()"  [ValueBreite]="356" [Buttontext]="'Datum'" [ElementID]="'datum'" (TimeChanged)="DatumChanged($event)" [ShowKW]="true"></button-value-date>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col [size]="12">
                            <button-value-time [Uhrzeit]="GetStartzeit()" [Buttontext]="'Start'" [ElementID]="'Startpicker'" (TimeChanged)="StartzeitChanged($event)"></button-value-time>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col [size]="12">
                            <button-value-time [Uhrzeit]="GetEndezeit()" [Buttontext]="'Ende'" [ElementID]="'Endepicker'" (TimeChanged)="EndezeitChanged($event)"></button-value-time>
                          </ion-col>
                        </ion-row>
                        <!--
                        <ion-row>
                          <ion-col size="6">
                            <input-clone [MinHeight]="44" [Lines]="LinesanzahlTeilnehmer"
                                         [Clickable]="true" [Enabled]="false" Titel="Teilnehmer Intern" [Value]="DB.GetInterneTeilnehmerliste(false)" (click)="TeamteilnehmerClicked.emit()"></input-clone>
                          </ion-col>
                          <ion-col size="6">
                            <input-clone [MinHeight]="44" [Lines]="LinesanzahlTeilnehmer"
                                         [Clickable]="true" [Enabled]="false" Titel="Teilnehmer Extern" [Value]="DB.GetExterneTeilnehmerliste(false)"
                                         (click)="BeteiligteteilnehmerClicked.emit()"></input-clone>
                          </ion-col>
                        </ion-row>
                        -->
                        <ion-row>
                          <ion-col [size]="12">
                            <input-clone [(Value)]="DB.CurrentProtokoll.Notizen" [Titel]="'Notizen'" [Lines]="6" (TextChanged)="TextChangedHandler()"></input-clone>
                          </ion-col>
                        </ion-row>
                        <ion-row *ngIf="DB.CurrentProtokoll._id !== null">
                          <ion-col>
                            <table>
                              <tr>
                                <td colspan="2" style="height: 40px;"></td>
                              </tr>
                              <tr>
                                <td><checkbox-clon [Checked]="CanDelete" (CheckChanged)="CanDeleteCheckChanged($event)"></checkbox-clon></td>
                                <td style="width: 6px"></td>
                                <td>
                                  <ion-button size="small" color="rot" [disabled]="!CanDelete" (click)="DeleteProtokollClicked()">
                                    <ion-icon name="trash-outline" style="font-size: 20px"></ion-icon>
                                    <ion-text>Protkoll löschen</ion-text>
                                  </ion-button>
                                </td>
                              </tr>
                            </table>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                  </td>
                  <td style="width: 50%" valign="top">
                    <ion-grid>
                      <ion-row *ngIf="DBProjekte.CurrentProjekt !== null">
                        <ion-col size="12">
                          <table class="docinnertable" style="width: 100%">
                            <tr style="font-weight: bold;">
                              <td>Firma</td>
                              <td>Name</td>
                              <td style="text-align: center">T</td>
                              <td style="text-align: center">E</td>
                              <td>Emailadresse</td>
                            </tr>
                            <ng-container *ngFor="let Firma of this.DBProjekte.CurrentProjekt.Firmenliste; let Fimenindex = index">
                              <tr>
                                <td style="font-weight: bold; color: #c7d304;">{{Firma.Firma}}</td>
                                <td></td>
                                <td></td>
                                <!--
                                <checkbox-clon [Value]="Firma.FirmenID"                                [Checked]="GetTeilnehmerExternChecked(Firma.FirmenID)" (CheckChanged)="TeilnehmerExternCheckedChanged($event)"></checkbox-clon>
                                -->
                                <td><checkbox-clon [Value]="Firma.FirmenID" [Enabled]="Firma.Email !== ''" [Checked]="GetEmpfaengerExternChecked(Firma.FirmenID)" (CheckChanged)="EmpfaengerExternCheckedChanged($event)"></checkbox-clon></td>
                                <td>{{Firma.Email}}</td>
                              </tr>
                              <tr *ngFor="let Beteiligter of Beteiligtenliste[Fimenindex]">
                                <td></td>
                                <td>{{Beteiligter.Name}} {{Beteiligter.Vorname}}</td>
                                <td><checkbox-clon [Value]="Beteiligter.BeteiligtenID"                                      [Checked]="GetTeilnehmerExternChecked(Beteiligter.BeteiligtenID)" (CheckChanged)="TeilnehmerExternCheckedChanged($event)"></checkbox-clon></td>
                                <td><checkbox-clon [Value]="Beteiligter.BeteiligtenID" [Enabled]="Beteiligter.Email !== ''" [Checked]="GetEmpfaengerExternChecked(Beteiligter.BeteiligtenID)" (CheckChanged)="EmpfaengerExternCheckedChanged($event)"></checkbox-clon></td>
                                <td>{{Beteiligter.Email}}</td>
                              </tr>
                            </ng-container>
                            <tr>
                              <td style="font-weight: bold; color: #307ac1;">BAE</td>
                              <td></td>
                              <td></td>
                              <td><checkbox-clon [Value]="DBProjekte.CurrentProjekt._id" [Enabled]="DBProjekte.CurrentProjekt.Projektmailadresse !== ''" [Checked]="GetEmpfaengerInternChecked(DBProjekte.CurrentProjekt._id)" (CheckChanged)="EmpfaengerInternCheckedChanged($event)"></checkbox-clon></td>
                              <td>{{DBProjekte.CurrentProjekt.Projektmailadresse}}</td>
                            </tr>
                            <tr *ngFor="let Mitarbeiter of Mitarbeiterliste">
                              <td></td>
                              <td>{{Mitarbeiter.Name}} {{Mitarbeiter.Vorname}}</td>
                              <td><checkbox-clon [Value]="Mitarbeiter._id"                                      [Checked]="GetTeilnehmerInternChecked(Mitarbeiter._id)" (CheckChanged)="TeilnehmerInternCheckedChanged($event)"></checkbox-clon></td>
                              <td><checkbox-clon [Value]="Mitarbeiter._id" [Enabled]="Mitarbeiter.Email !== ''" [Checked]="GetEmpfaengerInternChecked(Mitarbeiter._id)" (CheckChanged)="EmpfaengerInternCheckedChanged($event)"></checkbox-clon></td>
                              <td>{{Mitarbeiter.Email}}</td>
                            </tr>
                          </table>

                        </ion-col>
                      </ion-row>
                    </ion-grid>
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <table>
                            <tr>
                              <td style="font-size: 80%"><b>T</b> = Teilnehmer  <b>E</b> = Protokoll Empfänger</td>
                            </tr>
                          </table>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </td>
                </tr>
              </table>



            </ng-container>
            <ng-container *ngSwitchCase="Bereiche.Themenliste">

              <div class="innerkeeperdivclass">
                <div class="innerkeeperleftdiv">
                  <div class="neubuttondivclass"
                       [style.background]="Valid === true ? '#7b6a58' : '#444444'"
                       (click)="Valid === true ? AddProtokollpunktClicked.emit() : null">
                    <table>
                      <tr>
                        <td><ion-icon name="add-circle-outline" color="weiss"></ion-icon></td>
                      </tr>
                      <tr>
                        <td style="writing-mode: vertical-lr; text-orientation: mixed; color: white;">NEUER EINTRAG</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="innerkeeperrightdiv">
                  <div style="width: 100%; height: 100%; overflow: auto; padding: 4px;">

                    <table class="listeheaderclass" style="color: black; width: 100%">
                      <tr>
                        <td colspan="6">
                          <ion-text color="baeblau" style="font-weight: bold; font-size: 120%;">{{DB.CurrentProtokoll.Titel}} &bull; {{GetDatum().format('DD.MM.YYYY')}}</ion-text>
                        </td>
                        <td colspan="2" style="width: 260px; text-align: center"><b>Zuständig</b></td>
                      </tr>
                      <tr>
                        <td style="width: 30px; text-align: center"><b>Nr.</b></td>
                        <td style="width: 30px; text-align: center"><b>LPH</b></td>
                        <td style="width: 80px; text-align: center"><b>Bereich</b></td>
                        <td style="width: 600px"><b>Beschreibung</b></td>
                        <td style="width: 90px; text-align: center;"><b>Termin</b></td>
                        <td style="width: 110px; text-align: center"><b>Status</b></td>
                        <td style="width: 130px; text-align: center; color: #307ac1;"><b>BAE</b></td>
                        <td style="width: 130px; text-align: center"><b>Firma</b></td>
                      </tr>
                      <tr *ngFor="let Projektpunkt of Punkteliste; let Punkteindex = index">

                        <td align="center" valign="middle">

                          <!-- Nummer -->

                          <table class="nobordersmalltable">
                            <tr>
                              <td style="text-align: center; font-size: 90%">{{Projektpunkt.Nummer}}</td>
                            </tr>
                          </table>
                        </td>

                        <td align="center" valign="middle">

                          <!-- LPH -->

                          <table class="nobordersmalltable">
                            <tr>
                              <td style="text-align: center; font-size: 90%">{{GetLeistungsphase(Projektpunkt.Leistungsphase)}}</td>
                            </tr>
                          </table>
                        </td>

                        <!--- Bereich -->

                        <td align="center">

                          <table class="nobordersmalltable">
                            <tr>
                              <td style="text-align: center; font-size: 90%">{{Projektpunkt.Fachbereich}}</td>
                            </tr>
                          </table>

                        </td>

                        <td valign="top" style="height: inherit;">

                          <!-- Aufgabe --->



                          <table class="nobordersmalltable" style="width: 100%;">
                            <tr>
                              <td>
                                <div (click)="ProtokollpunktClicked.emit(Projektpunkt)" class="aufgabedivclass">

                                  <table>
                                    <tr *ngIf="Projektpunkt.Status === Const.Projektpunktstatustypen.Festlegung.Name">
                                      <td  [style.font-size.px]="Pool.Mitarbeitersettings.Textsize"
                                           [innerHTML]="GetKostengruppe(Projektpunkt)" style="color: #FF9333; font-weight: bold; vertical-align: top; min-width: 20px" ></td>
                                    </tr>
                                    <tr>
                                      <td [style.font-size.px]="Pool.Mitarbeitersettings.Textsize"
                                          [innerHTML]="GetAufgabentext(Projektpunkt.Aufgabe) | safe: 'html'"></td>
                                    </tr>
                                  </table>


                                </div>

                              </td>
                            </tr>
                            <tr>
                              <td>

                                <table style="width: 100%;" class="nobordersmalltable">
                                  <tr *ngFor="let Anmerkung of Projektpunkt.Anmerkungenliste;">
                                    <td>

                                      <table *ngIf="Pool.Mitarbeitersettings !== null"  style="width: 100%;">
                                        <tr>
                                          <td style="width: 100%;">
                                            <table>
                                              <tr>
                                                <td style="color: orange" [style.font-size.px]="Pool.Mitarbeitersettings.Textsize">
                                                  {{GetAnmerkungDatum(Anmerkung.Zeitstempel)}}
                                                </td>
                                                <td style="width: 3px"></td>
                                                <td style="color: orange" [style.font-size.px]="Pool.Mitarbeitersettings.Textsize" *ngIf="DBMitarbeiter.GetMitarbeiterByEmail(Anmerkung.Verfasser.Email)">
                                                  {{DBMitarbeiter.GetMitarbeiterByEmail(Anmerkung.Verfasser.Email).Kuerzel}}:
                                                </td>
                                                <td>
                                                  <div  [style.font-size.px]="Pool.Mitarbeitersettings.Textsize"
                                                        [innerHTML]="Anmerkung.Anmerkung | safe : 'html'" style="width: 100%" class="bemerkungdivclass">
                                                  </div>
                                                </td>
                                              </tr>
                                            </table>
                                          </td>
                                        </tr>

                                      </table>

                                    </td>
                                  </tr>
                                </table>


                              </td>
                            </tr>
                            <tr>
                              <td>

                                <table>
                                  <tr *ngFor="let Zeilenliste of Thumbnailliste[Punkteindex]; let Zeilenindex = index">
                                    <ng-container *ngFor="let Thumb of Zeilenliste; let Thumbnailindex = index">
                                      <td style="cursor: pointer;">
                                        <ng-container *ngIf="Thumb !== null">

                                          <table *ngIf="Thumb.weburl !== null">
                                            <tr>
                                              <td style="padding: 2px" (click)="ThumbnailClicked($event, Zeilenliste, Punkteindex)">
                                                <div class="imageclass">
                                                  <img *ngIf="Thumb !== null" [src]="Thumb.largeurl" [style.width.px]="Thumbbreite"/>
                                                </div>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td style="font-size: 90%">{{Thumb.filename}}</td>
                                            </tr>
                                          </table>

                                          <table *ngIf="Thumb.weburl === null">
                                            <tr>
                                              <td style="padding: 2px">
                                                <div class="imageclass">
                                                  <div style="border: 1px solid gray; font-size: 80%; min-height: 120px;" [style.width.px]="Thumbbreite">
                                                    <table width="100%">
                                                      <tr>
                                                        <td style="text-align: center">
                                                          Bild nicht<br>gefunden
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td align="center">
                                                          <ion-icon (click)="DeleteThumbnailClicked($event, Projektpunkt, Thumb, Punkteindex, Zeilenindex, Thumbnailindex)" name="trash" color="rot" slot="icon-only"></ion-icon>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </div>
                                                </div>
                                              </td>
                                            </tr>
                                          </table>



                                        </ng-container>

                                      </td>
                                    </ng-container>
                                  </tr>
                                </table>

                              </td>
                            </tr>
                          </table>

                        </td>
                        <td style="height: inherit;">

                          <!-- Termin -->

                          <div class="statusdivclass" *ngIf="Projektpunkt.Status !== Const.Projektpunktstatustypen.Protokollpunkt.Name &&
                              Projektpunkt.Status !== Const.Projektpunktstatustypen.Festlegung.Name &&
                              Projektpunkt.Status !== Const.Projektpunktstatustypen.Geschlossen.Name &&
                              Projektpunkt.Status !== Const.Projektpunktstatustypen.Protokollpunkt.Name"
                               [style.color]="DBProjektpunkte.CheckProjektpunktFaellig(Projektpunkt) === Const.Faelligkeitsstatus.Nicht_faellig ? 'black' : 'white'"
                               [style.background]="DBProjektpunkte.GetFaelligBackground(Projektpunkt)">
                            {{GetTermindatum(Projektpunkt)}}
                          </div>

                        </td>
                        <td>

                          <!-- Status -->

                          <div class="statusdivclass"
                               [style.background]="DBProjektpunkte.GetProjektpunktstusByName(Projektpunkt.Status).Color"
                               (click)="ProjektpunktStatusClicked(Projektpunkt)">
                            {{DBProjektpunkte.GetProjektpunktstusByName(Projektpunkt.Status).Displayname}}
                          </div>

                        </td>

                        <td style="height: inherit;">

                          <!-- Zuständig BAE -->

                          <table class="nobordersmalltable" style="width: 100%">
                            <tr  *ngFor="let ZustaendigID of Projektpunkt.ZustaendigeInternIDListe">
                              <td style="text-align: center; color: #307ac1; font-size: 90%">
                                {{DB.GetZustaendigInternName(ZustaendigID)}}
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td style="height: inherit;">

                          <!-- Zuständig Firma -->

                          <table class="nobordersmalltable" style="width: 100%">
                            <tr *ngFor="let ZustaendigID of Projektpunkt.ZustaendigeExternIDListe">
                              <td style="text-align: center; color: black; font-size: 90%">
                                {{DB.GetZustaendigExternName(ZustaendigID)}}
                              </td>
                            </tr>
                          </table>

                        </td>
                      </tr>
                    </table>

                    <ion-grid>
                      <ion-row>
                        <ion-col>

                        </ion-col>
                      </ion-row>
                      <!--
                      <ion-row>
                        <ion-col>
                          <div *ngIf="CheckOkButtonEnabled()" class="savestatusdivclass" [style.background]="ProtokollSaved === true ? 'green' : 'red'"></div>
                        </ion-col>
                      </ion-row>
                      -->
                    </ion-grid>

                    <div style="height: 40px"></div>

                  </div>

                </div>
              </div>


            </ng-container>

          </ng-container>




          </div>

      </ion-content>


      <ion-footer>
        <page-footer>
          <table class="paddingsmalltable" width="100%">
            <tr>
              <td>
                <div class="rootbuttonclass" (click)="CancelClickedEvent.emit()">
                  <ion-icon style="font-size: 28px" color="weiss" name="close-outline"></ion-icon>
                </div>
              <td style="width: 100%"></td>
              <td>

                <div class="rootbuttonclass" (click)="Valid === true ? OkButtonClicked() : null">
                  <ion-icon style="font-size: 28px" [color]="Valid === true ? 'weiss' : 'grau'" name="save-outline"></ion-icon>
                </div>
              </td>
            </tr>
          </table>
        </page-footer>
      </ion-footer>

    </div>
  </div>
</div>




