
<div [style.z-index]="ZIndex" style="position: absolute; top: 0px; left: 0px; background: none; width: 100%; height: 100%">
  <div  class="keeperdivclass" [style.background]="Displayservice.ShowOpacity(Displayservice.Dialognamen.Bautagebucheditor) ? 'rgba(0, 0, 0, 0.5)' : 'none'" (click)="ContentClicked($event)">
    <div class="contentdivclass"
         [style.width.px]="Dialogbreite"
         [style.bottom.px]="PositionY" [style.top.px]="PositionY" (click)="ContentClicked($event)">
      <ion-header>
        <page-header>
          <table class="paddingsmalltable">
            <tr>
              <td><ion-icon [name]="Iconname" color="weiss"></ion-icon></td>
              <td [style.color]="'white'">{{Titel}}</td>
            </tr>
          </table>
        </page-header>
      </ion-header>

      <ion-content>

        <div class="contentinnerclass">

          <ion-grid *ngIf="DB.CurrentTagebuch">
            <ion-row>
              <ion-col size="6">
                <ion-text color="burnicklgruen"><b>Allgemein</b></ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <input-clone Titel="Auftraggeber" [(Value)]="DB.CurrentTagebuch.Auftraggeber" [Required]="true"  [MaxLength]="100" (TextChanged)="TextChanged($event)"></input-clone>
              </ion-col>
              <ion-col>
                <input-clone Titel="Bearbeiter" [Enabled]="false" [Value]="DB.CurrentTagebuch.Verfasser.Vorname + ' ' + DB.CurrentTagebuch.Verfasser.Name"></input-clone>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <input-clone Titel="Bautagebuch Nummer" [Inputtype]="'text'" [(Value)]="DB.CurrentTagebuch.Nummer" [Required]="true" [MinLength]="1" [MaxLength]="4" (TextChanged)="TextChanged($event)"></input-clone>
              </ion-col>
              <ion-col size="6">
                <button-value-date [Buttontext]="'Datum'" [Datum]="GetDatum()" (TimeChanged)="DatumChangedHandler($event)"></button-value-date>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <input-clone Titel="Bezeichnung der Baumaßnahme" [(Value)]="DB.CurrentTagebuch.Bezeichnung" [Required]="true" [MinLength]="3" [MaxLength]="200" (TextChanged)="TextChanged($event)"></input-clone>
              </ion-col>
              <ion-col>
                <input-clone Titel="Leistung" [(Value)]="DB.CurrentTagebuch.Leistung" [Required]="true" [MinLength]="3" [MaxLength]="200" (TextChanged)="TextChanged($event)"></input-clone>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <table style="width: 100%">
                  <tr>
                    <td><ion-text color="burnicklgruen"><b>Behinderungen</b></ion-text></td>
                  </tr>
                  <tr>
                    <td>
                      <ion-textarea rows="4" [value]="DB.CurrentTagebuch.Behinderungen" style="border: 1px solid #444444" (ionChange)="BehinderungTextChanged($event)">
                      </ion-textarea></td>
                  </tr>
                </table>
              </ion-col>
              <ion-col size="6">
                <table style="width: 100%">
                  <tr>
                    <ion-text color="burnicklgruen"><b>Vorkommnisse / Anordnungen / Hinweise</b></ion-text>
                  </tr>
                  <tr>
                    <ion-textarea rows="4" [value]="DB.CurrentTagebuch.Vorkommnisse" style="border: 1px solid #444444" (ionChange)="VorkommnisseTextChanged($event)">
                    </ion-textarea>
                  </tr>
                </table>

              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text color="burnicklgruen"><b>Arbeitskräftebesatz</b></ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="3">
                <input-clone Titel="Vorarbeiter" [(Value)]="DB.CurrentTagebuch.Vorarbeiter"  (TextChanged)="TextChanged($event)"></input-clone>
              </ion-col>
              <ion-col size="3">
                <input-clone Titel="Facharbeiter" [(Value)]="DB.CurrentTagebuch.Facharbeiter"  (TextChanged)="TextChanged($event)"></input-clone>
              </ion-col>
              <ion-col size="3">
                <input-clone Titel="Helfer" [(Value)]="DB.CurrentTagebuch.Helfer"  (TextChanged)="TextChanged($event)"></input-clone>
              </ion-col>
              <ion-col size="3">
                <input-clone Titel="Lehrling" [(Value)]="DB.CurrentTagebuch.Lehrling"  (TextChanged)="TextChanged($event)"></input-clone>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text color="burnicklgruen"><b>Witterung</b></ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4">
                <input-clone Titel="Temperatur" [(Value)]="DB.CurrentTagebuch.Temperatur" [Required]="true" [MinLength]="1"  [MaxLength]="10" (TextChanged)="TextChanged($event)"></input-clone>
              </ion-col>
              <ion-col size="8">
                <table style="width: 100%">
                  <tr>
                    <td>
                      <table class="docinnertable">
                        <tr style="height: 40px">
                          <td><checkbox-clon [Checked]="DB.CurrentTagebuch.Regen"  (CheckChanged)="RegenCheckedChanged($event)"></checkbox-clon></td>
                          <td>Regen</td>
                          <td><checkbox-clon [Checked]="DB.CurrentTagebuch.Frost"  (CheckChanged)="FrostCheckedChanged($event)"></checkbox-clon></td>
                          <td>Frost</td>
                          <td><checkbox-clon [Checked]="DB.CurrentTagebuch.Schnee" (CheckChanged)="SchneeCheckedChanged($event)"></checkbox-clon></td>
                          <td>Schnee</td>
                        </tr>
                      </table>
                    </td>
                    <td style="width: 20px"></td>
                    <td>

                      <table class="docinnertable">
                        <tr style="height: 40px">
                          <td><checkbox-clon [Checked]="DB.CurrentTagebuch.Wind" (CheckChanged)="WindCheckedChanged($event)"></checkbox-clon></td>
                          <td>Wind</td>
                        </tr>
                      </table>

                    </td>
                    <td style="width: 20px"></td>
                    <td align="right">
                      <table class="docinnertable">
                        <tr style="height: 40px">
                          <td><checkbox-clon [Checked]="DB.CurrentTagebuch.Sonnig"   (CheckChanged)="SonnigCheckedChanged($event)"></checkbox-clon></td>
                          <td>Sonnig</td>
                          <td><checkbox-clon [Checked]="DB.CurrentTagebuch.Bewoelkt" (CheckChanged)="BewoelktCheckedChanged($event)"></checkbox-clon></td>
                          <td>Bewölkt</td>
                          <td><checkbox-clon [Checked]="DB.CurrentTagebuch.Bedeckt"  (CheckChanged)="BedecktCheckedChanged($event)"></checkbox-clon></td>
                          <td>Bedeckt</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text color="burnicklgruen"><b>Witterung</b></ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div [style.height.px]="Gesamthoehe" style="width: 100%;">
                  <div  [style.height.px]="Headerhoehe" style="width: 100%;">
                    <table  width="100%" class="docinnertable">
                      <tr>
                        <td style="width: 60px; height: 30px; font-weight: bold">Nr.</td>
                        <td style="width: auto; font-weight: bold">Beschreibung</td>
                        <td style="width: 100px; font-weight: bold">Stunden</td>
                      </tr>
                    </table>
                  </div>
                  <div [style.height.px]="Listehoehe" style="width: 100%; overflow: auto;">
                    <table  width="100%" class="docinnertable">
                      <tr *ngFor="let Eintrag of DB.CurrentTagebuch.Eintraegeliste; let i = index">
                        <td style="width: 60px;">{{(i + 1).toString()}}</td>
                        <td style="width: auto;">
                          <div style="width: 100%; min-height: 26px; cursor: pointer; display: flex; align-items: center;" (click)="TagebucheintragClicked(Eintrag)">
                            {{Eintrag.Taetigkeit}}
                          </div>
                        </td>
                        <td style="width: 100px;">{{Eintrag.Arbeitszeit}}</td>
                      </tr>
                      <tr>
                        <td colspan="3">
                          <ion-button (click)="AddTaetigkeitClicked()" [color]="Basics.Ionicfarben.BurnicklBraun" size="small">Neuer Eintrag</ion-button>
                        </td>
                      </tr>

                    </table>
                  </div>
                </div>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="DB.CurrentTagebuch._id !== null">
              <ion-col>
                <table>
                  <tr>
                    <td><checkbox-clon [Checked]="DeleteEnabled" (CheckChanged)="LoeschenCheckboxChanged($event)"></checkbox-clon></td>
                    <td style="width: 6px"></td>
                    <td>
                      <ion-button size="small" color="rot" [disabled]="!DeleteEnabled" (click)="LoeschenButtonClicked()">
                        <ion-icon name="trash-outline" style="font-size: 20px"></ion-icon>
                        <ion-text>Bautagebuch löschen</ion-text>
                      </ion-button>
                    </td>
                  </tr>
                </table>
              </ion-col>
            </ion-row>

          </ion-grid>

        </div>
      </ion-content>

      <ion-footer>
        <page-footer>

          <table class="paddingsmalltable" width="100%">
            <tr>
              <td>
                <div class="rootbuttonclass" (click)="CancelButtonClicked()">
                  <ion-icon style="font-size: 28px" color="weiss" name="close-outline"></ion-icon>
                </div>
              <td style="width: 100%"></td>
              <td>
                <div class="rootbuttonclass" (click)="Valid === true ? OkButtonClicked() : null">
                  <ion-icon style="font-size: 28px" [color]="Valid === true ? 'weiss' : 'grau'" name="save-outline"></ion-icon>
                </div>
              </td>
            </tr>
          </table>

        </page-footer>

      </ion-footer>

    </div>
  </div>
</div>
