.infotable {

  td {

    font-size: 80%;
    color: #444444;
  }
}

.ergonametextclass {

  font-weight: bold;
}

.maildivclass {

  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
  height: 100%;
  width: 100%;
  cursor: pointer;
}

