<ion-header>
  <page-header #PageHeader>
    <page-header-menu
      (LeistungsphaseFilterClicked)="LeistungsphaseFilterClickedHanlder()"
      (ShowProjektfilesEvent)="ShowProjektfilesHandler()"
      (ShowProjektauswahlEvent)="ShowProjektauswahlEventHandler()"
      (ZeitspanneFilterClicked)="ZeitspanneFilterClickedHandler()"></page-header-menu>
  </page-header>
</ion-header>
<ion-content>

  <table *ngIf="DBProjekte.CurrentProjekt !== null" class="nobordertable">
    <tr>
      <td>
        <div class="projecticonclass" [style.background]="DBProjekte.GetProjektfarbeByProjekt(DBProjekte.CurrentProjekt)"></div>
      </td>
      <td>
        <ion-text color="baeblau" style="font-size: 120%"><b>{{DBProjekte.CurrentProjekt.Projektname}}</b></ion-text>
      </td>
    </tr>
  </table>

  <div *ngIf="DBProjekte.CurrentProjekt !== null" style="height: 100%; width: 100%;">
    <div  [style.height.px]="Headerhoehe" style="width: 100%; padding-left: 8px; padding-right: 8px; padding-top: 8px">
      <!-- *ngIf="Protokollliste.length !== 0"  -->
      <table   width="100%" class="docinnertable">
        <tr>
          <td style="width: 60px; height: 30px; font-weight: bold">Nr.</td>
          <td style="width: 100px; font-weight: bold">Datum</td>
          <!--
          <td style="width: 80px; font-weight: bold">LPH</td>
          -->
          <td style="width: auto; font-weight: bold">Titel</td>
          <td style="width: 80px; font-weight: bold">Einträge</td>
          <td style="width: 60px; font-weight: bold">Offen</td>
          <td style="width: 80px; font-weight: bold">Status</td>
        </tr>
      </table>

    </div>
    <div [style.height.px]="Listenhoehe" style="width: 100%; height: 100%; overflow: auto;">

      <div  *ngFor="let Protokoll of Protokollliste;" (click)="ProtokollClicked(Protokoll)" style="width: 100%; cursor: pointer; padding-left: 8px; padding-right: 8px">
        <table width="100%" class="docinnertablenew">
          <tr>
            <td style="width: 60px; height: 40px">{{Protokoll.Protokollnummer}}</td>
            <td style="width: 100px;">{{Protokoll.Zeitstring}}</td>
              <!--
            <td style="width: 80px;">
              {{Protokoll.Leistungsphase !== Const.NONE ? Protokoll.Leistungsphase : ''}}
            </td>
              -->
            <td style="width: auto;">
              <ng-container *ngIf="Protokoll.Filtered !== true">
                {{Protokoll.Titel}}
              </ng-container>
              <ng-container *ngIf="Protokoll.Filtered === true">
                <span>{{Protokoll.Text_A}}</span><span style="color: orange">{{Protokoll.Text_B}}</span><span>{{Protokoll.Text_C}}</span>
              </ng-container>
            </td>

            <td style="width: 80px;">{{Protokoll.ProjektpunkteIDListe.length !== 0 ? Protokoll.ProjektpunkteIDListe.length : 'leer'}}</td>
            <td style="width: 60px;" [style.color]="Protokoll.Punkteanzahl > 0 ? 'red' : 'green'">{{Protokoll.Punkteanzahl > 0 ? Protokoll.Punkteanzahl  : '0'}}</td>
            <td style="width: 80px;">
              <div *ngIf="Protokoll.ProjektpunkteIDListe.length > 0"class="maildivclass" (click)="SendMailButtonClicked($event, Protokoll)">
                <table class="nobordersmalltable">
                  <tr>
                    <td align="center">
                       <ion-icon  name="mail" [color]="Protokoll.GesendetZeitstempel !== null ? 'gruen' : 'rot'"></ion-icon>
                    </td>
                  </tr>
                  <ng-container *ngIf="Protokoll.GesendetZeitstempel !== null">
                    <tr>
                      <td style="text-align: center; font-size: 80%">{{Tools.GetDatumFromZeitstempel(Protokoll.GesendetZeitstempel)}}</td>
                    </tr>
                    <tr>
                      <td style="text-align: center; font-size: 80%">{{Tools.GetZeitFromZeitstempel(Protokoll.GesendetZeitstempel)}}</td>
                    </tr>
                  </ng-container>
                </table>

              </div>
            </td>
          </tr>
        </table>

      </div>

      <div *ngIf="Protokollliste.length === 0"  class="keineintragclass">
        <table   width="100%" class="docinnertable">
          <tr>
            <td style="text-align: center; height: 100px">Kein Protokoll vorhanden</td>
          </tr>
        </table>

      </div>

    </div>
  </div>


</ion-content>
<ion-footer>
  <page-footer #PageFooter>

    <div class="rootbuttonclass" (click)="AddProtokollButtonClicked()">
      <ion-icon style="font-size: 28px" color="weiss" name="add-circle-outline"></ion-icon>
    </div>

  </page-footer>
</ion-footer>


<pj-protokoll-editor *ngIf="ShowProtokollEditor"  [Dialogbreite]="Dialogbreite" [Dialoghoehe]="Dialoghoehe" [PositionY]="100"
                     [Titel]="GetProtokollTitel()" Iconname="book-outline"
                     [ZIndex]="2000"
                     (OkClickedEvent)="ShowProtokollEditor = false"
                     (CancelClickedEvent)="ShowProtokollEditor = false"
                     (TeamteilnehmerClicked)="TeamteilnehmerClickedHandler()"
                     (BeteiligteteilnehmerClicked)="BeteiligteteilnehmerClickedHandler()"
                     (ProtokollpunktClicked)="ProtokollpunktClickedHandler($event)"
                     (ThumbnailClickedEvent)="ThumbnailClickedEventHandler($event)"
                     (AddProtokollpunktClicked)="AddProtokollpunktClickedHandler()"></pj-protokoll-editor>

<pj-projektpunkt-editor *ngIf="ShowProjektpunktEditor" [Dialogbreite]="Dialogbreite" [Dialoghoehe]="Dialoghoehe" [PositionY]="100"
                        [ZIndex]="3000" [Titel]="GetProjektpunkteditorTitel()" Iconname="book-outline"
                        (StatusClicked)="StatusClickedHandler()"
                        (FachbereichClicked)="FachbereichClickedHandler()"
                        (KostengruppeClicked)="KostengruppeClickedHandler()"
                        (ZustaendigInternClicked)="ZustaendigInternHandler()"
                        (ZustaendigExternClicked)="ZustaendigExternHandler()"
                        (GebaeudeteilClicked)="GebaeudeteilClickedHandler()"
                        (AddBildEvent)="AddBildEventHandler()"
                        (TerminButtonClicked)="ShowDateKkPicker = true"
                        (CancelClickedEvent)="ShowProjektpunktEditor = false"
                        (OkClickedEvent)="ShowProjektpunktEditor = false"></pj-projektpunkt-editor>

<projektpunkt-date-kw-picker *ngIf="ShowDateKkPicker" [Dialogbreite]="380"
                             [Dialoghoehe]="460"
                             [PositionY]="DialogPosY + 200"
                             [ZIndex]="5000"
                             [Iconname]="'calendar-outline'"
                             [Titel]="'Termin oder KW festlegen'"
                             (OkClickedEvent)="ShowDateKkPicker = false"
                             (CancelClickedEvent)="ShowDateKkPicker = false">
</projektpunkt-date-kw-picker>

<pj-kostengruppen-auswahl *ngIf="ShowKostengruppenauswahl" Titel="Kostengruppe festlegen"
                          [Dialogbreite]="KostenDialogbreite" [Dialoghoehe]="KostenDialoghoehe" [PositionY]="DialogPosY"
                          (OkClickedEvent)="ShowKostengruppenauswahl = false"
                          (CancelClickedEvent)="ShowKostengruppenauswahl = false"></pj-kostengruppen-auswahl>

<fi-mitarbeiter-auswahl *ngIf="ShowMitarbeiterauswahl"
                        [Titel]="'Zuständige Kollegen festlegen'"
                        [Dialogbreite]="600" [Dialoghoehe]="Dialoghoehe - 200" [PositionY]="DialogPosY + 100" [ZIndex]="4000"
                        [Multiselect]="true"
                        Iconname="people-outline"
                        [AuswahlIDliste]="AuswahlIDliste"
                        (CancelClickedEvent)="ShowMitarbeiterauswahl = false"
                        (OkClickedEvent)="MitarbeiterauswahlOkButtonClicked($event)"
                        (StandortfilterClickedEvent)="MitarebiterStandortfilterClickedHandler()"></fi-mitarbeiter-auswahl>

<pj-beteiligten-auswahl *ngIf="ShowBeteiligteauswahl"
                        [Titel]="GetBeteiligtenauswahlTitel()"
                        [Dialogbreite]="600" [Dialoghoehe]="Dialoghoehe - 200" [PositionY]="DialogPosY + 100" [ZIndex]="4000"
                        [Multiselect]="true"
                        Iconname="people-outline"
                        [AuswahlIDliste]="AuswahlIDliste"
                        (CancelClickedEvent)="ShowBeteiligteauswahl = false"
                        (OkClickedEvent)="BeteiligteauswahlOkButtonClicked($event)"></pj-beteiligten-auswahl>

<pj-gebaeude-raumauswahl *ngIf="ShowRaumauswahl" [Titel]="'Gebäudeteil auswählen'" [Dialogbreite]="StrukturDialogbreite" [Dialoghoehe]="StrukturDialoghoehe"
                         [PositionY]="DialogPosY" [ZIndex]="4000"
                         (CancelClickedEvent)="ShowRaumauswahl = false"
                         (OkClickedEvent)="ShowRaumauswahl = false">
</pj-gebaeude-raumauswahl>

<pj-protokoll-listefilter *ngIf="ShowZeitspannefilter" [PositionY]="140" [Dialoghoehe]="514" [Dialogbreite]="580" Iconname="filter-circle-outline" [Titel]="'Zeitspanne festlegen'"
                          (CancelClickedEvent)="ShowZeitspannefilter = false"
                          (OkClickedEvent)="ShowZeitspannefilter = false"></pj-protokoll-listefilter>

<pj-email-send *ngIf="ShowEmailSenden"
                        [Titel]="'Protokoll senden'"
                        [Dialogbreite]="EmailDialogbreite"
                        [PositionY]="DialogPosY"
                        [ZIndex]="1000"
                        Iconname="mail-outline"
                       (EmpfaengerBurnicklClicked)="EmpfaengerBurnicklClickedHandler()"
                       (CcEmpfaengerBurnicklClicked)="CcEmpfaengerBurnicklClickedHandler()"
                       (EmpfaengerExternClicked)="EmpfaengerExternClickedHandler()"
                       (CcEmpfaengerExternClicked)="CcEmpfaengerExternClickedHandler()"
                        (CancelClickedEvent)="ShowEmailSenden = false"
                        (OkClickedEvent)="EmailSendenOkButtonClicked($event)"></pj-email-send>

<pj-projekte-schnellauswahl *ngIf="ShowProjektschnellauswahl"
                            [ZIndex]="5000"
                            [Dialogbreite]="800"
                            [Dialoghoehe]="Auswahlhoehe"
                            [PositionY]="100" [Titel]="'Projekt wechsel'" [Iconname]="'star-outline'"
                            (ProjektClickedEvent)="ProjektSchnellauswahlProjektClickedEventHandler($event)"
                            (CancelClickedEvent)="ShowProjektschnellauswahl = false"
                            (OkClickedEvent)="ShowProjektschnellauswahl = false">
</pj-projekte-schnellauswahl>


<auswahl-dialog *ngIf="ShowAuswahl" [Auswahlliste]="Auswahlliste" [Auswahlindex]="Auswahlindex" [ZIndex]="5000"
                [Dialogbreite]="200" [Dialoghoehe]="280" [PositionY]="200"
                [Titel]="Auswahltitel" [Iconname]="GetDialogTitelicon()"
                (OkClickedEvent)="AuswahlOkButtonClicked($event)"
                (CancelClickedEvent)="ShowAuswahl = false">
</auswahl-dialog>

<pj-projekte-selectimages *ngIf="ShowBildauswahl"
                              [ZIndex]="20000"
                              [Titel]="'Bilder auswählen'"
                              [Dialogbreite]="Dialogbreite"
                              [Dialoghoehe]="Dialoghoehe"
                              [PositionY]="100"
                              (SelectedImagesChanged)="SelectedImagesChangedHandler($event)"
                              (OkClickedEvent)="BilderAuswahlOKClicked($event)"
                              (CancelClickedEvent)="BilderAuswahlCancelClicked($event)">
</pj-projekte-selectimages>

