.infotable {

  td {

    font-size: 80%;
    color: #444444;
  }
}

.projecticonclass {

  height: 34px;
  width: 34px;
  border-radius: 4px;
  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
}

.ergonametextclass {

  font-weight: bold;
}

.maildivclass {

  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.keineintragclass {

  width: 100%;
  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
  font-weight: bold;
  font-size: 120%;
  padding-left: 8px; padding-right: 8px;
}

.protokolldivclass:hover {

  background: silver;
}

.protokolldivclass {

  // padding: 4px;
  background: white;
  border-radius: 3px;
  width: 100%;
  min-height: 36px;
  height: 100%;
  display: flex;
  justify-content: flex-start; // horizontal
  align-items: center; // vertikal
  cursor: pointer;
  padding: 4px;
  // border-radius: 3px;
}

