<ion-header>
  <page-header #PageHeader>

    <page-header-menu
      [Filterorigin]="Auswahlservice.Auswahloriginvarianten.Aufgabenliste_Zeitfilter" [Timelineindex]="Timelineindex"
      (ShowProjektauswahlEvent)="ShowProjektauswahlEventHandler()"
      (FilterChanged)="FilterChangedHandler($event)"
      (ShowProjektfilesEvent)="ShowProjektfilesHandler()"
      (ZeitspanneFilterClicked)="ZeitspanneFilterClickedHandler()">
    </page-header-menu>
  </page-header>
</ion-header>
<ion-content>

  <!--
  {{Heute.format('DD.MM.YYYY')}} / {{Heute.format('dddd')}}<br>
  {{Menuservice.Aufgabenlisteansicht}}<br>
  {{Menuservice.ProjekteMenuebereich}}<br>
  {{Menuservice.Aufgabenlisteansicht}}<br>
  {{DBProjekte.CurrentProjekt.Projektkey}}
  -->

  <!-- Meilensteine Projektpunkte  -->

  <ng-container *ngIf="Menuservice.Aufgabenlisteansicht === Menuservice.Aufgabenlisteansichten.Meilensteine">
    <ng-container  *ngFor="let Datenliste of this.Meilensteineprojektpunkteliste; let projektindex = index">

      <div style="padding: 4px;">
        <pj-projektpunkteliste [Datenliste]="Datenliste"
                               [CheckFilterEnabled]="false"
                               [ShowProjektnamen]="true"
                               [ShowMeintag]="true"
                               [Projekt]="MeilensteineProjektliste[projektindex]"
                               (FortschrittClicked)="FortschrittClickedHandler($event, projektindex, Datenursprungsvarianten.Meilensteine)"
                               (ZustaendigExternZuweisenClicked)="ListeZustaendigExternHandler($event, projektindex, Datenursprungsvarianten.Meilensteine)"
                               (ZustaendigInternZuweisenClicked)="ListeZustaendigInternHandler($event, projektindex, Datenursprungsvarianten.Meilensteine)"
                               (StatusClicked)="StatusClickedHandler($event, projektindex, Datenursprungsvarianten.Meilensteine)"
                               (EndedatumClicked)="EndedatumClickedHandler($event, projektindex, Datenursprungsvarianten.Meilensteine)"
                               (MeintagClicked)="PrepareDaten()"
                               (MeilensteinClicked)="PrepareDaten()"
                               (ProtokollmarkeClicked)="ProtokollmarkeClickedHandler()"
                               (LOPListerMarkeClicked)="LOPListerMarkeClickedHandler()"
                               (EmailMarkeClicked)="EmailMarkeClickedHandler($event)"
                               (AufgabeClicked)="AufgabeClickedHandler($event, projektindex, Datenursprungsvarianten.Meilensteine)"
                               (TerminFiltermodusClicked)="TerminFiltermodusClickedHandler($event)"
                               (ThumbnailClickedEvent)="ThumbnailClickedEventHandler($event)"
                               (AddProjektpunktClicked)="AddAufgabeClickedHandler(projektindex, Datenursprungsvarianten.Meilensteine)"
                               (MeinewocheZuweisenClicked)="MeinewocheZuweisenClickedHandler($event, projektindex, Datenursprungsvarianten.Meilensteine)"
                               (MeinewocheBearbeitenClicked)="MeineWocheBearbeitenClickedHandler($event, projektindex, Datenursprungsvarianten.Meilensteine)">
        </pj-projektpunkteliste>

      </div>

    </ng-container>
    <div *ngIf="Meilensteineprojektpunkteliste.length === 0" class="keineintragclass">
      Keine Aufgaben vorhanden
    </div>
  </ng-container>

  <ng-container *ngIf="Menuservice.Aufgabenlisteansicht === Menuservice.Aufgabenlisteansichten.Alle">
    <ng-container  *ngFor="let Datenliste of this.AlleProjektpunkteliste; let projektindex = index">

      <div style="padding: 4px;">
        <pj-projektpunkteliste [Datenliste]="Datenliste"
                               [CheckFilterEnabled]="false"
                               [ShowProjektnamen]="true"
                               [ShowMeintag]="true"
                               [Projekt]="AlleProjektliste[projektindex]"
                               (FortschrittClicked)="FortschrittClickedHandler($event, projektindex, Datenursprungsvarianten.Alle)"
                               (ZustaendigExternZuweisenClicked)="ListeZustaendigExternHandler($event, projektindex, Datenursprungsvarianten.Alle)"
                               (ZustaendigInternZuweisenClicked)="ListeZustaendigInternHandler($event, projektindex, Datenursprungsvarianten.Alle)"
                               (StatusClicked)="StatusClickedHandler($event, projektindex, Datenursprungsvarianten.Alle)"
                               (EndedatumClicked)="EndedatumClickedHandler($event, projektindex, Datenursprungsvarianten.Alle)"
                               (MeintagClicked)="PrepareDaten()"
                               (MeilensteinClicked)="PrepareDaten()"
                               (ProtokollmarkeClicked)="ProtokollmarkeClickedHandler()"
                               (LOPListerMarkeClicked)="LOPListerMarkeClickedHandler()"
                               (EmailMarkeClicked)="EmailMarkeClickedHandler($event)"
                               (AufgabeClicked)="AufgabeClickedHandler($event, projektindex, Datenursprungsvarianten.Alle)"
                               (TerminFiltermodusClicked)="TerminFiltermodusClickedHandler($event)"
                               (ThumbnailClickedEvent)="ThumbnailClickedEventHandler($event)"
                               (AddProjektpunktClicked)="AddAufgabeClickedHandler(projektindex, Datenursprungsvarianten.Alle)"
                               (MeinewocheZuweisenClicked)="MeinewocheZuweisenClickedHandler($event, projektindex, Datenursprungsvarianten.Alle)"
                               (MeinewocheBearbeitenClicked)="MeineWocheBearbeitenClickedHandler($event, projektindex, Datenursprungsvarianten.Alle)"
                               (SendeRuecklauferinnerungEvent)="SendeRuecklauferinnerungHandler($event)">
        </pj-projektpunkteliste>

      </div>

    </ng-container>

    <div *ngIf="AlleProjektpunkteliste.length === 0" class="keineintragclass">
      Keine Aufgaben vorhanden
    </div>
  </ng-container>

  <!-- Mein Tag Projektpunkte  -->

  <ng-container *ngIf="Menuservice.Aufgabenlisteansicht === Menuservice.Aufgabenlisteansichten.Mein_Tag">

    <ng-container  *ngFor="let Datenliste of this.Meintagprojektpunkteliste; let projektindex = index">

      <div *ngIf="DBProjektpunkte.CountProjektpunkte(Datenliste, true) !== 0" style="padding: 4px;">
        <pj-projektpunkteliste [Datenliste]="Datenliste"
                               [ShowProjektnamen]="true"
                               [ShowMeintag]="true"
                               [Projekt]="MeinTagProjektliste[projektindex]"
                               (FortschrittClicked)="FortschrittClickedHandler($event, projektindex, Datenursprungsvarianten.MeinTag)"
                               (ZustaendigExternZuweisenClicked)="ListeZustaendigExternHandler($event, projektindex, Datenursprungsvarianten.MeinTag)"
                               (ZustaendigInternZuweisenClicked)="ListeZustaendigInternHandler($event, projektindex, Datenursprungsvarianten.MeinTag)"
                               (StatusClicked)="StatusClickedHandler($event, projektindex, Datenursprungsvarianten.MeinTag)"
                               (EndedatumClicked)="EndedatumClickedHandler($event, projektindex, Datenursprungsvarianten.MeinTag)"
                               (MeintagClicked)="PrepareDaten()"
                               (MeilensteinClicked)="PrepareDaten()"
                               (ProtokollmarkeClicked)="ProtokollmarkeClickedHandler()"
                               (LOPListerMarkeClicked)="LOPListerMarkeClickedHandler()"
                               (EmailMarkeClicked)="EmailMarkeClickedHandler($event)"
                               (AufgabeClicked)="AufgabeClickedHandler($event, projektindex, Datenursprungsvarianten.MeinTag)"
                               (TerminFiltermodusClicked)="TerminFiltermodusClickedHandler($event)"
                               (ThumbnailClickedEvent)="ThumbnailClickedEventHandler($event)"
                               (AddProjektpunktClicked)="AddAufgabeClickedHandler(projektindex, Datenursprungsvarianten.MeinTag)"
                               (MeinewocheZuweisenClicked)="MeinewocheZuweisenClickedHandler($event, projektindex, Datenursprungsvarianten.MeinTag)"
                               (MeinewocheBearbeitenClicked)="MeineWocheBearbeitenClickedHandler($event, projektindex, Datenursprungsvarianten.MeinTag)">
        </pj-projektpunkteliste>

      </div>

      <!--
      <ng-container *ngIf="DBProjekte.CurrentProjekt !== null && GetMeinTagTerminanzahl() > 0">
        <table  style="width: 100%" class="docinnertable">
          <tr>
            <td colspan="20" class="nobordertitelbuttonclass">
              Termine
            </td>
          </tr>
        </table>

        <table class="docinnertable">
            <ng-container *ngIf="Kalenderliste[MeinTagindex]">
              <tr>
                <td style="font-weight: bold">Begin</td>
                <td style="font-weight: bold">Ende</td>
                <td style="font-weight: bold">Thema</td>
                <td style="font-weight: bold">Organisator</td>
              </tr>
              <tr *ngFor="let Termin of Kalenderliste[GetMeinTagindex()]">
                <td>{{GetUhrzeitstring(Termin.start.Zeitstempel)}}</td>
                <td>{{GetUhrzeitstring(Termin.end.Zeitstempel)}}</td>
                <td>{{Termin.subject}}</td>
                <td>{{Termin.organizer.emailAddress.name}}</td>
              </tr>
            </ng-container>
        </table>

      </ng-container>
      -->


    </ng-container>

    <div *ngIf="Meintagprojektpunkteliste.length === 0" class="keineintragclass">
      Kein Eintrag vorhanden
    </div>
  </ng-container>

  <!-- Meine Woche --->

  <ng-container *ngIf="Menuservice.Aufgabenlisteansicht === Menuservice.Aufgabenlisteansichten.Meine_Woche">

    <div style="width: 100%; background: none; overflow: hidden">
      <table style="width: 100%">
        <tr>
          <td [style.width.px]="Tagbreite" [style.height.px]="Listenhoehe">
            <div class="tagaufteilungkeeperdivclass">
              <ng-container *ngFor="let LabelPosY of Timelinelabelpossitionen; let i = index">
                <div *ngIf="i !== 0 && i < Timelinelabelpossitionen.length - 1" class="timelinelinieclass" [style.top.px]="LabelPosY + Timelinelabelhoehe / 2"></div>
              </ng-container>
              <div *ngFor="let Punkt of DBProjektpunkte.Wochenpunkteliste['Montag']" class="tagaufteilungeintragdivclass"
                   [style.background]="DBProjekte.GetProjektFarbeByProjektpunktkategorie(Punkt).Value"
                   [style.color]="DBProjekte.GetProjektFarbeByProjektpunktkategorie(Punkt).Fontcolor"
                   [style.height.px]="GetProjektpunthoehe(Punkt)"
                   [style.top.px]="GetProjektpunktPosY(Punkt)"
                   (click)="Punkt.ProjektID !== null ? MeineWocheEintragEditClicked($event, Punkt, 'Montag') : null">
                <table style="width: 100%">
                  <tr>
                    <td [innerHTML]="GetProjektpunktAufgabentext(Punkt)"></td>
                    <td *ngIf="Punkt.OutlookkatgorieID !== 'feiertrag' && Punkt.OutlookkatgorieID !== Const.NONE" style="width: 30px" align="right" valign="top">
                      <ion-icon name="book" (click)="MeineWocheEintragTagClicked($event, Punkt, 'Montag')"></ion-icon>
                    </td>
                  </tr>
                  <!--
                  <tr>
                    <td><div *ngIf="Punkt.ProjektID !== null" (click)="MeineWocheStatusClicked($event, Punkt)" class="meintagstatusdivclass" [style.background]="DBProjektpunkte.GetStatuscolor(Punkt)">{{Punkt.Status}}</div></td>
                    <td *ngIf="Punkt.ProjektID !== null" style="width: 30px">
                      <ion-icon name="trash-outline" (click)="MeineWocheDeleteClicked($event, Punkt, 'Montag')"></ion-icon></td>
                  </tr>
                  -->
                </table>
              </div>
            </div>
          </td>
          <td *ngIf="Timelineindex === 0" [style.width.px]="Timelinebreite">
            <div [style.height.px]="Listenhoehe" class="timelinedivclass">
              <ng-container *ngFor="let LabelPosY of Timelinelabelpossitionen; let i = index">
                <div *ngIf="i !== 0 && i < Timelinelabelpossitionen.length - 1" class="timelinelabelclass" [style.height.px]="Timelinelabelhoehe" [style.width.px]="Timelinelabelbreite" [style.top.px]="LabelPosY">{{Timelinelabeltexte[i]}}</div>
              </ng-container>
            </div>

          </td>
          <td style="width: 1px; background: white"></td>
          <td [style.width.px]="Tagbreite" [style.height.px]="Listenhoehe">
            <div class="tagaufteilungkeeperdivclass">
              <ng-container *ngFor="let LabelPosY of Timelinelabelpossitionen; let i = index">
                <div *ngIf="i !== 0 && i < Timelinelabelpossitionen.length - 1" class="timelinelinieclass" [style.top.px]="LabelPosY + Timelinelabelhoehe / 2"></div>
              </ng-container>
              <div *ngFor="let Punkt of DBProjektpunkte.Wochenpunkteliste['Dienstag']" class="tagaufteilungeintragdivclass"
                   [style.background]="DBProjekte.GetProjektFarbeByProjektpunktkategorie(Punkt).Value"
                   [style.color]="DBProjekte.GetProjektFarbeByProjektpunktkategorie(Punkt).Fontcolor"
                   [style.height.px]="GetProjektpunthoehe(Punkt)"
                   [style.top.px]="GetProjektpunktPosY(Punkt)"
                   (click)="Punkt.ProjektID !== null ? MeineWocheEintragEditClicked($event,Punkt,'Dienstag') : null">
                <table style="width: 100%">
                  <tr>
                    <td [innerHTML]="GetProjektpunktAufgabentext(Punkt)"></td>
                    <td *ngIf="Punkt.OutlookkatgorieID !== 'feiertag' && Punkt.OutlookkatgorieID !== Const.NONE" style="width: 30px" align="right" valign="top">
                      <ion-icon name="book" (click)="MeineWocheEintragTagClicked($event, Punkt, 'Montag')"></ion-icon>
                    </td>
                  </tr>
                  <!--
                  <tr>
                    <td><div *ngIf="Punkt.ProjektID !== null" (click)="MeineWocheStatusClicked($event, Punkt)" class="meintagstatusdivclass" [style.background]="DBProjektpunkte.GetStatuscolor(Punkt)">{{Punkt.Status}}</div></td>
                    <td *ngIf="Punkt.ProjektID !== null" style="width: 30px">
                      <ion-icon name="trash-outline" (click)="MeineWocheDeleteClicked($event, Punkt, 'Dienstag')"></ion-icon></td>
                  </tr>
                  -->
                </table>
              </div>
            </div>
          </td>
          <td *ngIf="Timelineindex === 1" [style.width.px]="Timelinebreite">
            <div [style.height.px]="Listenhoehe" class="timelinedivclass">
              <ng-container *ngFor="let LabelPosY of Timelinelabelpossitionen; let i = index">
                <div *ngIf="i !== 0 && i < Timelinelabelpossitionen.length - 1" class="timelinelabelclass" [style.height.px]="Timelinelabelhoehe" [style.width.px]="Timelinelabelbreite" [style.top.px]="LabelPosY">{{Timelinelabeltexte[i]}}</div>
              </ng-container>
            </div>
          </td>
          <td style="width: 1px; background: white"></td>
          <td [style.width.px]="Tagbreite" [style.height.px]="Listenhoehe">
            <div class="tagaufteilungkeeperdivclass">
              <ng-container *ngFor="let LabelPosY of Timelinelabelpossitionen; let i = index">
                <div *ngIf="i !== 0 && i < Timelinelabelpossitionen.length - 1" class="timelinelinieclass" [style.top.px]="LabelPosY + Timelinelabelhoehe / 2"></div>
              </ng-container>
              <div *ngFor="let Punkt of DBProjektpunkte.Wochenpunkteliste['Mittwoch']" class="tagaufteilungeintragdivclass"
                   [style.background]="DBProjekte.GetProjektFarbeByProjektpunktkategorie(Punkt).Value"
                   [style.color]="DBProjekte.GetProjektFarbeByProjektpunktkategorie(Punkt).Fontcolor"
                   [style.height.px]="GetProjektpunthoehe(Punkt)"
                   [style.top.px]="GetProjektpunktPosY(Punkt)"
                   (click)="Punkt.ProjektID !== null ? MeineWocheEintragEditClicked($event, Punkt, 'Mittwoch') : null">
                <table style="width: 100%">
                  <tr>
                    <td [innerHTML]="GetProjektpunktAufgabentext(Punkt)"></td>
                    <td *ngIf="Punkt.OutlookkatgorieID !== 'feiertrag' && Punkt.OutlookkatgorieID !== Const.NONE" style="width: 30px" align="right" valign="top">
                      <ion-icon name="book" (click)="MeineWocheEintragTagClicked($event, Punkt, 'Montag')"></ion-icon>
                    </td>
                  </tr>
                  <!--
                  <tr>
                    <td><div *ngIf="Punkt.ProjektID !== null" (click)="MeineWocheStatusClicked($event, Punkt)" class="meintagstatusdivclass" [style.background]="DBProjektpunkte.GetStatuscolor(Punkt)">{{Punkt.Status}}</div></td>
                    <td *ngIf="Punkt.ProjektID !== null" style="width: 30px">
                      <ion-icon name="trash-outline" (click)="MeineWocheDeleteClicked($event, Punkt, 'Mittwoch')"></ion-icon></td>
                  </tr>
                  -->
                </table>
              </div>
            </div>
          </td>
          <td *ngIf="Timelineindex === 2" [style.width.px]="Timelinebreite">
            <div [style.height.px]="Listenhoehe" class="timelinedivclass">
              <ng-container *ngFor="let LabelPosY of Timelinelabelpossitionen; let i = index">
                <div *ngIf="i !== 0 && i < Timelinelabelpossitionen.length - 1" class="timelinelabelclass" [style.height.px]="Timelinelabelhoehe" [style.width.px]="Timelinelabelbreite" [style.top.px]="LabelPosY">{{Timelinelabeltexte[i]}}</div>
              </ng-container>
            </div>
          </td>
          <td style="width: 1px; background: white"></td>
          <td [style.width.px]="Tagbreite" [style.height.px]="Listenhoehe">
            <div class="tagaufteilungkeeperdivclass">
              <ng-container *ngFor="let LabelPosY of Timelinelabelpossitionen; let i = index">
                <div *ngIf="i !== 0 && i < Timelinelabelpossitionen.length - 1" class="timelinelinieclass" [style.top.px]="LabelPosY + Timelinelabelhoehe / 2"></div>
              </ng-container>
              <div *ngFor="let Punkt of DBProjektpunkte.Wochenpunkteliste['Donnerstag']" class="tagaufteilungeintragdivclass"
                   [style.background]="DBProjekte.GetProjektFarbeByProjektpunktkategorie(Punkt).Value"
                   [style.color]="DBProjekte.GetProjektFarbeByProjektpunktkategorie(Punkt).Fontcolor"
                   [style.height.px]="GetProjektpunthoehe(Punkt)"
                   [style.top.px]="GetProjektpunktPosY(Punkt)"
                   (click)="Punkt.ProjektID !== null ? MeineWocheEintragEditClicked($event, Punkt, 'Donerstag') : null">
                <table style="width: 100%">
                  <tr>
                    <td [innerHTML]="GetProjektpunktAufgabentext(Punkt)"></td>
                    <td *ngIf="Punkt.OutlookkatgorieID !== 'feiertrag' && Punkt.OutlookkatgorieID !== Const.NONE" style="width: 30px" align="right" valign="top">
                      <ion-icon name="book" (click)="MeineWocheEintragTagClicked($event, Punkt, 'Montag')"></ion-icon>
                    </td>
                  </tr>
                  <!--
                  <tr>
                    <td><div *ngIf="Punkt.ProjektID !== null" (click)="MeineWocheStatusClicked($event, Punkt)" class="meintagstatusdivclass" [style.background]="DBProjektpunkte.GetStatuscolor(Punkt)">{{Punkt.Status}}</div></td>
                    <td *ngIf="Punkt.ProjektID !== null" style="width: 30px">
                      <ion-icon name="trash-outline" (click)="MeineWocheDeleteClicked($event, Punkt, 'Donnerstag')"></ion-icon></td>
                  </tr>
                  -->
                </table>
              </div>
            </div>
          </td>
          <td *ngIf="Timelineindex === 3" [style.width.px]="Timelinebreite">
            <div [style.height.px]="Listenhoehe" class="timelinedivclass">
              <ng-container *ngFor="let LabelPosY of Timelinelabelpossitionen; let i = index">
                <div *ngIf="i !== 0 && i < Timelinelabelpossitionen.length - 1" class="timelinelabelclass" [style.height.px]="Timelinelabelhoehe" [style.width.px]="Timelinelabelbreite" [style.top.px]="LabelPosY">{{Timelinelabeltexte[i]}}</div>
              </ng-container>
            </div>
          </td>
          <td style="width: 1px; background: white"></td>
          <td [style.width.px]="Tagbreite" [style.height.px]="Listenhoehe">
            <div class="tagaufteilungkeeperdivclass">
              <ng-container *ngFor="let LabelPosY of Timelinelabelpossitionen; let i = index">
                <div *ngIf="i !== 0 && i < Timelinelabelpossitionen.length - 1" class="timelinelinieclass" [style.top.px]="LabelPosY + Timelinelabelhoehe / 2"></div>
              </ng-container>
              <div *ngFor="let Punkt of DBProjektpunkte.Wochenpunkteliste['Freitag']" class="tagaufteilungeintragdivclass"
                   [style.background]="DBProjekte.GetProjektFarbeByProjektpunktkategorie(Punkt).Value"
                   [style.color]="DBProjekte.GetProjektFarbeByProjektpunktkategorie(Punkt).Fontcolor"
                   [style.height.px]="GetProjektpunthoehe(Punkt)"
                   [style.top.px]="GetProjektpunktPosY(Punkt)"
                   (click)="Punkt.ProjektID !== null ? MeineWocheEintragEditClicked($event, Punkt, 'Freitag') : null">
                <table style="width: 100%">
                  <tr>
                    <td [innerHTML]="GetProjektpunktAufgabentext(Punkt)"></td>
                    <td *ngIf="Punkt.OutlookkatgorieID !== 'feiertrag' && Punkt.OutlookkatgorieID !== Const.NONE" style="width: 30px" align="right" valign="top">
                      <ion-icon name="book" (click)="MeineWocheEintragTagClicked($event, Punkt, 'Montag')"></ion-icon>
                    </td>
                  </tr>
                  <!--
                  <tr>
                    <td><div *ngIf="Punkt.ProjektID !== null" (click)="MeineWocheStatusClicked($event, Punkt)" class="meintagstatusdivclass" [style.background]="DBProjektpunkte.GetStatuscolor(Punkt)">{{Punkt.Status}}</div></td>
                    <td *ngIf="Punkt.ProjektID !== null" style="width: 30px">
                      <ion-icon tooltip="Eintrag löschen" name="trash-outline" (click)="MeineWocheDeleteClicked($event, Punkt, 'Freitag')"></ion-icon>
                    </td>
                  </tr>
                  -->
                </table>
              </div>
            </div>
          </td>
          <!--
          <td><div class="tagaufteilungkeeperdivclass" [style.height.px]="Listenhoehe">{{Resthoehe}}</div></td>
          -->
        </tr>
      </table>

    </div>

  </ng-container>

  <!-- Meine Woche Ende --->

  <!-- Projekt  -->

  <div *ngIf="Menuservice.Aufgabenlisteansicht === Menuservice.Aufgabenlisteansichten.Projekt" style="padding: 4px">

    <pj-projektpunkteliste [Datenliste]="FavoritenProjektpunkteliste"
                           [ShowProjektnamen]="true"
                           [Projekt]="DBProjekte.CurrentProjekt"
                           (FortschrittClicked)="FortschrittClickedHandler($event, null, Datenursprungsvarianten.Favoritenprojekt)"
                           (ZustaendigExternZuweisenClicked)="ListeZustaendigExternHandler($event, null, Datenursprungsvarianten.Favoritenprojekt)"
                           (ZustaendigInternZuweisenClicked)="ListeZustaendigInternHandler($event, null, Datenursprungsvarianten.Favoritenprojekt)"
                           (StatusClicked)="StatusClickedHandler($event, null, Datenursprungsvarianten.Favoritenprojekt)"
                           (EndedatumClicked)="EndedatumClickedHandler($event, null, Datenursprungsvarianten.Favoritenprojekt)"
                           (MeintagClicked)="PrepareDaten()"
                           (MeilensteinClicked)="PrepareDaten()"
                           (ProtokollmarkeClicked)="ProtokollmarkeClickedHandler()"
                           (LOPListerMarkeClicked)="LOPListerMarkeClickedHandler()"
                           (EmailMarkeClicked)="EmailMarkeClickedHandler($event)"
                           (AufgabeClicked)="AufgabeClickedHandler($event, null, Datenursprungsvarianten.Favoritenprojekt)"
                           (TerminFiltermodusClicked)="TerminFiltermodusClickedHandler($event)"
                           (ThumbnailClickedEvent)="ThumbnailClickedEventHandler($event)"
                           (AddProjektpunktClicked)="AddAufgabeClickedHandler(null, Datenursprungsvarianten.Favoritenprojekt)"
                           (MeinewocheZuweisenClicked)="MeinewocheZuweisenClickedHandler($event, null, Datenursprungsvarianten.Favoritenprojekt)"
                           (MeinewocheBearbeitenClicked)="MeineWocheBearbeitenClickedHandler($event, null, Datenursprungsvarianten.Favoritenprojekt)"
                           (SendeRuecklauferinnerungEvent)="SendeRuecklauferinnerungHandler($event)">
    </pj-projektpunkteliste>
    <!--
      <table *ngIf="DBProjekte.CurrentProjekt !== null && Kalenderliste.length > 0" style="width: 100%" class="docinnertable">
        <tr>
          <td colspan="20" class="nobordertitelbuttonclass">
            Termine
          </td>
        </tr>
      </table>
      <table class="docinnertable">
        <ng-container *ngFor="let Tageintrag of Tageliste; let Tagindex = index">
          <ng-container *ngIf="Kalenderliste[Tagindex] && Kalenderliste[Tagindex].length > 0">
            <tr>
              <td colspan="10"><b><ion-text color="burnicklgruen">{{Tageintrag.Tag + ', ' + Tageintrag.Datum}}</ion-text></b></td>
            </tr>
            <tr>
              <td style="font-weight: bold">Begin</td>
              <td style="font-weight: bold">Ende</td>
              <td style="font-weight: bold">Thema</td>
              <td style="font-weight: bold">Organisator</td>
            </tr>
            <tr *ngFor="let Termin of Kalenderliste[Tagindex]">
              <td>{{GetUhrzeitstring(Termin.start.Zeitstempel)}}</td>
              <td>{{GetUhrzeitstring(Termin.end.Zeitstempel)}}</td>
              <td>{{Termin.subject}}</td>
              <td>{{Termin.organizer.emailAddress.name}}</td>
            </tr>
          </ng-container>
        </ng-container>
      </table>
      -->

  </div>



</ion-content>
<ion-footer>
  <page-footer #PageFooter>

    <table width="100%">
      <tr>
        <td align="left">
          <div class="datumkeeperclass">{{GetDatum()}}</div>
        </td>
        <td style="width: 50px" align="right">
          <!--
          <div class="rootbuttonclass" (click)="DBProjekte.CurrentProjekt !== null ? AddAufgabeClickedHandler() : null">
            <ion-icon style="font-size: 28px" [color]="DBProjekte.CurrentProjekt !== null ? 'burnicklgruen' : 'burnicklbraun'" name="add-circle-outline"></ion-icon>
          </div>
          -->
        </td>
      </tr>
    </table>

    <div class="rootbuttonclass" (click)="SchnellaufgabeButtonClicked()">
      <table border="0">
        <tr>
          <td style="width: 128px">
            <ion-text color="weiss">Schnelle Aufgabe</ion-text>
          </td>
          <td>
            <ion-icon style="font-size: 28px" color="weiss" name="add-circle-outline"></ion-icon>
          </td>
        </tr>
      </table>
    </div>

  </page-footer>
</ion-footer>

<pj-aufgaben-listefilter *ngIf="ShowZeitspannefilter"
                         [Titel]="'Zeitspanne festlegen'"
                         [Dialogbreite]="700"
                         [Dialoghoehe]="340"
                         [PositionY]="DialogPosY + 200"
                         [ZIndex]="4000" (CancelClickedEvent)="ShowZeitspannefilter = false"
                         (OkClickedEvent)="ShowZeitspannefilter = false">
</pj-aufgaben-listefilter>


<pj-projektpunkt-editor *ngIf="ShowProjektpunktEditor" [Dialogbreite]="Dialogbreite" [Dialoghoehe]="Dialoghoehe" [PositionY]="DialogPosY"
                        [ZIndex]="3000" [Titel]="GetProjektpunkteditorTitel()" Iconname="book-outline"
                        (StatusClicked)="EditorStatusClickedHandler()" (FachbereichClicked)="FachbereichClickedHandler()"
                        (KostengruppeClicked)="KostengruppeClickedHandler()"
                        (ZustaendigInternClicked)="EditorZustaendigInternHandler()"
                        (ZustaendigExternClicked)="EditorZustaendigExternHandler()"
                        (GebaeudeteilClicked)="GebaeudeteilClickedHandler()"
                        (LeistungsphaseClickedEvent)="LeistungsphaseClickedHandler()"
                        (TerminButtonClicked)="ShowDateKkPicker = true"
                        (CancelClickedEvent)="ShowProjektpunktEditor = false"
                        (OkClickedEvent)="ShowProjektpunktEditor = false"></pj-projektpunkt-editor>

<pj-kostengruppen-auswahl *ngIf="ShowKostengruppenauswahl" Titel="Kostengruppe festlegen"
                          [Dialogbreite]="KostenDialogbreite" [Dialoghoehe]="KostenDialoghoehe" [PositionY]="DialogPosY"
                          (OkClickedEvent)="ShowKostengruppenauswahl = false"
                          (CancelClickedEvent)="ShowKostengruppenauswahl = false"></pj-kostengruppen-auswahl>


<fi-mitarbeiter-auswahl *ngIf="ShowMitarbeiterauswahl"
                        [Titel]="'Zuständige Kollegen festlegen'"
                        [Dialogbreite]="600" [Dialoghoehe]="Dialoghoehe - 200" [PositionY]="DialogPosY + 100" [ZIndex]="4000"
                        [Multiselect]="true"
                        Iconname="people-outline"
                        [AuswahlIDliste]="AuswahlIDliste"
                        (CancelClickedEvent)="ShowMitarbeiterauswahl = false"
                        (OkClickedEvent)="MitarbeiterauswahlOkButtonClicked($event)"
                        (StandortfilterClickedEvent)="MitarebiterStandortfilterClickedHandler()"></fi-mitarbeiter-auswahl>

<pj-beteiligten-auswahl *ngIf="ShowBeteiligteauswahl"
                        [Titel]="GetBeteiligtenauswahlTitel()"
                        [Dialogbreite]="600" [Dialoghoehe]="Dialoghoehe - 200" [PositionY]="DialogPosY + 100" [ZIndex]="4000"
                        [Multiselect]="true"
                        Iconname="people-outline"
                        [AuswahlIDliste]="AuswahlIDliste"
                        (CancelClickedEvent)="ShowBeteiligteauswahl = false"
                        (OkClickedEvent)="BeteiligteauswahlOkButtonClicked($event)"></pj-beteiligten-auswahl>

<projektpunkt-statusdate-picker *ngIf="ShowDateStatusPicker" [Dialogbreite]="600"
                                [Dialoghoehe]="Dialoghoehe - 200"
                                [PositionY]="DialogPosY + 100"
                                [ZIndex]="4000"
                                [Iconname]="'calendar-outline'"
                                [Titel]="'Termin und Status festlegen'"
                                [ShowProtokollpunkte]="false"
                                [Datum]="Datum"
                                [Status]="DBProjektpunkte.CurrentProjektpunkt.Status"
                                (OkClickedEvent)="ShowDateStatusPicker = false"
                                (CancelClickedEvent)="ShowDateStatusPicker = false">
</projektpunkt-statusdate-picker>

<projektpunkt-date-kw-picker *ngIf="ShowDateKkPicker" [Dialogbreite]="380"
                             [Dialoghoehe]="460"
                             [PositionY]="DialogPosY + 200"
                             [ZIndex]="5000"
                             [Iconname]="'calendar-outline'"
                             [Titel]="'Termin oder KW festlegen'"
                             (OkClickedEvent)="ShowDateKkPicker = false"
                             (CancelClickedEvent)="ShowDateKkPicker = false">
</projektpunkt-date-kw-picker>

<pj-favoriten-auswahl *ngIf="ShowFavoritenauswahl"
                      [ZIndex]="5000"
                      [Dialogbreite]="800"
                      [Dialoghoehe]="Auswahlhoehe"
                      [PositionY]="200" [Titel]="'Favoriten auswählen'" [Iconname]="'star-outline'"
                      (CancelClickedEvent)="ShowFavoritenauswahl = false"
                      (OkClickedEvent)="ShowFavoritenauswahl = false">
</pj-favoriten-auswahl>

<pj-projekte-schnellauswahl *ngIf="ShowProjektschnellauswahl"
                            [ZIndex]="5000"
                            [Dialogbreite]="800"
                            [Dialoghoehe]="Auswahlhoehe"
                            [PositionY]="200" [Titel]="Projektschenllauswahltitel" [Iconname]="'star-outline'"
                            (ProjektClickedEvent)="ProjektSchnellauswahlProjektClickedEventHandler($event)"
                            (CancelClickedEvent)="ShowProjektschnellauswahl = false"
                            (OkClickedEvent)="ShowProjektschnellauswahl = false">
</pj-projekte-schnellauswahl>

<pj-meinewoche-editor *ngIf="ShowMeinewocheEditor"
                      [ZIndex]="5000"
                      [Dialogbreite]="Basics.Contentbreite - 40"
                      [Dialoghoehe]="900"
                      [PositionY]="160" [Titel]="'Wochentage auswählen'" [Iconname]="'calendar-outline'"
                      (OkClickedEvent)="ShowMeinewocheEditor = false"
                      (CancelClickedEvent)="ShowMeinewocheEditor = false">
</pj-meinewoche-editor>

<auswahl-dialog *ngIf="ShowAuswahl" [Auswahlliste]="Auswahlliste" [Auswahlindex]="Auswahlindex" [ZIndex]="5000"
                [Dialogbreite]="200" [Dialoghoehe]="Auswahlhoehe" [PositionY]="200"
                [Titel]="Auswahltitel" [Iconname]="GetDialogTitelicon()"
                (OkClickedEvent)="AuswahlOkButtonClicked($event)"
                (CancelClickedEvent)="ShowAuswahl = false">
</auswahl-dialog>

<pj-protokoll-editor *ngIf="ShowProtokollEditor"  [Dialogbreite]="Dialogbreite" [Dialoghoehe]="Dialoghoehe" [PositionY]="DialogPosY"
                     [Titel]="'Protokoll bearbeiten'" Iconname="book-outline"
                     [ZIndex]="2000"
                     (OkClickedEvent)="ShowProtokollEditor = false"
                     (CancelClickedEvent)="ShowProtokollEditor = false"
                     (TeamteilnehmerClicked)="TeamteilnehmerClickedHandler()"
                     (BeteiligteteilnehmerClicked)="BeteiligteteilnehmerClickedHandler()"
                     (ProtokollpunktClicked)="ProtokollpunktClickedHandler($event)"
                     (AddProtokollpunktClicked)="AddProtokollpunktClickedHandler()">
</pj-protokoll-editor>

<pj-baustelle-lopliste-editor *ngIf="ShowLOPListeEditor" [Dialogbreite]="Dialogbreite" [Dialoghoehe]="Dialoghoehe" [PositionY]="DialogPosY"
                              [Titel]="'LOP Liste bearbeiten'" Iconname="book-outline"
                              [ZIndex]="2000"
                              (OkClickedEvent)="ShowLOPListeEditor = false"
                              (CancelClickedEvent)="ShowLOPListeEditor = false"
                              (TeamteilnehmerClicked)="TeamteilnehmerClickedHandler()"
                              (BeteiligteteilnehmerClicked)="BeteiligteteilnehmerClickedHandler()"
                              (LOPListepunktClicked)="LOPListepunktClickedHandler($event)"
                              (AddLOPListepunktClicked)="AddLOPListepunktClickedHandler()">
</pj-baustelle-lopliste-editor>

<pj-email-send *ngIf="ShowEmailSenden"
               [Titel]="'LOP Liste senden'"
               [Dialogbreite]="EmailDialogbreite"
               [PositionY]="DialogPosY"
               [ZIndex]="1000"
               [SendAttachment]="false"
               [ShowEmpfaengerBAE]="false"
               [ShowCcEmpfaengerExtern]="false"
               Iconname="mail-outline"
               (CcEmpfaengerInternClicked)="EmailCcEmpfaengerInternClickedHandler()"
               (EmpfaengerExternClicked)="EmailEmpfaengerExternClickedHandler()"
               (CancelClickedEvent)="ShowEmailSenden = false"
               (OkClickedEvent)="EmailSendenOkButtonClicked($event)"></pj-email-send>

<!--
   (EmpfaengerInternClicked)="EmailEmpfaengerInternClickedHandler()"
   (CcEmpfaengerExternClicked)="EmailCcEmpfaengerExternClickedHandler()"


-->











