.infotable {

  td {

    font-size: 80%;
    color: #444444;
  }
}

.timelinelabelclass {

  position: absolute;
  left: 0px;
  color: white;
  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
  font-size: 80%;
  font-weight: bold;
}

.timelinedivclass {

  width: 100%;
  position: relative;
  /* background: #2190df; */
  background:  #354547;
  border-left: 1px solid white;
}

.nobordertitelbuttonclass {

  border-left-style: hidden !important;
  border-right-style: hidden !important;
  border-top-style: hidden !important;
  border-bottom-style: hidden !important;
  color: #2190df;
  font-size: 120%;
  font-weight: bold;
}

.timelinelinieclass {

  position: absolute;
  width: 100%;
  background: white;
  height: 1px;
  z-index: 10;
}

.keineintragclass {

  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
  font-weight: bold;
  font-size: 120%;
}

.ergonametextclass {

  font-weight: bold;
}

.datumkeeperclass {

  width: 240px;
  height: 100%;
  left: 0px;
  background: none;
  display: flex;
  justify-content: flex-start; // horizontal
  align-items: center; // vertikal
  color: white;
  font-weight: bold;
  padding: 6px;
}

.tagaufteilungkeeperdivclass {

  position: relative;
  border-top: 1px solid white;
  width: 100%;
  height: 100%;
  background: silver;
  color: white;
  display: flex;
  flex-direction: column;
}

.tagaufteilungeintragdivclass {

  position: absolute;
  width: 100%;
  color: white;
  padding: 4px;
  margin-bottom: 1px;
  overflow: hidden;
  font-size: 90%;
  cursor: pointer;
  z-index: 100;
}

.meintagstatusdivclass {

  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
  padding: 4px;
  color: white;
  width: 100px;
  margin-top: 4px;
  margin-bottom: 4px;
  border: 1px solid white;
}


