
<table *ngIf="Settings !== null && Projekt !== null" style="width: 100%" class="docinnertable">
  <tr *ngIf="ShowProjektnamen === true">
    <td colspan="20" class="nobordertitelbuttonclass">
      {{Projekt.Projektname}}
    </td>
  </tr>
  <tr *ngIf="ShowListentitel">
    <!--
    <td style="width: 70px; text-align: center"><b>Debug</b></td>
    -->
    <td *ngIf="Settings.AufgabenShowNummer" style="min-width: 20px; text-align: center"><b>Nr</b></td>
    <td *ngIf="Settings.AufgabenShowStartdatum" style="min-width: 60px; text-align: center"><b>Start</b></td>
    <!--
    <td *ngIf="Settings.AufgabenShowMeintag" style="width: 90px; text-align: center"><b>Meintag</b></td>

      class="verticalclass"
      class="verticalclass"
    -->
    <td *ngIf="Settings.AufgabenShowMeinewoche" style="width: 90px; text-align: center"><b>Meine Woche</b></td>
    <td *ngIf="Settings.AufgabenShowMeilensteine" style="width: 90px; text-align: center"><b>Meilenstein</b></td>

    <td style="width: 50px">
      <table  class="nobordertable">
        <tr>
          <td><ion-icon name="create" style="font-size: 28px"></ion-icon></td>
          <td><checkbox-clon [Checked]="Settings.AufgabenShowPlanung" (CheckChanged)="PlanungCheckedChanged($event)"></checkbox-clon></td>
        </tr>
      </table>
    </td>
    <td style="width: 50px;">
      <table  class="nobordertable">
        <tr>
          <td><ion-icon name="hammer" style="font-size: 22px"></ion-icon></td>
          <td><checkbox-clon [Checked]="Settings.AufgabenShowAusfuehrung" (CheckChanged)="AusfuehrungCheckedChanged($event)"></checkbox-clon></td>
        </tr>
      </table>
    </td>
    <td *ngIf="Settings.AufgabenShowAufgabe" style="min-width: 300px;"><b>Aufgabe</b></td>
    <td *ngIf="Settings.AufgabenShowBemerkung" style="min-width: 334px"><b>Anmerkungen</b></td>
    <td *ngIf="Settings.AufgabenShowFortschritt" style="min-width: 40px; text-align: center"><b>Fortschritt</b></td>
    <td *ngIf="Settings.AufgabenShowZeitansatz" style="min-width: 40px; text-align: center"><b>Zeitansatz</b></td>
    <td *ngIf="Settings.AufgabenShowTermin" style="min-width: 40px;" align="center">
      <table class="nobordertable">
        <tr>
          <td>
            <div style="cursor: pointer" (click)="TerminFilterAufsteigendClickedHandler()">
              <ion-icon style="font-size: 26px" name="caret-up-circle-outline" [color]="Settings.AufgabenSortiermodus === Const.AufgabenSortiermodusvarianten.TermineAufsteigend ? 'burnicklgruen' : 'grau'"></ion-icon>
            </div>
          </td>
          <td><b>Termin</b></td>
          <td>
            <div style="cursor: pointer" (click)="TerminFilterAbsteigendClickedHandler()">
              <ion-icon style="font-size: 26px" name="caret-down-circle-outline" [color]="Settings.AufgabenSortiermodus === Const.AufgabenSortiermodusvarianten.TermineAbsteigend  ? 'burnicklgruen' : 'grau'"></ion-icon>
            </div>
          </td>
        </tr>
      </table>
    </td>
    <td *ngIf="Settings.AufgabenShowTage" style="min-width: 66px; text-align: center"><b>Tage</b></td>
    <td *ngIf="Settings.AufgabenShowZustaendig" style="min-width: 66px; text-align: center"><b>Zuständig</b></td>
    <td *ngIf="Settings.AufgabenShowStatus" style="width: 100px; text-align: center"><b>Status</b></td>
    <td *ngIf="Settings.AufgabenShowStatus" style="width: 36px; text-align: center"></td>
  </tr>

  <ng-container *ngFor="let Projektpunkt of Datenliste; let i = index">
    <tr *ngIf="CheckFilterEnabled ? Database.CheckFilter(Projektpunkt, ShowMeintag) : true" style="height: 1px">
      <!--
      <td align="center"><div class="zustaendigdivemptyclass" (click)="DebugButtonClicked($event, Projektpunkt)">Print</div></td>
      -->
      <td *ngIf="Settings.AufgabenShowNummer" style="text-align: center; font-size: 90%">{{Projektpunkt.Nummer}}</td>
      <td *ngIf="Settings.AufgabenShowStartdatum" style="height: inherit">
          <pj-datepicker [ElementID]="Datepickerprefix + '_start_' + Projektpunkt._id" [Projektp unkt]="Projektpunkt" [Smalldate]="true" [Smallsize]="true"
                             [Datum]="GetStartdatum(Projektpunkt)" (TimeChanged)="StartDatumChangedHandler($event)" (DateClicked)="DateClickedHandler()">
          </pj-datepicker>
      </td>
      <!--
      <td *ngIf="Settings.AufgabenShowMeintag" style="height: inherit">
        <div class="statusdivclass" [style.background]="Database.GetMeintagCheckstatus(Projektpunkt) === 'ON' ? '#444444' : 'white'" (click)="MeintagDivClicked($event, Projektpunkt)">
          <checkbox-clon [Checked]="Database.GetMeintagCheckstatus(Projektpunkt) === 'ON'" (CheckChanged)="MeintagDivClicked($event, Projektpunkt)"></checkbox-clon>
        </div>
      </td>
      -->
      <td *ngIf="Settings.AufgabenShowMeinewoche" style="height: inherit" align="center">

        <div *ngIf="Database.CheckIsMeinewoche(Projektpunkt) === false" class="zustaendigdivemptyclass" (click)="MeineWocheZuweisenClickedHandler(Projektpunkt)">Setzen</div>
        <div *ngIf="Database.CheckIsMeinewoche(Projektpunkt) === true" class="zustaendigdivfillclass" [innerHTML]="GetMeineWocheTage(Projektpunkt)" (click)="MeineWocheBearbeitenClickedHandler(Projektpunkt)"></div>

      </td>
      <td *ngIf="Settings.AufgabenShowMeilensteine" style="height: inherit">
        <div class="statusdivclass" [style.background]="Projektpunkt.Meilensteinstatus === 'ON' ? 'purple' : 'white'" (click)="MeilensteinDivClicked($event, Projektpunkt)">
          <checkbox-clon [Checked]="Projektpunkt.Meilensteinstatus === 'ON'" (CheckChanged)="MeilensteinDivClicked($event, Projektpunkt)"></checkbox-clon>
        </div>
      </td>
      <td  style="height: inherit" align="center">
        <div *ngIf="Projektpunkt.LOPListeID === null" style="width: 8px; height: 8px; border-radius: 50%; background: #7b6a58;"></div>
      </td>
      <td  style="height: inherit" align="center">
        <div *ngIf="Projektpunkt.LOPListeID !== null" style="width: 8px; height: 8px; border-radius: 50%; background: #c7d304;"></div>
      </td>

      <td *ngIf="Settings.AufgabenShowAufgabe" style="height: inherit">

        <table  class="nobordertable" style="width: 100%">
          <tr>
            <td style="height: inherit">
              <div class="aufgabedivclass" (click)="AufgabeClickedHandler(Projektpunkt)" [innerHTML]="Tools.FormatLinebreaks(Projektpunkt.Aufgabe) | safe : 'html'"></div>
            </td>
            <td style="height: inherit; width: 30px">
              <table>
                <tr *ngIf="Projektpunkt.ProtokollID !== null" style="height: inherit;">
                  <td style=" width: 30px">
                    <div (click)="ProtokollMarkeClicked(Projektpunkt)" class="markerclass">
                      P
                    </div>
                  </td>
                </tr>
                <tr *ngIf="Projektpunkt.LOPListeID !== null " style="height: inherit; ">
                  <td style="width: 30px">
                    <div (click)="LOPMarkeClicked(Projektpunkt)" class="markerclass">
                      LOP
                    </div>
                  </td>
                </tr>
                <tr *ngIf="Projektpunkt.EmailID !== null " style="height: inherit; ">
                  <td style="width: 30px">
                    <div (click)="EmailMarkeClicked.emit(Projektpunkt)" class="markerclass">
                      E
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr *ngIf="Projektpunkt.ProtokollID !== Const.NONE">

          </tr>
        </table>
      </td>
      <td *ngIf="Settings.AufgabenShowBemerkung">

        <div *ngIf="ShowAddNewDetail(Projektpunkt) === true && Projektpunkt.Anmerkungenliste.length === 0"
             (click)="AddAnmerkungClickedHandler(Projektpunkt)" class="rootbuttonsmallclass">
          <ion-icon name="add-circle-outline" slot="icon-only" color="weiss"></ion-icon>
        </div>

        <table *ngIf="Projektpunkt.Anmerkungenliste.length !== 0" style="width:100%" class="nobordersmalltable">
          <tr>
            <td>

              <table style="width: 100%;" class="nobordersmalltable">
                <tr *ngFor="let Anmerkung of Projektpunkt.Anmerkungenliste; let Detailindex = index;">
                  <td>

                    <table *ngIf="Anmerkung.LiveEditor === false"  style="width: 100%;">
                      <tr>
                        <td style="width: 100%;">
                          <div style="width: 100%" class="bemerkungdivclass" (click)="EditAnmerkungClickedHandler(Projektpunkt, Anmerkung)" [innerHTML]="Anmerkung.Anmerkung | safe : 'html'"></div>
                        </td>
                      </tr>
                      <tr *ngIf="Projektpunkt.Anmerkungenliste.length > 1 && Detailindex < Projektpunkt.Anmerkungenliste.length - 1">
                        <td colspan="2"><div style="height: 1px; background: silver; width: 100%"></div></td>
                      </tr>
                    </table>


                    <table *ngIf="Anmerkung.LiveEditor === true"  style="width: 100%;">
                      <tr>
                        <td style="width: auto" rowspan="3">
                          <ion-textarea style="border: 1px solid #7b6a58" auto-grow placeholder="Neue Bemerkung hier" style="width: 100%; min-height: 90px; font-size: 90%;"
                                        [value]="Anmerkung.Anmerkung" (ionChange)="AnmerkungTextChangedHandler($event, Detailindex)"></ion-textarea>
                        </td>
                        <td align="center" style="width: 40px;">
                          <div class="rootbuttonsmallclass" (click)="DeleteAnmerkung(Projektpunkt, Anmerkung)">
                            <ion-icon name="trash" color="weiss"></ion-icon>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td></td>
                      </tr>
                      <tr>
                        <td align="center">
                          <div class="rootbuttonsmallclass" (click)="Anmerkung.Anmerkung !== '' ? SaveAnmerkung(Projektpunkt, Anmerkung) : null">
                            <ion-icon style="font-size: 24px" [color]="Anmerkung.Anmerkung !== '' ? 'weiss' : 'grau'" name="save-outline"></ion-icon>
                          </div>
                        </td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>



            </td>
            <td *ngIf="ShowAddNewDetail(Projektpunkt) === true" style="width: 20px; vertical-align: bottom">

              <div (click)="AddAnmerkungClickedHandler(Projektpunkt)" class="rootbuttonsmallclass">
                <ion-icon name="add-circle-outline" slot="icon-only" color="weiss"></ion-icon>
              </div>

            </td>
          </tr>
        </table>

      </td>



      <td *ngIf="Settings.AufgabenShowFortschritt">
        <div style="width: 100%; cursor: pointer" (click)="FortschrittClickedHandler(Projektpunkt)">
          <table style="width: 100%" class="nobordersmalltable">
            <tr>
              <td>
                <ion-progress-bar [value]="GetFortschritt(Projektpunkt)"></ion-progress-bar>
              </td>
            </tr>
            <tr>
              <td style="text-align: center; font-size: 80%; padding-top: 4px">{{Projektpunkt.Fortschritt}}%</td>
            </tr>
          </table>
        </div>
      </td>
      <td *ngIf="Settings.AufgabenShowZeitansatz" style="font-size: 90%; text-align: center">{{Projektpunkt.Zeitansatz + ' ' + Projektpunkt.Zeitansatzeinheit}}</td>
      <td *ngIf="Settings.AufgabenShowTermin" style="height: inherit">

        <table class="nobordersmalltable" style="width: 100%; height: 100%">
          <tr>
            <td style="height: inherit">

              <div class="endedatumdivclass" [style.background]="Database.GetFaelligBackground(Projektpunkt)"
                   (click)="EndedatumClickedHandler(Projektpunkt)">
                <table class="nobordersmalltable">
                  <tr>
                    <td [ngStyle]="GetEndedatumstyle(Projektpunkt)">
                      {{Database.GetEndedatumString(Projektpunkt)}}
                    </td>
                  </tr>
                </table>

              </div>
            </td>
          </tr>
          <tr *ngIf="Projektpunkt.Status === Const.Projektpunktstatustypen.Ruecklauf.Name &&
                     Database.CheckProjektpunktFaellig(Projektpunkt) !== Const.Faelligkeitsstatus.Nicht_faellig &&
                     Projektpunkt.ZustaendigeExternIDListe.length > 0">
            <td style="padding-top: 4px; height: inherit">
              <!--
               (click)="SendeRuecklauferinnerungMail($event, Projektpunkt)"
              -->
              <div class="endedatumdivclass" [style.background]="Database.GetFaelligBackground(Projektpunkt)">
                  <ion-icon style="font-size: 20px" color="weiss" name="skull"></ion-icon>
              </div>
            </td>
          </tr>
        </table>

      </td>
      <td *ngIf="Settings.AufgabenShowTage" style="height: inherit">
        <div class="endtagedivclass" [style.background]="Database.GetFaelligBackground(Projektpunkt)">
          <table class="nobordersmalltable">
            <tr>
              <td [ngStyle]="GetEndetagestyle(Projektpunkt)">
                {{Database.GetRestageanzahl(Projektpunkt)}}
              </td>
            </tr>
          </table>
        </div>
      </td>
      <td *ngIf="Settings.AufgabenShowZustaendig">
        <table style="width: 100%" class="nobordersmalltable">
          <tr>
            <td align="center" style="height: inherit">

              <div *ngIf="Projektpunkt.ZustaendigeInternIDListe.length === 0" class="zustaendigdivemptyclass" (click)="ZustaendigInternZuweisenClickedHandler(Projektpunkt)">Intern</div>
              <div *ngIf="Projektpunkt.ZustaendigeInternIDListe.length !== 0" class="zustaendigdivfillclass"  (click)="ZustaendigInternZuweisenClickedHandler(Projektpunkt)">

                <table class="nobordersmalltable">
                  <tr *ngFor="let ZustaendigID of Projektpunkt.ZustaendigeInternIDListe">
                    <td style="font-size: 90%">
                      {{GetZustaendigInternName(ZustaendigID)}}
                    </td>
                  </tr>
                </table>
              </div>

            </td>
          </tr>
          <tr>
            <td style="height: 3px"></td>
          </tr>
          <tr>
            <td align="center" style="height: inherit">

              <div *ngIf="Projektpunkt.ZustaendigeExternIDListe.length === 0" class="zustaendigdivemptyclass" (click)="ZustaendigExternZuweisenClickedHandler(Projektpunkt)">Extern</div>
              <div *ngIf="Projektpunkt.ZustaendigeExternIDListe.length !== 0" class="zustaendigdivfillclass"  (click)="ZustaendigExternZuweisenClickedHandler(Projektpunkt)">

                <table class="nobordersmalltable">
                  <tr *ngFor="let ZustaendigID of Projektpunkt.ZustaendigeExternIDListe">
                    <td style="font-size: 90%; text-align: center">
                      {{GetZustaendigExternName(ZustaendigID)}}
                    </td>
                  </tr>
                </table>
              </div>

            </td>
          </tr>
        </table>

      </td>
      <td *ngIf="Settings.AufgabenShowStatus" style="height: inherit">
        <div class="statusdivclass" [style.background]="Database.GetStatuscolor(Projektpunkt)" (click)="ChangeStatusClicked(Projektpunkt)">
          <table class="nobordertable">
            <tr>
              <td>{{Database.GetProjektpunktstusByName(Projektpunkt.Status).Displayname}}</td>
            </tr>
            <tr *ngIf="Projektpunkt.Status === Const.Projektpunktstatustypen.Geschlossen.Name">
              <td style="text-align: center">{{GetGeschlossenDatum(Projektpunkt)}}</td>
            </tr>
          </table>
        </div>
      </td>
      <td *ngIf="Settings.AufgabenShowStatus" style="height: inherit">
        <div class="statusdivclass" [style.background]="Database.GetStatuscolor(Projektpunkt)">
          <checkbox-clon [Checked]="Projektpunkt.Status === Const.Projektpunktstatustypen.Geschlossen.Name" (CheckChanged)="StatusCheckChanged($event, Projektpunkt)"></checkbox-clon>
        </div>
      </td>
    </tr>


  </ng-container>

  <tr *ngIf="Datenliste.length === 0">
    <td colspan="20">
      <div class="leerdivclass">
        Kein Eintrag vorhanden
      </div>
    </td>
  </tr>

  <tr>
    <td colspan="20" class="nobordereintragbuttonclass">
      <ion-button size="small" color="grau" (click)="AddProjektpunktButtonClicked()">
        <ion-icon name="add-circle-outline" color="weiss" slot="start"></ion-icon>
        <ion-text color="weiss">Neuer Eintrag</ion-text>
      </ion-button>
      <div class="addbuttondiv">
      </div>
    </td>
  </tr>

</table>

<!--
<span *ngIf="Settings === null">Settings null</span>
<span *ngIf="Projekt  === null">Projekt null</span>
-->
