
<div [style.z-index]="ZIndex" style="position: absolute; top: 0px; left: 0px; background: none; width: 100%; height: 100%">
  <div  class="keeperdivclass" [style.background]="Displayservice.ShowOpacity(Displayservice.Dialognamen.Mitarbeitereditor) ? 'rgba(0, 0, 0, 0.5)' : 'none'" (click)="ContentClicked($event)">
    <div class="contentdivclass"
         [style.width.px]="Dialogbreite"
         [style.height.px]="Dialoghoehe" [style.top.px]="PositionY" (click)="ContentClicked($event)">
      <ion-header>
        <page-header>
          <table class="paddingsmalltable">
            <tr>
              <td><ion-icon [name]="Iconname" color="weiss"></ion-icon></td>
              <td [style.color]="'white'">{{Titel}}</td>
            </tr>
          </table>
        </page-header>
      </ion-header>

      <ion-content>

        <div class="contentinnerclass">

          <ion-grid *ngIf="DB.CurrentMitarbeiter">
            <ion-row>
              <ion-col>
                <ion-text color="burnicklgruen"><b>Mitarbeiter</b></ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col [size]="Tools.GetButtonvalueSize()">
                <input-clone [(Value)]="DB.CurrentMitarbeiter.Vorname" [Required]="true" [MaxLength]="100"  Titel="Vorname" (TextChanged)="TextChanged($event)"></input-clone>
              </ion-col>
              <ion-col [size]="Tools.GetButtonvalueSize()">
                <input-clone [(Value)]="DB.CurrentMitarbeiter.Name" [Required]="true" [MaxLength]="100"  Titel="Name" (TextChanged)="TextChanged($event)"></input-clone>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col [size]="Tools.GetButtonvalueSize()">
                <input-clone [(Value)]="DB.CurrentMitarbeiter.Kuerzel" [Required]="true" [MinLength]="3" [MaxLength]="10"  Titel="Mitarbeiterkürzel" (TextChanged)="TextChanged($event)"></input-clone>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col [size]="Tools.GetButtonvalueSize()">
                <input-clone
                  [Enabled]="false"
                  [Clickable]="true"
                  [DisabledColor]="DB.CurrentMitarbeiter.StandortID !== '' ? Basics.Farben.Burnicklgrau : Basics.Farben.Orange"  [Value]="StandortDB.GetStandort(DB.CurrentMitarbeiter.StandortID)"  (click)="StandortClicked()"  Titel="Standort" (TextChanged)="TextChanged($event)"></input-clone>
              </ion-col>
              <ion-col [size]="Tools.GetButtonvalueSize()">
                <input-clone  [Enabled]="false" [Clickable]="true" [Value]="DB.CurrentMitarbeiter.Fachbereich" [DisabledColor]="'gray'" (click)="FachbereichClicked()"  Titel="Fachbereich"></input-clone>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col [size]="Tools.GetButtonvalueSize()">
                <input-clone [Inputtype]="'email'" [Required]="true" [MinHeight]="30" [(Value)]="DB.CurrentMitarbeiter.Email" Titel="Email" [Enabled]="EmailinputEnabled" (TextChanged)="TextChanged($event)"></input-clone>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text color="burnicklgruen"><b>Kontakt</b></ion-text>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col [size]="Tools.GetButtonvalueSize()">
                <input-clone [(Value)]="DB.CurrentMitarbeiter.Telefon" Titel="Telefon"></input-clone>
              </ion-col>
              <ion-col [size]="Tools.GetButtonvalueSize()">
                <input-clone [(Value)]="DB.CurrentMitarbeiter.Mobil" Titel="Mobil"></input-clone>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12"></ion-col>
            </ion-row>
            <ion-row *ngIf="DB.CurrentMitarbeiter._id !== null">
              <ion-col>
                <table>
                  <tr>
                    <td><checkbox-clon [Checked]="DB.CurrentMitarbeiter.Archiviert" (CheckChanged)="ArchivierenCheckboxChanged($event)"></checkbox-clon></td>
                    <td style="width: 6px"></td>
                    <td>Eintrag archivieren</td>
                  </tr>
                </table>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text color="burnicklgruen"><b>Teamsprojekte</b></ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <div style="width: 100%; height: 300px; background: none; overflow: auto; border: 2px solid #354547; border-radius: 4px">
                  <table class="paddingtable">
                    <tr *ngFor="let Team of Teamsliste">
                      <td>{{Team.displayName}}</td>
                    </tr>
                  </table>
                </div>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="CheckForNewProjects()">
              <ion-col>
                <ion-button size="small" color="burnicklbraun" (click)="SaveNewProjekte()">Unbekannte Projekte speichern</ion-button>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="ErrorMessage !== null">
              <ion-col>
                <span style="color: red; font-size: 90%">{{ErrorMessage}}</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-content>

      <ion-footer>
        <page-footer>

          <table class="paddingsmalltable" width="100%">
            <tr>
              <td>
                <div class="rootbuttonclass" (click)="CancelButtonClicked()">
                  <ion-icon style="font-size: 28px" color="weiss" name="close-outline"></ion-icon>
                </div>
              <td style="width: 100%"></td>
              <td>

                <div class="rootbuttonclass" (click)="Valid === true ? OkButtonClicked() : null">
                  <ion-icon style="font-size: 28px" [color]="Valid === true ? 'weiss' : 'grau'" name="save-outline"></ion-icon>
                </div>
              </td>
            </tr>
          </table>
          <!--
          <table class="paddingsmalltable" width="100%">
            <tr>
              <td>
                <ion-button size="small" color="rot" (click)="CancelButtonClicked()">
                  <ion-icon name="close-outline"></ion-icon>
                </ion-button>
              <td style="width: 100%"></td>
              <td>
                <ion-button [disabled]="Valid === false" size="small" color="gruen" (click)="OkButtonClicked()">
                  <ion-icon name="checkmark-outline"></ion-icon>
                </ion-button>
              </td>
            </tr>
          </table>
          -->
        </page-footer>
      </ion-footer>

    </div>
  </div>
</div>
