<ion-header class="ion-no-border">
  <page-header #PageHeader>
    <page-header-menu (UrlaubMitarbeiterClicked)="MitarbeiterWechselnClicked()"></page-header-menu>
  </page-header>
</ion-header>
<ion-content>

  <ion-grid *ngIf="DB.CurrentUrlaub !== null">
    <ion-row>
      <ion-col size="12">
        <ion-text color="baeblau" style="font-size: 120%"><b>Projekt beteiligte Mitarbeiter/innen</b></ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <table class="paddingtable">
          <ng-container *ngIf="Projektbeteiligteliste.length > 0">
            <tr *ngFor="let Mitarbeiter of Projektbeteiligteliste">
              <td colspan="2">{{Mitarbeiter.Vorname + ' ' + Mitarbeiter.Name}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="Projektbeteiligteliste.length === 0">
            <tr>
              <td><img src="assets/svgs/alert.svg" style="width: 24px"></td>
              <td>
                Bitte wähle hier alle Personen aus mit denen du regelmäßig zusammenarbeitest,<br>oder Personen die eventuell deine Urlaubsvertretung übernehmen können.
              </td>
            </tr>
          </ng-container>
          <tr>
            <td colspan="2"><ion-button size="small" color="grau" (click)="MitarbeiterAuswahlClicked()">Mitarbeiter/innen auswählen</ion-button></td>
          </tr>
        </table>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="baeblau" style="font-size: 120%"><b>Urlaubsfreigaben</b></ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <table class="paddingtable">
          <tr *ngIf="Urlaubsfreigeberliste.length === 0">
            <td><img src="assets/svgs/alert.svg" style="width: 24px"></td>
            <td>
              Für dich sind keine Personen für deine Urlaubsfreigaben eingetragen. Bitte wende dich an das Office.
            </td>
          </tr>
          <tr *ngFor="let Mitarbeiter of Urlaubsfreigeberliste">
            <td>{{Mitarbeiter.Vorname + ' ' + Mitarbeiter.Name}}</td>
          </tr>
        </table>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="baeblau" style="font-size: 120%"><b>Homeofficefreigaben</b></ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <table class="paddingtable">
          <tr *ngIf="Homeofficefreigeberliste.length === 0">
            <td><img src="assets/svgs/alert.svg" style="width: 24px"></td>
            <td>
              Für dich sind keine Personen für deine Homeofficefreigaben eingetragen. Bitte wende dich an das Office.
            </td>
          </tr>
          <tr *ngFor="let Mitarbeiter of Homeofficefreigeberliste">
            <td>{{Mitarbeiter.Vorname + ' ' + Mitarbeiter.Name}}</td>
          </tr>
        </table>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <ion-text color="baeblau" style="font-size: 120%"><b>Schulferien</b></ion-text>
      </ion-col>
      <ion-col size="3">
        <ion-text color="baeblau" style="font-size: 120%"><b>Feiertage</b></ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">

        <table class="paddingtable">
          <tr style="font-weight: bold;">
            <td></td>
            <td>Von</td>
            <td>Bis</td>
            <td>Name</td>
          </tr>
          <tr *ngFor="let Ferien of Ferienliste">
            <td><checkbox-clon [Checked]="CheckFerienBlocker(Ferien.Anfangstempel)" (CheckChanged)="FerienBlockedChanged($event, Ferien.Anfangstempel)"></checkbox-clon></td>
            <td>{{GetDatum(Ferien.Anfangstempel)}}</td>
            <td>{{GetDatum(Ferien.Endestempel)}}</td>
            <td>{{Ferien.Name}}</td>
          </tr>
        </table>

      </ion-col>
      <ion-col size="3">

        <table class="paddingtable">
          <tr style="font-weight: bold;">
            <td></td>
            <td>Von</td>
            <td>Bis</td>
            <td>Name</td>
          </tr>
          <tr *ngFor="let Feiertag of Feiertageliste">
            <td><checkbox-clon [Checked]="CheckFeiertagBlocker(Feiertag.Anfangstempel)" (CheckChanged)="FeiertagBlockedChanged($event, Feiertag.Anfangstempel)"></checkbox-clon></td>
            <td>{{GetDatum(Feiertag.Anfangstempel)}}</td>
            <td>{{GetDatum(Feiertag.Endestempel)}}</td>
            <td>{{Feiertag.Name}}</td>
          </tr>
        </table>

      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
<ion-footer>
  <page-footer #PageFooter>

  </page-footer>
</ion-footer>


<auswahl-dialog *ngIf="ShowAuswahl" [Auswahlliste]="Auswahlliste" [Auswahlindex]="Auswahlindex" [ZIndex]="5000"
                [Dialogbreite]="400"  [PositionY]="100"
                [Titel]="Auswahltitel" [Iconname]="''"
                (OkClickedEvent)="AuswahlOkButtonClicked($event)"
                (CancelClickedEvent)="ShowAuswahl = false">
</auswahl-dialog>

<fi-mitarbeiter-auswahl *ngIf="ShowMitarbeiterauswahl"
                        [Titel]="MitarbeiterauswahlTitel"
                        [Dialogbreite]="600" [ZIndex]="4000"
                        [Multiselect]="MitarbeiterMultiselect"
                        Iconname="people-outline"
                        [AuswahlIDliste]="AuswahlIDliste"
                        [OnlyProjektmitarbeiter]="false"
                        (CancelClickedEvent)="ShowMitarbeiterauswahl = false"
                        (OkClickedEvent)="MitarbeiterauswahlOkButtonClicked($event)"
                        (StandortfilterClickedEvent)="MitarebiterStandortfilterClickedHandler()"></fi-mitarbeiter-auswahl>

<fi-mitarbeiter-auswahl *ngIf="ShowMitarbeiterauswahl"
                        [Titel]="MitarbeiterauswahlTitel"
                        [BlockCurrentMitarbeiter]="BlockCurrentMitarbeiter"
                        [Dialogbreite]="600" [ZIndex]="4000"
                        [Multiselect]="MitarbeiterMultiselect"
                        [OnlyProjektmitarbeiter]="false"
                        Iconname="people-outline"
                        [AuswahlIDliste]="AuswahlIDliste"
                        (CancelClickedEvent)="ShowMitarbeiterauswahl = false"
                        (OkClickedEvent)="MitarbeiterauswahlOkButtonClicked($event)"
                        (StandortfilterClickedEvent)="MitarebiterStandortfilterClickedHandler()"></fi-mitarbeiter-auswahl>
