
<ng-container *ngIf="AuthService.ActiveUser !== null">
  <table style="width: 100%">

    <!-- Erste Mnüzeile -->
    <tr>
      <td style="width: auto">

        <!-- Erste Menuezeile --->

        <table>
          <tr>
            <td style="width: 10px"></td>
            <ng-container *ngIf="Pool.Mitarbeiterdaten !== null && Pool.Mitarbeiterdaten.Planeradministrator">
              <td>
                <div class="menubuttonclass"
                     (mouseenter)="HomeMouseOver = true"
                     (mouseleave)="HomeMouseOver = false"
                     (click)="MainMenueButtonClicked(Menuservice.MainMenuebereiche.Home)">
                  <table class="paddingsmalltable">
                    <tr>
                      <td>
                        <ion-icon style="font-size: 16px" name="home-outline"
                                  [color]="HomeMouseOver ? Basics.Ionicfarben.Schwarz : Basics.Ionicfarben.Weiss">
                        </ion-icon>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>

              <td align="center" class="trennertdclass">
                <div [class]="Menuservice.MainMenuebereich === Menuservice.MainMenuebereiche.Projekte ? 'trennerbigdivclass' : 'trennerdivclass'"></div>
              </td>

            </ng-container>

            <td *ngIf="Menuservice.MainMenuebereich === Menuservice.MainMenuebereiche.Urlaubsplanung">

              <table>
                <tr>

                  <td>
                    <div class="menubuttonclass" [style.cursor]="LogoutMouseOver ? 'pointer': 'default'"
                         (mouseenter)="LogoutMouseOver = true"
                         (mouseleave)="LogoutMouseOver = false"
                         (click)="LogoutButtonClicked()">
                      <table class="paddingsmalltable">
                        <tr>
                          <td>
                            <ion-icon style="font-size: 18px" name="log-out-outline"
                                      [color]="LogoutMouseOver ? Basics.Ionicfarben.Schwarz : Basics.Ionicfarben.Weiss">
                            </ion-icon>
                          </td>
                          <td [style.color]="LogoutMouseOver ? '#000000' : 'white'">Abmelden</td>
                        </tr>
                      </table>
                    </div>
                  </td>
                  <td style="width: 10px"></td>
                  <td align="center" class="trennertdclass"><div class="trennerdivclass"></div></td>
                  <td>
                    <div class="menubuttonclass" [style.cursor]="JahrMouseOver ? 'pointer': 'default'"
                         (mouseenter)="JahrMouseOver = true"
                         (mouseleave)="JahrMouseOver = false"
                         (click)="JahrButtonClicked.emit()">
                      <table class="paddingsmalltable">
                        <tr>
                          <td>
                            <ion-icon style="font-size: 18px" name="sunny-outline"
                                      [color]="JahrMouseOver ? Basics.Ionicfarben.Schwarz : Basics.Ionicfarben.Weiss">
                            </ion-icon>
                          </td>
                          <td [style.color]="JahrMouseOver ? '#000000' : 'white'">Jahr {{DBUrlaub.CurrentJahr}}</td>
                        </tr>
                      </table>
                    </div>
                  </td>
                  <td style="width: 10px"></td>
                  <td align="center" class="trennertdclass"><div class="trennerdivclass"></div></td>
                  <td>
                    <div  class="menubuttonclass" (click)="UrlaubMenueButtonClicked(Menuservice.UrlaubMenuebereiche.Planung)">
                      <table class="paddingsmalltable">
                        <tr>
                          <td><ion-icon style="font-size: 16px" name="create-outline" [color]="GetUrlaubMenueIconcolor(Menuservice.UrlaubMenuebereiche.Planung)"></ion-icon></td>
                          <td style="white-space: nowrap;" [style.color]="GetUrlaubMenueFontcolor(Menuservice.UrlaubMenuebereiche.Planung)">Planung</td>
                        </tr>
                      </table>
                    </div>
                  </td>
                  <td style="width: 20px"></td>
                  <td>
                    <div class="menubuttonclass" (click)="UrlaubMenueButtonClicked(Menuservice.UrlaubMenuebereiche.Uebersicht)">
                      <table class="paddingsmalltable">
                        <tr>
                          <td><ion-icon style="font-size: 16px" name="calendar-outline" [color]="GetUrlaubMenueIconcolor(Menuservice.UrlaubMenuebereiche.Uebersicht)"></ion-icon></td>
                          <td [style.color]="GetUrlaubMenueFontcolor(Menuservice.UrlaubMenuebereiche.Uebersicht)">Übersicht</td>
                        </tr>
                      </table>
                    </div>
                  </td>
                  <ng-container *ngIf="Pool.Mitarbeiterdaten.Urlaubsfreigaben === true || Pool.Mitarbeiterdaten.Homeofficefreigaben === true || Pool.Mitarbeiterdaten.Planeradministrator">
                    <td style="width: 20px"></td>
                    <td>
                      <div class="menubuttonclass" (click)="UrlaubMenueButtonClicked(Menuservice.UrlaubMenuebereiche.Gesamtplanung)">
                        <table class="paddingsmalltable">
                          <tr>
                            <td><ion-icon style="font-size: 16px" name="apps-outline" [color]="GetUrlaubMenueIconcolor(Menuservice.UrlaubMenuebereiche.Gesamtplanung)"></ion-icon></td>
                            <td [style.color]="GetUrlaubMenueFontcolor(Menuservice.UrlaubMenuebereiche.Gesamtplanung)">Gesamtplanung</td>
                          </tr>
                        </table>
                      </div>
                    </td>
                  </ng-container>

                  <td style="width: 20px"></td>
                  <td>
                    <div class="menubuttonclass" (click)="UrlaubMenueButtonClicked(Menuservice.UrlaubMenuebereiche.Freigaben)">
                      <table class="paddingsmalltable">
                        <tr>
                          <td><ion-icon style="font-size: 16px" name="thumbs-up-outline" [color]="GetUrlaubMenueIconcolor(Menuservice.UrlaubMenuebereiche.Freigaben)"></ion-icon></td>
                          <td [style.color]="GetUrlaubMenueFontcolor(Menuservice.UrlaubMenuebereiche.Freigaben)">Anfragen</td>
                          <td *ngIf="DBUrlaub.Urlaubsanfragenanzahl > 0 || DBUrlaub.Homeofficeanfragenanzahl > 0">
                            <ion-badge color="rot">{{(DBUrlaub.Urlaubsanfragenanzahl + DBUrlaub.Homeofficeanfragenanzahl).toString()}}</ion-badge>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </td>

                  <td style="width: 20px"></td>
                  <td>
                    <div class="menubuttonclass" (click)="UrlaubMenueButtonClicked(Menuservice.UrlaubMenuebereiche.Einstellungen)">
                      <table class="paddingsmalltable">
                        <tr>
                          <td><ion-icon style="font-size: 16px" name="settings-outline" [color]="GetUrlaubMenueIconcolor(Menuservice.UrlaubMenuebereiche.Einstellungen)"></ion-icon></td>
                          <td [style.color]="GetUrlaubMenueFontcolor(Menuservice.UrlaubMenuebereiche.Einstellungen)">Einstellungen</td>
                        </tr>
                      </table>
                    </div>
                  </td>
                  <td *ngIf="DBUrlaub.CorrectSetup === false"><img src="assets/svgs/alert.svg" style="width: 24px"></td>
                  <td style="width: 60px;"></td>
                  <td *ngIf="Pool.Mitarbeiterdaten !== null && Pool.Mitarbeiterdaten.Planeradministrator === true" style="font-size: 90%; color: white;">
                    <table>
                      <tr>
                        <td>
                          <ion-button size="small" color="grau" (click)="UrlaubMitarbeiterClicked.emit()">{{DBUrlaub.CurrentMitarbeiter !== null ? DBUrlaub.CurrentMitarbeiter.Vorname + ' ' + DBUrlaub.CurrentMitarbeiter.Name : 'unbekannt'}}</ion-button>
                        </td>
                        <td *ngIf="this.DBUrlaub.CurrentMitarbeiter !== null && this.DBUrlaub.CurrentMitarbeiter._id !== Pool.Mitarbeiterdaten._id">
                            <ion-button size="small" color="grau" slot="icon-only" (click)="UrlaubMitarbeiterMeClicked.emit()">
                              <ion-icon name="person-circle-outline"></ion-icon>
                            </ion-button>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td style="width: 120px;"></td>
                </tr>
              </table>
            </td>
            <td *ngIf="Menuservice.MainMenuebereich === Menuservice.MainMenuebereiche.Email">

              <div class="menubuttonclass" [style.cursor]="BackMouseOver ? 'pointer': 'default'"
                   (mouseenter)="BackMouseOver = true"
                   (mouseleave)="BackMouseOver = false"
                   (click)="BackButtonClicked()">
                <table class="paddingsmalltable">
                  <tr>
                    <td>
                      <ion-icon style="font-size: 16px" name="arrow-back-circle-outline"
                                [color]="BackMouseOver ? Basics.Ionicfarben.BAEBlau : Basics.Ionicfarben.Weiss">
                      </ion-icon>
                    </td>
                    <td [style.color]="BackMouseOver ? '#000000' : 'white'">Zurück</td>
                  </tr>
                </table>
              </div>

            </td>


            <ng-container *ngIf="ShowSuchleiste">
              <td style="width: 20px"></td>
              <td>
                <ion-searchbar  #Suchleiste placeholder="Suche"></ion-searchbar>
              </td>
            </ng-container>
            <ng-container *ngIf="ShowSandortfilter">
              <td style="width: 20px"></td>
              <td>
                <div class="menufilterbuttonclass" (click)="StandortButtonClicked()">
                  <table class="paddingsmalltable">
                    <tr>
                      <td><ion-icon style="font-size: 16px" name="funnel-outline" color="weiss"></ion-icon></td>
                      <td style="color: white;">{{DBStandort.GetStandortfiller()}}</td>
                    </tr>
                  </table>
                </div>
              </td>

            </ng-container>
          </tr>
        </table>


      </td>
      <td style="width: 50px;">

        <ng-container *ngIf="AuthService.ShowLogin === false">
          <table *ngIf="GraphService.UserimageSRC !== null">
            <tr>
              <td>
                <img class="userimagesmall" [src]="GraphService.UserimageSRC">
              </td>
              <td style="width: 10px"></td>
            </tr>
          </table>
          <div *ngIf="GraphService.UserimageSRC === null" class="userkuerzelsmall">
            {{Pool.Mitarbeiterdaten !== null ? Pool.Mitarbeiterdaten.Kuerzel : '---'}}
          </div>
        </ng-container>

      </td>
    </tr>

    <ng-container *ngIf="Menuservice.MainMenuebereich     === Menuservice.MainMenuebereiche.Projekte &&
                         Menuservice.ProjekteMenuebereich === Menuservice.ProjekteMenuebereiche.Aufgabenliste &&
                         Menuservice.Aufgabenlisteansicht === Menuservice.Aufgabenlisteansichten.Meine_Woche">

      <tr>
        <td colspan="2" style="padding-left: 8px; padding-right: 8px">
          <div style="width: 100%; height: 1px; background: white"></div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <table>
            <tr>
              <td [style.width.px]="Tagbreite">
                <div class="wocheheaderdivclass" [style.height.px]="Wochentaghoehe">Montag {{Timelineindex}} {{GetDatumtext('Montag')}} {{DBMitarbeiter.GetMeinewocheStunden('Montag')}}</div>
              </td>
              <td *ngIf="Timelineindex === 0" [style.width.px]="Timelinebreite" style="background:  #354547;"></td>
              <td style="width: 1px; background: white"></td>
              <td [style.width.px]="Tagbreite">
                <div class="wocheheaderdivclass" [style.height.px]="Wochentaghoehe">Dienstag {{GetDatumtext('Dienstag')}} {{DBMitarbeiter.GetMeinewocheStunden('Dienstag')}}</div>
              </td>
              <td *ngIf="Timelineindex === 1" [style.width.px]="Timelinebreite" style="background:  #354547;"></td>
              <td style="width: 1px; background: white"></td>
              <td [style.width.px]="Tagbreite">
                <div class="wocheheaderdivclass" [style.height.px]="Wochentaghoehe">Mittwoch {{GetDatumtext('Mittwoch')}} {{DBMitarbeiter.GetMeinewocheStunden('Mittwoch')}}</div>
              </td>
              <td *ngIf="Timelineindex === 2" [style.width.px]="Timelinebreite" style="background:  #354547;"></td>
              <td style="width: 1px; background: white"></td>
              <td [style.width.px]="Tagbreite">
                <div class="wocheheaderdivclass" [style.height.px]="Wochentaghoehe">Donnerstag {{GetDatumtext('Donnerstag')}} {{DBMitarbeiter.GetMeinewocheStunden('Donnerstag')}}</div>
              </td>
              <td *ngIf="Timelineindex === 3" [style.width.px]="Timelinebreite" style="background:  #354547;"></td>
              <td style="width: 1px; background: white"></td>
              <td [style.width.px]="Tagbreite">
                <div class="wocheheaderdivclass" [style.height.px]="Wochentaghoehe">Freitag {{GetDatumtext('Freitag')}} {{DBMitarbeiter.GetMeinewocheStunden('Freitag')}}</div>
              </td>
            </tr>
          </table>
        </td>
      </tr>


    </ng-container>



  </table>

</ng-container>









