<div [style.width.px]="Browserbreite" [style.height.px]="Browserhoehe" class="filebrowserdiv">

  <table width="100%">
    <tr>
      <td colspan="2">
        <div class="headerdiv" [style.height.px]="Headerhoehe" [style.width.px]="Browserbreite">

          <table class="paddingtable" style="font-size: 120%">
            <tr>
              <td>
                <div (click)="RootFolderClicked()" class="folderdiv">
                  Projekte
                </div>
              </td>
              <ng-container *ngFor="let Directory of GraphService.TeamsSubdirectorylist; let i = index">
                <td style="font-weight: bold;">&rang;</td>
                <td>
                  <div (click)="i < GraphService.TeamsSubdirectorylist.length - 1 ? SubFolderBackClicked(i, Directory) : null" class="folderdiv">
                    {{Directory.name}}
                  </div>
                </td>
              </ng-container>
            </tr>
          </table>


        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="filelistdiv" [style.height.px]="Contenthoehe" [style.width.px]="Filelistbreite">

          <table class="paddingtable" style="font-size: 100%">
            <tr *ngFor="let File of GraphService.TeamsCurrentfilelist">
              <ng-container *ngIf="File.isfolder === true">
                <td><ion-icon (click)="FolderClicked(File)" color="grau" name="folder" style="cursor: pointer"></ion-icon></td>
                <td><a (click)="FolderClicked(File)">{{File.name}}</a></td>
              </ng-container>
              <ng-container *ngIf="File.isfolder === false && (SelectImages === true && CheckFile(File) === true) || SelectImages === false">
                <td>
                  <ion-icon (click)="FileClicked(File)" [style.cursor]="CheckFile(File) === true ? 'pointer' : 'default'" color="teal" name="document"></ion-icon>
                </td>
                <td style="color: #444444;" (click)="FileClicked(File)">
                  <div (click)="FileClicked(File)" [style.cursor]="CheckFile(File) === true ? 'pointer' : 'default'">
                    {{File.name}}
                  </div>
                </td>
              </ng-container>

            </tr>
          </table>

        </div>

      </td>
      <td>
        <div class="viewerdiv" [style.height.px]="Contenthoehe" [style.width.px]="Viewerbreite">

          <img *ngIf="ShowImage === true" class="imgclass" [src]="ImageSRC" (click)="ZoomImageClicked($event)"/>

          <table class="paddingtable" *ngIf="GraphService.CurrentPDFDownload === null && ShowImage === false">
            <tr *ngFor="let Zeilenliste of Thumbnailliste">
              <ng-container *ngFor="let Thumb of Zeilenliste">
                <td (click)="ThumbnailClicked(Thumb)" style="cursor: pointer;">
                  <ng-container *ngIf="Thumb !== null">
                    <table>
                      <tr>
                        <td>
                          <img [src]="Thumb.largeurl" [style.width.px]="Thumbbreite"/>
                        </td>
                      </tr>
                      <tr>
                        <td style="font-size: 90%">{{Thumb.filename}}</td>
                      </tr>
                      <tr *ngIf="SelectImages === true">
                        <td>
                          <checkbox-clon [Checked]="CheckImagesIsSelected(Thumb)" (CheckChanged)="ImageCheckedChanged($event, Thumb)"></checkbox-clon>
                        </td>
                      </tr>
                    </table>
                  </ng-container>
                </td>
              </ng-container>
            </tr>
          </table>

          <pdf-viewer *ngIf="SelectImages === false" [src]="GraphService.CurrentPDFDownload !== null ? GraphService.CurrentPDFDownload.url : null"
                      [show-all]="true"
                      [show-borders]="false"
                      [render-text]="true"
                      [original-size]="true"
                      [zoom]="Zoomfaktor"
                      [style.width.px]="Viewerbreite" [style.height.px]="Browserhoehe" (page-rendered)="PDFPageRenderedFinishedHandler()">
          </pdf-viewer>

        </div>
      </td>
    </tr>
  </table>


</div>
