
<div [style.z-index]="ZIndex" style="position: absolute; top: 0px; left: 0px; background: none; width: 100%; height: 100%">
  <div  class="keeperdivclass" [style.background]="Displayservice.ShowOpacity(Displayservice.Dialognamen.Simontabelleeditor) ? 'rgba(0, 0, 0, 0.5)' : 'none'" (click)="ContentClicked($event)">
    <div class="contentdivclass"
         [style.width.px]="Dialogbreite"
         [style.top.px]="PositionY"  [style.bottom.px]="PositionY"  (click)="ContentClicked($event)">
      <ion-header>
        <page-header>

          <table class="paddingsmalltable">
            <tr>
              <td style="width: 4px"></td>
              <td><ion-icon [name]="Iconname" color="weiss"></ion-icon></td>
              <td [style.color]="'white'">{{Titel}}</td>
              <td align="center" class="trennertdclass"><div class="trennerdivclass"></div></td>
              <td>
                <div class="menubuttonclass" (click)="TabelleMenuButtonClicked()">
                  <table class="paddingsmalltable">
                    <tr>
                      <td><ion-icon name="reader-outline" [color]="Bereich === Bereiche.Tabelle ? 'schwarz' : 'weiss'"></ion-icon></td>
                      <td [style.color]="Bereich === Bereiche.Tabelle ? 'black' : 'white'">Simon Tabelle</td>
                    </tr>
                  </table>
                </div>
              </td>
              <td style="width: 20px"></td>
              <td>
                <div class="menubuttonclass" (click)="LeistungenMenuButtonClicked()">
                  <table class="paddingsmalltable">
                    <tr>
                      <td><ion-icon name="reader-outline" [color]="Bereich === Bereiche.Leistungen ? 'schwarz' : 'weiss'"></ion-icon></td>
                      <td [style.color]="Bereich === Bereiche.Leistungen ? 'black' : 'white'">Besondere Leistungen</td>
                      <td>
                        <ion-badge  [color]="DB.CurrentSimontabelle.Besondereleistungenliste.length > 0 ? 'rot' : 'grau'">{{DB.CurrentSimontabelle.Besondereleistungenliste.length.toString()}}</ion-badge>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
              <td style="width: 20px"></td>
              <td>
                <div class="menubuttonclass" (click)="RechnungMenuButtonClicked()">
                  <table class="paddingsmalltable">
                    <tr>
                      <td><ion-icon name="reader-outline" [color]="Bereich === Bereiche.Rechnungen ? 'schwarz' : 'weiss'"></ion-icon></td>
                      <td [style.color]="Bereich === Bereiche.Rechnungen ? 'black' : 'white'">Rechnungslegung</td>
                    </tr>
                  </table>
                </div>
              </td>
              <td style="width: 20px"></td>
              <td>
                <div class="menubuttonclass" (click)="RechnungsempfaengerMenuButtonClicked()">
                  <table class="paddingsmalltable">
                    <tr>
                      <td><ion-icon name="people-outline" [color]="Bereich === Bereiche.Rechnungsempfaenger ? 'schwarz' : 'weiss'"></ion-icon></td>
                      <td [style.color]="Bereich === Bereiche.Rechnungsempfaenger ? 'black' : 'white'">Rechnungsempfänger</td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </table>
          <table *ngIf="Bereich === Bereiche.Rechnungen" class="paddingtable">
            <tr>
              <ng-container *ngFor="let Checked of DisplayRechnungsliste; let i = index;">
                <td>
                  <checkbox-clon [Checked]="Checked" (CheckChanged)="DisplayRechnungCheckChanged($event, i)"></checkbox-clon>
                </td>
                <td>{{(i +1).toString()}}. AZ</td>
                <td style="width: 12px;"></td>
              </ng-container>
            </tr>
          </table>
        </page-header>
      </ion-header>
      <ion-content>

        <ng-container *ngIf="Bereich === Bereiche.Tabelle">
          <div class="contentinnerclass" *ngIf="DB.CurrentSimontabelle">

            <table width="100%">
              <tr>
                <td style="width: 400px;" valign="top">

                  <ion-grid>
                    <ion-row>
                      <ion-col size="12">
                        <ion-text color="baeblau" style="font-size: 120%"><b>Honorarberechnung</b></ion-text>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="12">
                        <input-clone (TextChanged)="KostenTextChanged($event)" [ParseToFloat]="true" [Inputtype]="'numeric'" [Value]="DB.CurrentSimontabelle.Kosten.toString()" [Einheit]="'€'" [Titel]="'Anrechenbare Kosten (netto)'"></input-clone>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="12">
                        <input-clone (TextChanged)="HonorarTextChanged($event)" [ParseToFloat]="true" [Inputtype]="'numeric'" [Value]="DB.CurrentSimontabelle.Honorar.toString()" [Einheit]="'€'" [Titel]="'Honorar (netto)'"></input-clone>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="12">
                        <input-clone (TextChanged)="UmbauzuschlagTextChanged($event)" [ParseToFloat]="true" [Inputtype]="'numeric'" [Value]="DB.CurrentSimontabelle.Umbauzuschlag.toString()" [Einheit]="'%'" [Titel]="'Umbauzuschlag'"></input-clone>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="12">
                        <div style="width: 100%; border: 1px solid blue;">
                          <table class="paddingtable" width="100%">
                            <tr>
                              <td style="font-size: 80%" colspan="2">Honorar mit Umbauzuschlag</td>
                            </tr>
                            <tr>
                              <td style="width: 50%">{{Tools.FormatMoney(CalculateHonorarMitUmbauzuschlag())}}</td><td style="text-align: right">€</td>
                            </tr>
                            <tr>
                              <td style="width: 50%; color: green;">{{Tools.FormatMoney(CalculateHonorarMitUmbauzuschlag() * (1 + DB.Steuersatz / 100))}}</td><td style="text-align: right">€</td>
                            </tr>
                          </table>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="12">
                        <div style="width: 100%; border: 1px solid blue;">
                          <table class="paddingtable" width="100%">
                            <tr>
                              <td style="font-size: 80%" colspan="2">Besondere Leistungen</td>
                            </tr>
                            <tr>
                              <td style="width: 50%">{{Tools.FormatMoney(CalculateBesondereleistungen())}}</td><td style="text-align: right">€</td>
                            </tr>
                            <tr>
                              <td style="width: 50%; color: green;">{{Tools.FormatMoney(CalculateBesondereleistungen() * (1 + DB.Steuersatz / 100))}}</td><td style="text-align: right">€</td>
                            </tr>
                          </table>
                        </div>
                      </ion-col>
                    </ion-row>
                      <ion-row>
                        <ion-col size="12">
                          <div style="width: 100%; border: 1px solid blue;">
                            <table class="paddingtable" width="100%">
                              <tr>
                                <td style="font-size: 80%" colspan="2">Zwischensumme Netto</td>
                              </tr>
                              <tr>
                                <td style="width: 50%">{{Tools.FormatMoney(CalculateGesamthonorar())}}</td><td style="text-align: right">€</td>
                              </tr>
                              <tr>
                                <td style="width: 50%; color: green;">{{Tools.FormatMoney(CalculateGesamthonorar() * (1 + DB.Steuersatz / 100))}}</td><td style="text-align: right">€</td>
                              </tr>
                            </table>
                          </div>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="12">
                          <input-clone (TextChanged)="NebenkostenTextChanged($event)"
                                       [ParseToFloat]="true" [Inputtype]="'numeric'"
                                       [Value]="DB.CurrentSimontabelle.Nebenkosten.toString()" [Einheit]="'%'" [Titel]="'Nebenkostenzuschlag'"></input-clone>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="12">
                          <div style="width: 100%; border: 1px solid blue;">
                            <table class="paddingtable" width="100%">
                              <tr>
                                <td style="font-size: 80%" colspan="2">Nebenkosten</td>
                              </tr>
                              <tr>
                                <td style="width: 50%">{{Tools.FormatMoney(CalculateNebenkosten())}}</td><td style="text-align: right">€</td>
                              </tr>
                              <tr>
                                <td style="width: 50%; color: green;">{{Tools.FormatMoney(CalculateNebenkosten() * (1 + DB.Steuersatz / 100))}}</td><td style="text-align: right">€</td>
                              </tr>
                            </table>
                          </div>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="12">
                          <div style="width: 100%; border: 1px solid blue;">
                            <table class="paddingtable" width="100%">
                              <tr>
                                <td style="font-size: 80%" colspan="2">Nettogesamthonorar</td>
                              </tr>
                              <tr>
                                <td style="width: 50%">{{Tools.FormatMoney(CalculateGesamthonorarNetto())}}</td><td style="text-align: right">€</td>
                              </tr>
                            </table>
                          </div>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="12">
                          <div style="width: 100%; border: 1px solid blue;">
                            <table class="paddingtable" width="100%">
                              <tr>
                                <td style="font-size: 80%" colspan="2">MwSt</td>
                              </tr>
                              <tr>
                                <td style="width: 50%">{{Tools.FormatMoney(CalculateMehrwertsteuer())}}</td><td style="text-align: right">€</td>
                              </tr>
                            </table>
                          </div>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                      <ion-col size="12">
                        <div style="width: 100%; border: 1px solid blue;">
                          <table class="paddingtable" width="100%">
                            <tr>
                              <td style="font-size: 80%" colspan="2">Bruttogesamthonorar</td>
                            </tr>
                            <tr>
                              <td style="width: 50%; color: green;">{{Tools.FormatMoney(CalculateGesamthonorarBrutto())}}</td><td style="text-align: right">€</td>
                            </tr>
                          </table>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <div style="height: 40px"></div>
                      </ion-col>
                    </ion-row>
                  <ion-row>
                    <ion-col size="12">
                      <input-clone (TextChanged)="SicherheitseinbehaltTextChanged($event)"
                                   [ParseToFloat]="true" [Inputtype]="'numeric'"
                                   [Value]="DB.CurrentSimontabelle.Sicherheitseinbehalt.toString()" [Einheit]="'%'" [Titel]="'Sicherheitseinbehalt'"></input-clone>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                </td>
                <td style="width:auto" valign="top">



                  <ion-grid>
                    <ion-row>
                      <ion-col size="12">
                        <ion-text color="baeblau" style="font-size: 120%"><b>Tabelle</b></ion-text>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6">
                        <button-value [Buttontext]="'Anlagengruppe'" [Enabled]="DB.CurrentSimontabelle._id === null"
                                      [Wert_B]="GetAnlagengruppennamen(DB.CurrentSimontabelle)"
                                      [Wert_A]="DB.CurrentSimontabelle.Anlagengruppe !== null ? DB.CurrentSimontabelle.Anlagengruppe.toString() : ''"
                                      (ButtonClicked)="AnlagengruppeClickedEvent.emit()"></button-value>
                      </ion-col>
                      <ion-col size="6">
                        <button-value [Buttontext]="'Leistungsphase'" [Enabled]="DB.CurrentSimontabelle._id === null"
                                      [Wert_A]="DB.CurrentSimontabelle.Leistungsphase !== null ? DB.CurrentSimontabelle.Leistungsphase : 'unbekannt'"
                                      (ButtonClicked)="LeistungsphaseClickedEvent.emit()"></button-value>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="12">
                        <table class="docinnertable" style="width: 100%;">
                          <tr>
                            <td style="width: 100px; text-align: center"><b>Position</b></td>
                            <td style="width: auto"><b>Beschreibung</b></td>
                            <td style="width: 100px; text-align: center"><b>Von</b></td>
                            <td style="width: 100px; text-align: center"><b>Bis</b></td>
                            <td style="width: 100px; text-align: center"><b>Vertrag</b></td>
                          </tr>
                          <tr *ngFor="let Tabelleneintrag of DB.CurrentSimontabelle.Eintraegeliste; let i = index">
                            <td style="text-align: center;">{{Tabelleneintrag.Buchstabe}}</td>
                            <td>{{Tabelleneintrag.Beschreibung}}</td>
                            <td style="text-align: center">

                              {{DB.FixTabellenbetrag(Tabelleneintrag.Von)}} %

                            </td>
                            <td style="text-align: center">

                              {{DB.FixTabellenbetrag(Tabelleneintrag.Bis)}} %
                            </td>
                            <td>
                              <table class="nobordertable" style="width: 100%;">
                                <tr>
                                  <td>

                                    <input *ngIf="Tabelleneintrag.Bis !== 0" style="width: 80px; height: 30px; background: white"
                                           (input)="VertragswertChanged($event, i)"
                                           [style.border]="VertragValid[i] ? '1px solid green' : '1px solid red'"
                                           [value]="Tabelleneintrag.Vertrag"/>

                                    <!--
                                    <ion-input *ngIf="Tabelleneintrag.Bis !== 0" [value]="Tabelleneintrag.Vertrag" (ionInput)="VertragswertChanged($event, i)" [style.border]="VertragValid[i] ? '1px solid green' : '1px solid red'" class="inputclass"></ion-input>
                                    -->

                                  </td>
                                  <td style="width: 20px"><span *ngIf="Tabelleneintrag.Bis !== 0">%</span></td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="2"></td>
                            <td colspan="2" style="font-weight: bold; text-align: center">

                              {{DB.FixTabellenbetrag(DB.CurrentSimontabelle.Durchschnittswert)}} %
                            </td>
                            <td style="font-weight: bold; text-align: center">
                              <span *ngIf="CalculateVertrag() !== 0">

                                {{DB.FixTabellenbetrag(CalculateVertrag())}} %

                              </span>
                              <span *ngIf="CalculateVertrag() === 0">---</span>
                            </td>
                          </tr>
                        </table>
                        <table class="nobordertable">
                          <tr>
                            <td><checkbox-clon [Checked]="DeleteTabelleEnabled" (CheckChanged)="DeleteTabelleCheckboxChanged($event)"></checkbox-clon></td>
                            <td style="width: 6px"></td>
                            <td>
                              <ion-button size="small" color="rot" [disabled]="!DeleteTabelleEnabled" (click)="DeleteTabelleClicked()">
                                <ion-icon name="trash-outline" style="font-size: 20px"></ion-icon>
                                <ion-text>Tabelle löschen</ion-text>
                              </ion-button>
                            </td>
                          </tr>
                        </table>

                      </ion-col>
                    </ion-row>
                  </ion-grid>

                </td>
              </tr>
            </table>
            xxx

          </div>
        </ng-container>
        <ng-container *ngIf="Bereich === Bereiche.Leistungen">

          <div style="padding: 4px;">

            <table class="docinnertable">
              <tr>
                <td style="font-weight: bold">Nummer</td>
                <td style="font-weight: bold">Titel</td>
                <td style="font-weight: bold; width: 500px">Beschreibung</td>
                <td style="font-weight: bold;">Honorar</td>
              </tr>
              <tr *ngFor="let Leistung of this.DB.CurrentSimontabelle.Besondereleistungenliste">
                <td>{{Leistung.Nummer}}</td>
                <td>
                  <div class="titledivclass" (click)="EditLeistungClickedEvent.emit(Leistung)">
                    {{Leistung.Titel}}
                  </div>
                </td>
                <td>{{Leistung.Beschreibung}}</td>
                <td style="text-align: right;">{{Leistung.Honorar}} €</td>
              </tr>
              <tr>
                <td colspan="3">
                  <ion-button (click)="AddLeistungClicked()" [color]="Basics.Ionicfarben.BurnicklBraun" size="small">Neuer Eintrag</ion-button>
                </td>
              </tr>
            </table>

          </div>

        </ng-container>

        <ng-container *ngIf="Bereich === Bereiche.Rechnungen">

          <div style="width: 100%; height: 100%; padding: 4px;">
            <div class="contentinnerclass" *ngIf="DB.CurrentSimontabelle">

              <ion-grid>
                <ion-row>
                  <ion-col size="12">
                    <ion-text color="baeblau" style="font-size: 120%"><b>Rechnung &rarr;</b></ion-text>
                    <ion-text color="baeblau" style="font-size: 120%"><b>
                      {{DB.CurrentSimontabelle.Leistungsphase}} - {{DB.CurrentSimontabelle.Anlagengruppe}}. {{Const.Anlagengruppen['Anlagengruppe_' + DB.CurrentSimontabelle.Anlagengruppe].Name}}
                    </b></ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                  </ion-col>
                </ion-row>
              </ion-grid>

              <table class="docinnertable" [style.width.px]="Rechnungslistebreite">
                <tr>
                  <td style="width: 80px; text-align: center"><b>Position</b></td>
                  <td style="width: 600px;"><b>Beschreibung</b></td>
                  <td style="width: 120px; text-align: center"><b>Vertrag</b></td>

                  <ng-container *ngFor="let Rechnung of DB.CurrentSimontabelle.Rechnungen; let i = index;">

                    <td *ngIf="DisplayRechnungsliste[i] === true" style="width: 280px; text-align: center">

                      <div class="rechnungclass"  (click)="DB.CurrentRechnungsindex = i"
                           [style.background]="DB.CurrentRechnungsindex === i ? '#307ac1' : 'white'"
                           [style.color]="DB.CurrentRechnungsindex === i ? 'white' : 'black'">
                        <table class="nobordertable">
                          <tr><td><b *ngIf="Rechnung.Nummer">{{Rechnung.Nummer.toString()}}. AZ</b></td></tr>
                          <tr><td><b>{{GetRechnungsdatum(Rechnung)}}</b></td></tr>
                        </table>
                      </div>
                    </td>

                  </ng-container>

                  <td style="width: 240px; text-align: center; font-weight: bold;">
                    Summe
                  </td>

                  <td style="width: 90px; text-align: center">
                    <ion-button size="small" color="burnicklbraun" (click)="AddRechnungClicked()">
                      <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
                    </ion-button>
                  </td>
                </tr>
                <tr *ngFor="let Tabelleneintrag of DB.CurrentSimontabelle.Eintraegeliste; let i = index">
                  <td style="text-align: center;">{{Tabelleneintrag.Buchstabe}}</td>
                  <td>{{Tabelleneintrag.Beschreibung}}</td>
                  <td style="text-align: center">{{DB.FixTabellenbetrag(GetVertragswert(Tabelleneintrag))}} %</td>

                  <ng-container *ngFor="let Rechnungseintrag of Tabelleneintrag.Rechnungseintraege; let i = index;">
                    <td *ngIf="DisplayRechnungsliste[i] === true">

                      <table  width="100%" class="nobordertable">
                        <tr>
                          <td *ngIf="i === DB.CurrentRechnungsindex" style="width: 90px">
                            <input style="width: 60px; height: 30px; background: white" (input)="RechnungswertChanged($event, Tabelleneintrag, Rechnungseintrag, i)"  [style.border]="Rechnungseintrag.Valid ? '1px solid green' : '1px solid red'" [value]="Rechnungseintrag.Honoraranteil"/>
                          </td>
                          <td *ngIf="i !== DB.CurrentRechnungsindex" style="width: 90px; text-align: right">
                            <span>{{DB.FixTabellenbetrag(Rechnungseintrag.Honoraranteil)}} %</span>
                          </td>
                          <td style="width: 90px; text-align: center;">
                            <span *ngIf="CalculateRechnungsdifferenz(Tabelleneintrag, Rechnungseintrag, i) !== 0" style="color: red;">
                              [+{{Tools.FormatNumber(CalculateRechnungsdifferenz(Tabelleneintrag, Rechnungseintrag, i), 2)}} %]
                            </span>
                            <span *ngIf="CalculateRechnungsdifferenz(Tabelleneintrag, Rechnungseintrag, i) === 0">
                              ---
                            </span>
                          </td>
                          <td style="text-align: right; width: 90px">{{Tools.FormatCurrency(Rechnungseintrag.Nettohonorar)}}</td>
                        </tr>
                      </table>

                    </td>

                  </ng-container>

                  <td style="text-align: center">
                    <table class="nobordertable" width="100%">
                      <tr>
                        <td  [style.color]="CheckHonorarValid(Tabelleneintrag)">

                          {{DB.FixTabellenbetrag(Tabelleneintrag.Honorarsummeprozent)}} %

                        </td>
                        <td><span>|</span></td>
                        <td>
                          {{Tools.FormatCurrency(Tabelleneintrag.Honorarsumme)}}
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td *ngIf="i === 0" rowspan="100"></td>
                </tr>
                <tr>
                  <td colspan="2" style="text-align: right; font-weight: bold">Anteil</td>
                  <td style="text-align: center">

                    {{DB.FixTabellenbetrag(CalculateVertrag())}} %

                  </td>

                  <ng-container *ngFor="let Rechnung of DB.CurrentSimontabelle.Rechnungen; let i = index;">

                    <td *ngIf="DisplayRechnungsliste[i] === true" style="width: 80px; text-align: center">
                      {{DB.FixTabellenbetrag(DB.CalculateRechnungssumme(Rechnung, DB.CurrentSimontabelle).Honorarprozente)}} %
                    </td>

                  </ng-container>


                  <td  style="text-align: center">

                    {{DB.FixTabellenbetrag(DB.CalculateRechnungssummen().Honorarprozente)}} %

                    </td>
                </tr>
                <tr>
                  <td colspan="2" style="text-align: right; font-weight: bold">Nettohonorar</td>
                  <td style="text-align: center">{{Tools.FormatMoney(DB.CurrentSimontabelle.Nettozwischensumme)}} €</td>

                  <ng-container *ngFor="let Rechnung of DB.CurrentSimontabelle.Rechnungen; let i = index;">

                    <td *ngIf="DisplayRechnungsliste[i] === true" style="width: 80px; text-align: center">
                      {{Tools.FormatMoney(DB.CalculateRechnungssumme(Rechnung, DB.CurrentSimontabelle).Nettohonorar)}} €
                    </td>

                  </ng-container>

                  <td style="text-align: center">{{Tools.FormatMoney(DB.CalculateRechnungssummen().Nettohonorar)}} €</td>
                </tr>
                <tr>
                  <td colspan="2" style="text-align: right; font-weight: bold">Nebenkosten</td>
                  <td style="text-align: center">{{Tools.FormatMoney(DB.CurrentSimontabelle.Nettonebenkosten)}} €</td>

                  <ng-container *ngFor="let Rechnung of DB.CurrentSimontabelle.Rechnungen; let i = index;">

                    <td *ngIf="DisplayRechnungsliste[i] === true" style="width: 80px; text-align: center">
                      {{Tools.FormatMoney(DB.CalculateRechnungssumme(Rechnung, DB.CurrentSimontabelle).Nettonebenkosten)}} €
                    </td>

                  </ng-container>

                  <td style="text-align: center">{{Tools.FormatMoney(DB.CalculateRechnungssummen().Nettonebenkosten)}} €</td>
                </tr>
                <tr>
                  <td colspan="2" style="text-align: right; font-weight: bold">Zischensumme</td>
                  <td style="text-align: center">{{Tools.FormatMoney(DB.CurrentSimontabelle.Nettogesamthonorar)}} €</td>

                  <ng-container *ngFor="let Rechnung of DB.CurrentSimontabelle.Rechnungen; let i = index;">

                    <td *ngIf="DisplayRechnungsliste[i] === true" style="width: 80px; text-align: center">
                      {{Tools.FormatMoney(DB.CalculateRechnungssumme(Rechnung, DB.CurrentSimontabelle).Nettogesamthonorar)}} €
                    </td>

                  </ng-container>

                  <td style="text-align: center">{{Tools.FormatMoney(DB.CalculateRechnungssummen().Nettogesamthonorar)}} €</td>
                </tr>
                <tr>
                  <td colspan="2" style="text-align: right; font-weight: bold">Mehrwertstuer</td>
                  <td style="text-align: center">{{DB.FixTabellenbetrag(DB.Steuersatz)}} %</td>

                  <ng-container *ngFor="let Rechnung of DB.CurrentSimontabelle.Rechnungen; let i = index;">

                    <td *ngIf="DisplayRechnungsliste[i] === true" style="width: 80px; text-align: center">
                      {{Tools.FormatMoney(DB.CalculateRechnungssumme(Rechnung, DB.CurrentSimontabelle).Mehrwertsteuer)}} €
                    </td>

                  </ng-container>

                  <td style="text-align: center">{{Tools.FormatMoney(DB.CalculateRechnungssummen().Mehrwertsteuer)}} €</td>
                </tr>
                <tr>
                  <td colspan="2" style="text-align: right; font-weight: bold">Bruttohonorar</td>
                  <td style="text-align: center; color: green;">{{Tools.FormatMoney(DB.CurrentSimontabelle.Bruttogesamthonorar)}} €</td>

                  <ng-container *ngFor="let Rechnung of DB.CurrentSimontabelle.Rechnungen; let i = index;">

                    <td  *ngIf="DisplayRechnungsliste[i] === true" style="width: 80px; text-align: center; color: green;">
                      {{Tools.FormatMoney(DB.CalculateRechnungssumme(Rechnung, DB.CurrentSimontabelle).Bruttogesamthonorar)}} €
                    </td>

                  </ng-container>

                  <td  style="text-align: center; color: green;">{{Tools.FormatMoney(DB.CalculateRechnungssummen().Bruttogesamthonorar)}} €</td>
                </tr>
                <tr>
                  <td colspan="3" style="text-align: right; font-weight: bold"></td>

                  <ng-container *ngFor="let Rechnung of DB.CurrentSimontabelle.Rechnungen; let i = index;">

                    <td *ngIf="DisplayRechnungsliste[i] === true">
                      <table class="nobordertable" style="width: 100%">
                        <tr>
                          <td style="width: 30px;">
                            <ion-button size="small" color="burnicklbraun" (click)="RechnungBearbeitenClicked(Rechnung)">
                              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                            </ion-button>
                          </td>
                          <td style="width: auto"></td>
                          <td style="width: 30px"><checkbox-clon [Checked]="Rechnung.CanDelete" (CheckChanged)="CanDeleteRechnungChanged($event, Rechnung)"></checkbox-clon></td>
                          <td style="width: 30px;">
                            <ion-button [disabled]="!Rechnung.CanDelete" size="small" color="rot" (click)="RechnungLoeschenClicked(Rechnung)">
                              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                            </ion-button>
                          </td>
                        </tr>
                      </table>

                    </td>

                  </ng-container>

                  <td></td>
                </tr>
              </table>
            </div>

          </div>

        </ng-container>
        <ng-container *ngIf="Bereich === Bereiche.Rechnungsempfaenger && DB.CurrentRechnung !== null">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <ion-text color="baeblau" style="font-size: 120%"><b>Rechnungsemfänger</b></ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <table class="paddingtable">
                  <tr *ngFor="let MitarbeiterID of DB.CurrentRechnung.EmpfaengerInternIDListe">
                    <td>
                      {{DBMitarbeiter.GetMitarbeiterByID(MitarbeiterID).Vorname}} {{DBMitarbeiter.GetMitarbeiterByID(MitarbeiterID).Name}}
                    </td>
                    <td style="width:10px"></td>
                    <td style="color: #307ac1;">{{DBMitarbeiter.GetMitarbeiterByID(MitarbeiterID).Email}}</td>
                  </tr>
                </table>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button (click)="MitarbeiterButtonClicked()" size="small" color="burnicklbraun">Mitarbeiterauswahl</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>

      </ion-content>
      <ion-footer>
        <page-footer>

          <table class="paddingsmalltable" width="100%">
            <tr>
              <td>
                <div class="rootbuttonclass" (click)="CancelButtonClicked()">
                  <ion-icon style="font-size: 28px" color="weiss" name="close-outline"></ion-icon>
                </div>
              <td style="width: 100%"></td>
              <td>

                <div class="rootbuttonclass" (click)="Valid === true ? OkButtonClicked() : null">
                  <ion-icon style="font-size: 28px" [color]="Valid === true ? 'weiss' : 'grau'" name="checkmark-outline"></ion-icon>
                </div>
              </td>
            </tr>
          </table>

        </page-footer>
      </ion-footer>

    </div>
  </div>
</div>
