ion-progress-bar {
  --background: #444444;
  --progress-background: #307ac1;
}

.keeperdivclass {

  width: 100%;
  background: #307ac1;
  min-height: 52px;
  /*
  display: flex;
  align-items: center; // vertikal
  justify-content: flex-start; // horizontal

   */
}

.loadingdivclass {

  position: absolute;
  width: 400px;
  height: 300px;
  z-index: 10000;
  top: 200px;
  left: 50%;
  transform: translate(-50%, 0);
}

.headerdivclass {

  background: #307ac1;
  width: 100%; height: 30px;
  padding: 4px;
  color: white;
  display: flex;
  justify-content: flex-start; // horizontal
  align-items: center; // vertikal
}

.contentdivclass {

  border-left: 3px solid #307ac1;
  border-right: 3px solid #307ac1;
  background: white;
  width: 100%;
  height: 120px;
  padding: 6px;
  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
}

