<ion-header>
  <page-header #PageHeader>

    <ng-container *ngIf="AuthService.ShowLogin === false">
      <table>
        <tr>
          <td style="width: 10px"></td>
          <td>
            <div class="menubuttonclass"
                 (mouseenter)="LogoutMouseOver = true"
                 (mouseleave)="LogoutMouseOver = false"
                 (click)="LogoutButtonClicked()">
              <table class="paddingsmalltable">
                <tr>
                  <ng-container *ngIf="AuthService.ShowLogin === false && AuthService.UserimageSRC !== null">
                    <td style="padding-top: 4px">
                      <img class="userimagesmall" [src]="AuthService.UserimageSRC">
                    </td>
                    <td style="width: 4px"></td>
                  </ng-container>

                  <td>
                    <ion-icon name="log-out-outline"
                              [color]="LogoutMouseOver ? Basics.Ionicfarben.BurnicklGruen : Basics.Ionicfarben.Weiss">
                    </ion-icon>
                  </td>
                  <td [style.color]="LogoutMouseOver ? '#c7d304' : 'white'">Abmelden</td>
                </tr>
              </table>
            </div>
          </td>
          <td style="width: 10px"></td>
          <td align="center" class="trennertdclass"><div class="trennerdivclass"></div></td>
          <td style="width: 10px"></td>
          <td>
            <div class="menubuttonclass"
                 (mouseenter)="DebugMouseOver = true"
                 (mouseleave)="DebugMouseOver = false"
                 (click)="DebugButtonClicked()">
              <table class="paddingsmalltable">
                <tr>
                  <td>
                    <ion-icon name="bug-outline"
                              [color]="DebugMouseOver ? Basics.Ionicfarben.BurnicklGruen : Basics.Ionicfarben.Weiss">
                    </ion-icon>
                  </td>
                  <td [style.color]="DebugMouseOver ? '#c7d304' : 'white'">Debug</td>
                </tr>
              </table>
            </div>
          </td>
          <td style="width: 10px"></td>
          <td>
            <div class="menubuttonclass"
                 (mouseenter)="EinstellungenMouseOver = true"
                 (mouseleave)="EinstellungenMouseOver = false"
                 (click)="EinstellungenButtonClicked()">
              <table class="paddingsmalltable">
                <tr>
                  <td>
                    <ion-icon name="settings-outline"
                              [color]="EinstellungenMouseOver ? Basics.Ionicfarben.BurnicklGruen : Basics.Ionicfarben.Weiss">
                    </ion-icon>
                  </td>
                  <td [style.color]="EinstellungenMouseOver ? '#c7d304' : 'white'">Einstellungen</td>
                </tr>
              </table>
            </div>
          </td>
      </tr>
    </table>

    </ng-container>

</page-header>
</ion-header>
<ion-content>


  <ng-container *ngIf="AuthService.ShowLogin === false">

    <div *ngIf="AuthService.Graphuser !== null;" class="graphuserdiv">

      <table class="paddingtable" style="font-size: 80%">
        <tr>
          <td colspan="3" style="font-size: 140%; font-weight: bold; color: #7b6a58">User Info</td>
        </tr>
        <tr>
          <td style="font-weight: bold; color: #7b6a58">Name</td><td style="color: #444444;">{{AuthService.Graphuser.displayName}}</td>
        </tr><tr>
          <td style="font-weight: bold; color: #7b6a58">Email</td><td style="color: #444444;">{{AuthService.Graphuser.mail}}</td>
        </tr><tr>
          <td style="font-weight: bold; color: #7b6a58">Job</td><td style="color: #444444;">{{AuthService.Graphuser.jobTitle}}</td>
        </tr><tr>
          <td style="font-weight: bold; color: #7b6a58">Büro</td><td style="color: #444444;">{{AuthService.Graphuser.officeLocation}}</td>
        </tr>
        <tr *ngIf="AuthService.UserimageSRC !== null">
          <td style="font-weight: bold; color: #7b6a58">Image</td><td><img class="userimage" [src]="AuthService.UserimageSRC"></td>
        </tr>
        <!--
        <tr>
          <td style="font-weight: bold; color: #7b6a58">Token</td><td style="color: #444444;">{{AuthService.AccessToken}}</td>
        </tr>
        -->
      </table>

    </div>

    <div class="changelogdiv">

      <table class="paddingtable" style="font-size: 80%">
        <tr>
          <td colspan="3" style="font-size: 140%; font-weight: bold; color: #7b6a58">Change Log</td>
        </tr>
        <tr style="font-weight: bold; color: #7b6a58">
          <td>Datum</td>
          <td>Version</td>
          <td>Beschreibung</td>
        </tr>
        <tr *ngFor="let Changelog of Pool.Changlogliste" style="color: #444444;">
          <td><div style="width: 100%; cursor: pointer" (click)="ChangelogClicked(Changelog)">{{GetDatum(Changelog.Zeitstempel)}}</div></td>
          <td><div style="width: 100%; cursor: pointer" (click)="ChangelogClicked(Changelog)">{{Changelog.Version}}</div> </td>
          <td><div style="width: 100%; cursor: pointer" (click)="ChangelogClicked(Changelog)">{{Changelog.Beschreibung}}</div></td>
        </tr>
      </table>

      <ion-button size="small" [color]="'burnicklbraun'"
                  (click)="AddChangelogClicked()">
        <ion-icon style="font-size: 90%" name="add-circle-outline" color="weiss" slot="start"></ion-icon>
        <ion-text color="weiss" style="font-size: 80%">Neuer Eintrag</ion-text>
      </ion-button>

    </div>

    <div style="width: 100%; height: 100%; background: #354547">
      <div style="position: absolute; width: 100%; height: 100%; z-index: 1;">

        <img [src]="BackgroundimageURL">

      </div>
      <div style="position: absolute; width: 100%; height: 100%; z-index: 2">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <div style="height: 40px"></div>
            </ion-col>
          </ion-row>
        <ion-row>
          <ion-col>
            <table style="width: 100%;">
              <tr>
                <td align="center">

                  <table>
                    <tr>
                      <td>

                        <div (click)="StandorteButtonClicked()"
                             (mouseenter)="StandortMouseOver = true"
                             (mouseleave)="StandortMouseOver = false" class="buttonclass">
                            <table>
                              <tr>
                                <td align="center">
                                  <ion-icon name="location-outline" [color]="StandortMouseOver ? Basics.Ionicfarben.BurnicklGruen : Basics.Ionicfarben.BurnicklGrau" style="font-size: 80px"></ion-icon>
                                </td>
                              </tr>
                              <tr>
                                <td style="text-align: center;">
                                  <table>
                                    <tr>
                                      <td style="font-size: 22px; font-weight: bold; color: #c7d304">
                                        {{Pool.Standorteliste.length}}
                                      </td>
                                      <td style="width: 4px"></td>
                                      <td>
                                        <ion-text [color]="Basics.Ionicfarben.BurnicklBraun" style="font-size: 22px">Standorte</ion-text>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                        </div>

                      </td>
                      <td>
                        <div class="trennerdiv"></div>
                      </td>
                      <td>

                        <div class="buttonclass"
                             (click)="MitarbeiterButtonClicked()"
                             (mouseenter)="MitarbeiterMouseOver = true"
                             (mouseleave)="MitarbeiterMouseOver = false">

                          <table>
                            <tr>
                              <td align="center">
                                <ion-icon name="people-outline" [color]="MitarbeiterMouseOver ? Basics.Ionicfarben.BurnicklGruen : Basics.Ionicfarben.BurnicklGrau" style="font-size: 80px"></ion-icon>
                              </td>
                            </tr>
                            <tr>
                              <td style="text-align: center;">
                                <table>
                                  <tr>
                                    <td style="font-size: 22px; font-weight: bold; color: #c7d304">
                                      {{Pool.Mitarbeiterliste.length}}
                                    </td>
                                    <td style="width: 4px"></td>
                                    <td style="text-align: center;">
                                      <ion-text [color]="Basics.Ionicfarben.BurnicklBraun" style="font-size: 22px">Mitarbeiter</ion-text>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>

                        </div>

                      </td>
                      <td>
                        <div class="trennerdiv"></div>
                      </td>
                      <td>

                        <div class="buttonclass"
                             (click)="ProjekteButtonClicked()"
                             (mouseenter)="ProjekteMouseOver = true"
                             (mouseleave)="ProjekteMouseOver = false">
                          <table>
                            <tr>
                              <td align="center">
                                <ion-icon name="business-outline" [color]="ProjekteMouseOver ? Basics.Ionicfarben.BurnicklGruen : Basics.Ionicfarben.BurnicklGrau" style="font-size: 80px"></ion-icon>
                              </td>
                            </tr>
                            <tr>
                              <td style="text-align: center;">
                                <table>
                                  <tr>
                                    <td style="font-size: 22px; font-weight: bold; color: #c7d304">
                                      {{Pool.Gesamtprojektliste.length}}
                                    </td>
                                    <td style="width: 4px"></td>
                                    <td style="text-align: center;">
                                      <ion-text [color]="Basics.Ionicfarben.BurnicklBraun" style="font-size: 22px">{{Pool.Gesamtprojektliste.length !== 1 ? 'Projekte' : 'Projekt'}}</ion-text>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </div>


                      </td>
                      <td>
                        <div class="trennerdiv"></div>
                      </td>
                      <td>
                        <div class="buttonclass"
                             (click)="FavoritenButtonClicked()"
                             (mouseenter)="FavoritenMouseOver = true"
                             (mouseleave)="FavoritenMouseOver = false">
                          <table>
                            <tr>
                              <td align="center">
                                <ion-icon name="bookmarks-outline" [color]="FavoritenMouseOver ? Basics.Ionicfarben.BurnicklGruen : Basics.Ionicfarben.BurnicklGrau" style="font-size: 80px"></ion-icon>
                              </td>
                            </tr>
                            <tr>
                              <td style="text-align: center;">

                                <table *ngIf="Pool.Mitarbeiterdaten !== null">
                                  <tr>
                                    <td style="font-size: 22px; font-weight: bold; color: #c7d304">
                                      {{Pool.Mitarbeiterdaten.Favoritenliste.length}}
                                    </td>
                                    <td style="width: 4px"></td>
                                    <td style="text-align: center;">
                                      <ion-text [color]="Basics.Ionicfarben.BurnicklBraun" style="font-size: 22px">{{Pool.Mitarbeiterdaten.Favoritenliste.length === 1 ? 'Favorit' : 'Favoriten'}}</ion-text>
                                    </td>
                                  </tr>
                                </table>

                              </td>
                            </tr>
                          </table>
                        </div>

                      </td>
                    </tr>
                  </table>


                </td>
              </tr>
            </table>
          </ion-col>
        </ion-row>
          <ion-row>
            <ion-col size="12">
              <div style="height: 40px"></div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <table style="width: 100%">
                <tr>
                  <td align="center">

                    <div class="favlistedivclass" [style.height.px]="GetFavoritenlistehoehe()">

                      <ion-radio-group *ngIf="Pool.Mitarbeiterdaten !== null" [value]="DBProjekte.CurrentFavorit !== null ? DBProjekte.CurrentFavorit.FavoritenID : null" (ionChange)="FavoritChangedHandler($event)">
                        <table *ngIf="Pool.Mitarbeiterdaten.Favoritenliste.length > 0" class="paddingtable">
                          <tr *ngFor="let Favorit of Pool.Mitarbeiterdaten.Favoritenliste">
                            <td>
                              <ion-radio [value]="Favorit.FavoritenID" style="font-size: 40px"></ion-radio>
                            </td>
                            <td style="font-size: 22px"
                                [style.color]="DBProjekte.CurrentFavorit === null || DBProjekte.CurrentFavorit.FavoritenID !== Favorit.FavoritenID ? '#7b6a58' : '#c7d304'">{{Favorit.Name}}</td>
                          </tr>
                        </table>
                      </ion-radio-group>

                      <table style="width: 100%;" *ngIf="Pool.Mitarbeiterdaten !== null &&  Pool.Mitarbeiterdaten.Favoritenliste.length === 0" class="paddingtable">
                        <tr>
                          <td style="font-size: 22px; text-align: center" [style.color]="'#7b6a58'">Bitte erstelle zuerst deine Projektfavoriten.</td>
                        </tr>
                      </table>

                    </div>

                  </td>
                </tr>
              </table>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <div style="height: 40px"></div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <table style="width: 100%;">
                <tr>
                  <td align="center">

                    <table>
                      <tr>
                        <td>

                          <div class="buttonbigclass"
                               (click)="PlayButtonClicked()"
                               (mouseenter)="PlayMouseOver = true"
                               (mouseleave)="PlayMouseOver = false">

                            <table style="width: 100%;">
                              <tr>
                                <td align="center">
                                  <ion-icon name="airplane-outline" [color]="PlayMouseOver && DBProjekte.CurrentFavorit ? Basics.Ionicfarben.BurnicklGruen : Basics.Ionicfarben.BurnicklGrau" style="font-size: 120px"></ion-icon>
                                </td>
                              </tr>
                              <tr>
                                <td style="text-align: center;">
                                  <ion-text [color]="Basics.Ionicfarben.BurnicklBraun" style="font-size: 26px">BIB Cockpit</ion-text>
                                </td>
                              </tr>
                              <tr>
                                <td style="text-align: center; font-size: 90%; color: gray">
                                  Version: {{Basics.AppVersionName}} / {{Basics.AppVersionDatum}}
                                </td>
                              </tr>
                            </table>

                            <!--

                            <table>
                              <tr>
                                <td align="center">
                                  <ion-icon name="play-outline" [color]="PlayMouseOver ? Basics.Ionicfarben.BurnicklGruen : Basics.Ionicfarben.BurnicklGrau" style="font-size: 120px"></ion-icon>
                                </td>
                              </tr>
                              <tr>
                                <td style="text-align: center;">
                                  <ion-text [color]="Basics.Ionicfarben.BurnicklBraun" style="font-size: 24px">Start</ion-text>
                                </td>
                              </tr>
                            </table>
                            -->

                          </div>


                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </ion-col>
          </ion-row>

        </ion-grid>
      </div>
    </div>


  </ng-container>
  <ng-container *ngIf="AuthService.ShowLogin === true">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div style="height: 100px"></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <table style="width: 100%;">
            <tr>
              <td align="center">
                <ion-icon name="airplane-outline" [color]="Basics.Ionicfarben.BurnicklGrau" style="font-size: 220px"></ion-icon>
              </td>
            </tr>
            <tr>
              <td style="text-align: center;">
                <ion-text [color]="Basics.Ionicfarben.BurnicklBraun" style="font-size: 40px">BIB Cockpit</ion-text>
              </td>
            </tr>
            <tr>
              <td style="text-align: center; font-size: 90%; color: gray">
                Version: {{Basics.AppVersionName}} / {{Basics.AppVersionDatum}}
              </td>
            </tr>
            <tr>
              <td style="text-align: center; vertical-align: center; height: 100px">
                <ion-button [color]="Basics.Ionicfarben.BurnicklGruen" (click)="AuthService.Login()">Login</ion-button>
              </td>
            </tr>
          </table>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>


</ion-content>
<ion-footer>
<page-footer #PageFooter>

  <ion-button *ngIf="AuthService.ShowLogin === false" (click)="GetUserClicked()">Userinfo</ion-button>
  <ion-button *ngIf="AuthService.ShowLogin === false" (click)="GetUserimageClicked()">Userimage</ion-button>
  <ion-button *ngIf="AuthService.ShowLogin === false" (click)="GetUsercalendarClicked()">Kalender</ion-button>
  <ion-button *ngIf="AuthService.ShowLogin === false" (click)="TestServerClicked()">Test Server</ion-button>
  <ion-button *ngIf="AuthService.ShowLogin === false" (click)="LoggoutClicked()">Logout</ion-button>

</page-footer>
</ion-footer>


<fi-changelog-editor *ngIf="ShowChangelogEditor"
                     (OkClickedEvent)="ShowChangelogEditor = false"
                     (CancelClickedEvent)="ShowChangelogEditor = false"
                     (DeleteClickedEvent)="ShowChangelogEditor = false">
</fi-changelog-editor>
