.projektbuttoniconclass {

  height: 90px;
  width: 100px;
  z-index: 100;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

}.projektbuttoniconerrorclass {

   height: 90px;
   width: 100px;
  z-index: 200;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}


.trennerdiv {

  width: 100px;
  height: 10px;
  border-radius: 4px;
  margin: 6px;
}

.trennerdivclass {

  width: 1px;
  min-height: 30px;
  height: 100%;
  background: silver;
}

.buttonclass {

  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
  border: 2px solid gray;
  border-radius: 10px;
  width: 160px;
  height: 140px;
  cursor: pointer;
  background: white;
}

.changelogdiv {

  border: 2px solid gray;
  border-radius: 10px;
  width: 360px;
  height: 300px;
  position: absolute;
  padding: 8px;
  left: 20px;
  bottom: 20px;
  background: white;
  z-index: 1000;
  overflow: auto;
}

.outputdiv {

  border: 2px solid gray;
  border-radius: 10px;
  width: 500px;
  height: 600px;
  position: absolute;
  position: absolute;
  padding: 8px;
  left: 20px;
  top: 560px;
  background: white;
  z-index: 1000;
  overflow: auto;
}

.userimagesmall {

  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: 4px;
  border-radius: 50%;
  object-fit: cover;
}

.userimage {

  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.userkuerzelsmall {

  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 4px;
  border-radius: 50%;
  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
  color: white;
  font-weight: bold;
}

.buttonbigclass {

  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
  border: 2px solid gray;
  border-radius: 10px;
  width: 360px;
  height: 220px;
  cursor: pointer;
  background: white;
}

.buttonsmallclass {

  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
  border: 2px solid gray;
  border-radius: 10px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  background: white;
}

.favlistedivclass {

  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
  border: 2px solid gray;
  border-radius: 10px;
  width: 400px;
  cursor: pointer;
  background: white;
  overflow: auto;
}

.menubuttonclass {

  display: flex;
  justify-content: flex-start; // horizontal
  align-items: center; // vertikal
  width: 100%;
  min-height: 50px;
  padding: 2px;
}

