<ion-header class="ion-no-border">
  <page-header #PageHeader>

    <ng-container *ngIf="AuthService.ShowLogin === false">
      <table style="width: 100%;">
        <tr>
          <td style="width: 50%">
            <table>
              <tr>
                <td style="width: 10px"></td>
                <td>
                  <div class="menubuttonclass" [style.cursor]="LogoutMouseOver ? 'pointer': 'default'"
                       (mouseenter)="LogoutMouseOver = true"
                       (mouseleave)="LogoutMouseOver = false"
                       (click)="LogoutButtonClicked()">
                    <table class="paddingsmalltable">
                      <tr>
                        <td>
                          <ion-icon name="log-out-outline"
                                    [color]="LogoutMouseOver ? Basics.Ionicfarben.Schwarz : Basics.Ionicfarben.Weiss">
                          </ion-icon>
                        </td>
                        <td [style.color]="LogoutMouseOver ? '#000000' : 'white'">Abmelden</td>
                      </tr>
                    </table>
                  </div>
                </td>
                <td style="width: 10px"></td>

                <ng-container *ngIf="environment.production === false">
                  <td align="center" class="trennertdclass"><div class="trennerdivclass"></div></td>
                  <td style="width: 10px"></td>
                  <td>
                    <div class="menubuttonclass" [style.cursor]="DebugMouseOver ? 'pointer': 'default'"
                         (mouseenter)="DebugMouseOver = true"
                         (mouseleave)="DebugMouseOver = false"
                         (click)="DebugButtonClicked()">
                      <table class="paddingsmalltable">
                        <tr>
                          <td>
                            <ion-icon name="bug-outline"
                                      [color]="DebugMouseOver ? Basics.Ionicfarben.Schwarz : Basics.Ionicfarben.Weiss">
                            </ion-icon>
                          </td>
                          <td [style.color]="DebugMouseOver ? '#000000' : 'white'">Debug</td>
                        </tr>
                      </table>
                    </div>
                  </td>
                  <td style="width: 10px"></td>
                  <td>
                    <div class="menubuttonclass" [style.cursor]="EinstellungenMouseOver ? 'pointer': 'default'"
                         (mouseenter)="EinstellungenMouseOver = true"
                         (mouseleave)="EinstellungenMouseOver = false"
                         (click)="EinstellungenButtonClicked()">
                      <table class="paddingsmalltable">
                        <tr>
                          <td>
                            <ion-icon name="settings-outline"
                                      [color]="EinstellungenMouseOver ? Basics.Ionicfarben.Schwarz : Basics.Ionicfarben.Weiss">
                            </ion-icon>
                          </td>
                          <td [style.color]="EinstellungenMouseOver ? '#000000' : 'white'">Einstellungen</td>
                        </tr>
                      </table>
                    </div>
                  </td>

                </ng-container>

            </tr>
          </table>

          </td>
          <td align="right" valign="middle" style="width: 50%">
            <ng-container *ngIf="AuthService.ShowLogin === false">
              <table *ngIf="GraphService.UserimageSRC !== null">
                <tr>
                  <td>
                    <img class="userimagesmall" [src]="GraphService.UserimageSRC">
                  </td>
                  <td style="width: 10px"></td>
                </tr>
              </table>
              <div *ngIf="GraphService.UserimageSRC === null" [style.background]="Basics.Farben.Grau" class="userkuerzelsmall">
                {{Pool.Mitarbeiterdaten !==  null ? Pool.Mitarbeiterdaten.Kuerzel : '---'}}
              </div>
            </ng-container>
          </td>
        </tr>
      </table>

    </ng-container>

</page-header>
</ion-header>
<ion-content>


  <ng-container *ngIf="AuthService.ShowLogin === false">

    <div *ngIf="Basics.ShowHomeScreenInfos" class="changelogdiv">

      <table class="paddingtable" style="font-size: 80%">
        <tr>
          <td colspan="3" style="font-size: 140%; font-weight: bold;" [style.color]="Basics.Farben.BAEBlau">Change Log</td>
        </tr>
        <tr style="font-weight: bold; color: #454545">
          <td>Datum</td>
          <td>Version</td>
          <td>Beschreibung</td>
        </tr>
        <tr *ngFor="let Changelog of Pool.Changlogliste">
          <td><div style="width: 100%; cursor: pointer" (click)="ChangelogClicked(Changelog)">{{GetDatum(Changelog.Zeitstempel)}}</div></td>
          <td><div style="width: 100%; cursor: pointer" (click)="ChangelogClicked(Changelog)">{{Changelog.Version}}</div> </td>
          <td><div style="width: 100%; cursor: pointer" (click)="ChangelogClicked(Changelog)">{{Changelog.Beschreibung}}</div></td>
        </tr>
      </table>

      <ion-button size="small" [color]="'grau'"
                  (click)="AddChangelogClicked()">
        <ion-icon style="font-size: 90%" name="add-circle-outline" color="weiss" slot="start"></ion-icon>
        <ion-text color="weiss" style="font-size: 80%">Neuer Eintrag</ion-text>
      </ion-button>
      <table class="paddingtable" style="font-size: 80%">
        <tr>
          <td><b>Build:</b></td>
          <td>{{Basics.AppBuild}}</td>
        </tr>
      </table>
    </div>

    <!--
    #354547
    -->

    <div style="width: 100%; height: 100%; background: #F2F4F4">

      <div style="position: absolute; width: 100%; height: 100%; z-index: 2">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <div style="height: 20px"></div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <table style="width: 100%">
                <tr>
                  <td align="center">
                    <img src="assets/images/group_logo.png" style="height: 100px"/>
                  </td>
                </tr>
              </table>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <div style="height: 40px"></div>
            </ion-col>
          </ion-row>
        <ion-row>
          <ion-col>
            <div style="height: 140px; width: 100%; background: none;">
              <table *ngIf="Pool.ShowProgress === false"  style="width: 100%;">
                <tr>
                  <td align="center">

                    <table *ngIf="Pool.Mitarbeiterdaten !== null && Pool.Mitarbeiterdaten.Planeradministrator === true">
                      <tr>
                        <td>

                          <div (click)="StandorteButtonClicked()"
                               (mouseenter)="StandortMouseOver = true"
                               (mouseleave)="StandortMouseOver = false" class="buttonclass">
                              <table>
                                <tr>
                                  <td align="center">
                                    <ion-icon name="location-outline" [color]="StandortMouseOver ? Basics.Ionicfarben.BAEBlau : Basics.Ionicfarben.BurnicklGrau" style="font-size: 80px"></ion-icon>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="text-align: center;">
                                    <table>
                                      <tr>
                                        <td style="font-size: 22px; font-weight: bold;" [style.color]="Basics.Farben.BAEBlau">
                                          {{Pool.Standorteliste.length}}
                                        </td>
                                        <td style="width: 4px"></td>
                                        <td>
                                          <ion-text [color]="Basics.Ionicfarben.Grau" style="font-size: 22px">Standorte</ion-text>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                          </div>

                        </td>
                        <td>
                          <div class="trennerdiv" [style.background]="Basics.Farben.Grau"></div>
                        </td>
                        <td>

                          <div class="buttonclass"
                               (click)="MitarbeiterButtonClicked()"
                               (mouseenter)="MitarbeiterMouseOver = true"
                               (mouseleave)="MitarbeiterMouseOver = false">

                            <table>
                              <tr>
                                <td align="center">

                                  <div style="height: 90px; width: 100px; background: none; position: relative">
                                    <div class="projektbuttoniconclass">
                                      <ion-icon name="people-outline" [color]="MitarbeiterMouseOver ? Basics.Ionicfarben.BAEBlau : Basics.Ionicfarben.BurnicklGrau" style="font-size: 80px"></ion-icon>
                                    </div>
                                    <!--
                                    *ngIf="Pool.Mitarbeiterdaten.Kuerzel === '' || Pool.Mitarbeiterdaten.StandortID === ''"
                                    -->
                                    <ng-container *ngIf="Pool.Mitarbeiterdaten !== null && CheckAllMitarbeiterdaten() === false">
                                      <div class="projektbuttoniconerrorclass">
                                        <img src="/assets/svgs/alert.svg" style="height: 44px"/>
                                      </div>
                                    </ng-container>
                                  </div>

                                </td>
                              </tr>
                              <tr>
                                <td style="text-align: center;">
                                  <table>
                                    <tr>
                                      <td style="font-size: 22px; font-weight: bold;" [style.color]="Basics.Farben.BAEBlau">

                                        {{CountMitarbeiter()}}
                                      </td>
                                      <td style="width: 4px"></td>
                                      <td style="text-align: center;">
                                        <ion-text [color]="Basics.Ionicfarben.Grau" style="font-size: 22px">Mitarbeiter</ion-text>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>

                          </div>

                        </td>

                      </tr>
                    </table>


                  </td>
                </tr>
              </table>


            </div>
          </ion-col>
        </ion-row>
          <ion-row>
            <ion-col size="12">
              <div style="height: 20px"></div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <div style="height: 20px"></div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <table style="width: 100%;">
                <tr>
                  <td align="center">

                    <table>
                      <tr>
                        <td>

                          <div class="buttonbigclass" (click)="PlanerButtonClicked()">
                               <!--
                               (click)="PlayButtonClicked()"
                               (mouseenter)="PlayMouseOver = true"
                               (mouseleave)="PlayMouseOver = false">
                               -->

                            <table style="width: 100%;">
                              <tr>
                                <td align="center">
                                  <ion-icon name="sunny-outline" [color]="Basics.Ionicfarben.BAEBlau" style="font-size: 120px"></ion-icon>
                                </td>
                              </tr>
                              <tr>
                                <td style="text-align: center;">
                                  <ion-text [color]="Basics.Ionicfarben.Grau" style="font-size: 26px">Urlaub - Homeoffice - Planer</ion-text>
                                </td>
                              </tr>
                              <tr>
                                <td style="text-align: center; font-size: 90%; color: gray">
                                  Version: {{Basics.AppVersionName}} / {{Basics.AppVersionDatum}}
                                </td>
                              </tr>
                            </table>

                          </div>


                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>


  </ng-container>

  <ng-container *ngIf="AuthService.ShowLogin === true">
    <div style="width: 100%; height: 100%; background: #F2F4F4; z-index: 10">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <div style="height: 30px"></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <table style="width: 100%;">
              <tr>
                <td align="center">
                  <img src="assets/images/group_logo.png" style="height: 100px"/>
                </td>
              </tr>
            </table>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div style="height: 40px"></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <table style="width: 100%">
              <tr>
                <td align="center">
                  <div class="buttonbigclass" style="z-index: 100">

                    <table style="width: 100%;">
                      <tr>
                        <td align="center">
                          <ion-icon name="sunny-outline" [color]="Basics.Ionicfarben.BAEBlau" style="font-size: 120px"></ion-icon>
                        </td>
                      </tr>
                      <tr>
                        <td style="text-align: center;">
                          <ion-text [color]="Basics.Ionicfarben.Grau" style="font-size: 26px">Urlaub - Homeoffice - Planer</ion-text>
                        </td>
                      </tr>
                      <tr>
                        <td style="text-align: center; font-size: 90%; color: gray">
                          Version: {{Basics.AppVersionName}} / {{Basics.AppVersionDatum}}
                        </td>
                      </tr>
                    </table>

                  </div>

                </td>
              </tr>
            </table>
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col>
            <table style="width: 100%;">
                <tr>
                  <td style="text-align: center; vertical-align: center; height: 100px">
                    <ion-button [color]="Basics.Ionicfarben.BAEBlau" (click)="LoginButtonClicked()">Login</ion-button>
                  </td>
                </tr>
              </table>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ng-container>

</ion-content>
<ion-footer>
<page-footer #PageFooter>




</page-footer>
</ion-footer>


<fi-changelog-editor *ngIf="ShowChangelogEditor"
                     (OkClickedEvent)="ShowChangelogEditor = false"
                     (CancelClickedEvent)="ShowChangelogEditor = false"
                     (DeleteClickedEvent)="ShowChangelogEditor = false">
</fi-changelog-editor>
