<ion-header>
  <page-header #PageHeader>
    <page-header-menu [ShowSuchleiste]="false" [ShowFavoritentitle]="true" [ShowSandortfilter]="false"></page-header-menu>
  </page-header>
</ion-header>
<ion-content>

  <ion-list *ngIf="Pool.Mitarbeiterdaten !== null">
    <ion-item class="ion-text-wrap" class="ion-no-padding" *ngFor="let Favorit of Pool.Mitarbeiterdaten.Favoritenliste, let i = index"  (click)="FavoritButtonClicked(Favorit)">
      <ion-grid class="maingridclass">
        <ion-row>
          <ion-col size="12">
            <table class="paddingsmalltable">
              <tr>
                <td>
                  <ion-text color="burnicklgruen">
                    <b>{{Favorit.Name}}</b>

                  </ion-text>
                </td>
              </tr>
            </table>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="Favorit.Projekteliste.length > 0">
          <ion-col>
            <table class="paddingtable">
              <tr style="font-weight: bold;">
                <td style="width: 120px" colspan="2">Nummer</td>
                <td style="width: 120px">Kürzel</td>
                <td style="width: 500px">Projektname</td>
                <td style="width: 200px">Ort</td>
                <td style="width: 200px">Standort</td>
              </tr>
              <tr *ngFor="let Projket of Datenliste[i]">
                <td style="width: 20px; text-align: center; font-weight: bold; font-size: 30px">&bull;</td>
                <td>{{Projket.Projektnummer}}</td>
                <td>{{Projket.Projektkurzname}}</td>
                <td>{{Projket.Projektname}}</td>
                <td>{{Projket.Ort}}</td>
                <td>{{GetStandortname(Projket.StandortID)}}</td>
              </tr>
            </table>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <table *ngIf="GetFavoritenanzahl() === 0" class="paddingtable" width="100%">
    <tr>
      <td align="center">
        keine Favoiten vorhanden
      </td>
    </tr>
  </table>


</ion-content>
<ion-footer>
  <page-footer #PageFooter>

    <div class="rootbuttonclass" (click)="AddFavoritenButtonClicked()">
      <ion-icon style="font-size: 28px" color="weiss" name="add-circle-outline"></ion-icon>
    </div>

  </page-footer>
</ion-footer>


<pj-favoriten-editor *ngIf="ShowEditor" [Dialogbreite]="600" [Dialoghoehe]="Dialoghoehe" [PositionY]="100" [Titel]="GetFavoritenTitel()" Iconname="star-outline"
                     (CancelClickedEvent)="ShowEditor = false"
                     (OkClickedEvent)="ShowEditor = false"
                     (EditProjektlisteEvent)="EditProjektlisteEventHandler()"
                     (FavoritDeletedEvent)="ShowEditor = false">
</pj-favoriten-editor>

<pj-projekte-auswahl *ngIf="ShowProjekteauswahl"
                        [Titel]="ProjekteauswahlTitel" Iconname="business-outline"
                        [Dialogbreite]="600" [Dialoghoehe]="Dialoghoehe" [PositionY]="DialogPosY"
                        [Multiselect]="true"
                        [AuswahlIDliste]="AuswahlIDliste"
                        (CancelClickedEvent)="ShowProjekteauswahl = false"
                        (OkClickedEvent)="ProjekteauswahlOkButtonClicked($event)"
                        (StandortfilterClickedEvent)="ProjekteStandortfilterClickedHandler()"></pj-projekte-auswahl>

<auswahl-dialog *ngIf="ShowAuswahl" [Auswahlliste]="Auswahlliste" [Auswahlindex]="Auswahlindex"
                [Dialogbreite]="200" [Dialoghoehe]="200" [PositionY]="200"
                [Titel]="Auswahltitel" [Iconname]="GetDialogTitelicon()"
                (OkClickedEvent)="AuswahlOkButtonClicked($event)"
                (CancelClickedEvent)="ShowAuswahl = false"></auswahl-dialog>
