.infotable {

  td {

    font-size: 90%;
    color: #444444;
  }
}

.keeperdivclass {

  width: 100%;
  height: 100%;
  position:absolute;
}

.contentdivclass {

  left: 50%;
  position: absolute;
  transform: translate(-50%);
}

.contentinnerclass {

  border-left:  3px solid #2190df;
  border-right: 3px solid #2190df;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.contentinnerheaderclass {

  width: 100%;
}

.contentinnercontentclass {

  height: auto;
  flex-grow: 1;
  width: 100%;
}

.paddingdivclass {

  width: 100%;
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
}

.borderdivclass {

  border: 1px solid #444444;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.projektelisteclass {

  width: 100%;
  height: auto;
  flex-grow: 1;
  padding: 4px;
}

.projektebuttonclass {

  width: 100%;
  height: 58px;
  border-top: 1px solid #444444;

}

.deletebuttonclass {

  width: 100%;
  height: 58px;
  border-top: 1px solid #444444;
  display: flex;
  justify-content: flex-end; // horizontal
  align-items: center; // vertikal


}

