<ion-header class="ion-no-border">
  <page-header #PageHeader>
    <page-header-menu
      (LOPListeZeitspanneEvent)="ZeitspanneFilterClickedHandler()"
      (ShowProjektauswahlEvent)="ShowProjektauswahlEventHandler()"
      (ShowLOPListeInfoeintraegeChanged)="ShowLOPListeInfoeintraegeChangedHandler($event)"
      (ShowProjektfilesEvent)="ShowProjektfilesHandler()"></page-header-menu>
  </page-header>
</ion-header>
<ion-content>

  <table *ngIf="DBProjekte.CurrentProjekt !== null" class="nobordertable">
    <tr>
      <td>
        <div class="projecticonclass" [style.background]="DBProjekte.GetProjektfarbeByProjekt(DBProjekte.CurrentProjekt)"></div>
      </td>
      <td>
        <ion-text color="baeblau" style="font-size: 120%"><b>{{DBProjekte.CurrentProjekt.Projektname}}</b></ion-text>
      </td>
    </tr>
  </table>

  <div *ngIf="DBProjekte.CurrentProjekt !== null" style="height: 100%; width: 100%;">

    <ng-container *ngIf="DB.CurrentInfoliste.length > 0">

      <div style="width: 100%; padding-left: 8px; padding-right: 8px; padding-top: 8px">
        <table class="listeheaderclass" style="color: black;">
          <tr>
            <td colspan="4">
              <ion-text color="baeblau" style="font-size: 120%"><b>Allgemein</b></ion-text>
            </td>
          </tr>
          <tr>
            <td style="width: 30px; text-align: center"><b>Nr.</b></td>
            <td style="width: 180px;"><b>Datum</b></td>
            <td style="min-width: 800px"><b>Beschreibung</b></td>
          </tr>
          <tr style="cursor: pointer" *ngFor="let Info of DB.CurrentInfoliste" (click)="LOPListepunktClickedHandler(Info, null)">

            <td style="width: 30px; text-align: center; color: white; background: #307ac1">{{Info.Nummer}}</td>
            <td style="width: 180px;">{{Info.Startzeitstring}}</td>
            <td style="min-width: 800px">

              <table class="nobordersmalltable" width="100%">
                <tr>
                  <td colspan="2" [innerHTML]="Tools.FormatLinebreaks(Info.Aufgabe) | safe: 'html'"></td>
                </tr>
              </table>

            </td>
          </tr>
        </table>

      </div>

    </ng-container>

    <br>

    <div  style="width: 100%; padding-left: 8px; padding-right: 8px; padding-top: 8px">
      <table class="listeheaderclass" style="color: black; width: 100%">
        <tr>
          <td colspan="10">
            <ion-text color="baeblau" style="font-size: 120%"><b>Themenliste</b></ion-text>
          </td>
        </tr>
        <tr>
          <td style="width: 30px; text-align: center"><b>Nr.</b></td>
          <td style="width: 180px;"><b>Bauteil</b></td>
          <td style="width: 80px; text-align: center;"><b>Gewerk</b></td>
          <td style="width: 180px;"><b>Thematik</b></td>
          <td style="width: auto"><b>Beschreibung</b></td>
          <td style="width: 90px; text-align: center;"><b>Bilder</b></td>
          <td style="width: 90px; text-align: center;"><b>Termin</b></td>
          <td style="width: 120px; text-align: center;"><b>Status</b></td>
          <td style="width: 100px; text-align: center;"><b>Priorität</b></td>
          <td style="width: 160px; text-align: center"><b>Zuständig</b></td>
          <td style="width: 120px; text-align: center"><b>Versand</b></td>
        </tr>

        <!--
      </table>

      </div>

    <div style="width: 100%; height: 100%; overflow: auto;">

      <div  *ngFor="let LOP of LOPListen; let o = odd"  style="width: 100%; padding-left: 8px; padding-right: 8px">
        <table width="100%" class="docinnertablespezial">
        -->
        <ng-container *ngFor="let LOP of LOPListen; let o = odd">
          <tr>
            <td colspan="10"  [style.background]="o === true ? Basics.Farben.Burnicklgruen : Basics.Farben.Burnicklbraun" style="border-right: none !important;">
              <div class="loplisteheader" (click)="LOPListeClicked(LOP)">
                {{LOP.Titel + ' ' + LOP.LOPListenummer + ' vom ' + LOP.Zeitstring + ' / KW ' + GetKalenderwoche(LOP.Zeitstempel)}}
              </div>
            </td>
            <td style="border-left: none !important;" align="center" [style.background]="o === true ? Basics.Farben.Burnicklgruen : Basics.Farben.Burnicklbraun">

              <div style="background: white; padding: 4px; border-radius: 3px; width: 110px">
                <table class="nobordersmalltable">
                  <tr>
                    <td align="center">
                      <table>
                        <tr>
                          <td>
                            <div *ngIf="LOP.ProjektpunkteIDListe.length > 0" (click)="SendMailButtonClicked($event, LOP)" class="mailclass">
                              <ion-icon  name="mail" [color]="LOP.GesendetZeitstempel !== null ? 'gruen' : 'rot'"></ion-icon>
                            </div>
                          </td>
                          <td *ngIf="LOP.GesendetZeitstempel !== null">
                            <div (click)="ShowPdfButtonClicked($event, LOP)" class="mailclass">
                              <ion-icon  name="document" [color]="Basics.Ionicfarben.BAEBlau"></ion-icon>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <ng-container *ngIf="LOP.GesendetZeitstempel !== null">
                    <tr>
                      <td style="text-align: center; font-size: 80%">{{Tools.GetDatumFromZeitstempel(LOP.GesendetZeitstempel)}} / {{Tools.GetZeitFromZeitstempel(LOP.GesendetZeitstempel)}}</td>
                    </tr>
                  </ng-container>
                </table>
              </div>



            </td>
          </tr>
          <tr style="cursor: pointer" *ngFor="let Punkt of DB.CurrentPunkteliste[LOP._id]; let Punktindex = index">

            <!--
            <td style="width: 34px; font-size: 160%; font-weight: bold" [style.color]="o === true ? Basics.Farben.Burnicklgruen : Basics.Farben.Burnicklbraun">
              <span *ngIf="CurrentLOPListeID === LOP._id && CurrentPunktID === Punkt._id">&rarr;</span>
            </td>
            -->

            <td style="width: 30px; text-align: center; color: white;"
                [style.border.color]="o === true ? Basics.Farben.Burnicklgruen : Basics.Farben.Burnicklbraun"
                [style.background]="o === true ? Basics.Farben.Burnicklgruen : Basics.Farben.Burnicklbraun">
              {{Punkt.Nummer}}
            </td>
            <td style="width: 180px;">{{GetBauteilnamen(Punkt)}}</td>
            <td style="width: 80px; text-align: center;">
              {{Pool.Fachbereich.GetFachbereichbyKey(Punkt.Fachbereich).Kuerzel}}
            </td>
            <td style="width: 180px;">
              {{Punkt.Thematik}}
            </td>
            <td style="width: auto">

              <table class="nobordersmalltable" width="100%">
                <tr>
                  <td>
                    <div class="aufgabedivclass" (click)="LOPListepunktClickedHandler(Punkt, LOP)" [innerHTML]="GetAufgabentext(Punkt) | safe: 'html'"></div>
                  </td>
                </tr>
                <tr *ngIf="CheckThumbnailliste(Thumbnailliste, LOP._id, Punktindex) && Punkt.ProtokollShowBilder">
                  <td>

                    <span *ngIf="Punkt.ProtokollShowBilder && Punkt.Bilderliste.length > 0 && Punkt.Thumbnailsize === 'large'" style="color: #307ac1">Siehe Bilder im Anhang</span>

                    <table *ngIf="Thumbnailliste[LOP._id][Punktindex];">
                      <tr *ngFor="let Zeilenliste of Thumbnailliste[LOP._id][Punktindex];  let Zeilenindex = index">
                        <ng-container *ngFor="let Thumb of Zeilenliste; let Thumbnailindex = index">
                          <td style="cursor: pointer;">
                            <ng-container *ngIf="Thumb !== null">

                              <table *ngIf="Thumb.weburl !== null">
                                <tr>
                                  <td style="padding: 2px" (click)="ThumbnailClicked($event, Zeilenliste, Thumbnailindex)">
                                    <div class="imageclass">
                                      x
                                      <img  [src]="GetThumbSource(Punkt, Thumb)"
                                            [style.width.px]="Thumbbreite[LOP._id][Punktindex]" [style.height.px]="Thumbhoehe[LOP._id][Punktindex]"/>
                                    </div>
                                  </td>
                                </tr>
                              </table>

                              <table *ngIf="Thumb.weburl === null">
                                <tr>
                                  <td style="padding: 2px">
                                    <div class="imageclass">
                                      <div style="border: 1px solid gray; font-size: 80%; min-height: 120px;" [style.width.px]="Thumbbreite[LOP._id][Punktindex]" [style.height.px]="Thumbhoehe[LOP._id][Punktindex]">
                                        <table width="100%">
                                          <tr>
                                            <td style="text-align: center">
                                              Bild nicht<br>gefunden
                                            </td>
                                          </tr>
                                          <tr>
                                            <td align="center">
                                              <ion-icon (click)="DeleteThumbnailClicked($event, Punkt, Thumb, LOP._id, Punktindex, Zeilenindex, Thumbnailindex)" name="trash" color="rot" slot="icon-only"></ion-icon>
                                            </td>
                                          </tr>
                                        </table>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </table>

                            </ng-container>

                          </td>
                        </ng-container>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table>
                      <ng-container *ngIf="Punkt.Anmerkungenliste.length > 0">
                        <tr *ngFor="let Anmerkung of Punkt.Anmerkungenliste">
                          <td style="width: 60px; color: orange">
                            {{GetAnmerkungDatum(Anmerkung)}}
                          </td>
                          <td style="width: 40px; color: orange" *ngIf="DBMitarbeiter.GetMitarbeiterByEmail(Anmerkung.Verfasser.Email)">
                            {{DBMitarbeiter.GetMitarbeiterByEmail(Anmerkung.Verfasser.Email).Name}}:
                          </td>
                          <td>
                            {{Anmerkung.Anmerkung}}
                          </td>
                        </tr>
                      </ng-container>
                    </table>

                  </td>
                </tr>
              </table>

            </td>
            <td align="center" style="width: 90px">
              <ng-container *ngIf="Punkt.Bilderliste.length >  0">

                <table class="nobordersmalltable">
                  <tr>
                    <td>
                      <div class="thumbsizedivlass" (click)="ThumsizeClicked(Punkt)">
                        {{GetTumbnailgroessetext(Punkt.Thumbnailsize)}}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td align="center">
                      <checkbox-clon [Checked]="Punkt.ProtokollShowBilder" (CheckChanged)="ShowBilderCheckChanged($event, Punkt)"></checkbox-clon>
                    </td>
                  </tr>
                </table>

              </ng-container>

            </td>
            <td style="width: 90px">{{GetTermindatum(Punkt)}}</td>
            <td style="width: 120px">
              <table class="nobordersmalltable" style="width: 100%">
                <tr>
                  <td>
                    <div class="statusdivclass"
                         [style.background]="DBProjektpunkte.GetProjektpunktstusByName(Punkt.Status).LOPColor">
                      {{DBProjektpunkte.GetProjektpunktstusByName(Punkt.Status).Displayname}}
                    </div>
                  </td>
                </tr>
                <tr *ngIf="Punkt.Status === Const.Projektpunktstatustypen.Geschlossen.Name">
                  <td style="text-align: center;">
                    {{Punkt.Geschlossenzeitstring}}
                  </td>
                </tr>
              </table>
            </td>
            <td style="width: 100px">

              <div *ngIf="Punkt.Status !== Const.Projektpunktstatustypen.Protokollpunkt.Name && Punkt.Status !== Const.Projektpunktstatustypen.Geschlossen.Name" class="statusdivclass"
                   [style.background]="DBProjektpunkte.GetPrioritaetcolor(Punkt)">
                {{Punkt.Prioritaet}}
              </div>

            </td>
            <td style="width: 100px; text-align: center">

              <table class="nobordersmalltable" style="width: 100%">
                <tr  *ngFor="let ZustaendigID of Punkt.ZustaendigeInternIDListe">
                  <td style="text-align: center; color: #307ac1; font-size: 90%">
                    {{DB.GetZustaendigInternName(ZustaendigID)}}
                  </td>
                </tr>
                <tr *ngFor="let ZustaendigID of Punkt.ZustaendigeExternIDListe">
                  <td style="text-align: center; color: black; font-size: 90%">
                    {{DB.GetZustaendigExternName(ZustaendigID)}}
                  </td>
                </tr>
              </table>

            </td>
            <td style="width: 120px; text-align: center;"></td>
          </tr>

        </ng-container>

        <ng-container *ngIf="BigThumbnailliste.length > 0">
          <tr style="background: #444444; color: white">
            <td style="text-align: center"><b>Nr.</b></td>
            <td colspan="10"><b>Abbildung</b></td>
          </tr>
          <tr *ngFor="let Thumb of BigThumbnailliste; let Index = index">
            <td style="text-align: center; background: #444444; color: white;">{{BigThumbnailnumernliste[Index]}}</td>
            <td colspan="10" (click)="ThumbnailClicked($event, BigThumbnailliste, Index)">
              <img [src]="Thumb.largeurl" [style.height.px]="Thumb.height.large" [style.wdth.px]="Thumb.width.large">
            </td>
          </tr>

        </ng-container>

          <!--
          <tr style="cursor: pointer" *ngFor="let Punkt of DB.CurrentPunkteliste[LOP._id]; let Punktindex = index">

          -->
        </table>
      </div>

    <abstand-element-fixed></abstand-element-fixed>


      <div *ngIf="LOPListen.length === 0"  class="keineintragclass">
        <table   width="100%" class="docinnertable">
          <tr>
            <td></td>
            <td style="text-align: center; height: 100px">Keine LOP Liste vorhanden</td>
          </tr>
        </table>
      </div>

    </div>

  <!--
  </div>
  -->




</ion-content>
<ion-footer>
  <page-footer #PageFooter>

    <div class="rootbuttonclass" (click)="AddLOPListeButtonClicked()">
      <ion-icon style="font-size: 28px" color="weiss" name="add-circle-outline"></ion-icon>
    </div>
     <!-- Test -->

  </page-footer>
</ion-footer>

<auswahl-dialog *ngIf="ShowAuswahl" [Auswahlliste]="Auswahlliste" [Auswahlindex]="Auswahlindex" [ZIndex]="5000"
                [Dialogbreite]="Auswahldialogbreite" [Dialoghoehe]="Auswahldialoghoehe" [PositionY]="200"
                [Titel]="Auswahltitel" [Iconname]="GetDialogTitelicon()"
                (OkClickedEvent)="AuswahlOkButtonClicked($event)"
                (CancelClickedEvent)="ShowAuswahl = false"></auswahl-dialog>

<pj-projekte-schnellauswahl *ngIf="ShowProjektschnellauswahl"
                            [ZIndex]="5000"
                            [Dialogbreite]="800"
                            [Dialoghoehe]="Auswahlhoehe"
                            [Titel]="Projektschenllauswahltitel" [Iconname]="'star-outline'"
                            (ProjektClickedEvent)="ProjektSchnellauswahlProjektClickedEventHandler($event)"
                            (CancelClickedEvent)="ShowProjektschnellauswahl = false"
                            (OkClickedEvent)="ShowProjektschnellauswahl = false">
</pj-projekte-schnellauswahl>

<fi-mitarbeiter-auswahl *ngIf="ShowMitarbeiterauswahl"
                        [Titel]="'Zuständige Kollegen festlegen'"
                        [Dialogbreite]="600" [ZIndex]="4000"
                        [Multiselect]="true"
                        Iconname="people-outline"
                        [AuswahlIDliste]="AuswahlIDliste"
                        (CancelClickedEvent)="ShowMitarbeiterauswahl = false"
                        (OkClickedEvent)="MitarbeiterauswahlOkButtonClicked($event)"
                        (StandortfilterClickedEvent)="MitarebiterStandortfilterClickedHandler()"></fi-mitarbeiter-auswahl>

<pj-beteiligten-auswahl *ngIf="ShowBeteiligteauswahl"
                        [Titel]="GetBeteiligtenauswahlTitel()"
                        [ZIndex]="4000"
                        [Multiselect]="true"
                        Iconname="people-outline"
                        [AuswahlIDliste]="AuswahlIDliste"
                        (CancelClickedEvent)="ShowBeteiligteauswahl = false"
                        (OkClickedEvent)="BeteiligteauswahlOkButtonClicked($event)"></pj-beteiligten-auswahl>


<pj-baustelle-lopliste-editor *ngIf="ShowLOPListeEditor" [Dialogbreite]="Dialogbreite" [Dialoghoehe]="Dialoghoehe" [PositionY]="DialogPosY"
                     [Titel]="GetLOPListeTitel()" Iconname="book-outline"
                     [ZIndex]="2000"
                     (OkClickedEvent)="ShowLOPListeEditor = false"
                     (CancelClickedEvent)="ShowLOPListeEditor = false"
                     (TeamteilnehmerClicked)="TeamteilnehmerClickedHandler()"
                     (BeteiligteteilnehmerClicked)="BeteiligteteilnehmerClickedHandler()"
                     (LOPListepunktClicked)="LOPListepunktClickedHandler($event, null)"
                     (LOPListeDeleted)="ShowLOPListeEditor = false"
                     (AddLOPListepunktClicked)="AddLOPListepunktClickedHandler()">
</pj-baustelle-lopliste-editor>

<projektpunkt-date-kw-picker *ngIf="ShowDateKkPicker" [Dialogbreite]="380"
                             [Dialoghoehe]="460"
                             [PositionY]="DialogPosY + 200"
                             [ZIndex]="5000"
                             [Iconname]="'calendar-outline'"
                             [Titel]="'Termin oder KW festlegen'"
                             (OkClickedEvent)="ShowDateKkPicker = false"
                             (CancelClickedEvent)="ShowDateKkPicker = false">
</projektpunkt-date-kw-picker>

<pj-email-send *ngIf="ShowEmailSenden"
               [Titel]="'LOP Liste senden'"
               [Dialogbreite]="EmailDialogbreite"
               [PositionY]="DialogPosY"
               [ZIndex]="1000"
               Iconname="mail-outline"
               (EmpfaengerInternClicked)="EmpfaengerInternClickedHandler()"
               (CcEmpfaengerInternClicked)="CcEmpfaengerInternClickedHandler()"
               (EmpfaengerExternClicked)="EmpfaengerExternClickedHandler()"
               (CcEmpfaengerExternClicked)="CcEmpfaengerExternClickedHandler()"
               (CancelClickedEvent)="ShowEmailSenden = false"
               (OkClickedEvent)="EmailSendenOkButtonClicked($event)"></pj-email-send>

<pj-baustelle-lopliste-eintrageditor *ngIf="ShowEintragEditor" [Dialogbreite]="Dialogbreite" [Dialoghoehe]="Dialoghoehe" [PositionY]="DialogPosY"
                        [ZIndex]="3000" [Titel]="GetEintrageditorTitel()" Iconname="book-outline"
                        (StatusClicked)="EintragEditorStatusClickedHandler()"
                        (PrioritaetClicked)="EintragPrioritaetClickedHandler()"
                        (AddBildEvent)="AddBildEventHandler()"
                        (FachbereichClicked)="EintragEditorFachbereichClickedHandler()"
                        (GebaeudeteilClicked)="GebaeudeteilClickedHandler()"
                        (TerminButtonClicked)="ShowDateKkPicker = true"
                        (AnerkungVerfassernClicked)="AnerkungVerfasserClickedHandler($event)"
                        (VerfasserButtonClicked)="VerfasserButtonClickedHandler()"
                        (CancelClickedEvent)="ShowEintragEditor = false"
                        (OkClickedEvent)="ShowEintragEditor = false"></pj-baustelle-lopliste-eintrageditor>

<pj-gebaeude-raumauswahl *ngIf="ShowRaumauswahl" [Titel]="'Gebäudeteil auswählen'" [Dialogbreite]="StrukturDialogbreite" [Dialoghoehe]="StrukturDialoghoehe"
                         [PositionY]="DialogPosY" [ZIndex]="4000"
                         (CancelClickedEvent)="ShowRaumauswahl = false"
                         (OkClickedEvent)="ShowRaumauswahl = false">
</pj-gebaeude-raumauswahl>

<pj-projekte-selectimages *ngIf="ShowBildauswahl"
                          [ZIndex]="20000"
                          [Titel]="'Bilder auswählen'"
                          [Dialogbreite]="Dialogbreite"
                          [PositionY]="100"
                          (SelectedImagesChanged)="SelectedImagesChangedHandler($event)"
                          (OkClickedEvent)="BilderAuswahlOKClicked($event)"
                          (CancelClickedEvent)="BilderAuswahlCancelClicked($event)">
</pj-projekte-selectimages>
