<div class="framedivclass"
     [style.cursor]="Clickable === true ? 'pointer' : 'default'"
     [style.min-height.px]="MinHeight"
     [style.border]="Enabled === true ? Valid === true ? OkBorder : RequiredBorder : DisabledBorder">
  <table width="100%">
    <tr *ngIf="Titel !== null && Titel !== ''" [style.color]="Titelcolor">
      <td class="uppercellclass">{{Titel}}</td>
      <td style="text-align: right" [hidden]="Clickable === false"><ion-icon color="burnicklgruen" name="list-outline" style="font-size: 20px"></ion-icon></td>
    </tr>
    <tr *ngIf="Lines === 1">
      <td class="lowercellclass" colspan="2">
        <ion-input *ngIf="Enabled === true" [type]="Inputtype"
                   [debounce]="Debouncetime"
                    autocomplete="off"
                   [value]="Value"
                   [color]="Textcolor"
                   (ionChange)="TextChangedHandler($event)"></ion-input>
        <ion-label *ngIf="Enabled === false">{{Value}}</ion-label>
      </td>
    </tr>
    <tr *ngIf="Lines !== 1">
      <td class="lowercellclass" colspan="2">
        <ion-textarea *ngIf="Enabled === true"  [debounce]="Debouncetime" [value]="Value" [rows]="Lines" (ionChange)="TextChangedHandler($event)"></ion-textarea>
        <div *ngIf="Enabled === false" [style.height.px]="Lines * 18" [innerHTML]="Tools.FormatLinebreaks(Value)"></div>
      </td>
    </tr>
  </table>
</div>
