.infotable {

  td {

    font-size: 90%;
    color: #444444;
  }
}


.keeperdivclass {

  width: 100%;
  height: 100%;
  position:absolute;
}

.contentdivclass {

  left: 50%;
  position: absolute;
  transform: translate(-50%);
}



.contentinnerclass {

  border-left:  3px solid #354547;
  border-right: 3px solid #354547;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.zeitansatzbuttonclass {

  height: 20px;
  width: 60px;
  font-size: 90%;
  background: #7b6a58;
  color: white;
  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal
  border-radius: 3px;
}

.timepickerclass {

  position: absolute;
  width: 226px;
  height: 182px;
  top: 70px;
  background: white;
  color: black;
  border: 2px solid #354547;
  z-index: 10000;
}

.timepickerfooterclass {

  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end; // horizontal
  align-items: center; // vertikal
  padding: 6px;
  background: #354547;
}

.projectcircleclass {

  border-radius: 50px;
  width: 20px;
  height: 20px;
}

.tagaufteilungkeeperdivclass {

  width: 100%;
  background: silver;
  color: white;
  display: flex;
  flex-direction: column;
}

.tagaufteilungeintragdivclass {

  width: 100%;
  background: #444444;
  color: white;
  padding: 4px;
  margin-bottom: 1px;
  overflow: hidden;
  font-size: 90%;
}










