
.buttonclass {

  position: relative;
  width: 100%;
  height: 44px;
  border-radius: 4px;
  padding: 2px;
  display: flex;
}

.buttontextclass {

  display: flex;
  justify-content: flex-start; // horizontal
  align-items: center; // vertical
  min-height: 8px;
  width: 100%;
  height: 100%;
}


.outerinfokeeperclass {

  height: 100%;
  width: 60%;
  padding: 2px;
  display: flex;
  justify-content: center; // horizontal
  align-items: center; // vertikal

}


.infokeeperclass {

  color: white;
  height: 34px;
  width: 100%;
  padding: 2px;
  display: flex;
  // border: 1px solid white;
  justify-content: center; // horizontal
  align-items: center;     // vertical
  border-radius: 4px;
}





