.alphabetclass {

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; // horizontal
}

.alphabetitem {

  display: flex;
  justify-content: center; // horizontal
  align-items: center;     // vertical
  flex-grow: 1;
  color: white;
  font-size: 80%;
  cursor: pointer;
}

