<ion-header>
  <page-header #PageHeader>

    <table style="width: 100%;">
      <tr>
        <td style="width: 10px"></td>
        <td>
          <div class="menubuttonclass">
            <table class="paddingsmalltable">
              <tr>
                <td>

                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>

  </page-header>
</ion-header>
<ion-content>





  <abstand-element-fixed></abstand-element-fixed>

</ion-content>
<ion-footer>
  <page-footer #PageFooter>

  </page-footer>
</ion-footer>

<auswahl-dialog *ngIf="ShowAuswahl" [Auswahlliste]="Auswahlliste" [Auswahlindex]="Auswahlindex"
                [Dialogbreite]="200" [Dialoghoehe]="200" [PositionY]="200"
                [Titel]="Auswahltitel" [Iconname]="GetDialogTitelicon()"
                (OkClickedEvent)="AuswahlOkButtonClicked($event)"
                (CancelClickedEvent)="ShowAuswahl = false"></auswahl-dialog>

<fi-mitarbeiter-editor *ngIf="ShowEditor" [SkipOkButtonAction]="true" [Dialogbreite]="600" [Dialoghoehe]="660" [PositionY]="100"  [Titel]="GetDialogTitel()" Iconname="people-outline"
                       (StandortClickedEvent)="StandortClickedHandler()"
                       (CancelClickedEvent)="EditorCancelButtonClicked($event)"
                       (OkClickedEvent)="EditorOkButtonClicked()"
                       (FachbereichClickedEvent)="FachbereichClickedHandler()">
</fi-mitarbeiter-editor>
